{%-liquid
	assign aid = article.id
	assign image = article.image
	assign article_url = article.url
 -%}
<article class="bee-col-item bee-article-item bee-article-related-item bee-article-{{ aid }}">
	<div class="bee-article-inner bee-pr bee-oh">
		{%- if image != blank -%}
			<div class="bee-article-thumb bee-pr bee-eff bee-eff-{{ b_effect }} bee-eff-img-{{ img_effect }} ">
				<a class="bee-article-img bee-d-block" href="{{ article_url }}">
					<div class="bee_ratio bee-bg-11" style="background: url({{ image | image_url: width: 1 }});--aspect-ratioapt: {{ image.aspect_ratio | default: 2 }}"  data-cacl-slide>
						<img class="lazyloadbee bee-lz--fadeIn bee-obj-eff" data-src="{{ image | image_url: width: 1 }}" data-widths="[100,200,400,600,700,800,900,1000,1200,1400,1600]" data-optimumx="2" data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" width="{{ image.width }}" height="{{ image.height }}" alt="{{ image.alt | escape }}">
					</div>
				</a>
			</div>
		{%- endif -%}
		<div class="bee-article-info">
			<h3 class="bee-article-title"><a href="{{ article_url }}">{{ article.title }}</a></h3>
		</div>
	</div>
</article>