{%-liquid
	assign aid = article.id
	assign image = article.image
	assign article_metafields = article.metafields.theme
	assign article_url = article.url
 -%}
<article class="bee-col-item bee-article-item bee-article-loop-item bee-article-{{ aid }} {% if packery %} bee-col-lg-{{ col_dk }} {% endif %}">
	<div class="bee-article-inner bee-pr bee-oh bee-blog-sidebar">
		{%- if image != blank -%}
			<div class="bee-article-thumb bee-pr bee-eff bee-eff-{{ b_effect }} bee-eff-img-{{ img_effect }} ">
				<a class="bee-article-img bee-d-block" href="{{ article_url }}">
					<div class="bee_ratio bee-bg-11" style="background: url({{ image | image_url: width: 1 }});--aspect-ratioapt: {{ image.aspect_ratio | default: 2 }}"  data-cacl-slide>
						<img class="lazyloadbee bee-lz--fadeIn bee-obj-eff" data-src="{{ image | image_url: width: 1 }}" data-widths="[100,200,400,600,700,800,900,1000,1200,1400,1600]" data-optimumx="2" data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" width="{{ image.width }}" height="{{ image.height }}" alt="{{ image.alt | escape }}">
					</div>
				</a>
				{%- if article_metafields.video_url != blank or article_metafields.gallery != blank -%}
					<div class="bee-article-metafields">
						{%- if article_metafields.video_url != blank -%}
							<div data-open-mfp-iframe class="bee-article-metafields__video" href="{{ article_metafields.video_url }}" data-tooltip="right" title="{{ 'blogs.article.click_video' | t }}">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512"><path d="M443.9,196.9L141.5,10.5C119.6-3,93.1-3.5,70.7,9c-22.4,12.5-35.8,35.3-35.8,61v371.1c0,38.8,31.3,70.6,69.8,70.8c0.1,0,0.2,0,0.3,0c12,0,24.6-3.8,36.3-10.9c9.4-5.7,12.4-18,6.6-27.4c-5.7-9.4-18-12.4-27.4-6.6c-5.5,3.3-10.8,5.1-15.6,5.1 c-14.5-0.1-30.1-12.5-30.1-30.9V70.1c0-11,5.7-20.8,15.4-26.2c9.6-5.4,21-5.1,30.3,0.6l302.4,186.4c9.1,5.6,14.3,14.9,14.3,25.6 c0,10.7-5.3,20-14.4,25.6L204.1,415.9c-9.4,5.8-12.4,18-6.6,27.5c5.8,9.4,18,12.4,27.5,6.6l218.6-133.9 c20.9-12.8,33.5-35,33.5-59.5C477.2,232.1,464.7,209.8,443.9,196.9z"/></svg>
							</div>
						{%- endif -%}
						{%- if article_metafields.gallery != blank -%}
							{%- capture gallery_json %}[{% for image in article_metafields.gallery.value -%}
							{ "src": {{ image.src | image_url | json }}, "w": {{ image.width }}, "h": {{ image.height }}, "alt": {{ image.alt | json }} }{% unless forloop.last %},{% endunless -%}
							{%- endfor %}]{% endcapture -%}
							<div class="bee-article-metafields__images" data-pswp-images-trigger='{{ gallery_json }}' data-tooltip="right" title="{{ 'blogs.article.click_gallery' | t }}"></div>
						{%- endif -%}
					</div>
				{%- endif -%}
			</div>
		{%- endif -%}
		<div class="bee-article-info">
			{%- assign article_tags = article.tags | join: ';' | split: ';' -%}
				{%- if show_blog_title != 'disable' -%}
					<div class="bee-article-categories">
						{%- if show_blog_title == 'blog_current' -%}
							<a href="{{ blog_url }}">{{ blog_title }}</a>
						{%- else -%}
							{%- assign article_tags = article.tags | join: ';' | split: ';' -%}
							{%- assign blog_tags = article_tags | where: 'blog_' -%}
							{%- for tag in blog_tags -%}
								<a href="{{ blog_url }}/tagged/{{ tag | handle }}">{{ tag | remove : 'blog_' | strip }}</a> {%- unless forloop.last -%}  {% endunless -%}
							{%- endfor -%}
						{%- endif -%}
					</div>
				{%- endif -%}
			
			<h3 class="bee-article-title"><a href="{{ article_url }}">{{ article.title }}</a></h3>
			{%- if show_date -%}
				<div class="bee-article-metas">
					<div class="bee-article-time"><time class="bee-entry-date">{%- if date_format contains "%" -%}{{ article.published_at | time_tag: date_format }}{%- else -%}{{ article.published_at | time_tag: format: date_format }}{%- endif -%}</time></div>
				</div>
			{%- endif -%}
		</div>
	</div>
</article>