{%- comment -%}
bee_group_btns
bee_group_btns_split
{%- endcomment -%}

{%- if isSplit1 -%}
{%- case se_stts.h_icon -%}

  {%- when 'nitro' -%}
	  <svg xmlns="http://www.w3.org/2000/svg" class="bee-d-none">
		<symbol id="icon-h-search" viewBox="0 0 22 22"><path d="M8.5 17C3.81 17 0 13.19 0 8.5 0 3.81 3.81 0 8.5 0S17 3.81 17 8.5c0 4.69-3.81 8.5-8.5 8.5zm0-15C4.92 2 2 4.92 2 8.5S4.92 15 8.5 15 15 12.08 15 8.5 12.08 2 8.5 2zM21 22c-.26 0-.51-.1-.71-.29l-5-5a.996.996 0 1 1 1.41-1.41l5 5A.996.996 0 0 1 21 22z"/></symbol>
		<symbol id="icon-h-account" viewBox="0 0 22 22"><path d="M11 10c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm0-8c1.65 0 3 1.35 3 3s-1.35 3-3 3-3-1.35-3-3 1.35-3 3-3zM19 12h-6.41L11 13.59 9.41 12H3c-1.1 0-2 .9-2 2v8h20v-8c0-1.1-.9-2-2-2zm0 8H3v-6h5.59L11 16.41 13.41 14H19v6z"/></symbol>
		<symbol id="icon-h-heart" viewBox="0 0 22 22"><path d="M20.26 11.3c2.31-2.36 2.31-6.18-.02-8.53A5.938 5.938 0 0 0 16 1c-1.57 0-3.05.61-4.18 1.71l-.82.7-.81-.69A5.934 5.934 0 0 0 6 1c-1.6 0-3.11.63-4.25 1.77-2.33 2.35-2.33 6.17-.02 8.53 0 0 0 .01.01.01l.01.01L11 20.94l9.25-9.62.01-.02c0 .01 0 0 0 0zM3.19 9.92c-.01 0-.01 0 0 0-.01 0-.01-.01-.01-.01a4.074 4.074 0 0 1 0-5.73C3.93 3.42 4.93 3 6 3a3.972 3.972 0 0 1 2.86 1.21c.01.01.01.02.03.03l1.46 1.25c.07.06.14.09.22.13.01 0 .01.01.02.01.13.06.27.1.41.1.08 0 .16-.03.25-.05.03-.01.07-.01.1-.02.07-.03.13-.07.2-.11.03-.02.07-.03.1-.06l1.46-1.24.03-.03c.01-.01.03-.01.04-.02C13.93 3.42 14.93 3 16 3c1.07 0 2.07.42 2.83 1.18a4.093 4.093 0 0 1 0 5.73s0 .01-.01.01L11 18.06 3.19 9.92z"/></symbol>
		<symbol id="icon-h-cart" viewBox="0 0 22 22"><path d="M22 5c0-.15-.03-.31-.1-.45l-2-4C19.72.21 19.38 0 19 0H3c-.38 0-.72.21-.89.55l-2 4C.03 4.69 0 4.85 0 5v16c0 .55.45 1 1 1h20c.55 0 1-.45 1-1V5zM3.62 2h14.76l1 2H2.62l1-2zM2 20V6h18v14H2zM16 9c0 2.76-2.24 5-5 5s-5-2.24-5-5c0-.55.45-1 1-1s1 .45 1 1c0 1.65 1.35 3 3 3s3-1.35 3-3c0-.55.45-1 1-1s1 .45 1 1z"/></symbol>
		<symbol id="icon-h-compare" viewBox="0 0 18 18"><path d="M4.29 7.71l-3-3a.996.996 0 0 1 0-1.41l3-3A.996.996 0 1 1 5.7 1.71L4.41 3H14c.55 0 1 .45 1 1v3c0 .55-.45 1-1 1s-1-.45-1-1V5H4.41L5.7 6.29c.39.39.39 1.02 0 1.41-.19.2-.44.3-.7.3s-.51-.1-.71-.29zm12.42 5.58l-3-3a.996.996 0 1 0-1.41 1.41l1.29 1.3H5v-2c0-.55-.45-1-1-1s-1 .45-1 1v3c0 .55.45 1 1 1h9.59l-1.29 1.29a.996.996 0 0 0 0 1.41c.19.2.44.3.7.3s.51-.1.71-.29l3-3c.39-.39.39-1.03 0-1.42z"/></symbol>
	</svg>
  {%- when 'pe' -%}
	  <svg xmlns="http://www.w3.org/2000/svg" class="bee-d-none">
		  <symbol id="icon-h-search" viewBox="0 0 32 32">
		    <path d="M28.591 27.273l-7.263-7.264c1.46-1.756 2.339-4.010 2.339-6.471 0-5.595-4.535-10.129-10.129-10.129-5.594 0-10.129 4.535-10.129 10.129 0 5.594 4.536 10.129 10.129 10.129 2.462 0 4.716-0.879 6.471-2.339l7.263 7.264 1.319-1.319zM4.475 13.538c0-4.997 4.065-9.063 9.063-9.063 4.997 0 9.063 4.066 9.063 9.063s-4.066 9.063-9.063 9.063c-4.998 0-9.063-4.066-9.063-9.063z" fill="currentColor"></path>
		  </symbol>
		  <symbol id="icon-h-account" viewBox="0 0 32 32">
		    <path d="M16 3.205c-7.067 0-12.795 5.728-12.795 12.795s5.728 12.795 12.795 12.795 12.795-5.728 12.795-12.795c0-7.067-5.728-12.795-12.795-12.795zM16 4.271c6.467 0 11.729 5.261 11.729 11.729 0 2.845-1.019 5.457-2.711 7.49-1.169-0.488-3.93-1.446-5.638-1.951-0.146-0.046-0.169-0.053-0.169-0.66 0-0.501 0.206-1.005 0.407-1.432 0.218-0.464 0.476-1.244 0.569-1.944 0.259-0.301 0.612-0.895 0.839-2.026 0.199-0.997 0.106-1.36-0.026-1.7-0.014-0.036-0.028-0.071-0.039-0.107-0.050-0.234 0.019-1.448 0.189-2.391 0.118-0.647-0.030-2.022-0.921-3.159-0.562-0.719-1.638-1.601-3.603-1.724l-1.078 0.001c-1.932 0.122-3.008 1.004-3.57 1.723-0.89 1.137-1.038 2.513-0.92 3.159 0.172 0.943 0.239 2.157 0.191 2.387-0.010 0.040-0.025 0.075-0.040 0.111-0.131 0.341-0.225 0.703-0.025 1.7 0.226 1.131 0.579 1.725 0.839 2.026 0.092 0.7 0.35 1.48 0.569 1.944 0.159 0.339 0.234 0.801 0.234 1.454 0 0.607-0.023 0.614-0.159 0.657-1.767 0.522-4.579 1.538-5.628 1.997-1.725-2.042-2.768-4.679-2.768-7.555 0-6.467 5.261-11.729 11.729-11.729zM7.811 24.386c1.201-0.49 3.594-1.344 5.167-1.808 0.914-0.288 0.914-1.058 0.914-1.677 0-0.513-0.035-1.269-0.335-1.908-0.206-0.438-0.442-1.189-0.494-1.776-0.011-0.137-0.076-0.265-0.18-0.355-0.151-0.132-0.458-0.616-0.654-1.593-0.155-0.773-0.089-0.942-0.026-1.106 0.027-0.070 0.053-0.139 0.074-0.216 0.128-0.468-0.015-2.005-0.17-2.858-0.068-0.371 0.018-1.424 0.711-2.311 0.622-0.795 1.563-1.238 2.764-1.315l1.011-0.001c1.233 0.078 2.174 0.521 2.797 1.316 0.694 0.887 0.778 1.94 0.71 2.312-0.154 0.852-0.298 2.39-0.17 2.857 0.022 0.078 0.047 0.147 0.074 0.217 0.064 0.163 0.129 0.333-0.025 1.106-0.196 0.977-0.504 1.461-0.655 1.593-0.103 0.091-0.168 0.218-0.18 0.355-0.051 0.588-0.286 1.338-0.492 1.776-0.236 0.502-0.508 1.171-0.508 1.886 0 0.619 0 1.389 0.924 1.68 1.505 0.445 3.91 1.271 5.18 1.77-2.121 2.1-5.035 3.4-8.248 3.4-3.183 0-6.073-1.277-8.188-3.342z" fill="currentColor"></path>
		  </symbol>
		  <symbol id="icon-h-heart" viewBox="0 0 32 32">
		    <path d="M21.886 5.115c3.521 0 6.376 2.855 6.376 6.376 0 1.809-0.754 3.439-1.964 4.6l-10.297 10.349-10.484-10.536c-1.1-1.146-1.778-2.699-1.778-4.413 0-3.522 2.855-6.376 6.376-6.376 2.652 0 4.925 1.62 5.886 3.924 0.961-2.304 3.234-3.924 5.886-3.924zM21.886 4.049c-2.345 0-4.499 1.089-5.886 2.884-1.386-1.795-3.54-2.884-5.886-2.884-4.104 0-7.442 3.339-7.442 7.442 0 1.928 0.737 3.758 2.075 5.152l11.253 11.309 11.053-11.108c1.46-1.402 2.275-3.308 2.275-5.352 0-4.104-3.339-7.442-7.442-7.442v0z" fill="currentColor"></path>
		  </symbol>
		  <symbol id="icon-h-cart" viewBox="0 0 32 32">
		    <path d="M3.205 3.205v25.59h25.59v-25.59h-25.59zM27.729 27.729h-23.457v-23.457h23.457v23.457z" fill="currentColor"></path>
          <path d="M9.068 13.334c0 3.828 3.104 6.931 6.931 6.931s6.93-3.102 6.93-6.931v-3.732h1.067v-1.066h-3.199v1.066h1.065v3.732c0 3.234-2.631 5.864-5.864 5.864-3.234 0-5.865-2.631-5.865-5.864v-3.732h1.067v-1.066h-3.199v1.066h1.065v3.732z" fill="currentColor"></path>
		  </symbol>
		<symbol id="icon-h-compare" viewBox="0 0 551.127 551.127">
		 	<path d="M482.21 378.9h-62.607c-21.882 0-42.754-8.208-58.749-23.143l-85.906-80.179 85.939-80.208c15.978-14.935 36.851-23.143 58.749-23.143h62.601v34.446l68.889-51.668-68.889-51.668v34.446h-62.601c-30.661 0-59.876 11.504-82.262 32.427L138.622 355.723c-16.029 14.935-36.868 23.177-58.716 23.177H.032v34.378l79.74.034h.151c30.577 0 59.758-11.504 82.195-32.427l87.592-81.752 87.63 81.785c22.403 20.923 51.618 32.427 82.262 32.427h62.607v34.446l68.889-51.666-68.889-51.671.001 34.446zM79.908 172.26c21.831 0 42.67 8.208 58.665 23.143l60.652 56.609 25.237-23.553-62.376-58.217c-22.403-20.923-51.584-32.427-82.161-32.427h-.151L0 137.848v34.378h79.79c.051.001.084.034.118.034z"/>
		</symbol>
	</svg>
  {%- when 'drawn' -%}
	  <svg xmlns="http://www.w3.org/2000/svg" class="bee-d-none">
		  <symbol id="icon-h-search" viewBox="0 0 20 20" stroke="currentColor">
		    <circle fill="none" stroke-width="2" stroke-miterlimit="10" cx="8.35" cy="8.35" r="6.5"></circle><path fill="none" stroke-width="2" stroke-miterlimit="10" d="M12.945 12.945l5.205 5.205"></path>
		  </symbol>
		  <symbol id="icon-h-account" viewBox="0 0 20 20" stroke="currentColor">
		    <path fill="none" stroke-width="2" stroke-miterlimit="10" d="M6 5.444C6 3.481 7.377 2 10 2c2.557 0 4 1.481 4 3.444S12.613 10 10 10c-2.512 0-4-2.592-4-4.556z"></path><path fill="none" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M17.049 13.366s-1.22-.395-2.787-.761A7.056 7.056 0 0110 14c-1.623 0-3.028-.546-4.192-1.411-1.601.37-2.857.777-2.857.777-.523.17-.951.759-.951 1.309V17c0 .55.45 1 1 1h14c.55 0 1-.45 1-1v-2.325c0-.55-.428-1.139-.951-1.309z"></path>
		  </symbol>
		  <symbol id="icon-h-heart" viewBox="0 0 20 20" fill="currentColor">
		    <path d="M14.001 4c.802 0 1.556.311 2.122.876.565.564.877 1.315.877 2.113s-.311 1.548-.87 2.105l-6.158 6.087L3.876 9.1A2.964 2.964 0 013 6.989c0-.798.312-1.548.878-2.112A2.98 2.98 0 016 4c.802 0 1.556.311 2.122.876.142.142.382.411.388.417l1.491 1.665 1.49-1.666c.006-.007.245-.275.387-.417A2.988 2.988 0 0114.001 4m0-2a4.99 4.99 0 00-3.536 1.461c-.172.171-.465.499-.465.499s-.293-.328-.466-.5A4.987 4.987 0 006.001 2a4.99 4.99 0 00-3.536 1.461 4.98 4.98 0 00-.001 7.055L9.965 18l7.571-7.483a4.982 4.982 0 000-7.057A4.993 4.993 0 0014.001 2z"></path>
		  </symbol>
		  <symbol id="icon-h-cart" viewBox="0 0 329.998 329.998" stroke="currentColor" fill="currentColor">
		    <path d="M322.03 56.042A15 15 0 00309.999 50H78.98l-4.073-36.656C74.063 5.747 67.642 0 59.999 0h-40c-8.284 0-15 6.716-15 15s6.716 15 15 15h26.574l4.054 36.485c.012.127.026.253.042.379L65.09 196.656C65.934 204.253 72.356 210 79.999 210h191.104a15 15 0 0014.37-10.7l38.897-130a15.004 15.004 0 00-2.34-13.258zM259.934 180H93.425L82.313 80h207.54l-29.919 100zM109.999 239.998c-24.813 0-45 20.187-45 45 0 24.814 20.187 45 45 45s45-20.186 45-45c0-24.813-20.187-45-45-45zm0 60c-8.271 0-15-6.728-15-15 0-8.271 6.729-15 15-15s15 6.729 15 15c0 8.272-6.729 15-15 15zM228.999 239.998c-24.814 0-45 20.187-45 45 0 24.814 20.186 45 45 45s45-20.186 45-45c0-24.813-20.187-45-45-45zm0 60c-8.271 0-15-6.728-15-15 0-8.271 6.729-15 15-15s15 6.729 15 15c0 8.272-6.729 15-15 15z"></path>
		  </symbol>
		</svg>
		<symbol id="icon-h-compare" viewBox="0 0 551.127 551.127">
		 	<path d="M482.21 378.9h-62.607c-21.882 0-42.754-8.208-58.749-23.143l-85.906-80.179 85.939-80.208c15.978-14.935 36.851-23.143 58.749-23.143h62.601v34.446l68.889-51.668-68.889-51.668v34.446h-62.601c-30.661 0-59.876 11.504-82.262 32.427L138.622 355.723c-16.029 14.935-36.868 23.177-58.716 23.177H.032v34.378l79.74.034h.151c30.577 0 59.758-11.504 82.195-32.427l87.592-81.752 87.63 81.785c22.403 20.923 51.618 32.427 82.262 32.427h62.607v34.446l68.889-51.666-68.889-51.671.001 34.446zM79.908 172.26c21.831 0 42.67 8.208 58.665 23.143l60.652 56.609 25.237-23.553-62.376-58.217c-22.403-20.923-51.584-32.427-82.161-32.427h-.151L0 137.848v34.378h79.79c.051.001.084.034.118.034z"/>
		</symbol>
  {%- else -%}
	  <svg xmlns="http://www.w3.org/2000/svg" class="bee-d-none">
		  <symbol id="icon-h-search" viewBox="0 0 32 32" fill="currentColor">
		    <path d="M 19 3 C 13.488281 3 9 7.488281 9 13 C 9 15.394531 9.839844 17.589844 11.25 19.3125 L 3.28125 27.28125 L 4.71875 28.71875 L 12.6875 20.75 C 14.410156 22.160156 16.605469 23 19 23 C 24.511719 23 29 18.511719 29 13 C 29 7.488281 24.511719 3 19 3 Z M 19 5 C 23.429688 5 27 8.570313 27 13 C 27 17.429688 23.429688 21 19 21 C 14.570313 21 11 17.429688 11 13 C 11 8.570313 14.570313 5 19 5 Z"/>
		  </symbol>
		  <symbol id="icon-h-account" viewBox="0 0 32 32" fill="currentColor">
		  	<path xmlns="http://www.w3.org/2000/svg" d="M 16 5 C 12.144531 5 9 8.144531 9 12 C 9 14.410156 10.230469 16.550781 12.09375 17.8125 C 8.527344 19.34375 6 22.882813 6 27 L 8 27 C 8 22.570313 11.570313 19 16 19 C 20.429688 19 24 22.570313 24 27 L 26 27 C 26 22.882813 23.472656 19.34375 19.90625 17.8125 C 21.769531 16.550781 23 14.410156 23 12 C 23 8.144531 19.855469 5 16 5 Z M 16 7 C 18.773438 7 21 9.226563 21 12 C 21 14.773438 18.773438 17 16 17 C 13.226563 17 11 14.773438 11 12 C 11 9.226563 13.226563 7 16 7 Z"/>
		   </symbol>
		  <symbol id="icon-h-heart" viewBox="0 0 32 32" fill="currentColor">
		  	<path xmlns="http://www.w3.org/2000/svg" d="M 9.5 5 C 5.363281 5 2 8.402344 2 12.5 C 2 13.929688 2.648438 15.167969 3.25 16.0625 C 3.851563 16.957031 4.46875 17.53125 4.46875 17.53125 L 15.28125 28.375 L 16 29.09375 L 16.71875 28.375 L 27.53125 17.53125 C 27.53125 17.53125 30 15.355469 30 12.5 C 30 8.402344 26.636719 5 22.5 5 C 19.066406 5 16.855469 7.066406 16 7.9375 C 15.144531 7.066406 12.933594 5 9.5 5 Z M 9.5 7 C 12.488281 7 15.25 9.90625 15.25 9.90625 L 16 10.75 L 16.75 9.90625 C 16.75 9.90625 19.511719 7 22.5 7 C 25.542969 7 28 9.496094 28 12.5 C 28 14.042969 26.125 16.125 26.125 16.125 L 16 26.25 L 5.875 16.125 C 5.875 16.125 5.390625 15.660156 4.90625 14.9375 C 4.421875 14.214844 4 13.273438 4 12.5 C 4 9.496094 6.457031 7 9.5 7 Z"/>
		   </symbol>
		  <symbol id="icon-h-cart" viewBox="0 0 32 32" fill="currentColor">
		  	<path xmlns="http://www.w3.org/2000/svg" d="M 16 3 C 13.253906 3 11 5.253906 11 8 L 11 9 L 6.0625 9 L 6 9.9375 L 5 27.9375 L 4.9375 29 L 27.0625 29 L 27 27.9375 L 26 9.9375 L 25.9375 9 L 21 9 L 21 8 C 21 5.253906 18.746094 3 16 3 Z M 16 5 C 17.65625 5 19 6.34375 19 8 L 19 9 L 13 9 L 13 8 C 13 6.34375 14.34375 5 16 5 Z M 7.9375 11 L 11 11 L 11 14 L 13 14 L 13 11 L 19 11 L 19 14 L 21 14 L 21 11 L 24.0625 11 L 24.9375 27 L 7.0625 27 Z"/>
		   </symbol>
		</svg>
		<symbol id="icon-h-compare" viewBox="0 0 551.127 551.127">
		 	<path d="M482.21 378.9h-62.607c-21.882 0-42.754-8.208-58.749-23.143l-85.906-80.179 85.939-80.208c15.978-14.935 36.851-23.143 58.749-23.143h62.601v34.446l68.889-51.668-68.889-51.668v34.446h-62.601c-30.661 0-59.876 11.504-82.262 32.427L138.622 355.723c-16.029 14.935-36.868 23.177-58.716 23.177H.032v34.378l79.74.034h.151c30.577 0 59.758-11.504 82.195-32.427l87.592-81.752 87.63 81.785c22.403 20.923 51.618 32.427 82.262 32.427h62.607v34.446l68.889-51.666-68.889-51.671.001 34.446zM79.908 172.26c21.831 0 42.67 8.208 58.665 23.143l60.652 56.609 25.237-23.553-62.376-58.217c-22.403-20.923-51.584-32.427-82.161-32.427h-.151L0 137.848v34.378h79.79c.051.001.084.034.118.034z"/>
		</symbol>
{%- endcase -%}
{%- endif -%}
{%- liquid 
	capture accout_txt
		unless customer
			echo 'customer.menu.login_register' | t 
		else
			echo 'customer.menu.account' | t 
		endunless		
	endcapture
-%}
{%- capture my_account_dropdown -%}
	{%- if customer -%}
		<ul class="bee-my-account">
			<li><a class="bee-d-block" href="{{routes.account_url}}">{{ 'customer.account.dashboard' | t }}</a></li>
			<li><a class="bee-d-block" href="{{routes.account_addresses_url}}">{{ 'customer.menu.addresses' | t }}</a></li>
			<li><a class="bee-d-block" href="{{routes.account_logout_url}}" data-no-instant>{{ 'customer.account.log_out' | t }}</a></li>
		</ul>
		{%- style -%}
			.bee-site-nav__account:hover .bee-my-account::after{
				content: "";
				position: absolute;
				top: auto;
				right: 0;
				bottom: 100%;
				left: 0;
				width: auto;
				height: 12px;
			}
			.bee-site-nav__icons .bee-site-nav__icon {
			    position: relative;
			}
			.bee-site-nav__account .bee-my-account {
			    position: absolute;
			    top: calc(100% + 20px);
			    font-size: 15px;
			    z-index: 380;
			    background-color: var(--bee-light-color);
			    box-shadow: 0 0 3px rgb(0 0 0 / 15%);
			    list-style: none;
			    right: -5px;
			    width: 210px;
			    padding: 34px 44px;
			    line-height: 1.4;
			    margin-top: 12px;
			    border-radius: 3px;
			    transform: translateY(15px) translateZ(0);
			    visibility: hidden;
			    transition: opacity .2s,visibility .2s,transform .2s;
			    opacity: 0;
			    text-align: left;
			}
			.bee-site-nav__account .bee-my-account::before {
			    content: "";
			    height: 33px;
			    width: 100%;
			    position: absolute;
			    display: inline-block;
			    left: 0;
			    top: -33px;
			    z-index: 1;
			}
			.bee-site-nav__account:hover .bee-my-account{
				pointer-events: auto;
				visibility: visible;
				opacity: 1;
				transform: none;
			}
			.bee-site-nav__account .bee-my-account a {
			    padding: 11px 0;
			    color: var(--text-color);
			    display: inline-block!important;
			    position: relative;
			}
			.bee-site-nav__account .bee-my-account a:before {
			    content: "";
			    border-bottom: 1px solid;
			    width: 0;
			    position: absolute;
			    bottom: 5px;
			    left: 0;
			    transition: width .3s;
			}
			.bee-site-nav__account .bee-my-account a:hover:before {
			    width: 100%;
			}
			.rtl_true .bee-site-nav__account .bee-my-account{left:-5px;right:auto;}
			.rtl_true .bee-site-nav__account .bee-my-account a{text-align:right;}
			@media (-moz-touch-enabled: 0), (hover: hover) and (min-width: 1025px){
				.bee-site-nav__account .bee-my-account a:hover{var(--accent-color) !important;}
			}
		{%- endstyle -%}
	{%- endif -%}
{%- endcapture -%}
{%- if se_stts.cart_des != '0' -%}
	<style>
		.bee-h-cart__design3 .bee-count-box {
		    width: 19px;
		    height: 19px;
		    line-height: 19px;
		    position: static;
		    display: inline-block;
		    border: none;
		    min-width: 19px;
		}
		.bee-site-nav__icons.bee-h-cart__design2 .bee-site-nav__icon:last-child,
		.bee-site-nav__icons.bee-h-cart__design3 .bee-site-nav__icon:last-child,
		.bee-site-nav__icons.bee-h-cart__design4 .bee-site-nav__icon:last-child,
		.bee-site-nav__icons.bee-h-cart__design5 .bee-site-nav__icon:last-child {
		    padding-right: 0;
		}
	 	@media (min-width: 768px) {

	    	.bee-h-cart__design2 .bee-site-nav__cart a,
	    	.bee-h-cart__design4 .bee-site-nav__cart a,
	    	.bee-h-cart__design5 .bee-site-nav__cart a {
		      display: flex;
			   align-items: center;
			   justify-content: center;
	    	}
	    	.bee-h-cart__design2 .bee-h-cart-totals,
	    	.bee-h-cart__design4 .bee-h-cart-totals {
			    display: block;
			    margin-left: 20px;
			}
			.bee-h-cart__design4 .bee-site-nav__cart .bee-count-box,
			.bee-h-cart__design5 .bee-site-nav__cart .bee-count-box {
				display: none
			}
			.bee-h-cart__design4 .bee-h-cart-totals {
				margin-left: 7px;
			}
			.bee-h-cart__design5 .bee-h-cart__divider {
			    display: inline-block;
			}
			.bee-h-cart__design5 .bee-h-cart-totals {
			    display: block;
			    margin-left: 7px;
			}
			
			.bee-h-cart__design1 .bee-site-nav__icon.bee-site-nav__btnMenu {
			    padding-right: 0;
			}
	 	}
	</style>
{%- endif -%}
{%- assign source = se_stts.source -%}
{%- if se_stts.source != '0' -%}
	{%- if isSplit1 -%}
		{%- if source == '1' -%}<div class="bee-split-text">{{ se_stts.custom_html }}</div>
	    {%- elsif source == '2' or source == '3' -%}
	   		{{ 'bee-icon-social.css' | asset_url | stylesheet_tag }}
	          {%- if source == '3' %}
	            {% assign follow_social = true %}
	          {%- elsif source == '2' -%}
	          {% endif -%}
	        {%- render 'social_sharing', style: 'simple', use_color_set: false, size: 'medium', space_h_item: 20, space_h_item_mb: 20, space_v_item: 0, space_v_item_mb: 0, share_permalink: shop.url, share_title: shop.name, follow_social: follow_social -%}
	    {%- else -%}
              <link rel="stylesheet" href="{{ 'bee-base_drop.min.css' | asset_url }}" media="all">
              {%- liquid
                if source == '4' or source == '6'
                  render 'bee-currencies', sid: sid
                endif
                if shop.published_locales.size > 1 and source == '5' or source == '6'
                  render 'bee-languages', sid: sid
                endif
              -%}
		{%- endif -%}
	{%- else -%}
		<div class="bee-site-nav__icons bee-use__{{ se_stts.h_icon }} {% if se_stts.h_txt_lable %}bee-use__label {% endif -%} is--hover{{ se_stts.hover_icon }} bee-h-cart__design{{ se_stts.cart_des }} bee-lh-1 bee-d-inline-flex bee-align-items-center">
			{%- if shop.customer_accounts_enabled and se_stts.account_des == '2' -%}
				<div class="bee-site-nav__icon bee-site-nav__account bee-d-none bee-d-md-inline-block">
					<a class="bee-pr bee-acc-txt" href="{{ routes.account_url }}"{% unless customer or settings.login_side == false or request.page_type contains 'customers' %} data-drawer-delay- data-drawer-options='{ "id": "#bee-login-sidebar" }' {% endunless %}>{{ accout_txt }}</a>
			        {{ my_account_dropdown }}
			    </div>
		   {%- endif -%}
			{%- if se_stts.show_search -%}
			<div class="bee-site-nav__icon bee-site-nav__search">
				{%- if isfrmSearch -%}
					  <style>
					  	.bee-search-header__form {
							    padding: 0;
							    min-width: 260px;
							    border: 1px solid rgba(var(--h-text-color-rgb), 0.15);
							    border-radius: var(--btn-radius);
					  	}
					  	.bee-search-header__input {
							    padding: 0 50px 0 15px;
							    height: 40px;
							    border: 0;
							    width: 100%;
							    line-height: 18px;
							    background-color: transparent;
							    color: rgba(var(--h-text-color-rgb), 0.6);
							    border-radius: var(--btn-radius);
							        font-size: 15px;
							}
							.bee-search-header__input:focus::placeholder{color: transparent;}
							.bee-search-header__input:hover, .bee-search-header__input:focus  {
			                  color: var(--h-text-color);
			              }
							.bee-search-header__submit {
								    position: absolute;
								    top: 0;
								    right: 2px;
								    bottom: 0;
								    padding: 0;
								    width: 50px;
								    border: none;
								    background-color: transparent !important;
								    color: var(--h-text-color);
								    font-size: 15px;
							}
							.bee-search-header__submit:hover {
								opacity: 0.6;
							}
							.bee-site-nav__icons .bee-search-header__submit svg.bee-icon {
								    color: var(--h-text-color);
								    width: 20px;
								    height: 20px;
							}
							.bee-search-header__type select {
							    border: 0;
							    max-width:150px;
							    padding: 0 30px 0 15px;
							    -webkit-appearance: none;
							    -moz-appearance: none;
							    appearance: none;
							    font-size: 15px;
							    display: inline-block;
							    background-color: transparent;
							    box-shadow: none;
							    color: var(--h-text-color);
							    line-height: 1.2;
							    background: none;
							}
							.bee-search-header__type .bee-icon-select-arrow {
							    fill: currentColor;
							    width: 18px;
							    height: 20px;
							    color: rgba(var(--h-text-color-rgb), 0.4);
							}
							.bee-search-header__type select:hover + .bee-icon-select-arrow  {
								color: var(--h-text-color);
							}
							.bee-search-header_border {
							    height: 18px;
							    background-color: rgba(var(--h-text-color-rgb), 0.15);
							    width: 1.5px;
							}
		          .bee-frm-search__results {
		                position: absolute;
		                top: 100%;
		                right: 0;
		                left: 0;
		                z-index: 1000;
		                width: auto;
		                height: auto;
		                background-color: var(--bee-light-color);
		                margin-top: 5px;
		                opacity: 0;
		                visibility: hidden;
		                pointer-events: none;
		                transition: all .1s ease-in-out;
		                max-width:1170px;
		                margin: 0 auto;
		                box-shadow: 0 1px 5px 2px rgba(var(--border-color-rgb),.3);
		          }
		          .calc-pos-submenu .bee-search-header__form-wrap:hover .bee-frm-search__results {
		              opacity: 1;
		              visibility: visible;
		              pointer-events: auto;
		          }
		          .bee-frm-search__content { 
		            height: auto;
		            overflow: auto;
		            overflow-x: hidden;
		            -webkit-overflow-scrolling: touch;
		            padding: 20px;
		          }
		          .bee-frm-search__content:empty {
				    display: none;
				}
		          .bee-frm-search__content .bee-widget_img_pr {
		              min-width: 95px;
		              max-width:95px;
		              max-height: 120px;
		          }
		          .bee-frm-search__content .bee-widget_img_pr>a {
		            height: 100%;
		          }
		          .bee-frm-search__content .bee-widget_img_pr img {
		            object-fit: contain;
		            max-height: 120px;
		          }
		            .bee-frm-search__content > .bee-widget__pr:not(.bee-row){
					    display: flex;
					    column-gap: 20px;
					    padding: 0;
					}
					.bee-frm-search__content > .bee-widget__pr:not(:last-child) {
					    margin-bottom: 15px;
					}
					.bee-frm-search__content > .bee-widget__pr:not(.bee-row) .bee-widget_img_pr {
					    max-width:75px;
					    min-width: 75px;
					}
		          .bee-frm-search__content .bee-row.bee-widget__pr {
		              --ts-gutter-x: 20px;flex-wrap: nowrap;
		          }
		          .bee-frm-search__content .bee-row.bee-widget__pr:not(last-child) {
					    margin-bottom: 15px;
					}
		          .bee-frm-search__content .bee-widget__pr .bee-widget__pr-title {
		              font-weight: 500;
		              line-height: 1.25;
		              font-size: 14px;
		              margin-bottom: 5px;
		              color: var(--secondary-color);
		          }
		          .bee-frm-search__content .bee-widget__pr .bee-widget__pr-price {
		              margin-top: 1.5px;
		          }
		          .bee-frm-search__content .bee-widget__pr-price {
		            font-size: 14px;
		            color: var(--secondary-price-color);
		          }
		          .bee-frm-search__content .bee-widget__pr-price ins {
		              color: var(--primary-price-color);
		              margin-left: 5px;
		          }
		          .rtl_true .bee-frm-search__content .bee-widget__pr-price ins {
		              margin-right: 5px;
		              margin-left: 0;
		              display: inline-block;
		          }
		          .bee-search-header__form-wrap .bee-mini-search__viewAll {
			            padding: 12px 20px;
			            border-top: 1px solid rgba(var(--border-color-rgb),.35);
			            box-shadow: 0 0 10px 0 rgba(var(--border-color-rgb),.35);
		         }
		         .bee-frm-search__content .bee-widget__pr .bee-widget__pr-title:hover,
		         .bee-search-header__form-wrap .bee-mini-search__viewAll:hover {
		        		color: var(--accent-color);
		         }
					  </style>	
			      <div data-predictive-search data-sid="search-hidden" class="bee-search-header__form-wrap bee-search-header bee-pr bee-d-none bee-d-lg-block">
		            {%- liquid
		             assign collection = collections[settings.search_prs_suggest]
		             assign limit = 5 
		             assign show_search_suggest = settings.show_search_suggest
		             if shop.types.size < 3
		             assign shop_types = shop.types | join: ' ' | remove: ' '
		             else
		             assign shop_types = 'type_bee'
		             endif -%}
		            <form data-frm-search action="{{ routes.search_url }}" method="get" class="bee-search-header__form bee-row bee-g-0 bee-align-items-center" role="search">
		              <input type="hidden" name="type" value="product">
		              <input type="hidden" name="options[unavailable_products]" value="{{ settings.unavailable_prs }}">
		              <input type="hidden" name="options[prefix]" value="last">
		              {%- if settings.filter_type_search and shop_types != blank -%}
		              <div data-cat-search class="bee-search-header__type bee-pr bee-oh bee-col-auto bee-col-item">
		                <select data-name="product_type" class="bee-truncate">
		                   <option value="*">{{ 'search.general.all_categories' | t }}</option>
		                   {%- for product_type in shop.types -%}{%- if product_type == blank %}{% continue -%}{% endif -%}<option value="{{ product_type }}"{% if search_pr_type == product_type %} selected="selected"{% endif %}>{{ product_type }}</option>{%- endfor -%}
		                </select>
		              </div>
		              <div class="bee-search-header_border bee-col-auto bee-col-item"></div>
		             {%- endif -%}
		              <div class="bee-search-header__main bee-pr bee-oh bee-d-flex bee-col bee-col-item">
		                <input data-input-search class="bee-search-header__input bee-input__currentcolor" autocomplete="off" type="text" name="q" placeholder="{{ 'search.general.placeholder_products' | t }}">
		                <button class="bee-search-header__submit{% if settings.ajax_search %} bee-pe-none{% endif %}" type="submit"><span><svg class="bee-icon bee-icon--search" aria-hidden="true" focusable="false" role="presentation"><use href="#icon-h-search"></use></svg></span></button>
			          </div>
		            </form>
		            <div class="bee-pr">
		                 <div class="bee-pa bee-frm-search__results bee-text-start">
		                    <div data-skeleton-search class="bee-skeleton_wrap bee-dn"> 
		                       {%- for i in (1..4) -%}
		                       <div class="bee-row bee-space-item-inner">
		                          <div class="bee-col-auto bee-col-item bee-widget_img_pr"><div class="bee-skeleton_img"></div></div>
		                          <div class="bee-col bee-col-item bee-widget_if_pr"><div class="bee-skeleton_txt1"></div><div class="bee-skeleton_txt2"></div></div>
		                       </div>
		                       {%- endfor -%}
		                    </div>
		                    <div data-results-search class="bee-frm-search__content bee_ratioadapt bee-current-scrollbar"{% if collection == blank or show_search_suggest == false %} style="display: none;"{% endif %}>
		                        {%- if collection != blank and show_search_suggest -%}
		                            {%- liquid  
		                      			assign placeholder_img = settings.placeholder_img
				                      	assign price_varies_style = settings.price_varies_style
				                      	
				                    -%}
		                          	{%- for product in collection.products limit: limit -%}
		                          		{%- render 'pr-loop-item', imgatt: '', product: product, pr_url: product.url, placeholder_img: placeholder_img, price_varies_style: price_varies_style -%}
		                          	{%- endfor -%}
		                        {%- endif -%}
		                    </div>
		                    {%- if collection != blank and show_search_suggest -%}
		                       {%- if collection.all_products_count > limit -%}
		                          <div data-viewAll-search>
		                             <a href="{{ collection.url }}" class="bee-mini-search__viewAll bee-d-block">{{ 'search.pagination.view_all' | t }} <svg width="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M 18.71875 6.78125 L 17.28125 8.21875 L 24.0625 15 L 4 15 L 4 17 L 24.0625 17 L 17.28125 23.78125 L 18.71875 25.21875 L 27.21875 16.71875 L 27.90625 16 L 27.21875 15.28125 Z"/></svg></a>
		                          </div>
		                       {%- endif -%}
		                    {%- else -%}<div data-viewAll-search></div>
		                    {%- endif -%}
		                 </div>
		            </div>
			      </div>
					  <a class="bee-pr bee-d-lg-none" href="{{ routes.search_url }}">
					  	<span class="{% if se_stts.h_txt_lable %}bee-d-lg-inline-block bee-d-none{% else %}bee-d-none{% endif %}">{{ 'customer.menu.search' | t }}</span>
						<svg class="bee-icon bee-icon--search {% if se_stts.h_txt_lable %}bee-d-lg-none{% endif -%}" aria-hidden="true" focusable="false" role="presentation"><use href="#icon-h-search"></use></svg>
					  </a>
		    {%- else -%}
					<a class="bee-pr" href="{{ routes.search_url }}" data-drawer-delay- data-drawer-options='{ "id": "#bee-search-hidden" }'>
						<span class="{% if se_stts.h_txt_lable %}bee-d-lg-inline-block bee-d-none{% else %}bee-d-none{% endif %}">{{ 'customer.menu.search' | t }}</span>
						<svg class="bee-icon bee-icon--search {% if se_stts.h_txt_lable %}bee-d-lg-none{% endif -%}" aria-hidden="true" focusable="false" role="presentation"><use href="#icon-h-search"></use></svg>
					</a>
				{%- endif -%}
		   </div>
		   {%- endif -%}
			{%- if shop.customer_accounts_enabled and se_stts.account_des == '1' -%}
			   	<div class="bee-site-nav__icon bee-site-nav__account bee-d-none bee-d-md-inline-block">
					<a class="bee-pr" href="{{ routes.account_url }}"{% unless customer or settings.login_side == false or request.page_type contains 'customers' %} data-drawer-delay- data-drawer-options='{ "id": "#bee-login-sidebar" }' {% endunless %}>
					<span class="{% if se_stts.h_txt_lable %}bee-d-lg-inline-block bee-d-none{% else %}bee-d-none{% endif %}">{{ accout_txt }}</span><svg class="bee-icon bee-icon--account {% if se_stts.h_txt_lable %}bee-d-lg-none{% endif -%}" aria-hidden="true" focusable="false" role="presentation"><use href="#icon-h-account"></use></svg>
			      </a>
			      {{ my_account_dropdown }}
			    </div>
		   {%- endif -%}
		   {%- if se_stts.show_compare -%}
		   <div class="bee-site-nav__icon bee-site-nav__compare bee-d-none bee-d-lg-inline-block">	
		      <a data-link-compare class="bee-pr" href="{{ routes.search_url }}/?view=compare">
				{%- if se_stts.h_txt_lable -%} {{ 'customer.menu.compare' | t }} {%- else -%} <svg class="bee-icon bee-icon--compare" aria-hidden="true" focusable="false" role="presentation"><use href="#icon-h-compare"></use></svg>{%- endif -%}
				  <span data-count-compare class="bee-pa bee-op-0 bee-ts-op bee-count-box">0</span>
		      </a>
		   </div>
		   {%- endif -%}
			{%- if se_stts.show_wis -%}
		   <div class="bee-site-nav__icon bee-site-nav__heart bee-d-none bee-d-lg-inline-block">	
		      <a data-link-wishlist class="bee-pr" href="{{ routes.search_url }}/?view=wishlist">
				{%- if se_stts.h_txt_lable -%} {{ 'customer.menu.wishlist' | t }} {%- else -%} <svg class="bee-icon bee-icon--heart" aria-hidden="true" focusable="false" role="presentation"><use href="#icon-h-heart"></use></svg>{%- endif -%}
				  <span data-count-wishlist class="bee-pa bee-op-0 bee-ts-op bee-count-box">0</span>
		      </a>
		   </div>
		   {%- endif -%}

			{%- if se_stts.cart_des != '0' -%}
		   <div class="bee-site-nav__icon bee-site-nav__cart">	
				<a href="{{ routes.cart_url }}"{% if request.page_type != 'cart' and settings.cart_type != 'disable' %} data-drawer-delay- data-drawer-options='{ "id": "#bee-mini_cart" }'{% endif %}>
					<span class="bee-pr bee-icon-cart__wrap bee-d-inline-block">
					  <span class="{% if se_stts.h_txt_lable %}bee-d-lg-inline-block bee-d-none{% else %}bee-d-none{% endif %}">{{ 'customer.menu.cart' | t }}</span><svg class="bee-icon bee-icon--cart {% if se_stts.h_txt_lable %}bee-d-lg-none{% endif -%}" aria-hidden="true" focusable="false" role="presentation"><use href="#icon-h-cart"></use></svg>
					  <span data-cart-count class="bee-pa bee-op-0 bee-ts-op bee-count-box">{{ cart.item_count }}</span>
					</span>
					<span class="bee-h-cart-totals bee-dn bee-truncate">
						<span class="bee-h-cart__divider bee-dn">/</span>
						<span data-cart-tt-price class="bee-h-cart__total">{{ cart.total_price | money }}</span>
					</span>
		      </a>
		    </div>
		   {%- endif -%}

		   {%- if isShowMenuBtn -%}
		    <div class="bee-site-nav__icon bee-site-nav__btnMenu bee-d-none bee-d-lg-block">{%- render 'push_menu' -%}</div> 
		   {%- endif -%}
		</div>
	{%- endif -%}
{% else %}
	{%- if isSplit1 -%}
			<div class="bee-site-nav__icons bee-use__{{ se_stts.h_icon }} {% if se_stts.h_txt_lable %}bee-use__label {% endif -%} is--hover{{ se_stts.hover_icon }} bee-h-cart__design{{ se_stts.cart_des }} bee-lh-1 bee-d-inline-flex bee-align-items-center">
				{%- if se_stts.show_search -%}
				<div class="bee-site-nav__icon bee-site-nav__search">
					<a class="bee-pr" href="{{ routes.search_url }}" data-drawer-delay- data-drawer-options='{ "id": "#bee-search-hidden" }'>
						<svg class="bee-icon bee-icon--search" aria-hidden="true" focusable="false" role="presentation"><use href="#icon-h-search"></use></svg>
					</a>
			   </div>
			   {%- endif -%}
				
			</div>
	{%- else -%}
			<div class="bee-site-nav__icons bee-use__{{ se_stts.h_icon }} {% if se_stts.h_txt_lable %}bee-use__label {% endif -%} bee-h-cart__design{{ se_stts.cart_des }} bee-lh-1 bee-d-inline-flex bee-align-items-center">
				{%- if shop.customer_accounts_enabled -%}
					{%- capture acc_action -%}
	                  	{%- if se_stts.account_des == '1' -%}
	                  		<svg class="bee-icon bee-icon--account" aria-hidden="true" focusable="false" role="presentation"><use href="#icon-h-account"></use></svg>
	                  	{% else %}
	                  		{{ 'customer.menu.login_register' | t }}
	                 	{% endif -%}
	              	{%- endcapture -%}
				   <div class="bee-site-nav__icon bee-site-nav__account bee-d-none bee-d-md-inline-block">
						<a class="bee-pr" href="{{ routes.account_url }}"{% unless customer or settings.login_side == false or request.page_type contains 'customers' %} data-drawer-delay- data-drawer-options='{ "id": "#bee-login-sidebar" }' {% endunless %}>{{ acc_action }}</a>
				   		{{ my_account_dropdown }}
				   </div>
			   {%- endif -%}
			   	{%- if se_stts.show_compare -%}
			   	<div class="bee-site-nav__icon bee-site-nav__compare bee-d-none bee-d-md-inline-block">	
			      	<a data-link-compare class="bee-pr" href="{{ routes.search_url }}/?view=compare">
					  <svg class="bee-icon bee-icon--compare" aria-hidden="true" focusable="false" role="presentation"><use href="#icon-h-compare"></use></svg>
					  <span data-count-compare class="bee-pa bee-op-0 bee-ts-op bee-count-box">0</span>
			      	</a>
			   	</div>
			   	{%- endif -%}
				{%- if se_stts.show_wis -%}
			   	<div class="bee-site-nav__icon bee-site-nav__heart bee-d-none bee-d-md-inline-block">	
			      <a data-link-wishlist class="bee-pr" href="{{ routes.search_url }}/?view=wishlist">
					  <svg class="bee-icon bee-icon--wishlist" aria-hidden="true" focusable="false" role="presentation"><use href="#icon-h-heart"></use></svg>
					  <span data-count-wishlist class="bee-pa bee-op-0 bee-ts-op bee-count-box">0</span>
			      </a>
			   	</div>
			   {%- endif -%}

				{%- if se_stts.cart_des != '0' -%}
			    <div class="bee-site-nav__icon bee-site-nav__cart">	
					<a href="{{ routes.cart_url }}"{% if request.page_type != 'cart' and settings.cart_type != 'disable' %} data-drawer-delay- data-drawer-options='{ "id": "#bee-mini_cart" }'{% endif %}>
						<span class="bee-pr bee-icon-cart__wrap bee-d-inline-block">
						  <svg class="bee-icon bee-icon--account" aria-hidden="true" focusable="false" role="presentation"><use href="#icon-h-cart"></use></svg>
						  <span data-cart-count class="bee-pa bee-op-0 bee-ts-op bee-count-box">{{ cart.item_count }}</span>
						</span>
						<span class="bee-h-cart-totals bee-dn bee-truncate">
							<span class="bee-h-cart__divider bee-dn">/</span>
							<span data-cart-tt-price class="bee-h-cart__total">{{ cart.total_price | money }}</span>
						</span>
			      </a>
			    </div>
			    {%- endif -%}
			</div>

			
	{%- endif -%}
	
{%- endif -%}