{%- comment -%} theme.grouped {%- endcomment -%}
{%- liquid
assign form_id = 'bee-grouped__frm' | append: pr_sid
assign txt_qv = 'products.product_card.quick_view' | t -%}

{%- liquid
assign pid = product.id
assign current_variant = product.selected_or_first_available_variant
assign current_variant_id = current_variant.id
assign totalPrice = 0
assign totalComparePrice = 0
assign qty = bk_stts.qty_val
assign min = 0
assign show_product_current = bk_stts.show_product_current -%}

{{ 'bee-grouped.css' | asset_url | stylesheet_tag }}

<div class="bee-product-form__variants is-btn-full-width__{{ bk_stts.btn_atc_full }} is-btn-atc-txt-{{ bk_stts.btn_txt }}" {{ shopify_attributes }} style="--pr-btn-round: {{ bk_stts.pr_btn_round }}px;--wis-cp-btn-round: {{ bk_stts.wis_cp_btn_round }}px;">
{%- form 'product', product, id: form_id, class: 'bee-grouped__frm', novalidate: 'novalidate', data-groups-pr-form: '' , data-type: 'add-to-cart-form' -%}
	<table class="bee-grouped-product-list">
	   <tbody>
         
         {%- if show_product_current -%}
	      {%- liquid
	      assign available_v = product.variants | where: "available"
         assign cu_pr = current_variant.price
         assign cp_pr = current_variant.compare_at_price | default: cu_pr
         assign totalPrice = totalPrice | plus: cu_pr
         assign totalComparePrice = totalComparePrice | plus: cp_pr
         assign image = current_variant.featured_image | default: product.featured_image
         assign img_url = image | image_url: width: 1
	      assign featured_image = product.featured_image
	      -%}

	      <tr data-groups-pr-item class="bee-grouped-pr-item" data-index="{% increment indexData %}">
	         <td class="bee-grouped-pr__img bee-pr" data-groups-img="{% increment indexData2 %}">
	            <a href="{{ item.url }}" class="bee-d-inline-block bee-grouped-pr__img-wrap bee-pr bee-bg-11" style="background: url({{ img_url }})">
	              <img class="lazyloadbee bee-lz--fadeIn" data-orginal="{{ img_url }}" data-src="{{ img_url }}" data-widths="[100,200,400,600,700,800,900,1000,1200,1400,1600]" data-optimumx="2" data-sizes="auto" src="{% render 'img_svg', w: image.width, h: image.height %}" width="{{ image.width }}" height="{{ image.height }}" alt="{{ image.alt | escape }}">
	            </a>
	         </td>
	         <td class="bee-grouped-pr__qty">
	            <div data-quantity-wrapper class="bee-quantity-wrapper"> 
	               <button data-quantity-selector data-decrease-qty type="button" class="bee-quantity-selector is--minus"><svg focusable="false" class="icon icon--minus" viewBox="0 0 10 2" role="presentation"><path d="M10 0v2H0V0z" fill="currentColor"></path></svg></button>
	               <input data-groups-qty-value data-quantity-value type="number" class="bee-quantity-input" step="1" min="{{ min }}" max="{% if current_variant.inventory_management == blank or current_variant.inventory_policy == 'continue' %}9999{% else %}{{ current_variant.inventory_quantity | default: 9999 }}{% endif %}" name="items[][quantity]" value="1" size="4" pattern="[0-9]*" inputmode="numeric">
	               <button data-quantity-selector data-increase-qty type="button" class="bee-quantity-selector is--plus"><svg focusable="false" class="icon icon--plus" viewBox="0 0 10 10" role="presentation"><path d="M6 4h4v2H6v4H4V6H0V4h4V0h2v4z" fill="currentColor" fill-rule="evenodd"></path></svg></button>
	            </div>
	         </td>
	         <td class="bee-grouped-pr__info bee-text-start">
	            <a class="bee-grouped-pr__link bee-d-block" href="{{ product.url }}">{{ product.title }}{% if available_v.size < 2 and product.has_only_default_variant == false %} - {{ current_variant.title }}{% endif %}</a>
	            {%- if available_v.size < 2 -%}
	               <input data-groups-pr-sl name="items[][id]" data-cpprice="{{ cp_pr }}" data-price="{{ cu_pr }}" value="{{ current_variant.id }}" type="hidden">
	            {%- else -%}
	               <select data-groups-pr-sl name="items[][id]" autocomplete="off" data-cpprice="{{ cp_pr }}" data-price="{{ cu_pr }}">
	                {%- for variant in available_v -%}
	                   <option data-img="{{ variant.image | default: featured_image | image_url: width: 1 }}" data-cpprice="{{ variant.compare_at_price | default: variant.price }}" data-price="{{ variant.price }}" data-max="{% if variant.inventory_management == blank or variant.inventory_policy == 'continue' %}9999{% else %}{{ variant.inventory_quantity | default: 9999 }}{% endif %}" value="{{ variant.id }}"{% if variant.id == current_variant_id %} selected="selected"{% endif %}>{{ variant.title | escape }}</option>
	                {%- endfor -%}
	               </select>
	            {%- endif -%}
	         </td>
	         <td class="bee-grouped-pr__price bee-text-start">
	         	<div class="bee-grouped-pr__price" data-groups-item-price>{% if current_variant.compare_at_price > current_variant.price %}<del>{{ current_variant.compare_at_price | money }}</del> <ins>{{ current_variant.price | money }}</ins>{% else %}{{ current_variant.price | money }}{% endif %}</div>
	         </td>
	      </tr>
	      {%- endif -%}


	      {%- for item in product_list -%}
	      {%- liquid
	      if pid == item.id or item.available == false 
	      continue 
	      endif 
	      assign available_v = item.variants | where: "available"
	      assign available_v_1 = available_v.first
         assign cu_pr = available_v_1.price
         assign cp_pr = available_v_1.compare_at_price | default: cu_pr
         assign totalPrice = totalPrice | plus: cu_pr
         assign totalComparePrice = totalComparePrice | plus: cp_pr
         assign image = available_v_1.featured_image | default: item.featured_image
         assign img_url = image | image_url: width: 1
	      assign featured_image = item.featured_image
	      -%}
	      <tr data-groups-pr-item class="bee-grouped-pr-item">
	         <td class="bee-grouped-pr__img bee-pr" data-groups-img="{% increment indexData %}">
	            <a href="{{ item.url }}" class="bee-d-inline-block bee-grouped-pr__img-wrap bee-pr bee-bg-11" style="background: url({{ img_url }})">
	              <img class="lazyloadbee bee-lz--fadeIn" data-orginal="{{ img_url }}" data-src="{{ img_url }}" data-widths="[100,200,400,600,700,800,900,1000,1200,1400,1600]" data-optimumx="2" data-sizes="auto" src="{% render 'img_svg', w: image.width, h: image.height %}" width="{{ image.width }}" height="{{ image.height }}" alt="{{ image.alt | escape }}">
	            </a>
	         </td>
	         
	         <td class="bee-grouped-pr__qty">
	            <div data-quantity-wrapper class="bee-quantity-wrapper"> 
	               <button data-quantity-selector data-decrease-qty type="button" class="bee-quantity-selector is--minus"><svg focusable="false" class="icon icon--minus" viewBox="0 0 10 2" role="presentation"><path d="M10 0v2H0V0z" fill="currentColor"></path></svg></button>
	               <input data-groups-qty-value data-quantity-value type="number" class="bee-quantity-input" step="1" min="{{ min }}" max="{% if available_v_1.inventory_management == blank or available_v_1.inventory_policy == 'continue' %}9999{% else %}{{ available_v_1.inventory_quantity | default: 9999 }}{% endif %}" name="items[][quantity]" value="{{ qty }}" size="4" pattern="[0-9]*" inputmode="numeric">
	               <button data-quantity-selector data-increase-qty type="button" class="bee-quantity-selector is--plus"><svg focusable="false" class="icon icon--plus" viewBox="0 0 10 10" role="presentation"><path d="M6 4h4v2H6v4H4V6H0V4h4V0h2v4z" fill="currentColor" fill-rule="evenodd"></path></svg></button>
	            </div>
	         </td>
	         <td class="bee-grouped-pr__info bee-text-start">
	            <a class="bee-grouped-pr__link bee-d-block" href="{{ item.url }}">{{ item.title }}{% if available_v.size < 2 and item.has_only_default_variant == false %} - {{ available_v_1.title }}{% endif %}</a>
	            {%- if available_v.size < 2 -%}
	               <input data-groups-pr-sl name="items[][id]" data-cpprice="{{ cp_pr }}" data-price="{{ cu_pr }}" value="{{ available_v_1.id }}" type="hidden">
	            {%- else -%}
	               <select data-groups-pr-sl name="items[][id]" autocomplete="off" data-cpprice="{{ cp_pr }}" data-price="{{ cu_pr }}">
	                {%- for variant in available_v -%}
	                   <option data-img="{{ variant.image | default: featured_image | image_url: width: 1 }}" data-cpprice="{{ variant.compare_at_price | default: variant.price }}" data-price="{{ variant.price }}" data-max="{% if variant.inventory_management == blank or variant.inventory_policy == 'continue' %}9999{% else %}{{ variant.inventory_quantity | default: 9999 }}{% endif %}" value="{{ variant.id }}"{% if variant.id == current_variant_id %} selected="selected"{% endif %}>{{ variant.title | escape }}</option>
	                {%- endfor -%}
	               </select>
	            {%- endif -%}
	           
	         </td>
	         <td class="bee-grouped-pr__price bee-text-start">
	         	 <div class="bee-grouped-pr__price" data-groups-item-price>{% if available_v_1.compare_at_price > available_v_1.price %}<del>{{ available_v_1.compare_at_price | money }}</del> <ins>{{ available_v_1.price | money }}</ins>{% else %}{{ available_v_1.price | money }}{% endif %}</div>
	         </td>
	      </tr>
	      {%- endfor -%}

	  </tbody>
	</table>
	<div class="bee-product-form__buttons">
		{%- if bk_stts.show_text_price -%}		
			<div class="bee-grouped__text-total-price">
				<span class="bee-grouped__total-text" >{{ 'products.grouped.tt_price' | t }} </span><span class="bee-grouped__total-price" data-groups-total-price>{% if totalComparePrice > totalPrice %}<del>{{ totalComparePrice | money }}</del> <ins>{{ totalPrice | money }}</ins>{% else %}{{ totalPrice | money }}{% endif %}</span>
			</div>
		{%- endif -%}
		{%- if show_product_current and bk_stts.enable_wishlist -%}
            {%- liquid
                assign wishlist_mode = settings.wishlist_mode
                assign product.url   = product.url
                assign product_id    = product.id
             -%}
            <div class="bee-pr-buttons-action bee-d-lg-flex">
                <button data-animation-atc='{ "ani": "{{ bk_stts.ani }}","time": {{ bk_stts.time }}000 }' type="submit" name="add" data-atc-form class="bee-product-form__submit bee-btn bee-btn-base bee-btn-style-{{ bk_stts.button_style }} bee-btn-color-{{ bk_stts.button_color }} bee-w-100 bee-justify-content-center {% if bk_stts.button_style == 'default' or bk_stts.button_style == 'outline' %} bee-btn-effect-{{ bk_stts.button_effect }}{% endif %} bee-btn-loading__svg">
					{%- if bk_stts.btn_icon -%}<svg class="bee-btn-icon" viewBox="0 0 24 24"><use xlink:href="#bee-icon-atc"></use></svg>{%- endif -%}<span class="bee-btn-atc_text">{{ 'products.product.add_to_cart' | t }}</span>
					<span class="bee-loading__spinner" hidden>
						<svg width="16" height="16" hidden class="bee-svg-spinner" focusable="false" role="presentation" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="bee-path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle></svg>
					</span>
				</button>
                {%- if wishlist_mode == "1" -%}
                    <a href="{{product.url}}" data-tooltip="top" data-id="{{ product_id }}" rel="nofollow" class="bee-product-form__btn bee-pr-wishlist" data-action-wishlist>{%- if bk_stts.btn_icon -%}<span class="bee-svg-pr-icon"><svg viewBox="0 0 18 18"><use xlink:href="#bee-icon-wis"></use></svg></span>{%- endif -%}<span class="bee-text-pr">{{'products.product.add_to_wishlist' | t}}</span></a>
               
               {%- elsif wishlist_mode == "2" and shop.customer_accounts_enabled -%}
                    
                    {%- if customer -%}
                        <a href="{{ product.url }}" data-tooltip="top" data-id="{{ product_id }}" rel="nofollow" class="bee-product-form__btn bee-pr-wishlist" data-action-wishlist>
													{%- if bk_stts.btn_icon -%}
														<span class="bee-svg-pr-icon">
															<svg viewBox="0 0 18 18">
																<use xlink:href="#bee-icon-wis"></use>
															</svg>
														</span>
													{%- endif -%}
													<span class="bee-text-pr">{{ 'products.product.add_to_wishlist' | t }}</span></a>
                    {%- else -%}
                        <a href="{{ routes.account_login_url }}" data-tooltip="top" data-id="{{ product_id }}" rel="nofollow" class="bee-product-form__btn bee-pr-wishlist" data-action-wishlist-login>{%- if bk_stts.btn_icon -%}<span class="bee-svg-pr-icon"><svg viewBox="0 0 18 18"><use xlink:href="#bee-icon-wis"></use></svg></span>{%- endif -%}<span class="bee-text-pr">{{ 'products.product.login_to_wishlist' | t }}</span></a>
                     {%- endif -%}

               {%- elsif wishlist_mode == "3" and shop.customer_accounts_enabled -%}

                     {%- capture the_snippet_fave_icon %}{% render 'ssw-widget-faveicon' with product_id %}{% endcapture -%}
                     {%- unless the_snippet_fave_icon contains 'Liquid error' -%}<div class="bee-product-form__btn bee-pr-wishlist bee-pr-growavewishlist">{{ the_snippet_fave_icon }}</div>{%- endunless -%}
               
               {%- endif -%}
            </div>
        {%- else -%}
            <button data-animation-atc='{ "ani": "{{ bk_stts.ani }}","time": {{ bk_stts.time }}000 }' type="submit" name="add" data-atc-form class="bee-product-form__submit bee-btn bee-btn-base bee-btn-style-{{ bk_stts.button_style }} bee-btn-color-{{ bk_stts.button_color }} bee-w-100 bee-justify-content-center {% if bk_stts.button_style == 'default' or bk_stts.button_style == 'outline' %} bee-btn-effect-{{ bk_stts.button_effect }}{% endif %} bee-btn-loading__svg">
				{%- if bk_stts.btn_icon -%}<svg class="bee-btn-icon" viewBox="0 0 24 24"><use xlink:href="#bee-icon-atc"></use></svg>{%- endif -%}<span class="bee-btn-atc_text">{{ 'products.product.add_to_cart' | t }}</span>
				<span class="bee-loading__spinner" hidden>
					<svg width="16" height="16" hidden class="bee-svg-spinner" focusable="false" role="presentation" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="bee-path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle></svg>
				</span>
			</button>
        {%- endif -%}
		{%- if show_product_current and bk_stts.enable_compare and settings.enable_compe -%}
	        <div class="bee-pr-compare-wrap">
	           <a href="{{ product.url }}" data-tooltip="top" data-id="{{ product_id }}" rel="nofollow" class="bee-product-form__btn bee-pr-compare" data-action-compare><span class="bee-svg-pr-icon"><svg class="bee-svg-cp" viewBox="0 0 18 18"><use xlink:href="#bee-icon-cp"></use></svg></span><span class="bee-text-pr">{{ 'products.product.compare' | t }}</span></a>
	        </div>
        {%- endif -%}
	</div>
{%- endform -%}
{%- if bk_stts.ani != 'none' -%}<link href="{{ 'bee-ani-atc.min.css' | asset_url }}" rel="stylesheet" media="print" onload="this.media='all'">{%- endif -%}
</div>