{%- liquid

  assign bk_stts = block.settings  
  assign layout_des = bk_stts.layout_des


  assign show_img = settings.show_img
  assign isGrowaveWishlist = false
  if settings.wishlist_mode == "3" and shop.customer_accounts_enabled
    assign isGrowaveWishlist = true
  endif
  assign placeholder_img = settings.placeholder_img
  assign enable_pr_size = settings.enable_pr_size
  assign pr_size_pos = settings.pr_size_pos
  assign show_size_type = settings.show_size_type
  assign size_ck = settings.size_ck | append: ',size,sizes,Größe' 
  assign get_size = size_ck | downcase | replace: ' ,', ',' | replace: ', ', ',' | split: ',' | uniq

  assign enable_pr_color = settings.enable_pr_color
  assign show_cl_type = settings.show_color_type
  assign color_ck = settings.color_ck | append: ',color,colors,couleur,colour'
  assign get_color = color_ck | downcase | replace: ' ,', ',' | replace: ', ', ',' | split: ',' | uniq

  assign price_varies_style = settings.price_varies_style
  assign app_review = settings.app_review
  assign use_countdown = bk_stts.use_cdt
  
  assign use_pagination = bk_stts.use_pagination
  assign show_vendor = bk_stts.show_vendor
  assign enable_rating = settings.enable_rating
  if enable_rating
    assign rating_pos = bk_stts.rating_pos
  endif
  assign list_color_pos = bk_stts.list_color_pos
  assign list_size_pos = bk_stts.list_size_pos
  assign limit = bk_stts.limit
  assign product_des = bk_stts.product_des

  if bk_stts.btn_owl == "simple"
    assign arrow_icon = 1
  else
    assign arrow_icon = 2
  endif
  assign show_btn = bk_stts.show_btn
  if show_btn != "hidden"
    assign slider_btns = true
  else
    assign slider_btns = false
  endif
  assign show_dots = bk_stts.show_dots
  if show_dots != "hidden"
    assign slider_dots = true
  else
    assign slider_dots = false
  endif

   assign image_ratio = bk_stts.image_ratio
  if image_ratio == "ratioadapt"
    assign imgatt = ''
   else 
    assign imgatt = 'data-'
  endif
  
  assign isLoadmore = false
  if layout_des != "3"
    if use_pagination == "load-more"
      assign isLoadmore = true
      assign typeAjax = 'LmDefault'
    else
      assign typeAjax = 'AjaxDefault'
    endif
  else
     if use_pagination == "load-more"
      assign isLoadmore = true
      assign typeAjax = 'LmIsotope'
    else
      assign typeAjax = 'AjaxIsotope'
    endif
  endif
  
  
  assign enable_bar_lm = bk_stts.enable_bar_lm 
  assign results_count = collection.products_count 
 -%}

{%- if ck_q == false -%}[beeplitlz]{%- endif -%}
{%- paginate collection.products by limit -%}
<div data-not-main data-ntajax-options='{"id": "{{ sid }}","type": "{{ typeAjax }}","isProduct": true,"view": ""}' class="tabs-content-wrap">
 {%- if layout_des == "1" -%} 
  {{ 'bee-button-style.css' | asset_url | stylesheet_tag }}
  <link href="{{ 'bee-custom-effect.css' | asset_url }}" rel="stylesheet" media="print" onload="this.media='all'">
  <div data-collection-url="{{ collection.url }}" data-contentlm-replace class="bee_box_pr_grid bee-products bee-text-{{ bk_stts.content_align }} bee-hidden-atc-mb-{{ bk_stts.hidden_atc_mb }} bee-hidden-wishlist-mb-{{ bk_stts.hidden_wishlist_mb }} bee-hidden-qv-mb-{{ bk_stts.hidden_qv_mb }} bee-hidden-compare-mb-{{ bk_stts.hidden_compare_mb }} bee-hidden-color-mb-{{ bk_stts.hidden_pr_colors }} bee-hidden-size-mb-{{ bk_stts.hidden_pr_sizes }} bee-hidden-countdown-mb-{{ bk_stts.hidden_pr_countdown }} bee_{{ image_ratio }} bee_position_{{ bk_stts.image_position }} bee_{{ bk_stts.image_size }} bee-row bee-justify-content-center bee-row-cols-lg-{{ bk_stts.col_dk }} bee-row-cols-md-{{ bk_stts.col_tb }} bee-row-cols-{{ bk_stts.col_mb }} bee-gx-lg-{{ bk_stts.space_h_item }} bee-gy-lg-{{ bk_stts.space_v_item }} bee-gx-md-{{ bk_stts.space_h_item_tb }} bee-gy-md-{{ bk_stts.space_v_item_tb }} bee-gx-{{ bk_stts.space_h_item_mb }} bee-gy-{{ bk_stts.space_v_item_mb }}">
 {%- elsif layout_des == "2" -%} 
  {%- liquid
    assign icon_slider = bk_stts.icon_slider 
    if icon_slider == "1"
      assign view_box = "0 0 22 22"
    endif -%}
  <div data-collection-url="{{ collection.url }}" data-bee-resizeobserver class="bee-section-content bee_box_pr_slider bee-products bee-text-{{ bk_stts.content_align }} bee_{{ image_ratio }} bee_position_{{ bk_stts.image_position }} bee_{{ bk_stts.image_size }} bee-row bee-row-cols-lg-{{ bk_stts.col_dk }} bee-row-cols-md-{{ bk_stts.col_tb }} bee-row-cols-{{ bk_stts.col_mb }} bee-gx-lg-{{ bk_stts.space_h_item }} bee-gy-lg-{{ bk_stts.space_v_item }} bee-gx-md-{{ bk_stts.space_h_item_tb }} bee-gy-md-{{ bk_stts.space_v_item_tb }} bee-gx-{{ bk_stts.space_h_item_mb }} bee-gy-{{ bk_stts.space_v_item_mb }}
      {% if slider_btns %} bee-slider-btn__{{ bk_stts.btn_pos }}-content bee-slider-btn-{{show_btn}} bee-slider-btn-style-{{ bk_stts.btn_owl }} bee-slider-btn-{{ bk_stts.btn_shape }} bee-slider-btn-{{ bk_stts.btn_size }} bee-slider-btn-cl-{{ bk_stts.btn_cl }} bee-slider-btn-vi-{{ bk_stts.btn_vi }} {% endif %}
      {% if slider_dots %} bee-dots-style-{{ bk_stts.dot_owl }} bee-slider-dots-{{show_dots}} bee-dots-cl-{{ bk_stts.dots_cl }} bee-dots-round-{{ bk_stts.dots_round }} {% endif %} 
       bee-flickity-slider flickitybee" data-flickitybee-js='{"customIcon":{{icon_slider}}, "viewBox":"{{view_box}}", "setPrevNextButtons": true,"arrowIcon": "{{ arrow_icon }}","imagesLoaded": 0,"adaptiveHeight": 1, "contain": 1, "groupCells": "100%", "dragThreshold" : 5, "cellAlign": "left","wrapAround": {{ bk_stts.loop }},"prevNextButtons": {{ slider_btns }},"percentPosition": 1,"pageDots": {{ slider_dots }}, "autoPlay" : {{ bk_stts.au_time | times: 1000 }}, "pauseAutoPlayOnHover" : {{ bk_stts.au_hover }} }' style="--btn-distance: {{ bk_stts.btn_distance }}px;--space-dots: {{ bk_stts.dots_space }}px;--dots-bottom-pos: {{ bk_stts.dots_bottom_pos }}px;">
 {%- else -%} 
  {{ 'bee-button-style.css' | asset_url | stylesheet_tag }}
  <link href="{{ 'bee-custom-effect.css' | asset_url }}" rel="stylesheet" media="print" onload="this.media='all'">
  <div data-collection-url="{{ collection.url }}" data-bee-resizeobserver data-contentlm-replace class="isotopebee bee_box_pr_masonry {% if bk_stts.featured_item %}bee-has-featured-items{% endif %} bee-text-{{ bk_stts.content_align }} bee-hidden-atc-mb-{{ bk_stts.hidden_atc_mb }} bee-hidden-wishlist-mb-{{ bk_stts.hidden_wishlist_mb }} bee-hidden-qv-mb-{{ bk_stts.hidden_qv_mb }} bee-hidden-compare-mb-{{ bk_stts.hidden_compare_mb }} bee-hidden-color-mb-{{ bk_stts.hidden_pr_colors }} bee-hidden-size-mb-{{ bk_stts.hidden_pr_sizes }} bee-hidden-countdown-mb-{{ bk_stts.hidden_pr_countdown }} bee_{{ image_ratio }} bee_position_{{ bk_stts.image_position }} bee_{{ bk_stts.image_size }} bee-row bee-row-cols-lg-{{ bk_stts.col_dk }} bee-row-cols-md-{{ bk_stts.col_tb }} bee-row-cols-{{ bk_stts.col_mb }} bee-gx-lg-{{ bk_stts.space_h_item }} bee-gy-lg-{{ bk_stts.space_v_item }} bee-gx-md-{{ bk_stts.space_h_item_tb }} bee-gy-md-{{ bk_stts.space_v_item_tb }} bee-gx-{{ bk_stts.space_h_item_mb }} bee-gy-{{ bk_stts.space_v_item_mb }}" data-isotopebee-js='{ "itemSelector": ".bee-product", "layoutMode": "packery" }'>
 {%- endif -%}  
  {%- if collection != blank -%}
    {%- if layout_des == "3" and bk_stts.featured_item -%}
      {%- for product in collection.products  -%}
        {%- if forloop.first == true -%}
          {%- case product_des -%}
            {%- when '1' -%}
            {%- render 'pr-grid-item1', product: product, isGrowaveWishlist: isGrowaveWishlist, show_img: show_img, show_vendor: show_vendor, use_link_vendor: use_link_vendor, enable_pr_color: enable_pr_color, show_cl_type: show_cl_type, get_color: get_color, enable_pr_size: enable_pr_size, pr_size_pos: pr_size_pos, get_size: get_size, show_size_type: show_size_type, price_varies_style: price_varies_style, app_review: app_review, enable_rating: enable_rating, use_countdown: use_countdown, imgatt: imgatt, show_list_btns: false, placeholder_img: placeholder_img  -%}
            {%- when '2' -%}
            {%- render 'pr-grid-item2', product: product, isGrowaveWishlist: isGrowaveWishlist, show_img: show_img, show_vendor: show_vendor, use_link_vendor: use_link_vendor, enable_pr_color: enable_pr_color, show_cl_type: show_cl_type, get_color: get_color, enable_pr_size: enable_pr_size, pr_size_pos: pr_size_pos, get_size: get_size, show_size_type: show_size_type, price_varies_style: price_varies_style, app_review: app_review, enable_rating: enable_rating, use_countdown: use_countdown, imgatt: imgatt, show_list_btns: false, placeholder_img: placeholder_img  -%}
            {%- when '3' -%}
            {%- render 'pr-grid-item3', product: product, isGrowaveWishlist: isGrowaveWishlist, show_img: show_img, show_vendor: show_vendor, use_link_vendor: use_link_vendor, enable_pr_color: enable_pr_color, show_cl_type: show_cl_type, get_color: get_color, enable_pr_size: enable_pr_size, pr_size_pos: pr_size_pos, get_size: get_size, show_size_type: show_size_type, price_varies_style: price_varies_style, app_review: app_review, enable_rating: enable_rating, use_countdown: use_countdown, imgatt: imgatt, show_list_btns: false, placeholder_img: placeholder_img  -%}
            {%- when '4' -%}
            {%- render 'pr-grid-item4', product: product, isGrowaveWishlist: isGrowaveWishlist, show_img: show_img, show_vendor: show_vendor, use_link_vendor: use_link_vendor, enable_pr_color: enable_pr_color, show_cl_type: show_cl_type, get_color: get_color, enable_pr_size: enable_pr_size, pr_size_pos: pr_size_pos, get_size: get_size, show_size_type: show_size_type, price_varies_style: price_varies_style, app_review: app_review, enable_rating: enable_rating, use_countdown: use_countdown, imgatt: imgatt, show_list_btns: false, placeholder_img: placeholder_img  -%}
            {%- when '5' -%}
            {%- render 'pr-grid-item5', product: product, isGrowaveWishlist: isGrowaveWishlist, show_img: show_img, show_vendor: show_vendor, use_link_vendor: use_link_vendor, enable_pr_color: enable_pr_color, show_cl_type: show_cl_type, get_color: get_color, enable_pr_size: enable_pr_size, pr_size_pos: pr_size_pos, get_size: get_size, show_size_type: show_size_type, price_varies_style: price_varies_style, app_review: app_review, enable_rating: enable_rating, use_countdown: use_countdown, imgatt: imgatt, show_list_btns: false, placeholder_img: placeholder_img  -%}
            {%- when '6' -%}
            {%- render 'pr-grid-item6', product: product, isGrowaveWishlist: isGrowaveWishlist, show_img: show_img, show_vendor: show_vendor, use_link_vendor: use_link_vendor, enable_pr_color: enable_pr_color, show_cl_type: show_cl_type, get_color: get_color, enable_pr_size: enable_pr_size, pr_size_pos: pr_size_pos, get_size: get_size, show_size_type: show_size_type, price_varies_style: price_varies_style, app_review: app_review, enable_rating: enable_rating, use_countdown: use_countdown, imgatt: imgatt, show_list_btns: false, placeholder_img: placeholder_img  -%}
            {%- when '7' -%}
            {%- render 'pr-grid-item7', product: product, isGrowaveWishlist: isGrowaveWishlist, show_img: show_img, show_vendor: show_vendor, use_link_vendor: use_link_vendor, enable_pr_color: enable_pr_color, show_cl_type: show_cl_type, get_color: get_color, enable_pr_size: enable_pr_size, pr_size_pos: pr_size_pos, get_size: get_size, show_size_type: show_size_type, price_varies_style: price_varies_style, app_review: app_review, enable_rating: enable_rating, use_countdown: use_countdown, imgatt: imgatt, show_list_btns: false, placeholder_img: placeholder_img  -%}
            {%- endcase -%}
        {%- else -%}
          {%-  render 'pr-group-item' , product:product, enable_rating:enable_rating, imgatt:imgatt, placeholder_img:placeholder_img, price_varies_style:price_varies_style -%}      
        {%- endif -%}
      {%- endfor -%}
      {{ 'bee-collection-group.css' | asset_url | stylesheet_tag }}
    {%- else -%}
      {%- liquid
      case product_des
        when '1'
          render 'pr-grid-item1' for collection.products as product, product: product, isGrowaveWishlist: isGrowaveWishlist, show_img: show_img, show_vendor: show_vendor, use_link_vendor: use_link_vendor, enable_pr_color: enable_pr_color, show_cl_type: show_cl_type, get_color: get_color, enable_pr_size: enable_pr_size, get_size: get_size, show_size_type: show_size_type, price_varies_style: price_varies_style, app_review: app_review, enable_rating: enable_rating, use_countdown: use_countdown, imgatt: imgatt, show_list_btns: false, placeholder_img: placeholder_img
        when '2'
          render 'pr-grid-item2' for collection.products as product, product: product, isGrowaveWishlist: isGrowaveWishlist, show_img: show_img, show_vendor: show_vendor, use_link_vendor: use_link_vendor, enable_pr_color: enable_pr_color, show_cl_type: show_cl_type, get_color: get_color, enable_pr_size: enable_pr_size, get_size: get_size, show_size_type: show_size_type, price_varies_style: price_varies_style, app_review: app_review, enable_rating: enable_rating, use_countdown: use_countdown, imgatt: imgatt, show_list_btns: false, placeholder_img: placeholder_img
        when '3'
          render 'pr-grid-item3' for collection.products as product, product: product, isGrowaveWishlist: isGrowaveWishlist, show_img: show_img, show_vendor: show_vendor, use_link_vendor: use_link_vendor, enable_pr_color: enable_pr_color, show_cl_type: show_cl_type, get_color: get_color, enable_pr_size: enable_pr_size, get_size: get_size, show_size_type: show_size_type, price_varies_style: price_varies_style, app_review: app_review, enable_rating: enable_rating, use_countdown: use_countdown, imgatt: imgatt, show_list_btns: false, placeholder_img: placeholder_img
        when '4'
          render 'pr-grid-item4' for collection.products as product, product: product, isGrowaveWishlist: isGrowaveWishlist, show_img: show_img, show_vendor: show_vendor, use_link_vendor: use_link_vendor, enable_pr_color: enable_pr_color, show_cl_type: show_cl_type, get_color: get_color, enable_pr_size: enable_pr_size, get_size: get_size, show_size_type: show_size_type, price_varies_style: price_varies_style, app_review: app_review, enable_rating: enable_rating, use_countdown: use_countdown, imgatt: imgatt, show_list_btns: false, placeholder_img: placeholder_img
        when '5'
          render 'pr-grid-item5' for collection.products as product, product: product, isGrowaveWishlist: isGrowaveWishlist, show_img: show_img, show_vendor: show_vendor, use_link_vendor: use_link_vendor, enable_pr_color: enable_pr_color, show_cl_type: show_cl_type, get_color: get_color, enable_pr_size: enable_pr_size, get_size: get_size, show_size_type: show_size_type, price_varies_style: price_varies_style, app_review: app_review, enable_rating: enable_rating, use_countdown: use_countdown, imgatt: imgatt, show_list_btns: false, placeholder_img: placeholder_img
        when '6'
          render 'pr-grid-item6' for collection.products as product, product: product, isGrowaveWishlist: isGrowaveWishlist, show_img: show_img, show_vendor: show_vendor, use_link_vendor: use_link_vendor, enable_pr_color: enable_pr_color, show_cl_type: show_cl_type, get_color: get_color, enable_pr_size: enable_pr_size, get_size: get_size, show_size_type: show_size_type, price_varies_style: price_varies_style, app_review: app_review, enable_rating: enable_rating, use_countdown: use_countdown, imgatt: imgatt, show_list_btns: false, placeholder_img: placeholder_img
        when '7'
          render 'pr-grid-item7' for collection.products as product, product: product, isGrowaveWishlist: isGrowaveWishlist, show_img: show_img, show_vendor: show_vendor, use_link_vendor: use_link_vendor, enable_pr_color: enable_pr_color, show_cl_type: show_cl_type, get_color: get_color, enable_pr_size: enable_pr_size, get_size: get_size, show_size_type: show_size_type, price_varies_style: price_varies_style, app_review: app_review, enable_rating: enable_rating, use_countdown: use_countdown, imgatt: imgatt, show_list_btns: false, placeholder_img: placeholder_img
      endcase -%}
    {%- endif -%} 
  {%- else -%}
    {%- for i in (1..8) -%}
      <div class="bee-col-item bee-product bee-pr-grid bee-pr-style1 bee-pr-item">
        <div class="bee-product-inner" data-cacl-slide >
          <div class="bee-product-image">
            <a class="bee-d-block" data-cacl-slide href="/admin/products">{%- capture current -%}{%- cycle 1, 2, 3, 4, 5, 6 -%}{%- endcapture -%} 
            {{ 'product-' | append: current | placeholder_svg_tag: 'bee-placeholder-svg' }}</a>
          </div>
          <div class="bee-product-info">
            <h3 class="bee-product-title"><a href="/admin/products">{{ 'onboarding.product_title' | t }}</a></h3>
            <span class="bee-product-price"><del>$59.00</del><ins>$39.00</ins></span>
          </div>
        </div>
      </div>
    {%- endfor -%}
  {%- endif -%} 
</div>
  {%- if use_pagination != "none" -%}
    {%- if paginate.pages > 1 -%}
      <div data-wrap-lm class="bee-prs-footer bee-has-btn-{{ use_pagination }} {{ bk_stts.pagination_position }}" style="--pagination-distance:{{ bk_stts.pagination_distance }}px">
        {%- if isLoadmore -%} 
          {%- if paginate.next.is_link -%}
            <div data-wrap-lm class="bee-pagination-wrapper bee-w-100 {% if enable_bar_lm and bk_stts.style_bar_lm != "default" %} bee-pagination-has-{{bk_stts.style_bar_lm}}{% endif %}" style="--progress-bar-primary-cl:{{ bk_stts.progress_bar_primary_cl }};--progress-bar-second-cl:{{ bk_stts.progress_bar_second_cl }};--progress-bar-text-cl: {{ bk_stts.progress_bar_text_cl }};--progress-bar-active-cl: {{ bk_stts.progress_bar_active_cl }};">
              {%- assign current_pr_size = collection.products.size | plus: paginate.current_offset -%}
              {%- if enable_bar_lm -%}
                {%- if bk_stts.style_bar_lm == "default" -%}
                    <a data-load-more{% if use_pagination == 'infinite' %} data-load-onscroll {% endif %}  href="{{ paginate.next.url }}" class="bee-pr bee-loadmore-btn bee-btn-loading__svg bee-btn bee-btn-base bee-btn-style-{{ bk_stts.button_style }} bee-btn-size-{{ bk_stts.btns_size }} bee-btn-rounded-{{ bk_stts.btn_rounded }} bee-btn-icon-{{ bk_stts.btn_icon }} bee-btn-color-{{ bk_stts.btns_cl }} {% if bk_stts.button_style == 'default' or bk_stts.button_style == 'outline' %}bee-btn-effect-{{ bk_stts.button_effect }} {% endif %}">
                      <span class="bee-btn-atc_text">{% assign load_more_df = 'collections.pagination.load_more' | t %}{{ bk_stts.btn_replace | default: load_more_df | escape }}</span> 
                      {% if bk_stts.btn_icon %}
                        <svg class="bee-btn-icon" version="1.1" x="0px" y="0px" width="22px" height="22px" viewBox="0 0 22 22" style="enable-background:new 0 0 22 22;" xml:space="preserve">
                          <path d="M16.66,6.25c-0.41-0.37-1.04-0.33-1.41,0.08c-0.37,0.41-0.33,1.04,0.08,1.41L17.87,10H1c-0.55,0-1,0.45-1,1s0.45,1,1,1
                          h16.87l-2.53,2.25c-0.41,0.37-0.45,1-0.08,1.41C15.45,15.89,15.72,16,16,16c0.24,0,0.47-0.08,0.66-0.25L22.01,11L16.66,6.25z"></path>
                        </svg>
                      {% endif %}
                      <div class="bee-loading__spinner bee-dn">
                        <svg  width="16" height="16" aria-hidden="true" focusable="false" role="presentation" class="bee-svg__spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="bee-path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle></svg>
                      </div> 
                    </a>
                    <div data-wrap-lm-bar class="bee-lm-bar bee-btn-color-{{ bk_stts.btns_cl }}">
                      <div class="bee-lm-bar--progress bee-pr bee-oh"><span class="bee-lm-bar--current bee-pa bee-l-0 bee-r-0 bee-t-0 bee-b-0" style="width: {{ current_pr_size | times: 100.0 | divided_by: results_count }}%"></span></div>
                      <span class="bee-lm-bar--txt">{{ 'collections.pagination.bar_with_count_html' | t: current_count: current_pr_size,total_count: results_count }}</span>
                    </div>
                  {%- elsif bk_stts.style_bar_lm == "button" -%}
                    <a data-load-more{% if use_pagination == 'infinite' %} data-load-onscroll {% endif %}  href="{{ paginate.next.url }}" class="bee-pr bee-special-loadmore1 bee-loadmore-btn bee-btn-loading__svg bee-btn bee-btn-base bee-btn-style-outline bee-btn-size-{{ bk_stts.btns_size }} bee-btn-icon-{{ bk_stts.btn_icon }}">
                      <div class="bee-lm-bar--progress bee-pr bee-oh"><span class="bee-lm-bar--current bee-pa bee-l-0 bee-r-0 bee-t-0 bee-b-0" style="width: {{ current_pr_size | times: 100.0 | divided_by: results_count }}%"></span></div>
                      <span class="bee-btn-atc_text">{% assign load_more_df = 'collections.pagination.load_more' | t %}{{ bk_stts.btn_replace | default: load_more_df | escape }}</span> 
                      {% if bk_stts.btn_icon %}
                        <svg class="bee-btn-icon" version="1.1" x="0px" y="0px" width="22px" height="22px" viewBox="0 0 22 22" style="enable-background:new 0 0 22 22;" xml:space="preserve">
                          <path d="M16.66,6.25c-0.41-0.37-1.04-0.33-1.41,0.08c-0.37,0.41-0.33,1.04,0.08,1.41L17.87,10H1c-0.55,0-1,0.45-1,1s0.45,1,1,1
                          h16.87l-2.53,2.25c-0.41,0.37-0.45,1-0.08,1.41C15.45,15.89,15.72,16,16,16c0.24,0,0.47-0.08,0.66-0.25L22.01,11L16.66,6.25z"></path>
                        </svg>
                      {% endif %}
                      <div class="bee-loading__spinner bee-dn">
                        <svg  width="16" height="16" aria-hidden="true" focusable="false" role="presentation" class="bee-svg__spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="bee-path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle></svg>
                      </div> 
                    </a>
                    <div data-wrap-lm-bar class="bee-lm-bar bee-btn-color-{{ bk_stts.btns_cl }}">
                      <span class="bee-lm-bar--txt">{{ 'collections.pagination.bar_with_count_html' | t: current_count: current_pr_size,total_count: results_count }}</span>
                    </div>
                {%- else -%}
                  <a data-load-more{% if use_pagination == 'infinite' %} data-load-onscroll {% endif %}  href="{{ paginate.next.url }}" class="bee-pr bee-special-loadmore2 bee-loadmore-btn bee-btn-loading__svg bee-btn bee-btn-base bee-btn-size-{{ bk_stts.btns_size }} bee-btn-icon-{{ bk_stts.btn_icon }} ">
                    <div class="bee-circle-css" style="--border-w:2px;--cricle-degrees: {{ current_pr_size | times: 1.0 | divided_by: results_count | times: 360 }}deg;">
                      <div class="bee-circle--inner">
                        <span class="bee-btn-atc_text">
                          <span>{% assign load_more_df = 'collections.pagination.load_more' | t %}{{ bk_stts.btn_replace | default: load_more_df | escape }}</span>
                          {% if bk_stts.btn_icon %}
                            <svg class="bee-btn-icon" version="1.1" x="0px" y="0px" width="22px" height="22px" viewBox="0 0 22 22" style="enable-background:new 0 0 22 22;" xml:space="preserve">
                              <path d="M16.66,6.25c-0.41-0.37-1.04-0.33-1.41,0.08c-0.37,0.41-0.33,1.04,0.08,1.41L17.87,10H1c-0.55,0-1,0.45-1,1s0.45,1,1,1
                              h16.87l-2.53,2.25c-0.41,0.37-0.45,1-0.08,1.41C15.45,15.89,15.72,16,16,16c0.24,0,0.47-0.08,0.66-0.25L22.01,11L16.66,6.25z"></path>
                            </svg>
                          {% endif %}
                        </span>  
                      </div>
                      <div class="bee-circle--bg"></div>
                    </div>
                    <div class="bee-loading__spinner bee-dn">
                      <svg  width="16" height="16" aria-hidden="true" focusable="false" role="presentation" class="bee-svg__spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="bee-path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle></svg>
                    </div>
                  </a>
                {%- endif -%}
              {%- else -%}
                <a data-load-more{% if use_pagination == 'infinite' %} data-load-onscroll {% endif %}  href="{{ paginate.next.url }}" class="bee-pr bee-loadmore-btn bee-btn-loading__svg bee-btn bee-btn-base bee-btn-style-{{ bk_stts.button_style }} bee-btn-size-{{ bk_stts.btns_size }} bee-btn-rounded-{{ bk_stts.btn_rounded }} bee-btn-icon-{{ bk_stts.btn_icon }} bee-btn-color-{{ bk_stts.btns_cl }} {% if bk_stts.button_style == 'default' or bk_stts.button_style == 'outline' %}bee-btn-effect-{{ bk_stts.button_effect }} {% endif %}">
                  <span class="bee-btn-atc_text">{% assign load_more_df = 'collections.pagination.load_more' | t %}{{ bk_stts.btn_replace | default: load_more_df | escape }}</span> 
                  {% if bk_stts.btn_icon %}
                    <svg class="bee-btn-icon" version="1.1" x="0px" y="0px" width="22px" height="22px" viewBox="0 0 22 22" style="enable-background:new 0 0 22 22;" xml:space="preserve">
                      <path d="M16.66,6.25c-0.41-0.37-1.04-0.33-1.41,0.08c-0.37,0.41-0.33,1.04,0.08,1.41L17.87,10H1c-0.55,0-1,0.45-1,1s0.45,1,1,1
                      h16.87l-2.53,2.25c-0.41,0.37-0.45,1-0.08,1.41C15.45,15.89,15.72,16,16,16c0.24,0,0.47-0.08,0.66-0.25L22.01,11L16.66,6.25z"></path>
                    </svg>
                  {% endif %}
                  <div class="bee-loading__spinner bee-dn">
                    <svg  width="16" height="16" aria-hidden="true" focusable="false" role="presentation" class="bee-svg__spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="bee-path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle></svg>
                  </div> 
                </a>
              {%- endif -%}
            </div>
          {%- endif -%}
        {%- else -%}
          <a class="bee-viewall-btn bee-btn bee-btn-base bee-btn-style-{{ bk_stts.button_style }} bee-btn-size-{{ bk_stts.btns_size }} bee-btn-icon-{{ bk_stts.btn_icon }} bee-btn-color-{{ bk_stts.btns_cl }} {% if bk_stts.button_style == 'default' or bk_stts.button_style == 'outline' %}bee-btn-effect-{{ bk_stts.button_effect }}{% endif %}" href="{{ collection.url }}">{% assign view_all_df = 'collections.pagination.view_all' | t %}{{ bk_stts.btn_replace | default: view_all_df | escape }}{%- if bk_stts.btn_icon -%} <svg class="bee-btn-icon" viewBox="0 0 22 22"><use xlink:href="#bee-icon-btn"></use></svg>{%- endif -%}</a>
        {%- endif -%} 
      </div>
    {%- endif -%} 
  {%- endif -%} 
{%- endpaginate -%}
{%- if ck_q == false -%}[beeplitlz]{%- endif -%}