{%- comment -%}
menu_blocks
menu_splits

assign se_blocks_size_half = se_blocks_size | divided_by: 2
{%- endcomment -%}

{%- liquid
  assign root_url = routes.root_url
  assign showArrow = se_stts.arrow

  assign se_blocks_size = se_blocks.size
  assign se_blocks_size_half = se_blocks_size | divided_by: 2.0 | ceil
  if isSplit1
     assign _id = 1
     assign _text = 'end'
     assign _limit = se_blocks_size_half
     assign _offset = 0
  else 
     assign _id = 2
     assign _text = 'start'
     assign _limit = se_blocks_size
     assign _offset = se_blocks_size_half
  endif 
  assign bk_link_split = bk_link | split: '?' | first
  if request_path == bk_link_split and bk_link != blank
  	assign class_active = 'is--nav__active'
  else
  	assign class_active = ''
  endif
  if bk_link == '/' or bk_link == blank
     assign bk_link = root_url
  endif -%}


<nav class="bee-navigation bee-text-{{ _text }} bee-nav__{{ se_stts.hover }} bee-nav-arrow__{{ se_stts.arrow }}"><ul data-menu-nav id="bee-nav-ul{{ _id }}" class="bee-nav__ul bee-d-inline-flex bee-flex-wrap bee-align-items-center">
{%- for block in se_blocks offset: _offset limit: _limit -%}
   {%- assign bk_stts = block.settings -%}
   {%- assign blockID = block.id -%}

   {%- case block.type -%}
		{%- when 'mega' -%}
		  {% assign pd_content = bk_stts.padding_inner_bn | remove: ' ' | split: ',' %}
	      <li id="item_{{ blockID }}" data-placement="{{ placement }}" class="bee-type__{{ block.type }} menu-width__{{ bk_stts.wid }} bee-menu-item has--children menu-has__offsets {{class_active}}" {{ block.shopify_attributes }} style="--pd-mg-t: {{ pd_content[0] | default: '30px' }}; --pd-mg-r: {{ pd_content[1] | default: '50px' }}; --pd-mg-b: {{ pd_content[2] | default: '50px' }}; --pd-mg-l: {{ pd_content[3] | default: '50px' }};">
	         <a class="bee-lh-1 bee-d-flex bee-align-items-center bee-pr" href="{{ bk_stts.url | default: root_url }}" target="{{ bk_stts.open_link }}"{% if bk_stts.cus_cl %} style="color: {{ bk_stts.cl }}"{% endif %}>{%- render 'title_menu', bk_stts: bk_stts, showArrow: showArrow -%}</a>
	         <div id="content_{{ blockID }}" class="bee-sub-menu bee-pa bee-op-0 bee-pe-none">
	         	<div class="bee-container"{% if  bk_stts.wid != 'full nav_beecnt' %} style="width: {{ bk_stts.cus_wid }}px"{% endif %}>
	         	{% if bk_stts.mg_sub_hd != blank and bk_stts.use_sub_heading %}<h5 class="bee-heading-menu bee-d-block">{{ bk_stts.mg_sub_hd }}</h5>{% endif %}
	            <div class="bee-row bee-gx-{{ bk_stts.r_s_h_item }} bee-gy-{{ bk_stts.r_s_v_item }} bee-lazy_menu{% if bk_stts.enable_packery %} isotopebee isotopebee-later{% endif %}" data-id="{{ bk_stts.id }}" data-isotopebee-js='{ "itemSelector": ".bee-sub-column-item", "layoutMode": "packery","gutter": 0 }'><div class="bee-loading--bg"></div></div>
	            </div>
	         </div>
	      </li>

		{%- when 'drop' -%}
		{% assign pd_content = bk_stts.padding_inner_bn | remove: ' ' | split: ',' %}
	      <li id="item_{{ blockID }}" data-placement="{{ placement }}" class="bee-type__{{ block.type }} bee-menu-item has--children menu-has__offsets {{class_active}}" style="--bee-w-drop: {{ bk_stts.cus_wid }}px;--pd-mg-t: {{ pd_content[0] | default: '20px' }}; --pd-mg-r: {{ pd_content[1] | default: '30px' }}; --pd-mg-b: {{ pd_content[2] | default: '20px' }}; --pd-mg-l: {{ pd_content[3] | default: '30px' }};" {{ block.shopify_attributes }}>
	         <a class="bee-lh-1 bee-d-flex bee-align-items-center bee-pr" href="{{ bk_stts.url | default: root_url }}" target="{{ bk_stts.open_link }}"{% if bk_stts.cus_cl %} style="color: {{ bk_stts.cl }}"{% endif %}>{%- render 'title_menu', bk_stts: bk_stts, showArrow: showArrow -%}</a>
	         {%- if linklists[bk_stts.menu].links.size > 0 -%}
	         <div id="content_{{ blockID }}" class="bee-sub-menu bee-pa bee-op-0 bee-pe-none">
	            {%- if admin_sp == false -%}
	               <div class="bee-lazy_menu" data-handle="{{ bk_stts.menu }}"><div class="bee-loading--bg"></div></div>
	            {%- else -%}
	               <div class="bee-lazy_menu">{%- render 'menu_dropdown', handle_menu: bk_stts.menu -%}</div>
	            {%- endif -%}
	         </div>
	        {%- endif -%}
	      </li>

		{%- else -%}
		  <li id="item_{{ blockID }}" class="bee-type__simple bee-menu-item {{class_active}}" {{ block.shopify_attributes }}><a class="bee-lh-1 bee-d-flex bee-align-items-center bee-pr" href="{% if bk_stts.url contains '#homebee' %}{{ root_url }}{% else %}{{ bk_stts.url }}{% endif %}" target="{{ bk_stts.open_link }}"{% if bk_stts.cus_cl %} style="color: {{ bk_stts.cl }}"{% endif %}>{%- render 'title_menu', bk_stts: bk_stts, showArrow: false -%}</a></li>

	{%- endcase -%}

{%- endfor -%}
</ul></nav>