{%- liquid 
assign pr_url = product.url
assign pid = product.id
assign isDefault = product.has_only_default_variant
assign pr_variants = product.variants
assign current_variant = pr_variants.first
assign isPreoder = false
if settings.disable_pr_tooltip
  assign disable_pr_tooltip = "disable"
endif

if product.tags contains 'isPreoder' or current_variant.inventory_policy == 'continue' and current_variant.inventory_management == 'shopify' and current_variant.inventory_quantity <= 0
   assign isPreoder = true
endif

if isPreoder
  assign cur_qty = 9999
elsif current_variant.inventory_management == 'shopify'
   assign cur_qty = current_variant.inventory_quantity | default: 9999
else
   assign cur_qty = 9999
endif

assign meta_theme = product.metafields.theme
assign cus_qty = meta_theme.cus_qty | default:1
assign isExternal = false
assign external_title = meta_theme.external_title 
assign external_link = meta_theme.external_link
if external_title != blank and external_link != blank 
   assign isExternal = true 
endif
assign isGrouped = false 
if  meta_theme.grouped != blank
   assign isGrouped = true
endif

assign custom_badge = meta_theme.custom_badge
if custom_badge != blank
   assign arr_badge = custom_badge | replace: '  ', '' | replace: ' ;', ';' | replace: '; ', ';' | split: ';' | join: 'nt-bee' | escape | split: 'nt-bee'
   assign arr_badge_handle = arr_badge | join: 'nt-bee' | handle | split: 'nt-bee'
endif

assign countdown = time_meta | default: meta_theme.countdown | date: '%Y/%m/%d %H:%M:%S'
if use_countdown and countdown != blank
  assign use_pr_countdown = true
endif
assign image = product.featured_media | default: placeholder_img

assign color_count = 0
assign size_count = 0

if isDefault == false and enable_pr_color or enable_pr_size
   assign pr_options = product.options_with_values
   
   assign img_variants = pr_variants | where: "featured_image"
   assign available_variants = product.variants | where: "available"
   for option in pr_options
      assign name = option.name | downcase

      if enable_pr_color and get_color contains name and color_count == 0

        assign pr_option_color = 'option' | append: forloop.index
        assign color_variants_avai = available_variants | map: pr_option_color | uniq
        assign featured_imgs = img_variants | map: 'featured_image'
        
        assign color_variants = option.values
        if show_cl_type == '1'
          assign color_count = color_variants.size
        else
          if pr_options.size == 1
            assign color_variants = color_variants_avai
          endif
          assign color_count = color_variants_avai.size
        endif
       

      elsif enable_pr_size and get_size contains name and size_count == 0

        assign pr_option_size = 'option' | append: forloop.index 
        assign size_variants_avai = available_variants | map: pr_option_size | uniq
        assign size_variants = option.values
        if show_size_type == '1'
          assign size_count = size_variants.size
        else
          if pr_options.size == 1
            assign size_variants = size_variants_avai
          endif
          assign size_count = size_variants_avai.size
        endif

      endif

   endfor
endif -%}
  
<div class="bee-product bee-pr-grid bee-pr-style6 bee-pr-{{ pid }} bee-col-lg-{{ col_dk }} bee-col-item {% if product.available == false %} bee-pr-soldout {% endif %}{% if isExternal %} bee-pr-external {% endif %}{% if isGrouped %} bee-pr-grouped {% endif %}" data-product-options='{ "id": "{{ pid }}","cusQty":"{{ cus_qty }}","available": {{ product.available }}, "handle": "{{ product.handle }}", "isDefault": {{ isDefault }}, "VariantFirstID": {{ current_variant.id }}, "customBadge": {{ arr_badge | json }}, "customBadgeHandle": {{ arr_badge_handle | json }},"dateStart": {{ product.created_at | date: "%s" }}, "compare_at_price": {{ current_variant.compare_at_price | json }},"price": {{ current_variant.price | json }}, "isPreoder": {{ isPreoder }},"isExternal": {{ isExternal }}{% if isExternal %},"external_title": {{ external_title | json }},"external_link": "{{ external_link | escape }}"{% endif %},"image2": {% if product.media[1] != blank %}{{ product.media[1] | image_url: width: 1 | json }},"alt": {{ product.media[1].alt | escape | json }}{% else %}false{% endif %},"isGrouped": {{ isGrouped }},"maxQuantity": {% if isDefault and isPreoder == false %}{{ cur_qty }}{% else %}9999{% endif %} }'>
  <div class="bee-product-inner">
    <div data-cacl-slide class="bee-product-image bee-pr bee-oh">
      {%- if image != blank %}{% render 'product-img', image: image, imgatt: imgatt -%}{%- endif -%}
      <div data-product-badge data-sort="sale,new,soldout,preOrder,custom" class="bee-product-badge"></div>
      <div class="bee-product-btns2">
        {%- if isGrowaveWishlist -%} 
          {%- capture the_snippet_fave_icon %}{% render 'ssw-widget-faveicon' with pid %}{% endcapture -%}
          {%- unless the_snippet_fave_icon contains 'Liquid error' -%}<div class="bee-pr-item-btn bee-pr-wishlist is--growave">{{ the_snippet_fave_icon }}</div>{%- endunless -%}
        {%- else -%}
          <div data-replace-wishlist data-tooltip{{ disable_pr_tooltip }}="left"></div>
        {%- endif -%}
        <div data-replace-quickview data-tooltip{{ disable_pr_tooltip }}="left"></div>
        <div data-replace-compare data-tooltip{{ disable_pr_tooltip }}="left"></div>
      </div>
      <div class="bee-product-btns">
        <div data-replace-atc data-has-qty></div>
      </div>
      {%- if size_count > 0 or use_pr_countdown -%}
        <div class="bee-pr-group-sizes">
          {%- if size_count > 0 %}{%- render 'product-size', size_variants: size_variants, size_variants_avai: size_variants_avai, show_size_type: show_size_type -%}{% endif -%}
          {% if use_pr_countdown -%}{%- render 'product-countdown',countdown: countdown, product_des: "6" -%}{%- endif -%}
        </div>
      {%- endif -%}
      <a data-pr-href class="bee-full-width-link" href="{{ pr_url }}"></a>
    </div>
    <div class="bee-product-info">
      <div class="bee-product-main-info bee-w-100">
        {% if enable_rating %}
          {%- render 'product-rating', product: product, app_review: app_review -%}
        {% endif %}
          {%- if product.vendor.size > 0 and show_vendor -%}{% if use_link_vendor %}{% assign pr_vendor_handle = product.vendor | handle %}{% assign collection_vendor = collections[pr_vendor_handle] %}{% endif %}<div class="bee-product-vendor"><a href="{% if use_link_vendor and collection_vendor.url != blank %}{{ collection_vendor.url }}{% else %}{{ product.vendor | url_for_vendor }}{% endif %}">{{ product.vendor }}</a></div>{%- endif -%}
        <h3 class="bee-product-title"><a data-pr-href href="{{ pr_url }}">{{ product.title }}</a></h3>
        {%- if color_count > 0 %}<div class="bee-product-colors" data-color-options='{ "color_count": {{ color_count }}, "color_variants": {{ color_variants | json }}, "color_variants_avai":{{color_variants_avai | join: 'nt-bee' | escape | split: 'nt-bee' | json}}, "color_variants_handle": {{ color_variants | join: 'nt-bee' | handle | split: 'nt-bee' | json }}, "img_variants": {{ featured_imgs | json }}, "id_variants": {{ img_variants | map: 'id' | json }}, "img_ratios": {{ featured_imgs | map: 'aspect_ratio' | json }}, "img_options": {{ img_variants | map: pr_option_color | json }} }'><span class="bee-pr-color__item"><span class="bee-pr-color__value bg_color_ntloading"></span></span><span class="bee-pr-color__item"><span class="bee-pr-color__value bg_color_ntloading"></span></span><span class="bee-pr-color__item"><span class="bee-pr-color__value bg_color_ntloading"></span></span></div>{% endif -%}
        {%- render 'product-price', product: product, price_varies_style: price_varies_style, type: 'card', isGrouped: isGrouped -%}
        {%- if show_list_btns -%}
          {%- assign description_excerpt = meta_theme.description_excerpt -%}
          <div class="bee-rte">{% if description_excerpt != blank %}{{ description_excerpt }}{% else %}{{ product.content | strip_html | truncatewords: 30 }}{% endif %}</div>
        {%- endif -%}
      </div>
      {%- if show_list_btns -%}
        <div class="bee-product-btns bee-product-info__btns">
          <div class="bee-list-price-info">
            {%- render 'product-price', product: product, price_varies_style: price_varies_style, type: 'card', isGrouped: isGrouped -%}
            <div data-product-badge data-sort="sale" class="bee-product-badge"></div>
          </div>
          {%- if settings.enable_atc %}{%- render 'product-atc', pr_available: product.available, pr_url: pr_url, isDefault: isDefault, isPreoder: isPreoder, isExternal: isExternal, external_title: external_title, external_link: external_link, isGrouped: isGrouped, current_variant: current_variant, pid: pid, cus_qty: cus_qty, cur_qty: cur_qty -%}{% endif %}
          {%- if isGrowaveWishlist -%} 
            {%- capture the_snippet_fave_icon %}{% render 'ssw-widget-faveicon' with pid %}{% endcapture -%}
            {%- unless the_snippet_fave_icon contains 'Liquid error' -%}<div class="bee-pr-item-btn bee-pr-wishlist is--growave">{{ the_snippet_fave_icon }}</div>{%- endunless -%}
          {%- else -%}
            <div data-replace-wishlist></div>
          {%- endif -%}
        </div>
      {% endif %}
    </div>
  </div>
</div>