{%- liquid 
assign pr_url = product.url
assign pid = product.id
assign isDefault = product.has_only_default_variant
assign pr_variants = product.variants
assign current_variant = pr_variants.first
assign isPreoder = false
if settings.disable_pr_tooltip
  assign disable_pr_tooltip = "disable"
endif

if product.tags contains 'isPreoder' or current_variant.inventory_policy == 'continue' and current_variant.inventory_management == 'shopify' and current_variant.inventory_quantity <= 0
   assign isPreoder = true
endif

if isPreoder
  assign cur_qty = 9999
elsif current_variant.inventory_management == 'shopify'
   assign cur_qty = current_variant.inventory_quantity | default: 9999
else
   assign cur_qty = 9999
endif

assign meta_theme = product.metafields.theme
assign cus_qty = meta_theme.cus_qty | default:1
assign isExternal = false
assign external_title = meta_theme.external_title 
assign external_link = meta_theme.external_link
if external_title != blank and external_link != blank 
   assign isExternal = true 
endif
assign isGrouped = false 
if  meta_theme.grouped != blank
   assign isGrouped = true
endif

assign custom_badge = meta_theme.custom_badge
if custom_badge != blank
   assign arr_badge = custom_badge | replace: '  ', '' | replace: ' ;', ';' | replace: '; ', ';' | split: ';' | join: 'nt-bee' | escape | split: 'nt-bee'
   assign arr_badge_handle = arr_badge | join: 'nt-bee' | handle | split: 'nt-bee'
endif

assign countdown = time_meta | default: meta_theme.countdown | date: '%Y/%m/%d %H:%M:%S'
if use_countdown and countdown != blank
  assign use_pr_countdown = true
endif
assign image = product.featured_media | default: placeholder_img

assign color_count = 0
assign size_count = 0

if isDefault == false and enable_pr_color or enable_pr_size
   assign pr_options = product.options_with_values
   
   assign img_variants = pr_variants | where: "featured_image"
   if show_cl_type == '2' or show_size_type == '2'
      assign available_variants = product.variants | where: "available"
   endif 
   for option in pr_options
      assign name = option.name | downcase
      if get_color contains name and color_count == 0 and enable_pr_color
        
        assign pr_option_color = 'option' | append: forloop.index 
        assign featured_imgs = img_variants | map: 'featured_image'
        if show_cl_type == '1'
           assign color_variants = option.values
        else
          assign color_variants = available_variants | map: pr_option_color | uniq
        endif
        assign color_count = color_variants.size
      elsif get_size contains name and size_count == 0 and enable_pr_size
        if show_size_type == '1'
          assign size_variants = option.values
        else
          assign pr_option_size = 'option' | append: forloop.index 
          assign size_variants = available_variants | map: pr_option_size | uniq
        endif
        assign size_count = size_variants.size
      endif
   endfor
endif
-%}
  
<div class="bee-product bee-pr-grid bee-pr-packery bee-pr-style2 bee-pr-{{ pid }} bee-col-md-{{ col_tb }} bee-col-{{ col_mb }} bee-col-item {% if product.available == false %} bee-pr-soldout {% endif %}{% if isExternal %} bee-pr-external {% endif %}{% if isGrouped %} bee-pr-grouped {% endif %}" data-product-options='{ "id": "{{ pid }}","available": {{ product.available }}, "handle": "{{ product.handle }}", "isDefault": {{ isDefault }}, "VariantFirstID": {{ current_variant.id }}, "customBadge": {{ arr_badge | json }}, "customBadgeHandle": {{ arr_badge_handle | json }},"dateStart": {{ product.created_at | date: "%s" }}, "compare_at_price": {{ current_variant.compare_at_price | json }},"price": {{ current_variant.price | json }}, "isPreoder": {{ isPreoder }},"isExternal": {{ isExternal }}{% if isExternal %},"external_title": {{ external_title | json }},"external_link": "{{ external_link | escape }}"{% endif %},"image2": {% if product.media[1] != blank %}{{ product.media[1] | image_url: width: 1 | json }},"alt": {{ product.media[1].alt | escape | json }}{% else %}false{% endif %},"isGrouped": {{ isGrouped }},"maxQuantity": {% if isDefault and isPreoder == false %}{{ cur_qty }}{% else %}9999{% endif %} }' style="--item-bg: {{ item_bg }};">
  <div class="bee-product-inner bee-pr bee-oh">
    <div class="bee-pr-top-info">
      <h3 class="bee-product-title"><a data-pr-href href="{{ pr_url }}">{{ product.title }}</a></h3>
      <p class="bee-product-des">{% if description_excerpt != blank %}{{ description_excerpt }}{% else %}{{ product.content | strip_html | truncatewords: 6 }}{% endif %}</p>
    </div>
    <div data-cacl-slide class="bee-product-image bee-pr bee-oh">
      {%- if image != blank %}{% render 'product-img', image: image, imgatt: imgatt -%}{%- endif -%}
      <div data-product-badge data-sort="sale,new,soldout,preOrder,custom" class="bee-product-badge"></div>
      <div class="bee-product-btns">
        <div data-replace-atc data-tooltip{{ disable_pr_tooltip }}="top"></div>
        <div data-replace-quickview data-tooltip{{ disable_pr_tooltip }}="top"></div>
        <div data-replace-compare data-tooltip{{ disable_pr_tooltip }}="top"></div>
      </div>
      <div class="bee-product-btns2">
        {%- if isGrowaveWishlist -%} 
          {%- capture the_snippet_fave_icon %}{% render 'ssw-widget-faveicon' with pid %}{% endcapture -%}
          {%- unless the_snippet_fave_icon contains 'Liquid error' -%}<div class="bee-pr-item-btn bee-pr-wishlist is--growave">{{ the_snippet_fave_icon }}</div>{%- endunless -%}
        {%- else -%}
          <div data-replace-wishlist data-tooltip{{ disable_pr_tooltip }}="left"></div>
        {%- endif -%}
      </div>
      <a data-pr-href class="bee-full-width-link" href="{{ pr_url }}"></a>
    </div>
    {%- render 'product-price', product: product, price_varies_style: price_varies_style, type: 'card', isGrouped: isGrouped -%}
  </div>
</div>