{%- liquid
    assign pr_url = product.url
    assign placeholder_img = settings.placeholder_img
	assign image = product.featured_media | default: placeholder_img
 -%}
<div class="bee-col-item bee-space-item-inner bee-widget__pr">
	<div class="bee-widget_img_pr">
		{%- if image != blank -%}
			<a class="bee-d-block bee-pr bee-oh bee_ratio" href="{{ pr_url }}" style="{{ imgatt }}--aspect-ratioapt: {{ image.aspect_ratio | default: 1 }}">
				<img class="lazyloadbee" data-src="{{ image | image_url: width: 1 }}" data-widths="[100,200,400,600,700,800,900,1000,1200,1400,1600]" data-optimumx="2" data-sizes="auto" src="{% render 'img_svg', w: image.width, h: image.height %}" width="{{ image.width }}" height="{{ image.height }}" alt="{{ image.alt | escape }}">
				<span class="lazyloadbee-loader is-bg-img" style="background: url({{ image | image_url: width: 1 }});"></span>
			</a>
		{%- endif -%} 
	</div>
	<div class="bee-widget_if_pr">
		{% if rating_pos == "1" %}
          {%- render 'product-rating', product: product, app_review: app_review -%}
        {% endif %}
		<a href="{{ pr_url }}" class="bee-d-block bee-widget__pr-title">{{ product.title }}</a>
		{%- render 'product-price', class_price: 'bee-widget__pr-price', product: product, price_varies_style: price_varies_style, type: 'card', isGrouped: false -%}
		{% if rating_pos == "2" %}
          {%- render 'product-rating', product: product, app_review: app_review -%}
        {% endif %}
	</div>
</div>