{%- comment -%}
{%- render 'product-atc', pr_available: product.available, pr_url: pr_url, isDefault: isDefault, isPreoder: isPreoder,
      isExternal: isExternal, external_title: external_title, external_link: external_link, isGrouped: isGrouped, current_variant: current_variant, cus_qty: cus_qty -%}
{%- endcomment -%}

{%- if isExternal -%}
   <a href="{{ external_link }}" class="bee-pr-item-btn bee-pr-addtocart" rel="nofollow" target="_blank"><span class="bee-svg-pr-icon"><svg viewBox="0 0 24 24"><use xlink:href="#bee-icon-external"></use></svg></span><span class="bee-text-pr">{{ external_title }}</span></a>

{%- elsif pr_available == false -%}
   <a href="{{ pr_url }}" class="bee-pr-item-btn bee-pr-addtocart" rel="nofollow"><span class="bee-svg-pr-icon"><svg viewBox="0 0 24 24"><use xlink:href="#bee-icon-link"></use></svg></span><span class="bee-text-pr">{{ 'products.product_card.read_more' | t }}</span></a>

{%- elsif isGrouped -%}
   <a href="{{ pr_url }}" class="bee-pr-item-btn bee-pr-addtocart" rel="nofollow"><span class="bee-svg-pr-icon"><svg viewBox="0 0 24 24"><use xlink:href="#bee-icon-atc"></use></svg></span><span class="bee-text-pr">{{ 'products.product_card.view' | t }}</span></a>

{%- elsif isDefault -%}
   {%- capture capture_btn_atc -%}
     <a href="{{ pr_url }}"class="bee-pr-item-btn bee-pr-addtocart" data-variant-id="{{ current_variant.id }}" data-action-atc rel="nofollow"><span class="bee-svg-pr-icon"><svg viewBox="0 0 24 24"><use xlink:href="#bee-icon-atc"></use></svg></span><span class="bee-text-pr">{% if isPreoder %}{{ 'products.product.pre_order' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endif %}</span></a>
   {%- endcapture -%}
   
   {%- if settings.show_qty -%}
      <div class="bee-product-atc-qty"><div data-quantity-wrapper class="bee-quantity-wrapper bee-quantity-pr-item"> 
           <button data-quantity-selector data-decrease-qty type="button" class="bee-quantity-selector is--minus"><svg focusable="false" class="icon icon--minus" viewBox="0 0 10 2" role="presentation"><path d="M10 0v2H0V0z" fill="currentColor"></path></svg></button>
           <input data-quantity-value type="number" class="bee-quantity-input" step="1" min="{{cus_qty}}" max="{{ cur_qty }}" name="quantity" value="{{cus_qty}}" size="4" pattern="[0-9]*" inputmode="numeric">
           <button data-quantity-selector data-increase-qty type="button" class="bee-quantity-selector is--plus"><svg focusable="false" class="icon icon--plus" viewBox="0 0 10 10" role="presentation"><path d="M6 4h4v2H6v4H4V6H0V4h4V0h2v4z" fill="currentColor" fill-rule="evenodd"></path></svg></button>
         </div>
         {{ capture_btn_atc }}</div>
   {%- else -%}
      {{ capture_btn_atc }}
   {%- endif -%}
   
{%- elsif settings.enable_quickshop -%}
   <a href="{{ pr_url }}"class="bee-pr-item-btn bee-pr-addtocart" rel="nofollow" data-action-quickshop data-id="{{ pid }}"><span class="bee-svg-pr-icon"><svg viewBox="0 0 24 24"><use xlink:href="#bee-icon-atc"></use></svg></span><span class="bee-text-pr">{{ 'products.product_card.quick_shop' | t }}</span></a>

{%- else -%}
   <a href="{{ pr_url }}"class="bee-pr-item-btn bee-pr-addtocart" rel="nofollow"><span class="bee-svg-pr-icon"><svg viewBox="0 0 24 24"><use xlink:href="#bee-icon-atc"></use></svg></span><span class="bee-text-pr">{{ 'products.product_card.select_option' | t }}</span></a>

{%- endif -%}