{%- if section.settings.show_announcement -%}
  {%- liquid
    assign theme_name = 'nitro'
    assign image_fix = image_nt | image_tag
    assign se_stts = section.settings
    assign stt_image_bg = se_stts.image_bg
    assign padding_section = se_stts.pd | remove: ' ' | split: ',' -%}
  {%- capture cap_btn -%}{%- if se_stts.close != '0' -%}<div class="bee-col-item bee-col-auto bee-d-none bee-d-md-block"><button class="bee-announcement-bar__close bee-op-0"><svg role="presentation" class="bee-iconsvg-close" viewBox="0 0 16 14"><path d="M15 0L1 14m14 0L1 0" stroke="currentColor" fill="none" fill-rule="evenodd"></path></svg> {{ 'sections.announcement.close' | t }}</button></div>{%- endif -%}{%- endcapture -%}
  {{ 'pre_flickitybee.min.css' | asset_url | stylesheet_tag }}

  {%- style -%}
    {%- assign bg_op = se_stts.bg_op | divided_by: 100.0 -%}
    .bee-announcement-bar {min-height: {{ se_stts.height }}px;font-size: {{ se_stts.fontsize }}px;letter-spacing: {{ se_stts.ls_sp }}px;}
    .bee-announcement-bar::before {content:"";position: absolute;top: 0;left: 0;right: 0;bottom: 0;background: {{ se_stts.bg | color_modify: 'alpha', bg_op }};pointer-events: none;}
    .bee-announcement-bar__wrap,.bee-announcement-bar__wrap a { color: {{ se_stts.cl }} }
    .bee-announcement-bar__wrap {padding: 0 10px;min-height: {{ se_stts.height }}px}
    .bee-announcement-bar__item p a { z-index: 5;position: relative; }.bee-announcement-bar__item p {display: inline-block;margin-bottom: 0;position: relative;z-index: 6;} .bee-announcement-bar__item strong {font-size: 14px;font-weight: 600;}
    .bee-announcement-bar__close { color: {{ se_stts.cl_btn }};padding: 0;background-color: transparent;line-height: 1;transition: .2s;font-size: {{ se_stts.fontsize }}px; }
    .bee-announcement-bar__close:hover,.bee-announcement-bar__close:focus { background-color: transparent !important; opacity: .7; color: {{ se_stts.cl_btn }} !important; }
    .bee-announcement-bar .bee-col-auto { line-height: 1; z-index: 2; }.bee-announcement-bar__item p a:hover { opacity: .7 }.bee-announcement-bar.bee-type-close-1 .bee-iconsvg-close {width: 9px;height: 9px;stroke-width: 2px;}.bee-announcement-bar.bee-type-close-2 .bee-announcement-bar__close { font-size: 0 !important }.bee-announcement-bar.bee-type-close-3 .bee-iconsvg-close { display: none !important }.bee-announcement-bar__close.bee-op-0 { opacity: 0 !important; }
    svg.bee-icon-arrow {
      width: 12px;display: inline-block;
    }
    .bee-announcement-bar__item .bee-icon-arrow { 
      -webkit-transition: .2s ease-in-out;
      transition: -webkit-transform .2s ease-in-out,transform .2s ease-in-out;
    }
    .bee-announcement-bar__item:hover .bee-icon-arrow {
       transform: translateX(0.25rem);
    }
    .bee-announcement-bar .bee-countdown-enabled {min-height: 20px;display: inline-block;background: var(--bg-cd);color: var(--cl-cd);margin: 0 5px;padding: 1px 15px;border-radius: 25px;}
    .bee-move-bottom-to-top .bee-announcement-bar__item > p {-webkit-transform: translateY(50px);transform: translateY(50px);opacity: 0;transition: opacity .8s,transform .8s,-webkit-transform .8s;will-change: transform,opacity; -webkit-backface-visibility: hidden;}
    .bee-move-bottom-to-top .bee-announcement-bar__item.is-selected > p{-webkit-transform: none;transform: none;opacity: 1;}
    .bee-announcement-bar__item.bee-btn-link-1 p > a {min-height: 22px;display: inline-block;background: var(--bg-btn);color: var(--cl-btn);padding: 2px 10px;border-radius: var(--other-radius);margin: 0 10px;}
    .bee-announcement-bar__item.bee-btn-link-2 p > a {color: var(--cl-btn);}
    .bee-announcement-bar__item p > strong {text-decoration: underline;}
    .bee-announcement-bar svg.bee-iconsvg-close {width: 15px;height: 15px;}
    .bee-announcement-bar .bee-countdown-enabled:empty {display: none;}
    .bee-announcement-bar__item {padding: 5px;}
  {%- endstyle -%}

 <svg class="bee-d-none"><symbol id="icon-{{ section.id }}" viewBox="0 0 14 10" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor"></path></symbol></svg>
 {%- capture cap_arrow %}<svg class="bee-icon bee-icon-arrow" width="13" viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg"><use href="#icon-{{ section.id }}"/></svg>{% endcapture -%}
  <div aria-hidden="false" id="bee-announcement-main" class="bee-announcement-bar bee-pr bee-oh bee-type-close-{{ se_stts.close }} {%- if stt_image_bg != blank -%} bee-has-imgbg lazyloadbee {%- endif -%}" data-ver='{{ se_stts.version }}_nt' data-date='{{ se_stts.date }}' {%- if stt_image_bg != blank -%} data-bgset="{{ stt_image_bg | image_url: width: 1 }}" data-sizes="auto"  data-optimumx="1.5" {%- endif -%}  style="--pd-top: {{ padding_section[0] | default: "0px" }};--pd-right: {{ padding_section[1] | default: "1.5rem" }};--pd-bottom: {{ padding_section[2] | default: "0px" }};--pd-left: {{ padding_section[3] | default: "1.5rem" }};{% if stt_image_bg.presentation.focal_point != '50.0% 50.0%' %}background-position: {{ stt_image_bg.presentation.focal_point }}{% endif %}">
    <div class="bee-container">
       <div class="bee-row bee-gx-0 bee-flex-nowrap bee-align-items-center">
          
          {{- cap_btn -}}

          {%- if section.blocks.size > 0 -%}

             <div class="bee-announcement-bar__wrap bee-col bee-col-item bee-d-flex bee-align-items-center bee-text-center bee-row bee-row-cols-1 bee-g-0 flickitybee bee-slide-eff-{{ se_stts.effect }}" data-flickitybee-js='{ "cellAlign": "center","imagesLoaded": 0,"lazyLoad": 0,"freeScroll": 0,"wrapAround": true,"autoPlay" : {{ se_stts.au_time | times: 1000 }},"pauseAutoPlayOnHover" : true, "prevNextButtons": false,"pageDots": false, "contain" : 1,"adaptiveHeight" : 1,"dragThreshold" : 5,"percentPosition": 1 }'>
               {%- for block in section.blocks -%}{%- assign bk_stts = block.settings -%}
                  {%- capture cap_date_ct -%}
                    {%- if bk_stts.cd_layout == '1' -%}
                      [totalHours]{{ bk_stts.txt_h }} : %M{{ bk_stts.txt_m }} : %S{{ bk_stts.txt_s }}
                    {%- else -%}
                      %D {{ bk_stts.txt_day }} %H{{ bk_stts.txt_h }} : %M{{ bk_stts.txt_m }} : %S{{ bk_stts.txt_s }}
                    {%- endif -%}
                  {%- endcapture -%}
                  {%- capture cap_date %}{% assign se_dayx = bk_stts.dayx %}<span data-refresh-owl data-countdown-bee data-loop="{% if se_dayx > 0 %}true{% else %}false{% endif %}" data-date="{{ bk_stts.countdown }}" data-dayl="{{ se_dayx }}">{{ cap_date_ct }}</span>{% endcapture -%}
                  <div id="b_{{ block.id }}" {{ block.shopify_attributes }} data-select-flickity class="bee-col-item bee-announcement-bar__item bee-pr bee-oh bee-btn-link-{{ bk_stts.btn_link_layout }} bee-rte" style="--bg-cd: {{ bk_stts.bg_cd }};--cl-cd: {{ bk_stts.cl_cd }};--bg-btn: {{ bk_stts.bg_btn }};--cl-btn: {{ bk_stts.cl_btn }};"> 
                  {{- bk_stts.content | replace: '[countdown]', cap_date | replace: '[icon_arrow]', cap_arrow -}}
                  </div>
               {%- endfor -%}
             </div>
            {%- endif -%}

          {{- cap_btn | replace: 'bee-op-0', 'bee-z-100' | remove: ' bee-d-none bee-d-md-block' -}}
       </div>
    </div> 
  </div>
  <script>try { if (document.cookie.indexOf('bee_announcement_{{theme_name}}_{{ se_stts.version }}_nt') > -1) { document.getElementById('shopify-section-announcement-bar').setAttribute("aria-hidden", true);document.getElementsByClassName('bee-announcement-bar')[0].setAttribute("aria-hidden", true);document.getElementsByClassName('bee-announcement-bar')[0].classList.add('bee-d-none'); } else {document.documentElement.style.setProperty('--announcement-height2', document.getElementById('bee-announcement-main').offsetHeight + 'px');} }catch(err) {}</script>
{%- else -%}
<script>try { if (window.Shopify && !Shopify.designMode) { document.getElementById('shopify-section-announcement-bar').remove() } else { document.getElementById('shopify-section-announcement-bar').setAttribute("aria-hidden", true) } }catch(err) {}</script>
{%- endif -%}

{% schema %}
  {
    "name": "Announcement bar",
    "class": "bee-section bee-section-announcement-bar bee_bk_flickity bee_tp_cd",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_announcement",
        "label": "Show announcement",
        "default": true
      },
      {
        "type": "select",
        "id": "effect",
        "label": "Effect slider",
        "default": "fade bee-move-bottom-to-top",
        "options": [
          {
            "value": "fade",
            "label": "Fade"
          },
          {
            "value": "slide",
            "label": "Slide"
          },
          {
            "value": "fade bee-move-bottom-to-top",
            "label": "Move bottom to top"
          }
        ]
      },
      {
        "type": "range",
        "id": "au_time",
        "min": 0,
        "max": 30,
        "step": 0.5,
        "label": "Autoplay speed in second.",
        "info": "Set is '0' to disable autoplay.",
        "unit": "sec",
        "default": 3.5
      },
      {
        "type": "range",
        "id": "height",
        "label": "Min height",
        "default": 41,
        "min": 20,
        "max": 120,
        "step": 1,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "fontsize",
        "label": "Font size",
        "default": 12,
        "min": 10,
        "max": 18,
        "step": 0.5,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "ls_sp",
        "min": 0,
        "max": 10,
        "step": 0.1,
        "label": "Letter spacing",
        "info": "set is '0' use to default",
        "unit": "px",
        "default": 0
      },
      {
        "type": "color",
        "id": "cl",
        "label": "Text color",
        "default": "#fff"
      },
      {
        "type": "color",
        "id": "bg",
        "label": "Background color",
        "default": "#e91e63"
      },
      {
        "type": "range",
        "id": "bg_op",
        "label": "Background opacity",
        "default": 100,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%"
      },
      {
        "type": "image_picker",
        "id": "image_bg",
        "label": "Background image" 
      },
      {
        "type": "select",
        "id": "close",
        "label": "Button close",
        "default": "1",
        "options": [
          {
            "value": "0",
            "label": "Disable"
          },
          {
            "value": "1",
            "label": "Icon & text"
          },
          {
            "value": "2",
            "label": "Only icon"
          },
          {
            "value": "3",
            "label": "Only text"
          }
        ]
      },
      {
        "type": "color",
        "id": "cl_btn",
        "label": "Button close color",
        "default": "#fff"
      },
      
      {
        "type": "radio",
        "id": "version",
        "label": "Announcement version",
        "info": "If you apply any changes to your announcement settings or content you might want to force the announcement to all visitor who already close it again. In this case, you just need to change the announcement version.",
        "default": "1",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          }
        ]
      },
      {
        "type": "range",
        "id": "date",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "day",
        "label": "Header banner expires",
        "info": "You will be able to specify when to expire the cookie. Once you click the \"CLOSE\" button",
        "default": 60
      },
      {
        "type": "header",
        "content": "+ Design options",
        "info": "Only work on desktop when header full width"
      },
      {
          "type": "text",
          "id": "pd",
          "label": "Padding",
          "info": "Padding top, padding right, padding bottom, padding left. If you do not use it please blank.",
          "placeholder": ",15px,,15px",
          "default": ",15px,,15px"
      }
    ],
   "blocks": [
       {
          "type": "announcement",
          "name": "Announcement",
          "limit": 10,
          "settings": [
            
            {
              "type": "richtext",
              "id": "content",
              "label": "Banner content",
              "default": "<p>Today deal sale off 70%. End in [countdown]. Hurry Up!! [icon_arrow]</p>",
              "info": "Place here text you want to see in the header banner. You can use shortcodes: [countdown], [icon_arrow]"
            }, 
            {
              "type": "select",
              "id": "btn_link_layout",
              "label": "+ Button link layout",
              "default": "2",
              "info": "Work when 'Banner content' has a text link",
              "options": [
                {
                  "value": "1",
                  "label": "Default"
                },
                {
                  "value": "2",
                  "label": "Simple"
                }
              ]
            },
            {
              "type": "color",
              "id": "bg_btn",
              "label": "Background color button link",
              "default": "#000"
            },
            {
              "type": "color",
              "id": "cl_btn",
              "label": "Color button link",
              "default": "#fff"
            },
            {
              "type": "text",
              "id": "countdown",
              "label": "+ Date countdown",
              "default": "2023\/04\/19",
              "info": "Use shortcodes: [countdown]. Countdown to the end sale date will be shown.( 2023\/04\/19 or 2023\/04\/19 20:00:30 )"
            },
            {
              "type": "select",
              "id": "cd_layout",
              "label": "Countdown layout",
              "default": "1",
              "options": [
                {
                  "value": "1",
                  "label": "Layout 1"
                },
                {
                  "value": "2",
                  "label": "Layout 2"
                }
              ]
            },
            {
              "type": "text",
              "id": "txt_day",
              "label": "Text day countdown",
              "default": "days"
            },
            {
              "type": "text",
              "id": "txt_h",
              "label": "Text hours countdown",
              "default": "h"
            },
            {
              "type": "text",
              "id": "txt_m",
              "label": "Text minute countdown",
              "default": "m"
            },
            {
              "type": "text",
              "id": "txt_s",
              "label": "Text second countdown",
              "default": "s"
            },
            {
              "type": "color",
              "id": "bg_cd",
              "label": "Background color countdown",
              "default": "#d51919"
            },
            {
              "type": "color",
              "id": "cl_cd",
              "label": "Color countdown",
              "default": "#fff"
            },
            {
              "type": "range",
              "id": "dayx",
              "min": 0,
              "max": 100,
              "step": 1,
              "label": "Reset countdown every x days from an initial date.",
              "info": "Set is '0' to disable reset countdown.",
              "unit": "day",
              "default": 0
            }
          ]
       }
   ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      },
      {
        "type": "announcement"
      },
      {
        "type": "announcement"
      }
    ]
  }
  }
{% endschema %}