<!-- sections/collections-list.liquid -->
{{ 'bee-section.css' | asset_url | stylesheet_tag }}
{{ 'bee-collection-item-carousel.css' | asset_url | stylesheet_tag }}
{{ 'bee-slider-settings.css' | asset_url | stylesheet_tag }}
{{ 'pre_flickitybee.min.css' | asset_url | stylesheet_tag }}
<link href="{{ 'bee-custom-effect.css' | asset_url }}" rel="stylesheet" media="print" onload="this.media='all'">
{%- liquid
  assign image_fix = image_nt | image_tag
  assign sid = section.id
  assign se_stts = section.settings
  assign se_blocks = section.blocks
  assign stt_layout = se_stts.layout
  assign stt_image_bg = se_stts.image_bg
  if stt_layout == 'bee-se-container' 
    assign html_layout = '<div class="bee-container">__</div></div>' | split: '__'
  elsif stt_layout == 'stretch'
    assign html_layout = '<div class="bee-container is--bee-stretch">__</div></div>' | split: '__'
    assign stt_layout  = 'bee-se-container'
  elsif stt_layout == 'bee-container-wrap'
    assign html_layout = '<div class="bee-container">__</div>' | split: '__'
  else
    assign html_layout = '__' | split: '__'
  endif

  assign img_effect = se_stts.img_effect
  assign open_link = se_stts.open_link
  if se_stts.btn_owl == "simple"
    assign arrow_icon = 1
  else
    assign arrow_icon = 2
  endif
  assign show_btn = se_stts.show_btn
  if show_btn != "hidden"
    assign slider_btns = true
  else
    assign slider_btns = false
  endif
  assign show_dots = se_stts.show_dots
  if show_dots != "hidden"
    assign slider_dots = true
  else
    assign slider_dots = false
  endif


 -%} 
{%- capture append_style -%}
  {% if stt_image_bg.presentation.focal_point != '50.0% 50.0%' %}--background-position: {{ stt_image_bg.presentation.focal_point }}{% endif %}
{%- endcapture -%}
<div class="bee-section-inner bee-section-{{se_stts.show_on}} bee_se_{{ sid }} {{ stt_layout }}{% if stt_image_bg != blank and stt_layout != 'bee-se-container' %} bee-has-imgbg lazyloadbee{% endif %}" {%- if stt_image_bg != blank and stt_layout != 'bee-se-container' -%} data-bgset="{{ stt_image_bg | image_url: width: 1 }}" data-sizes="auto"  data-optimumx="1.5"{%- endif -%} {% render 'section_style', se_stts: se_stts, append_style: append_style %}>
    
    {{- html_layout[0] -}}
      {%- if stt_layout == 'bee-se-container' -%}<div class="bee-container-inner{% if stt_image_bg != blank %} bee-has-imgbg lazyloadbee{% endif %}" {%- if stt_image_bg != blank -%} data-bgset="{{ stt_image_bg | image_url: width: 1 }}" data-sizes="auto"  data-optimumx="1.5"{%- endif -%}>{%- endif -%}
        {%- render 'section_tophead', se_stts: se_stts, get_height: true -%}
          {%- liquid
          assign icon_slider = se_stts.icon_slider 
          if icon_slider == "1"
            assign view_box = "0 0 22 22"
          endif -%}
          <div class="bee-section-content bee-list-collections-carousel bee-image-rounded-{{ se_stts.image_rd }} is--scrollbar_{{ se_stts.scrollbar }} bee_ratio1_1 bee_position_8 bee_cover bee-flickity-slider bee-gx-lg-{{ se_stts.space_h_item }} bee-gx-md-{{ se_stts.space_h_item_tb }} bee-gx-{{ se_stts.space_h_item_mb }} {% if slider_btns %} bee-slider-btn__{{ se_stts.btn_pos }}-content bee-slider-btn-{{show_btn}} bee-slider-btn-style-{{ se_stts.btn_owl }} bee-slider-btn-{{ se_stts.btn_shape }} bee-slider-btn-{{ se_stts.btn_size }} bee-slider-btn-cl-{{ se_stts.btn_cl }} bee-slider-btn-vi-{{ se_stts.btn_vi }} {% endif %}{% if slider_dots %} bee-dots-style-{{ se_stts.dot_owl }} bee-slider-dots-{{ show_btn }} bee-dots-cl-{{ se_stts.dots_cl }} bee-dots-round-{{ se_stts.dots_round }} {% endif %} bee-row bee-row-cols-lg-{{ se_stts.col_dk }} bee-row-cols-md-{{ se_stts.col_tb }} bee-row-cols-{{ se_stts.col_mb }}  flickitybee" data-flickitybee-js='{"customIcon":{{icon_slider}}, "viewBox":"{{view_box}}", "cellSelector": ".bee-collection-carousel","scrollbar": {{ se_stts.scrollbar }},"beeid": "{{ sid }}","setPrevNextButtons": true, "arrowIcon": "{{ arrow_icon }}","imagesLoaded": 0,"adaptiveHeight": 0, "contain": 1, "groupCells": "100%", "dragThreshold" : 5, "cellAlign": "left","wrapAround": {{ se_stts.loop }},"prevNextButtons": {{ slider_btns }},"percentPosition": 1,"pageDots": {{ slider_dots }}, "autoPlay" : {{ se_stts.au_time | times: 1000 }}, "pauseAutoPlayOnHover" : {{ se_stts.au_hover }} }' style="--pri-cl: {{ se_stts.pri_cl }};--pri-hover-cl: {{ se_stts.pri_hover_cl }};--title-fs: {{ se_stts.title_fs }}px;--title-fw: {{ se_stts.title_fw }};--btn-distance: {{ se_stts.btn_distance }}px;--space-dots: {{ se_stts.dots_space }}px;--dots-bottom-pos: {{ se_stts.dots_bottom_pos }}px;">
        {%- if se_blocks.size > 0 -%} 
            {%- for block in se_blocks -%}
              {%- assign bk_stts = block.settings -%}
              {%- capture current -%}{%- cycle 1, 2, 3, 4, 5, 6 -%}{%- endcapture -%}
              <div class="bee-col-item bee-collection-carousel bee-text-center" id="b_{{ block.id }}" data-select-flickity {{ block.shopify_attributes }}>
                {%- liquid
                  assign collection = collections[bk_stts.collection]
                  assign image = bk_stts.image | default: collection.image
                  assign title = bk_stts.collection_title | default: collection.title
                  assign collection_link = bk_stts.collection_link | default: collection.url
                  assign all_products_count = collection.all_products_count | default: 0
                 -%}
                <div class="bee-collection-content bee-pr bee-eff-img-{{ img_effect }}">
                  <div class="bee-coll-img bee-pr bee-oh" data-cacl-slide>
                    <a class="bee_collection_item_link bee-img-wrap bee-d-block" href="{{ collection_link }}" target="{{ open_link }}">
                      <div class="bee_ratio bee-bg-11" style="--aspect-ratioapt: {{ image.aspect_ratio | default: 1.2 }}; {%- if image != blank -%}background: url({{ image | image_url: width: 1 }}); {%- endif -%}" >
                        {%- if image != blank -%}
                          <img {% if image.presentation.focal_point != '50.0% 50.0%' %} style="object-position: {{image.presentation.focal_point}}"{% endif %} loading="lazy" class="lazyloadbee bee-lz--fadeIn bee-obj-eff" data-src="{{ image | image_url: width: 1 }}" data-widths="[100,200,400,600,700,800,900,1000,1200,1400,1600]" data-optimumx="2" data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" width="{{ image.width }}" height="{{ image.height }}" alt="{{ image.alt | escape }}">
                        {%- else -%}
                          {{ 'collection-' | append: current | placeholder_svg_tag: 'bee-placeholder-svg bee-obj-eff' }}  
                        {%- endif -%}
                      </div>
                    </a>
                  </div>
                  {%- if title != blank -%}
                    <a class="bee-collection-title" href="{{ collection_link }}" target="{{ open_link }}">
                      <span class="bee-d-block bee-text">{{ title }}</span>
                    </a>
                  {%- endif -%}
                </div>  
              </div>
            {%- endfor -%}
            {%- if se_stts.scrollbar %}<div class="bee-carousel-scrollbar bee-carousel-scrollbar--{{ sid }} is--hidden">{{ 'bee-carousel-scrollbar.css' | asset_url | stylesheet_tag }}<div class="bee-carousel-scrollbar__bg"></div><div class="bee-carousel-scrollbar__drag"></div></div>{% endif -%}
        {%- endif -%}
      {{- html_layout[1] -}}
  </div>
{% schema %}
  {
    "name": "Collections carousel",
    "tag": "section",
    "class": "bee-section bee_bk_flickity bee-section-all bee_tp_cdt bee-carousel-collections bee-oh",
    "settings": [
      {
          "type": "select",
          "id": "show_on",
          "label": "Section show on",
          "default": "show_all",
          "options": [
              {
                "value": "show_all",
                "label": "Show all screen"
              },
              {
                "value": "show_desktop",
                "label": "Only show on desktop"
              },
              {
                "value": "show_mobile",
                "label": "Only show on tablet & mobile"
              }
          ]
      },
      {
          "type": "header",
          "content": "1. Heading options"
      },
      {
          "type": "text",
          "id": "top_heading",
          "label": "Heading"
      },
      {
          "type": "richtext",
          "id": "top_subheading",
          "label": "Subheading"
      },
      {
          "type": "checkbox",
          "id": "heading_center",
          "label": "Center heading align",
          "default": true
      },
      {
          "type": "number",
          "id": "tophead_mb",
          "label": "Bottom space (Desktop)(px)",
          "info": "The spacing is between the heading and the content",
          "default": 30
      },
      {
          "type": "number",
          "id": "tophead_mb_tb",
          "label": "Bottom space (Tablet)(px)",
          "info": "The spacing is between the heading and the content",
          "default": 30
      },
      {
          "type": "number",
          "id": "tophead_mb_mb",
          "label": "Bottom space (Mobile)(px)",
          "info": "The spacing is between the heading and the content",
          "default": 25
      },
      {
        "type": "header",
        "content": "2. General options"
      },
      {
          "type": "range",
          "id": "title_fs",
          "label": "Title font size",
          "max": 100,
          "min": 10,
          "step": 1,
          "unit": "px",
          "default": 16
      },
      {
          "type": "range",
          "id": "title_fw",
          "label": "Title font weight",
          "min": 100,
          "max": 900,
          "step": 100,
          "default": 500
      },
      
      {
        "type": "color",
        "id": "pri_cl",
        "label": "Primary content color",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "pri_hover_cl",
        "label": "Primary content hover color",
        "default": "#544179"
      },
      {
        "type": "select",
        "id": "open_link",
        "info": "Works when the item has a link",
        "options": [
          {
            "value": "_self",
            "label": "Current window"
          },
         {
            "value": "_blank",
            "label": "New window"
          }
        ],
        "label": "Open link in",
        "default": "_self"
      },
      {
        "type": "checkbox",
        "id": "image_rd",
        "label": "Image rounded",
        "default": true
      },
      {
        "type": "select",
        "id": "img_effect",
        "label": "Image hover effect",
        "info": "Waring: Hovering effect will resize your images. Only works on desktop",
        "default": "none",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "zoom",
            "label": "Zoom image"
          },
          {
            "value": "rotate",
            "label": "Rotate image "
          },
          {
            "value": "translateToTop",
            "label": "Move to top "
          },
          {
            "value": "translateToRight",
            "label": "Move to right"
          },
          {
            "value": "translateToBottom",
            "label": "Move to bottom"
          },
          {
            "value": "translateToLeft",
            "label": "Move to left"
          }
        ]
      },
      {
        "type": "header",
        "content": "--Box options--"
      },
      {
        "type": "select",
        "id": "col_dk",
        "label": "Items per row",
        "default": "6",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          },
          {
            "value": "6",
            "label": "6"
          }
        ]
      },
      {
        "type": "select",
        "id": "col_tb",
        "label": "Items per row (Tablet)",
        "default": "5",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          },
          {
            "value": "6",
            "label": "6"
          }
        ]
      },
      {
        "type": "select",
        "id": "col_mb",
        "label": "Items per row (Mobile)",
        "default": "5",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          }
        ]
      },
      {
        "type": "select",
        "id": "space_h_item",
        "options": [
          {
              "value": "0", 
              "label": "0"
          },
          {
              "value": "4", 
              "label": "4px"
          },
          {
              "value": "5", 
              "label": "5px"
          },
          {
              "value": "10", 
              "label": "10px"
          },
          {
              "value": "15",
              "label": "15px"
          },
          {
              "value": "20",
              "label": "20px"
          },
          {
              "value": "25",
              "label": "25px"
          },
          {
              "value": "30",
              "label": "30px"
          },
          {
              "value": "40",
              "label": "40px"
          }
        ],
        "label": "Space horizontal items",
        "default": "30"
      },
      {
        "type": "select",
        "id": "space_h_item_tb",
        "options": [
          {
              "value": "0", 
              "label": "0"
          },
          {
              "value": "4", 
              "label": "4px"
          },
          {
              "value": "5", 
              "label": "5px"
          },
          {
              "value": "10", 
              "label": "10px"
          },
          {
              "value": "15",
              "label": "15px"
          },
          {
              "value": "20",
              "label": "20px"
          },
          {
              "value": "25",
              "label": "25px"
          },
          {
              "value": "30",
              "label": "30px"
          }
        ],
        "label": "Space horizontal items (Tablet)",
        "default": "15"
      },
      {
        "type": "select",
        "id": "space_h_item_mb",
        "options": [
          {
              "value": "0", 
              "label": "0"
          },
          {
              "value": "4", 
              "label": "4px"
          },
          {
              "value": "5", 
              "label": "5px"
          },
          {
              "value": "10", 
              "label": "10px"
          },
          {
              "value": "15",
              "label": "15px"
          },
          {
              "value": "20",
              "label": "20px"
          },
          {
              "value": "25",
              "label": "25px"
          },
          {
              "value": "30",
              "label": "30px"
          }
        ],
        "label": "Space horizontal items (Mobile)",
        "default": "15"
      },
      {
        "type": "header",
        "content": "+Options for carousel layout"
      },
      {
          "type": "checkbox",
          "id": "loop",
          "label": "Enable loop",
          "info": "At the end of cells, wrap-around to the other end for infinite scrolling",
          "default": false
      },
      {
          "type": "range",
          "id": "au_time",
          "min": 0,
          "max": 30,
          "step": 0.5,
          "label": "Autoplay speed in second.",
          "info": "Set is '0' to disable autoplay",
          "unit": "s",
          "default": 0
      },
      {
          "type": "checkbox",
          "id": "au_hover",
          "label": "Pause autoplay on hover",
          "info": "Auto-playing will pause when the user hovers over the carousel",
          "default": true
      },
      {
          "type": "checkbox",
          "id": "scrollbar",
          "label": "Enable scrollbar",
          "default": true
      },
      {
          "type": "paragraph",
          "content": "—————————————————"
      },
      {
          "type": "paragraph",
          "content": "Prev next button"
      },
      {
        "type": "select",
        "id": "show_btn",
         "options": [
          {
            "value": "show_all",
            "label": "Show all screen"
          },
          {
            "value": "show_desktop",
            "label": "Only show on desktop"
          },
          {
            "value": "show_mobile",
            "label": "Only show on tablet & mobile"
          },
          {
            "value": "hidden",
            "label": "Hidden"
          }
        ],
        "label": "Use prev next button",
        "default": "show_all"
      },
      {
          "type": "select",
          "id": "btn_pos",
          "label": "Prev next position",
          "info": "Working on screen Desktop",
          "default": "between",
          "options": [
              {
                  "label": "Default",
                  "value": "between"
              },
              {
                  "label": "In content",
                  "value": "in"
              },
              {
                  "label": "Out content",
                  "value": "out"
              },
              {
                  "label": "On top heading",
                  "value": "ontop"
              }
          ]
      },
        {
          "type": "select",
          "id": "icon_slider",
          "label": "Prev next icon",
          "default": "1",
          "options": [
              {
                  "label": "Default",
                  "value": "0"
              },
              {
                  "label": "Solid",
                  "value": "1"
              }
          ]
        },
      {
          "type": "range",
          "id": "btn_distance",
          "min": 0,
          "max": 100,
          "step": 1,
          "label": "Distance from buttons to boundary",
          "info": "Only works when \"Prev next position is In content\". Only works on desktop.",
          "unit": "px",
          "default": 15
      },
      {
          "type": "select",
          "id": "btn_vi",
          "label": "Visible",
          "default": "hover",
          "options": [
              {
                  "value": "always",
                  "label": "Always"
              },
              {
                  "value": "hover",
                  "label": "Only hover"
              }
          ]
      },
      {
          "type": "select",
          "id": "btn_owl",
          "label": "Button style",
          "default": "default",
          "options": [
              {
                  "value": "default",
                  "label": "Default"
              },
              {
                  "value": "outline",
                  "label": "Outline"
              },
              {
                  "value": "simple",
                  "label": "Simple"
              }
          ]
      },
      {
          "type": "select",
          "id": "btn_shape",
          "label": "Button shape",
          "info": "Not work for 'Simple' button style",
          "default": "none",
          "options": [
              {
                  "value": "none",
                  "label": "Default"
              },
              {
                  "value": "round",
                  "label": "Round"
              },
              {
                  "value": "rotate",
                  "label": "Rotate"
              }
          ]
      },
      {
          "type": "select",
          "id": "btn_cl",
          "label": "Button color",
          "default": "dark",
          "options": [
              {
                  "value": "light",
                  "label": "Light"
              },
              {
                  "value": "dark",
                  "label": "Dark"
              },
              {
                  "value": "primary",
                  "label": "Primary"
              },
              {
                  "value": "custom1",
                  "label": "Custom color 1"
              },
              {
                  "value": "custom2",
                  "label": "Custom color 2"
              },
                    {
                        "value": "custom3",
                        "label": "Custom color 3"
                    }
          ]
      },
      {
          "type": "select",
          "id": "btn_size",
          "label": "Buttons size",
          "default": "small",
          "options": [
              {
                  "value": "small",
                  "label": "Small"
              },
              {
                  "value": "medium",
                  "label": "Medium"
              },
              {
                  "value": "large",
                  "label": "Large"
              }
          ]
      },
      {
          "type": "paragraph",
          "content": "—————————————————"
      },
      {
          "type": "paragraph",
          "content": "Page dots"
      },
      {
        "type": "select",
        "id": "show_dots",
        "info": "Creates and show page dots",
         "options": [
          {
            "value": "show_all",
            "label": "Show all screen"
          },
          {
            "value": "show_desktop",
            "label": "Only show on desktop"
          },
          {
            "value": "show_mobile",
            "label": "Only show on tablet & mobile"
          },
          {
            "value": "hidden",
            "label": "Hidden"
          }
        ],
        "label": "Use carousel's dots",
        "default": "hidden"
      },
      {
          "type": "select",
          "id": "dot_owl",
          "label": "Dots style",
          "default": "default",
          "options": [
              {
                  "value": "default",
                  "label": "Default"
              },
              {
                  "value": "background-active",
                  "label": "Background Active"
              },
              {
                  "value": "dots_simple",
                  "label": "Dots simple"
              },
              {
                  "value": "elessi",
                  "label": "Elessi"
              },
              {
                  "value": "br-outline",
                  "label": "Outline"
              },
              {
                  "value": "outline-active",
                  "label": "Outline active"
              }
          ]
      },
      {
          "type": "select",
          "id": "dots_cl",
          "label": "Dots color",
          "default": "dark",
          "options": [
              {
                  "value": "light",
                  "label": "Light (Best on dark background)"
              },
              {
                  "value": "dark",
                  "label": "Dark"
              },
              {
                  "value": "primary",
                  "label": "Primary"
              },
              {
                  "value": "custom1",
                  "label": "Custom color 1"
              },
              {
                  "value": "custom2",
                  "label": "Custom color 2"
              },
                    {
                        "value": "custom3",
                        "label": "Custom color 3"
                    }
          ]
      },
      {
          "type": "checkbox",
          "id": "dots_round",
          "label": "Enable round dots",
          "default": true
      },
      {
          "type": "range",
          "id": "dots_space",
          "min": 2,
          "max": 20,
          "step": 1,
          "label": "Space among dots",
          "unit": "px",
          "default": 10
      },
      {
          "type": "range",
          "id": "dots_bottom_pos",
          "min": 0,
          "max": 100,
          "step": 1,
          "label": "Distance from dots to boundary",
          "unit": "px",
          "default": 20
      },
      {
        "type": "header",
        "content": "3. Design options"
      },
      {
        "type": "select","id": "layout","default": "bee-container-wrap","label": "Layout",
        "options": [
            { "value": "bee-se-container", "label": "Container"},
            { "value": "stretch", "label": "Container stretch"},
            { "value": "bee-container-wrap", "label": "Wrapped container"},
            { "value": "bee-container-fluid", "label": "Full width"}
        ]
      },
      {
        "type": "color",
        "id": "cl_bg",
        "label": "Background"
      },
      {
        "type": "color_background",
        "id": "cl_bg_gradient",
        "label": "Background gradient"
      },
      {
        "type": "image_picker",
        "id": "image_bg",
        "label": "Background image"
      },
      {
          "type": "text",
          "id": "mg",
          "label": "Margin",
          "info": "Margin top, margin right, margin bottom, margin left. If you do not use it please blank.",
          "default": ",,50px,",
          "placeholder": ",,50px,"
      },
      {
          "type": "text",
          "id": "pd",
          "label": "Padding",
          "info": "Padding top, padding right, padding bottom, padding left. If you do not use it please blank.",
          "placeholder": "50px,,50px,"
      },
      {
        "type": "header",
        "content": "+ Design tablet options"
      },
      {
          "type": "text",
          "id": "mg_tb",
          "label": "Margin",
          "default": ",,30px,",
          "placeholder": ",,50px,"
      },
      {
          "type": "text",
          "id": "pd_tb",
          "label": "Padding",
          "placeholder": ",,50px,"
      },
      {
        "type": "header",
        "content": "+ Design mobile options"
      },
      {
          "type": "text",
          "id": "mg_mb",
          "label": "Margin",
          "default": ",,30px,",
          "placeholder": ",,50px,"
      },
      {
          "type": "text",
          "id": "pd_mb",
          "label": "Padding",
          "placeholder": ",,50px,"
      }
    ],
    "blocks": [
      {
        "type": "collection_item",
        "name": "Collection item",
        "settings": [
          {
              "id": "collection",
              "type": "collection",
              "label": "Collection"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Collection image"
          },
          {
            "type": "text",
            "id": "collection_title",
            "label": "Collection title",
            "default": "Collection name",
            "info" : "Leave empty to use 'Collection title'."
          },
          {
            "type": "url",
            "id": "collection_link",
            "label": "Link (optional)",
            "info" : "Leave empty to use 'collection url'."
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collections carousel",
        "category": "group3",
        "blocks": [
          {"type": "collection_item"},
          {"type": "collection_item"},
          {"type": "collection_item"},
          {"type": "collection_item"},
          {"type": "collection_item"},
          {"type": "collection_item"},
          {"type": "collection_item"},
          {"type": "collection_item"}
        ]
      }
    ]
  }
{% endschema %}