<!-- sections/blog-post.liquid -->
{{ 'bee-section.css' | asset_url | stylesheet_tag }}
{{ 'bee-blogs.css' | asset_url | stylesheet_tag }}
{{ 'bee-slider-settings.css' | asset_url | stylesheet_tag }}
{{ 'pre_flickitybee.min.css' | asset_url | stylesheet_tag }}
{{ 'bee-button-style.css' | asset_url | stylesheet_tag }}
<link href="{{ 'bee-custom-effect.css' | asset_url }}" rel="stylesheet" media="print" onload="this.media='all'">
<link href="{{ 'bee-loading.css' | asset_url }}" rel="stylesheet" media="print" onload="this.media='all'">
{% style %}
    /* .bee-blog-layout__masonry > .bee-article-first {
      height: calc( 100% - var(--ts-gutter-y));
    } */
    .bee-article-first .bee-article-inner, .bee-article-first .bee-article-thumb, .bee-article-first .bee-article-img, .bee-article-first .bee-article-img > div, .bee-article-first .bee-article-img > div >img {
        height: 100%;
    }
  {% endstyle %}
{%- liquid
    assign sid = section.id
    assign se_stts = section.settings
    assign stt_layout = se_stts.layout
    assign stt_image_bg = se_stts.image_bg
    if stt_layout == 'bee-se-container' 
        assign html_layout = '<div class="bee-container">__</div></div>' | split: '__'
    elsif stt_layout == 'bee-container-wrap'
        assign html_layout = '<div class="bee-container">__</div>' | split: '__'
    else
        assign html_layout = '__' | split: '__'
    endif
    assign heading_inline = se_stts.heading_inline

    assign blog = blogs[se_stts.blog]

    if se_stts.btn_owl == "simple"
        assign arrow_icon = 1
    else
        assign arrow_icon = 2
    endif
    assign show_btn = se_stts.show_btn
    if show_btn != "hidden"
        assign slider_btns = true
    else
        assign slider_btns = false
    endif
    assign show_dots = se_stts.show_dots
    if show_dots != "hidden"
        assign slider_dots = true
    else
        assign slider_dots = false
    endif

    assign blog_url = blog.url
    assign blog_title = blog.title
    assign limit = se_stts.limit
    assign by_txt = 'blogs.article.by' | t
    assign on_txt = 'blogs.article.on' | t
    assign readmore_txt = 'blogs.article.read_more' | t
    assign date = se_stts.date
    assign b_effect = se_stts.b_effect
    assign img_effect = se_stts.img_effect
    assign show_tags = se_stts.show_tags
    assign show_content = se_stts.show_content
    assign show_author = se_stts.show_author
    assign show_comment = se_stts.show_comment
    assign show_date = se_stts.show_date
    assign date_format = se_stts.date
    assign show_readmore = se_stts.show_readmore
    assign show_blog_title = se_stts.show_blog_title

    assign col_dk = se_stts.col_dk
    assign col_tb = se_stts.col_tb
    assign col_mb = se_stts.col_mb
  
    assign use_pagination = se_stts.use_pagination 
    assign isLoadmore = false
    
    if use_pagination == "load-more"
    assign isLoadmore = true
    assign typeAjax = 'LmIsotope'
    else
    assign typeAjax = 'AjaxIsotope'
    endif
  
    assign enable_bar_lm = se_stts.enable_bar_lm 
    assign results_count = blog.articles_count
 -%} 
{%- paginate blog.articles by limit -%}
<div data-not-main data-ntajax-options='{"id": "{{ sid }}", "type": "{{ typeAjax }}", "isProduct": false}' class="bee-section-inner bee-section-inline-{{ heading_inline }} bee_se_{{ sid }} {{ stt_layout }}{% if stt_image_bg != blank and stt_layout != 'bee-se-container' %} bee-has-imgbg lazyloadbee{% endif %}" {% if stt_image_bg != blank and stt_layout != 'bee-se-container' %} data-bgset="{{ stt_image_bg | image_url: width: 1 }}" data-sizes="auto"  data-optimumx="1.5"{% endif %} {% render 'section_style', se_stts: se_stts -%} >
    {{- html_layout[0] -}}
    {%- if stt_layout == 'bee-se-container' -%}<div class="bee-container-inner{% if stt_image_bg != blank %} bee-has-imgbg lazyloadbee{% endif %}" {% if stt_image_bg != blank %} data-bgset="{{ stt_image_bg | image_url: width: 1 }}" data-sizes="auto"  data-optimumx="1.5"{% endif %}>{% endif -%}
    {%- if heading_inline -%}<div class="bee-section-inline-inner bee-heading-width-{{ se_stts.heading_width }}">{%- endif -%}
    <div class="bee-section-head">
        {%- render 'section_tophead', se_stts: se_stts, get_height: true, sid:sid, slider_btns:slider_btns -%}</div>
        <div data-contentlm-replace class="isotopebee bee-blog-list bee-blog-layout__masonry bee_{{ se_stts.image_ratio }} bee_position_{{ se_stts.image_position }} bee_{{ se_stts.image_size }} {{ se_stts.content_align }} bee-row bee-row-cols-lg-{{ col_dk }} bee-row-cols-md-{{ col_tb }} bee-row-cols-{{ col_mb }} bee-gx-lg-{{ se_stts.space_h_item }} bee-gy-lg-{{ se_stts.space_v_item }} bee-gx-md-{{ se_stts.space_h_item_tb }} bee-gy-md-{{ se_stts.space_v_item_tb }} bee-gx-{{ se_stts.space_h_item_mb }} bee-gy-{{ se_stts.space_v_item_mb }}" data-isotopebee-js='{ "itemSelector": ".bee-featured-article-packery", "layoutMode": "packery" }'>
        {%- if blog != blank -%} 
            {% for article in blog.articles %}
                {% if forloop.first == true %}
                    {%- render 'article_packery_first', article: article, image_ratio: se_stts.image_ratio_1, show_blog_title: show_blog_title, blog_url: blog_url, blog_title: blog_title, by_txt: by_txt, on_txt: on_txt, b_effect: b_effect, img_effect: img_effect, show_date: show_date, show_author: show_author, show_comment: show_comment, show_tags: show_tags, show_content: show_content, show_readmore: show_readmore, date_format: date_format, readmore_txt: readmore_txt -%}
                {% else %}
                    {%- render 'article_packery_item', article: article, show_blog_title: show_blog_title, blog_url: blog_url, blog_title: blog_title, by_txt: by_txt, on_txt: on_txt, b_effect: b_effect, img_effect: img_effect, show_date: show_date, show_author: show_author, show_comment: show_comment, show_tags: show_tags, show_content: show_content, show_readmore: show_readmore, date_format: date_format, readmore_txt: readmore_txt -%}
                {% endif %}
            {% endfor %}
        {%- else -%}
            {%- for i in (1..5) limit: limit -%}
                <article class="bee-col-item bee-article-item bee-article-style1">
                    <div class="bee-article-inner bee-pr bee-oh">
                        <div class="bee-article-thumb bee-pr">
                            <a class="bee-eff bee-eff-{{ b_effect }} bee-eff-img-{{ img_effect }} bee-d-block" href="/admin/blogs" data-cacl-slide >
                                {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                                <div class="bee_ratio" style="--aspect-ratioapt: {{ image.aspect_ratio | default: 2 }}">
                                    {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'bee-placeholder-svg bee-obj-eff' }}  
                                </div> 
                            </a>
                        </div>
                        <div class="bee-article-info">
                            {%- if show_tags -%}
                                <div class="bee-article-tags">
                                    <a href="/admin/blogs">Fashion</a>,  <a href="/admin/blogs">Lifestyle</a>
                                </div>
                            {%- endif -%}
                            <h3 class="bee-article-title"><a href="/admin/blogs">{{ 'onboarding.blog_title' | t }}</a></h3>
                            {%- if show_content -%}
                                <div class="bee-article-content bee-rte">{{ 'onboarding.blog_excerpt' | t }}</div>
                            {%- endif -%}
                            <div class="bee-article-metas">
                                {%- if show_author -%}
                                    <div class="bee-article-author">
                                        <span class="bee-article-author__by">{{ by_txt }} </span>
                                        <span class="bee-author-name">{{ 'onboarding.blog_author' | t }}</span>
                                    </div>
                                {%- endif -%}
                                {%- if show_date -%}
                                    <div class="bee-article-time">
                                        <span class="bee-article-time__top">28 </span>
                                        <span class="bee-article-time__bottom">May</span>
                                    </div>    
                                {%- endif -%}
                                {%- if show_comment -%}
                                    <div class="bee-article-comment">
                                        <span class="bee-article-comment__count">{{ 'blogs.comments.with_count' | t: count: 19 }}</span>
                                    </div>
                                {%- endif -%}
                            </div>
                            {%- if show_readmore %}
                                <div class="bee-article-btn">
                                    <a href="/admin/blogs" class="bee-article-btn__readmore">{{ 'blogs.article.read_more' | t }}</a>
                                </div>
                            {% endif -%}
                        </div>
                    </div>
                </article>
            {%- endfor -%}
        {%- endif -%}
    </div>
    {% if use_pagination != "none" %} 
        {%- if paginate.pages > 1 -%}
            <div class="bee-blog-footer bee-has-btn-{{ use_pagination }} {{ se_stts.pagination_position }}" style="--pagination-distance:{{ se_stts.pagination_distance }}px">
                {%- if isLoadmore -%} 
                    {%- if paginate.next.is_link -%}
                        <div data-wrap-lm class="bee-pagination-wrapper bee-has-btn-{{ se_stts.button_style }} bee-w-100">
                            {%- assign current_pr_size = blog.articles.size | plus: paginate.current_offset -%}
                            {%- if enable_bar_lm -%}
                                {%- if se_stts.style_bar_lm == "default" -%}
                                    <a data-load-more{% if use_pagination == 'infinite' %} data-load-onscroll {% endif %}  href="{{ paginate.next.url }}" class="bee-pr bee-loadmore-btn bee-btn-loading__svg bee-btn bee-btn-base bee-btn-style-{{ se_stts.button_style }} bee-btn-size-{{ se_stts.btns_size }} bee-btn-rounded-{{ se_stts.btn_rounded }} bee-btn-icon-{{ se_stts.btn_icon }} bee-btn-color-{{ se_stts.btns_cl }} {% if se_stts.button_style == 'default' or se_stts.button_style == 'outline' %}bee-btn-effect-{{ se_stts.button_effect }} {% endif %}">
                                      <span class="bee-btn-atc_text">{% assign load_more_df = 'blogs.pagination.load_more' | t %}{{ se_stts.btn_replace | default: load_more_df | escape }}</span> 
                                      {% if se_stts.btn_icon %}
                                        <svg class="bee-btn-icon" version="1.1" x="0px" y="0px" width="22px" height="22px" viewBox="0 0 22 22" style="enable-background:new 0 0 22 22;" xml:space="preserve">
                                          <path d="M16.66,6.25c-0.41-0.37-1.04-0.33-1.41,0.08c-0.37,0.41-0.33,1.04,0.08,1.41L17.87,10H1c-0.55,0-1,0.45-1,1s0.45,1,1,1
                                          h16.87l-2.53,2.25c-0.41,0.37-0.45,1-0.08,1.41C15.45,15.89,15.72,16,16,16c0.24,0,0.47-0.08,0.66-0.25L22.01,11L16.66,6.25z"></path>
                                        </svg>
                                      {% endif %}
                                      <div class="bee-loading__spinner bee-dn">
                                        <svg  width="16" height="16" aria-hidden="true" focusable="false" role="presentation" class="bee-svg__spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="bee-path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle></svg>
                                      </div> 
                                    </a>
                                    <div data-wrap-lm-bar class="bee-lm-bar bee-btn-color-{{ se_stts.btns_cl }}">
                                      <div class="bee-lm-bar--progress bee-pr bee-oh"><span class="bee-lm-bar--current bee-pa bee-l-0 bee-r-0 bee-t-0 bee-b-0" style="width: {{ current_pr_size | times: 100.0 | divided_by: results_count }}%"></span></div>
                                      <span class="bee-lm-bar--txt">{{ 'blogs.pagination.bar_with_count_html' | t: current_count: current_pr_size,total_count: results_count }}</span>
                                    </div>
                                {%- elsif se_stts.style_bar_lm == "button" -%}
                                    <a data-load-more{% if use_pagination == 'infinite' %} data-load-onscroll {% endif %}  href="{{ paginate.next.url }}" class="bee-pr bee-special-loadmore1 bee-loadmore-btn bee-btn-loading__svg bee-btn bee-btn-base bee-btn-style-outline bee-btn-size-{{ se_stts.btns_size }} bee-btn-icon-{{ se_stts.btn_icon }}" style="--progress-bar-primary-cl:{{ se_stts.progress_bar_primary_cl }};--progress-bar-second-cl:{{ se_stts.progress_bar_second_cl }};--progress-bar-text-cl: {{ se_stts.progress_bar_text_cl }};--progress-bar-active-cl: {{ se_stts.progress_bar_active_cl }};">
                                      <div class="bee-lm-bar--progress bee-pr bee-oh"><span class="bee-lm-bar--current bee-pa bee-l-0 bee-r-0 bee-t-0 bee-b-0" style="width: {{ current_pr_size | times: 100.0 | divided_by: results_count }}%"></span></div>
                                      <span class="bee-btn-atc_text">{% assign load_more_df = 'blogs.pagination.load_more' | t %}{{ se_stts.btn_replace | default: load_more_df | escape }}</span> 
                                      {% if se_stts.btn_icon %}
                                        <svg class="bee-btn-icon" version="1.1" x="0px" y="0px" width="22px" height="22px" viewBox="0 0 22 22" style="enable-background:new 0 0 22 22;" xml:space="preserve">
                                          <path d="M16.66,6.25c-0.41-0.37-1.04-0.33-1.41,0.08c-0.37,0.41-0.33,1.04,0.08,1.41L17.87,10H1c-0.55,0-1,0.45-1,1s0.45,1,1,1
                                          h16.87l-2.53,2.25c-0.41,0.37-0.45,1-0.08,1.41C15.45,15.89,15.72,16,16,16c0.24,0,0.47-0.08,0.66-0.25L22.01,11L16.66,6.25z"></path>
                                        </svg>
                                      {% endif %}
                                      <div class="bee-loading__spinner bee-dn">
                                        <svg  width="16" height="16" aria-hidden="true" focusable="false" role="presentation" class="bee-svg__spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="bee-path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle></svg>
                                      </div> 
                                    </a>
                                    <div data-wrap-lm-bar class="bee-lm-bar bee-btn-color-{{ se_stts.btns_cl }}">
                                        <span class="bee-lm-bar--txt">{{ 'blogs.pagination.bar_with_count_html' | t: current_count: current_pr_size,total_count: results_count }}</span>
                                    </div>
                                {%- else -%}
                                    <a data-load-more{% if use_pagination == 'infinite' %} data-load-onscroll {% endif %}  href="{{ paginate.next.url }}" class="bee-pr bee-special-loadmore2 bee-loadmore-btn bee-btn-loading__svg bee-btn bee-btn-base bee-btn-size-{{ se_stts.btns_size }} bee-btn-icon-{{ se_stts.btn_icon }} " style="--progress-bar-primary-cl:{{ se_stts.progress_bar_primary_cl }};--progress-bar-second-cl:{{ se_stts.progress_bar_second_cl }};--progress-bar-text-cl: {{ se_stts.progress_bar_text_cl }};--progress-bar-active-cl: {{ se_stts.progress_bar_active_cl }};">
                                      <div class="bee-circle-css" style="--border-w:2px;--cricle-degrees: {{ current_pr_size | times: 1.0 | divided_by: results_count | times: 360 }}deg;">
                                        <div class="bee-circle--inner">
                                          <span class="bee-btn-atc_text">
                                            <span>{% assign load_more_df = 'blogs.pagination.load_more' | t %}{{ se_stts.btn_replace | default: load_more_df | escape }}</span>
                                            {% if se_stts.btn_icon %}
                                              <svg class="bee-btn-icon" version="1.1" x="0px" y="0px" width="22px" height="22px" viewBox="0 0 22 22" style="enable-background:new 0 0 22 22;" xml:space="preserve">
                                                <path d="M16.66,6.25c-0.41-0.37-1.04-0.33-1.41,0.08c-0.37,0.41-0.33,1.04,0.08,1.41L17.87,10H1c-0.55,0-1,0.45-1,1s0.45,1,1,1
                                                h16.87l-2.53,2.25c-0.41,0.37-0.45,1-0.08,1.41C15.45,15.89,15.72,16,16,16c0.24,0,0.47-0.08,0.66-0.25L22.01,11L16.66,6.25z"></path>
                                              </svg>
                                            {% endif %}
                                          </span>  
                                        </div>
                                        <div class="bee-circle--bg"></div>
                                      </div>
                                      <div class="bee-loading__spinner bee-dn">
                                        <svg  width="16" height="16" aria-hidden="true" focusable="false" role="presentation" class="bee-svg__spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="bee-path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle></svg>
                                      </div>
                                    </a>
                                {%- endif -%}
                            {%- else -%}
                                <a data-load-more{% if use_pagination == 'infinite' %} data-load-onscroll {% endif %}  href="{{ paginate.next.url }}" class="bee-pr bee-loadmore-btn bee-btn-loading__svg bee-btn bee-btn-base bee-btn-style-{{ se_stts.button_style }} bee-btn-size-{{ se_stts.btns_size }} bee-btn-rounded-{{ se_stts.btn_rounded }} bee-btn-icon-{{ se_stts.btn_icon }} bee-btn-color-{{ se_stts.btns_cl }} {% if se_stts.button_style == 'default' or se_stts.button_style == 'outline' %}bee-btn-effect-{{ se_stts.button_effect }} {% endif %}">
                                    <span class="bee-btn-atc_text">{% assign load_more_df = 'blogs.pagination.load_more' | t %}{{ se_stts.btn_replace | default: load_more_df | escape }}</span>  
                                    {% if se_stts.btn_icon %}
                                      <svg class="bee-btn-icon" version="1.1" x="0px" y="0px" width="22px" height="22px" viewBox="0 0 22 22" style="enable-background:new 0 0 22 22;" xml:space="preserve">
                                        <path d="M16.66,6.25c-0.41-0.37-1.04-0.33-1.41,0.08c-0.37,0.41-0.33,1.04,0.08,1.41L17.87,10H1c-0.55,0-1,0.45-1,1s0.45,1,1,1
                                        h16.87l-2.53,2.25c-0.41,0.37-0.45,1-0.08,1.41C15.45,15.89,15.72,16,16,16c0.24,0,0.47-0.08,0.66-0.25L22.01,11L16.66,6.25z"></path>
                                      </svg>
                                    {% endif %}
                                    <div class="bee-loading__spinner bee-dn">
                                      <svg  width="16" height="16" aria-hidden="true" focusable="false" role="presentation" class="bee-svg__spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="bee-path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle></svg>
                                    </div> 
                                </a>
                            {%- endif -%}
                        </div>
                    {%- endif -%}
                {%- else -%}
                    <a class="bee-btn bee-btn-base bee-viewall-btn bee-btn-base bee-btn-style-{{ se_stts.button_style }} bee-btn-size-{{ se_stts.btns_size }} bee-btn-icon-{{ se_stts.btn_icon }} bee-btn-color-{{ se_stts.btns_cl }} {% if se_stts.button_style == 'default' or se_stts.button_style == 'outline' %}bee-btn-effect-{{ se_stts.button_effect }} {% endif %}" href="{{ blog_url }}">{{ 'blogs.pagination.view_all' | t }}{%- if se_stts.btn_icon -%} <svg class="bee-btn-icon" viewBox="0 0 22 22"><use xlink:href="#bee-icon-btn"></use></svg>{%- endif -%}</a>
                {%- endif -%} 
            </div>
        {%- endif -%} 
    {% endif %}
    {%- if heading_inline -%}</div>{%- endif -%}
    {{- html_layout[1] -}}
  </div>
{%- endpaginate -%}
{% schema %}
  {
    "name": "Featured blogs packery",
    "tag": "section",
    "class": "bee-section bee_bk_flickity bee-section-all bee_tp_mfps bee-featured-blog bee-blog-pa bee_tp_istope",
    "settings": [
        {
            "type": "header",
            "content": "1. Heading options"
        },
        {
            "type": "text",
            "id": "top_heading",
            "label": "Heading"
        },
        {
            "type": "richtext",
            "id": "top_subheading",
            "label": "Description"
        },
        
        {
            "type": "checkbox",
            "id": "heading_center",
            "label": "Center heading align",
            "default": true
        },
        {
            "type": "number",
            "id": "tophead_mb",
            "label": "Bottom space (Desktop)(px)",
            "info": "The spacing is between the heading and the content",
            "default": 30
        },
        
          {
              "type": "number",
              "id": "tophead_mb_tb",
              "label": "Bottom space (Tablet)(px)",
              "info": "The spacing is between the heading and the content",
              "default": 30
          },
          {
              "type": "number",
              "id": "tophead_mb_mb",
              "label": "Bottom space (Mobile)(px)",
              "info": "The spacing is between the heading and the content",
              "default": 25
          },
        {
            "type": "checkbox",
            "id": "heading_inline",
            "label": "Heading inline",
            "info": "Heading and section content are in a line. Only works on desktop",
            "default": false
        },
        {
            "type": "select",
            "id": "heading_width",
            "label": "Heading content width",
            "info": "Only works when enable heading inline",
            "default": "small",
            "options": [
                {
                  "label": "Small",
                  "value": "small"
                },
                {
                  "label": "Medium",
                  "value": "medium"
                },
                {
                  "label": "Large",
                  "value": "large"
                }
            ]
        },
        {
            "type": "header",
            "content": "2. General options"
        },
        {
            "id": "blog",
            "type": "blog",
            "label": "Blog post"
        },
        {
            "type": "range",
            "id": "limit",
            "min": 1,
            "max": 50,
            "step": 1,
            "label": "Number of articles to show",
            "default": 8 
        },
        {
            "type": "select",
            "id": "show_blog_title",
            "label": "Show blog title",
            "info": "From tags contains 'blog_': will show tags on article current contains 'blog_'",
            "default": "blog_current",
            "options": [
                {
                    "value": "disable",
                    "label": "Disable"
                },
                {
                    "value": "blog_current",
                    "label": "From blog current"
                },
                {
                    "value": "blog_tags",
                    "label": "From tags contains 'blog_'"
                }
            ]
        },
        {
            "type": "checkbox",
            "id": "show_content",
            "label": "Show short content",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "show_tags",
            "label": "Show tags",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "show_author",
            "label": "Show author",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_comment",
            "label": "Show comment",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "show_readmore",
            "label": "Show readmore",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "show_date",
            "label": "Show date",
            "default": true
        },
        {
            "type": "select",
            "id": "date",
            "options": [
                {
                    "value": "abbreviated_date",
                    "label": "Apr 19, 1994"
                },
                {
                    "value": "basic",
                    "label": "4/19/1994"
                },
                {
                    "value": "date",
                    "label": "April 19, 1994"
                },
                {
                    "value": "%b %d",
                    "label": "Apr 19"
                }
            ],
            "label": "Date format",
            "info": "Different format options display for various languages.",
            "default": "%b %d"
        },
        {
            "type": "header",
            "content": "+ Content options"
        },
        {
            "type": "select",
            "id": "content_align",
            "label": "Content align",
            "default": "bee-text-start",
            "options": [
                {
                    "value": "bee-text-start",
                    "label": "Default"
                },
                {
                    "value": "bee-text-center",
                    "label": "Center"
                }
            ]
        },
        {
            "type": "select",
            "id": "img_effect",
            "label": "Image hover effect",
                "info": "Waring: Hovering effect will resize your images",
            "default": "none",
            "options": [
            {
                "value": "none",
                "label": "None"
            },
            {
                "value": "zoom",
                "label": "Zoom in"
            },
            {
                "value": "rotate",
                "label": "Rotate"
            },
            {
                "value": "translateToTop",
                "label": "Move to top "
            },
            {
                "value": "translateToRight",
                "label": "Move to right"
            },
            {
                "value": "translateToBottom",
                "label": "Move to bottom"
            },
            {
                "value": "translateToLeft",
                "label": "Move to left"
            }
            ]
        },
        {
            "type": "select",
            "id": "b_effect",
            "label": "Blog effect when hover",
            "default": "none",
            "options": [
            {
                "value": "none",
                "label": "None"
            },
            {
                "value": "border-run",
                "label": "Border run"
            },
            {
                "value": "pervasive-circle",
                "label": "Pervasive circle"
            },
            {
                "value": "plus-zoom-overlay",
                "label": "Plus zoom overlay"
            },
            {
                "value": "dark-overlay",
                "label": "Dark overlay"
            },
            {
                "value": "light-overlay",
                "label": "Light overlay"
            }
            ]
        },
        {
            "type": "select",
            "id": "image_ratio_1",
            "label": "Image ratio for big items",
            "default": "ratio4_3",
            "info": "Aspect ratio custom will settings in general panel",
            "options": [
            {
                "group": "Natural",
                "value": "ratioadapt",
                "label": "Adapt to image"
            },
            {
                "group": "Landscape",
                "value": "ratio2_1",
                "label": "2:1"
            },
            {
                "group": "Landscape",
                "value": "ratio16_9",
                "label": "16:9"
            },
            {
                "group": "Landscape",
                "value": "ratio8_5",
                "label": "8:5"
            },
            {
                "group": "Landscape",
                "value": "ratio3_2",
                "label": "3:2"
            },
            {
                "group": "Landscape",
                "value": "ratio4_3",
                "label": "4:3"
            },
            {
                "group": "Landscape",
                "value": "rationt",
                "label": "Ratio ASOS"
            },
            {
                "group": "Squared",
                "value": "ratio1_1",
                "label": "1:1"
            },
            {
                "group": "Portrait",
                "value": "ratio2_3",
                "label": "2:3"
            },
            {
                "group": "Portrait",
                "value": "ratio1_2",
                "label": "1:2"
            },
            {
                "group": "Custom",
                "value": "ratiocus1",
                "label": "Ratio custom 1"
            },
            {
                "group": "Custom",
                "value": "ratiocus2",
                "label": "Ratio custom 2"
            },
            {
                "group": "Custom",
                "value": "ratiocus3",
                "label": "Ratio custom 3"
            },
            {
                "group": "Custom",
                "value": "ratiocus4",
                "label": "Ratio custom 4"
            }
            ]
        },
        {
            "type": "select",
            "id": "image_ratio",
            "label": "Image ratio",
            "default": "ratio4_3",
            "info": "Aspect ratio custom will settings in general panel",
            "options": [
            {
                "group": "Natural",
                "value": "ratioadapt",
                "label": "Adapt to image"
            },
            {
                "group": "Landscape",
                "value": "ratio2_1",
                "label": "2:1"
            },
            {
                "group": "Landscape",
                "value": "ratio16_9",
                "label": "16:9"
            },
            {
                "group": "Landscape",
                "value": "ratio8_5",
                "label": "8:5"
            },
            {
                "group": "Landscape",
                "value": "ratio3_2",
                "label": "3:2"
            },
            {
                "group": "Landscape",
                "value": "ratio4_3",
                "label": "4:3"
            },
            {
                "group": "Landscape",
                "value": "rationt",
                "label": "Ratio ASOS"
            },
            {
                "group": "Squared",
                "value": "ratio1_1",
                "label": "1:1"
            },
            {
                "group": "Portrait",
                "value": "ratio2_3",
                "label": "2:3"
            },
            {
                "group": "Portrait",
                "value": "ratio1_2",
                "label": "1:2"
            },
            {
                "group": "Custom",
                "value": "ratiocus1",
                "label": "Ratio custom 1"
            },
            {
                "group": "Custom",
                "value": "ratiocus2",
                "label": "Ratio custom 2"
            },
            {
                "group": "Custom",
                "value": "ratiocus3",
                "label": "Ratio custom 3"
            },
            {
                "group": "Custom",
                "value": "ratiocus4",
                "label": "Ratio custom 4"
            }
            ]
        },
        {
            "type": "select",
            "id": "image_size",
            "label": "Image size",
            "default": "cover",
            "info": "This settings apply only if the image ratio is not set to 'Adapt to image'.",
            "options": [
            {
                "value": "cover",
                "label": "Full"
            },
            {
                "value": "contain",
                "label": "Auto"
            }
            ]
        },
        {
            "type": "select",
            "id": "image_position",
            "info": "The first value is the horizontal position and the second value is the vertical. This settings apply only if the image ratio is not set to 'Adapt to image'.",
            "options": [
            {
                "value": "default",
                "label": "Default"
            },
            {
                "value": "1",
                "label": "Left top"
            },
            {
                "value": "2",
                "label": "Left center"
            },
            {
                "value": "3",
                "label": "Left bottom"
            },
            {
                "value": "4",
                "label": "Right top"
            },
            {
                "value": "5",
                "label": "Right center"
            },
            {
                "value": "6",
                "label": "Right bottom"
            },
            {
                "value": "7",
                "label": "Center top"
            },
            {
                "value": "8",
                "label": "Center center"
            },
            {
                "value": "9",
                "label": "Center bottom"
            }
            ],
            "label": "Image position",
            "default": "8"
        },
        {
            "type": "select",
            "id": "col_dk",
            "label": "Items per row",
            "default": "3",
            "options": [
                {
                    "value": "1",
                    "label": "1"
                },
                {
                    "value": "2",
                    "label": "2"
                },
                {
                    "value": "3",
                    "label": "3"
                },
                {
                    "value": "4",
                    "label": "4"
                }
            ]
        },
        {
            "type": "select",
            "id": "col_tb",
            "label": "Items per row (Tablet)",
            "default": "2",
            "options": [
                {
                    "value": "1",
                    "label": "1"
                },
                {
                    "value": "2",
                    "label": "2"
                },
                {
                    "value": "3",
                    "label": "3"
                },
                {
                    "value": "4",
                    "label": "4"
                }
            ]
        },
        {
            "type": "select",
            "id": "col_mb",
            "label": "Items per row (Mobile)",
            "default": "1",
            "options": [
            {
                "value": "1",
                "label": "1"
            },
            {
                "value": "2",
                "label": "2"
            }
            ]
        },
        {
            "type": "select",
            "id": "space_h_item",
            "options": [
                {
                    "value": "0", 
                    "label": "0"
                },
                {
                    "value": "2", 
                    "label": "2px"
                },
                {
                    "value": "4", 
                    "label": "4px"
                },
                {
                    "value": "6", 
                    "label": "6px"
                },
                {
                    "value": "8", 
                    "label": "8px"
                },
                {
                    "value": "10", 
                    "label": "10px"
                },
                  {
                      "value": "15",
                      "label": "15px"
                  },
                  {
                      "value": "20",
                      "label": "20px"
                  },
                  {
                      "value": "25",
                      "label": "25px"
                  },
                {
                    "value": "30",
                    "label": "30px"
                },
                {
                    "value": "40",
                    "label": "40px"
                }
            ],
            "label": "Space horizontal items",
            "default": "30"
        },
        {
            "type": "select",
            "id": "space_v_item",
            "options": [
                {
                    "value": "0", 
                    "label": "0"
                },
                {
                    "value": "2", 
                    "label": "2px"
                },
                {
                    "value": "4", 
                    "label": "4px"
                },
                {
                    "value": "6", 
                    "label": "6px"
                },
                {
                    "value": "8", 
                    "label": "8px"
                },
                {
                    "value": "10", 
                    "label": "10px"
                },
              {
                  "value": "15",
                  "label": "15px"
              },
              {
                  "value": "20",
                  "label": "20px"
              },
              {
                  "value": "25",
                  "label": "25px"
              },
                {
                    "value": "30",
                    "label": "30px"
                },
                {
                    "value": "40",
                    "label": "40px"
                }
            ],
            "label": "Space vertical items",
            "default": "30"
        },
        {
            "type": "select",
            "id": "space_h_item_tb",
            "options": [
                {
                    "value": "0", 
                    "label": "0"
                },
                {
                    "value": "2", 
                    "label": "2px"
                },
                {
                    "value": "4", 
                    "label": "4px"
                },
                {
                    "value": "6", 
                    "label": "6px"
                },
                {
                    "value": "8", 
                    "label": "8px"
                },
                {
                    "value": "10", 
                    "label": "10px"
                },
          {
              "value": "15",
              "label": "15px"
          },
          {
              "value": "20",
              "label": "20px"
          },
          {
              "value": "25",
              "label": "25px"
          },
                {
                    "value": "30",
                    "label": "30px"
                },
                {
                    "value": "40",
                    "label": "40px"
                }
            ],
            "label": "Space horizontal items (Tablet)",
            "default": "20"
        },
        {
            "type": "select",
            "id": "space_v_item_tb",
            "options": [
                {
                    "value": "0", 
                    "label": "0"
                },
                {
                    "value": "2", 
                    "label": "2px"
                },
                {
                    "value": "4", 
                    "label": "4px"
                },
                {
                    "value": "6", 
                    "label": "6px"
                },
                {
                    "value": "8", 
                    "label": "8px"
                },
                {
                    "value": "10", 
                    "label": "10px"
                },
          {
              "value": "15",
              "label": "15px"
          },
          {
              "value": "20",
              "label": "20px"
          },
          {
              "value": "25",
              "label": "25px"
          },
                {
                    "value": "30",
                    "label": "30px"
                },
                {
                    "value": "40",
                    "label": "40px"
                }
            ],
            "label": "Space vertical items (Tablet)",
            "default": "20"
        },
        {
            "type": "select",
            "id": "space_h_item_mb",
            "options": [
                {
                    "value": "0", 
                    "label": "0"
                },
                {
                    "value": "2", 
                    "label": "2px"
                },
                {
                    "value": "4", 
                    "label": "4px"
                },
                {
                    "value": "6", 
                    "label": "6px"
                },
                {
                    "value": "8", 
                    "label": "8px"
                },
                {
                    "value": "10", 
                    "label": "10px"
                },
          {
              "value": "15",
              "label": "15px"
          },
          {
              "value": "20",
              "label": "20px"
          },
          {
              "value": "25",
              "label": "25px"
          },
                {
                    "value": "30",
                    "label": "30px"
                },
                {
                    "value": "40",
                    "label": "40px"
                }
            ],
            "label": "Space horizontal items (Mobile)",
            "default": "10"
        },
        {
            "type": "select",
            "id": "space_v_item_mb",
            "options": [
                {
                    "value": "0", 
                    "label": "0"
                },
                {
                    "value": "2", 
                    "label": "2px"
                },
                {
                    "value": "4", 
                    "label": "4px"
                },
                {
                    "value": "6", 
                    "label": "6px"
                },
                {
                    "value": "8", 
                    "label": "8px"
                },
                {
                    "value": "10", 
                    "label": "10px"
                },
          {
              "value": "15",
              "label": "15px"
          },
          {
              "value": "20",
              "label": "20px"
          },
          {
              "value": "25",
              "label": "25px"
          },
                {
                    "value": "30",
                    "label": "30px"
                },
                {
                    "value": "40",
                    "label": "40px"
                }
            ],
            "label": "Space vertical items (Mobile)",
            "default": "10"
        },
        {
            "type": "header",
            "content": "--Box options--"
        },
        {
            "type": "header",
            "content": "+Options for packery layout"
        },
        {
            "type": "select",
            "id": "use_pagination",
            "label": "Pagination",
            "default": "none",
            "options": [
              {
                "value": "none",
                "label": "None"
              },
              {
                "value": "load-more",
                "label": "'Load more' button"
              },
              {
                "value": "view-all",
                "label": "'View all' button"
              }
            ]
          },
          {
            "type": "text",
            "id": "btn_replace",
            "label": "Title of the replace button",
            "info": "Leave empty to use 'View all' or 'Load more' default."
          },

          {
            "type": "select",
            "id": "btns_size",
            "label": "Button size",
            "default": "default",
            "options": [
                {
                    "label": "Default",
                    "value": "default"
                },
                {
                    "label": "Custom size #1",
                    "value": "1"
                },
                {
                    "label": "Custom size #2",
                    "value": "2"
                },
                {
                    "label": "Custom size #3",
                    "value": "3"
                }
            ]
          },
          {
            "type": "checkbox",
            "id": "btn_icon",
            "label": "Enable button icon",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "enable_bar_lm",
            "label": "Enable progress bar",
            "info": "Only active when you use 'Load more'",
            "default": true
          },
          {
            "type": "select",
            "id": "style_bar_lm",
            "label": "Style progress bar",
            "default": "default",
            "options": [
              {
                  "value": "default",
                  "label": "Default"
              },
              {
                  "value": "button",
                  "label": "Button"
              },
              {
                  "value": "cricle",
                  "label": "Cricle"
              }
            ]
          },
          {
            "type": "color",
            "id": "progress_bar_primary_cl",
            "label": "Progress bar primary color",
            "default": "#E6E5ED"
          },
          {
            "type": "color",
            "id": "progress_bar_second_cl",
            "label": "Progress bar secondary color",
            "default": "#BFBEC8"
          },
          {
            "type": "color",
            "id": "progress_bar_text_cl",
            "label": "Progress bar text color",
            "default": "#27262C"
          },
          {
            "type": "color",
            "id": "progress_bar_active_cl",
            "label": "Progress bar hover color",
            "default": "#4C4B51"
          },

          {
            "type": "range",
            "id": "pagination_distance",
            "min": 0,
            "max": 100,
            "step": 1,
            "label": "Distance from pagination to boundary",
            "unit": "px",
            "default": 20
          },
          {
            "type": "select",
            "id": "pagination_position",
            "label": "Pagination position",
            "default": "bee-text-center",
            "options": [
              {
                "value": "bee-text-start",
                "label": "Left"
              },
              {
                "value": "bee-text-center",
                "label": "Center"
              },
              {
                "value": "bee-text-end",
                "label": "Right"
              }
            ]
          },

          {
            "type": "paragraph",
            "content": "+ NOTE: The button options below are not available when using a button or circular progress bar."
          },
          {
            "type": "select",
            "id": "button_style",
            "label": "Button style",
            "options": [
                {
                    "label": "Default",
                    "value": "default"
                },
                {
                    "label": "Outline",
                    "value": "outline"
                },
                {
                    "label": "Border bottom",
                    "value": "bordered"
                },
                {
                    "label": "Link",
                    "value": "link"
                }
            ]
          },
          {
            "type": "select",
            "id": "btns_cl",
            "label": "Button color",
            "default": "dark",
            "options": [
              {
                  "value": "light",
                  "label": "Light"
              },
              {
                  "value": "dark",
                  "label": "Dark"
              },
              {
                  "value": "primary",
                  "label": "Primary"
              },
              {
                  "value": "custom1",
                  "label": "Custom color 1"
              },
              {
                  "value": "custom2",
                  "label": "Custom color 2"
              },
                    {
                        "value": "custom3",
                        "label": "Custom color 3"
                    }
            ]
          },
          {
              "type": "select",
              "id": "button_effect",
              "label": "Hover button effect",
              "default": "default",
              "info": "Only working button style default, outline",
              "options": [
                  {
                      "label": "Default",
                      "value": "default"
                  },
                  {
                      "label": "Fade",
                      "value": "fade"
                  },
                  {
                      "label": "Rectangle out",
                      "value": "rectangle-out"
                  },
                  {
                      "label": "Sweep to right",
                      "value": "sweep-to-right"
                  },
                  {
                      "label": "Sweep to left",
                      "value": "sweep-to-left"
                  },
                  {
                      "label": "Sweep to bottom",
                      "value": "sweep-to-bottom"
                  },
                  {
                      "label": "Sweep to top",
                      "value": "sweep-to-top"
                  },
                  {
                      "label": "Shutter out horizontal",
                      "value": "shutter-out-horizontal"
                  },
                  {
                      "label": "Outline",
                      "value": "outline"
                  },
                  {
                      "label": "Shadow",
                      "value": "shadow"
                  }
              ]
          },
        {
            "type": "header",
            "content": "3. Design options"
        },
        {
            "type": "select","id": "layout","default": "bee-container-wrap","label": "Layout",
            "options": [
                { "value": "bee-se-container", "label": "Container"},
                { "value": "bee-container-wrap", "label": "Wrapped container"},
                { "value": "bee-container-fluid", "label": "Full width"}
            ]
        },
        {
            "type": "color",
            "id": "cl_bg",
            "label": "Background"
        },
        {
            "type": "color_background",
            "id": "cl_bg_gradient",
            "label": "Background gradient"
        },
        {
            "type": "image_picker",
            "id": "image_bg",
            "label": "Background image"
        },
        { 
            "type": "text",
            "id": "mg",
            "label": "Margin",
            "info": "Margin top, margin right, margin bottom, margin left. If you do not use it please blank.",
            "default": ",,50px,",
            "placeholder": ",,50px,"
        },
        {
            "type": "text",
            "id": "pd",
            "label": "Padding",
            "info": "Padding top, padding right, padding bottom, padding left. If you do not use it please blank.",
            "placeholder": "50px,,50px,"
        },
        {
            "type": "header",
            "content": "+ Design tablet options"
        },
        {
            "type": "text",
            "id": "mg_tb",
            "label": "Margin",
            "default": ",,50px,",
            "placeholder": ",,50px,"
        },
        {
            "type": "text",
            "id": "pd_tb",
            "label": "Padding",
            "placeholder": "50px,,50px,"
        },
        {
            "type": "header",
            "content": "+ Design mobile options"
        },
        {
            "type": "text",
            "id": "mg_mb",
            "label": "Margin",
            "default": ",,30px,",
            "placeholder": ",,50px,"
        },
        {
            "type": "text",
            "id": "pd_mb",
            "label": "Padding",
            "placeholder": ",,50px,"
        }
    ],
    "presets": [
      {
        "name": "Featured blogs packery",
        "category": "group4"
      }
    ]
  }
{% endschema %}