<!-- sections/logo-list.liquid -->
{{ 'bee-section.css' | asset_url | stylesheet_tag }}
{%- liquid
    assign sid = section.id
    assign se_stts = section.settings
    assign se_blocks = section.blocks
    assign stt_layout = se_stts.layout
    assign stt_image_bg = se_stts.image_bg
     assign image_fix = image_nt | image_tag
    assign click_image = se_stts.click_image
    assign nav_thumbs = se_stts.nav_thumbs
    assign enable_border = se_stts.enable_border
    if click_image == "data-bee-gallery"
        assign click_class = "bee-cursor-pointer"
    endif 
    if se_stts.layout == 'bee-cus-width'
	    assign html_layout = '<div class="bee-container" style="--width: 010693px">__</div>' | split: '__'
    elsif stt_layout == 'bee-se-container' 
        assign html_layout = '<div class="bee-container">__</div></div>' | split: '__'
    elsif stt_layout == 'bee-container-wrap'
        assign html_layout = '<div class="bee-container">__</div>' | split: '__'
    else
        assign html_layout = '__' | split: '__'
    endif
    if se_stts.btn_owl == "outline"
    assign arrow_icon = 1
    else
    assign arrow_icon = 2
    endif
    assign ARRhtml1 = 'a,,' | split: ','
    assign ARRhtml2 = 'div,data-,data-' | split: ','
    assign open_link = se_stts.open_link
    assign b_effect = se_stts.b_effect
    assign img_effect = se_stts.img_effect

    assign show_btn = se_stts.show_btn
    if show_btn != "hidden"
      assign slider_btns = true
    else
      assign slider_btns = false
    endif
    assign show_dots = se_stts.show_dots
    if show_dots != "hidden"
      assign slider_dots = true
    else
      assign slider_dots = false
    endif
    assign nav_btn_icon = se_stts.nav_btn_icon
    assign navUI = false
    if show_btn != "hidden" and nav_btn_icon != "default" 
        assign navUI = true
    endif 
    if show_btn != "hidden" and se_stts.btn_pos == "vertical"
      assign navUI = true
    endif 

 -%}    
{%- if b_effect != "none" or img_effect != "none" -%}
    {{ 'bee-animation.css' | asset_url | stylesheet_tag }}
    {{ 'bee-custom-effect.css' | asset_url | stylesheet_tag }}
{%- endif -%}
{%- if se_stts.layout_des == "2" -%}
    {{ 'pre_flickitybee.min.css' | asset_url | stylesheet_tag }}
    {{ 'bee-slider-settings.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- capture append_style -%}
    {% if stt_image_bg.presentation.focal_point != '50.0% 50.0%' %} --background-position: {{stt_image_bg.presentation.focal_point}}{% endif %} 
{%- endcapture -%}
<div class="bee-section-inner bee_nt_se_{{ sid }} {{ stt_layout }}{% if stt_image_bg != blank and stt_layout != 'bee-se-container' %} bee-has-imgbg lazyloadbee{% endif %}" {% if stt_image_bg != blank and stt_layout != 'bee-se-container' %} data-bgset="{{ stt_image_bg | image_url: width: 1 }}" data-sizes="auto"  data-optimumx="1.5"{% endif %} {% render 'section_style', se_stts: se_stts, append_style: append_style -%} >
    {{- html_layout[0] | replace: '010693', se_stts.custom_width -}}
    {%- if stt_layout == 'bee-se-container' -%}
      <div class="bee-container-inner{% if stt_image_bg != blank %} bee-has-imgbg lazyloadbee{% endif %}" {% if stt_image_bg != blank %} data-bgset="{{ stt_image_bg | image_url: width: 1 }}" data-sizes="auto"  data-optimumx="1.5"{% endif %}>{% endif -%}
    {%- render 'section_tophead', se_stts: se_stts, get_height: true -%}
    {%- if se_stts.layout_des == "1" -%}
        <div {{ click_image }} data-bee-thumb-{{ nav_thumbs }} class="bee_ratioadapt bee-align-items-center bee-row bee-row-cols-lg-{{ se_stts.col_dk }} bee-row-cols-md-{{ se_stts.col_tb }} bee-row-cols-{{ se_stts.col_mb }} bee-gx-lg-{{ se_stts.space_item }} bee-gy-lg-{{ se_stts.space_item }} bee-gx-md-{{ se_stts.space_item_tb }} bee-gy-md-{{ se_stts.space_item_tb }} bee-gx-{{ se_stts.space_item_mb }} bee-gy-{{ se_stts.space_item_mb }} bee-logo__border-{{ enable_border }}" id="b_{{ block.id }}" data-select-flickity {{ block.shopify_attributes }}>
    {%- elsif se_stts.layout_des == "2" -%}
        {%- liquid
          assign icon_slider = se_stts.icon_slider 
          if icon_slider == "1"
            assign view_box = "0 0 22 22"
          endif -%}
        <div {{ click_image }} data-bee-thumb-{{ nav_thumbs }} class="bee-flickity-slider bee_ratioadapt bee-row bee-row-cols-lg-{{ se_stts.col_dk }} bee-row-cols-md-{{ se_stts.col_tb }} bee-row-cols-{{ se_stts.col_mb }} bee-gx-lg-{{ se_stts.space_item }} bee-gy-lg-{{ se_stts.space_item }} bee-gx-md-{{ se_stts.space_item_tb }} bee-gy-md-{{ se_stts.space_item_tb }} bee-gx-{{ se_stts.space_item_mb }} bee-gy-{{ se_stts.space_item_mb }} bee-logo__border-{{ enable_border }}{% if slider_btns == true %} bee-slider-btn-{{ show_btn }} bee-slider-btn__{{ se_stts.btn_pos }}-content bee-slider-btn-style-{{ se_stts.btn_owl }} bee-slider-btn-{{ se_stts.btn_shape }} bee-slider-btn-{{ se_stts.btn_size }} bee-slider-btn-cl-{{ se_stts.btn_cl }} bee-slider-btn-vi-{{ se_stts.btn_vi }}{% endif %}{% if slider_dots == true %} bee-slider-dots-{{show_dots}} bee-dots-width-{{ se_stts.dots_width }} bee-dots-align-{{ se_stts.dots_align }} {% if se_stts.dots_layout == 'default' %}bee-dots-design-{{ se_stts.dots_design }}{% endif %} bee-dots-style-{{ se_stts.dot_owl }} bee-dots-cl-{{ se_stts.dots_cl }} bee-dots-round-{{ se_stts.dots_round }} bee-dots-hidden-mobile-{{ slider_dots }} {% endif %} flickitybee" data-flickitybee-js='{"customIcon":{{icon_slider}}, "viewBox":"{{view_box}}", "setPrevNextButtons": true, "arrowIcon": "{{ arrow_icon }}","imagesLoaded": 0,"adaptiveHeight": 0, "contain": 1, "groupCells": "100%", "dragThreshold" : 5, "cellAlign": "left","wrapAround": {{ se_stts.loop }},"prevNextButtons":  {{ slider_btns }},"percentPosition": 1,"pageDots": {{ slider_dots }}, "autoPlay" : {{ se_stts.au_time | times: 1000 }}, "pauseAutoPlayOnHover" : {{ se_stts.au_hover }} }' style="--space-dots: {{ se_stts.dots_space }}px;--dots-position-vertical: {{ se_stts.dots_pos_vy }}{{ unit_dots_vertical }};{%- if unit_dots_vertical == '%' -%}--dots-transform-vertical: {{ se_stts.dots_pos_vy }}%;{%- endif -%}--dots-pd-lr: {{ se_stts.dots_pd_lr }}px;--btn-distance:{{ se_stts.btn_distance }}px;">
    {%- else -%}
        <div {{ click_image }} data-bee-thumb-{{ nav_thumbs }} class="isotopebee bee_ratioadapt bee-row bee-row-cols-lg-{{ se_stts.col_dk }} bee-row-cols-md-{{ se_stts.col_tb }} bee-row-cols-{{ se_stts.col_mb }} bee-gx-lg-{{ se_stts.space_item }} bee-gy-lg-{{ se_stts.space_item }} bee-gx-md-{{ se_stts.space_item_tb }} bee-gy-md-{{ se_stts.space_item_tb }} bee-gx-{{ se_stts.space_item_mb }} bee-gy-{{ se_stts.space_item_mb }} bee-logo__border-{{ enable_border }}" data-isotopebee-js='{ "itemSelector": ".bee-logo-item", "layoutMode": "packery" }'>
    {%- endif -%}
        {%- if se_blocks.size > 0 -%}
            {%- for block in se_blocks -%}
                {%- liquid
                    assign bk_stts = block.settings 
                    assign image = bk_stts.image 
                    assign url = bk_stts.url
                    if url == blank 
                        assign ARRhtml = ARRhtml2
                    else 
                        assign ARRhtml = ARRhtml1 
                    endif 
                -%}
                <div {{ click_image }}--item class="bee-col-item bee-logo-item bee-text-center {{ click_class }}" id="b_{{ block.id }}" data-select-flickity {{ block.shopify_attributes }} >
                    <{{ ARRhtml[0] }} {{ ARRhtml[1] }}href="{{ url }}" {{ ARRhtml[2] }}target="{{ open_link }}" class="bee-eff bee-eff-{{ b_effect }} bee-eff-img-{{ img_effect }} bee-logo-item__wrapper" {{ click_image }}--open data-cacl-slide>                 
                        {%- if image != blank -%}
                            <div class="bee_ratio bee-bg-11" style="--aspect-ratioapt: {{ image.aspect_ratio }};--max-width:{{ image.width }}px;background: url({{ image | image_url: width: 1 }});">
                                <img class="lazyloadbee bee-obj-eff bee-w-100" data-pswp-src="{{ image | image_url }}" data-pswp-w="{{ image.width }}" data-pswp-h="{{ image.height }}"  data-src="{{ image | image_url: width: 1 }}" data-widths="[100,200,400,600,700,800,900,1000,1200,1400,1600]" data-optimumx="2" data-sizes="auto" src="{% render 'img_svg', w: image.width, h: image.height %}" width="{{ image.width }}" height="{{ image.height }}" alt="{{ image.alt | escape }}" >
                            </div>
                        {%- else -%}
                            <div class="bee_ratio" style="--aspect-ratioapt: 1.77776">{{ 'logo' | placeholder_svg_tag: 'bee-placeholder-svg bee-obj-eff' }} </div>
                        {%- endif -%}                   
                    </{{ ARRhtml[0] }}> 
                </div>
            {%- endfor -%}
        {%- endif -%}
    </div>
    {{- html_layout[1] -}}
</div>
{%- style -%}
    
    .bee-logo-list .flickitybee-enabled .flickitybee-slider {display: flex;align-items: center;}
    .bee-logo-list .bee-logo-item .bee_ratio{margin: 0 auto; max-width:var(--max-width)}
    .bee-logo__border-true .bee-logo-item{min-height: 211px;box-shadow: inset -1px -1px var(--border-color), -1px -1px var(--border-color);}
    .bee-logo__border-true .flickitybee-viewport:before{position: absolute;content:"";width: 100%;height: 100%;border: 1px solid var(--border-color);pointer-events: none;display: block!important;}
    .bee-logo__border-true .bee-logo-item__wrapper{min-height: inherit;display: flex;align-items: center;justify-content: center;}
    @media (max-width:767px){.bee-logo__border-true .bee-logo-item{min-height: 180px }}
    @media (min-width:1025px){.bee-row-cols-lg-7 .flickitybee-slider>.bee-col-item, .bee-row-cols-lg-7>.bee-col-item{width:14.2%}}
{%- endstyle -%}
{% schema %}
{
    "name": "Logo list",
    "tag": "section",
    "class": "bee-section bee-section-all bee_bk_flickity bee_tp_istope bee-gallery bee-logo-list",
    "settings": [
        {
            "type": "header",
            "content": "1. Heading options"
        },
        {
            "type": "text",
            "id": "top_heading",
            "label": "Heading"
        },
        {
            "type": "richtext",
            "id": "top_subheading",
            "label": "Description"
        },
        {
            "type": "checkbox",
            "id": "heading_center",
            "label": "Center heading align",
            "default": true
        },
        {
            "type": "number",
            "id": "tophead_mb",
            "label": "Bottom space (Desktop)(px)",
            "info": "The spacing is between the heading and the content",
            "default": 30
        },
        {
            "type": "number",
            "id": "tophead_mb_tb",
            "label": "Bottom space (Tablet)(px)",
            "info": "The spacing is between the heading and the content",
            "default": 30
        },
        {
            "type": "number",
            "id": "tophead_mb_mb",
            "label": "Bottom space (Mobile)(px)",
            "info": "The spacing is between the heading and the content",
            "default": 25
        },
        {
            "type": "header",
            "content": "2. General options"
        },
        {
            "type": "select",
            "id": "img_effect",
            "label": "Image effect when hover ",
            "default": "none",
            "options": [
                {
                    "value": "none",
                    "label": "None"
                },
                {
                    "value": "zoom",
                    "label": "Zoom in"
                },
                {
                    "value": "filter",
                    "label": "Filter"
                },
                {
                    "value": "bounceIn",
                    "label": "BounceIn"
                }
            ]
        },
        {
            "type": "select",
            "id": "b_effect",
            "label": "Effect",
            "default": "none",
            "options": [
                {
                    "value": "none",
                    "label": "None"
                },
                {
                    "value": "border-run",
                    "label": "Border run"
                },
                {
                    "value": "plus-zoom-overlay",
                    "label": "Plus zoom overlay"
                },
                {
                    "value": "dark-overlay",
                    "label": "Dark overlay"
                },
                {
                    "value": "light-overlay",
                    "label": "Light overlay"
                } 
            ]
        },
        {
            "type": "select",
            "id": "open_link",
            "label": "Open link in",
            "default": "_blank",
            "info": "Only working when has a link",
            "options": [
                {
                    "value": "_self",
                    "label": "Current window"
                },
                {
                    "value": "_blank",
                    "label": "New window"
                }
            ]
        },
        {
            "type": "select",
            "id": "layout_des",
            "options": [
                {
                    "value": "1",
                    "label": "Grid"
                },
                {
                    "value": "2",
                    "label": "Carousel"
                },
                {
                    "value": "3",
                    "label": "Packery"
                }
            ],
            "label": "Layout design",
            "default": "2"
        },
        {
            "type": "select",
            "id": "click_image",
            "label": "Click action",
            "default": "data-goto",
            "info": "Works when use popup thumbnail",
            "options": [
              {
                "value": "data-goto",
                "label": "Go to link"
              },
              {
                "value": "data-bee-gallery",
                "label": "Photoswipe popup"
              }
            ]
        },
        {
            "type": "checkbox",
            "id": "nav_thumbs",
            "label": "Enable thumbnail",
            "info": "Works when use popup thumbnail",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "enable_border",
            "label": "Enable border",
            "default": false
        },
        {
            "type": "select",
            "id": "col_dk",
            "label": "Items per row",
            "default": "6",
            "options": [
                {
                    "value": "1",
                    "label": "1"
                },
                {
                    "value": "2",
                    "label": "2"
                },
                {
                    "value": "3",
                    "label": "3"
                },
                {
                    "value": "4",
                    "label": "4"
                },
                {
                    "value": "5",
                    "label": "5"
                },
                {
                    "value": "6",
                    "label": "6"
                },
                {
                    "value":"7",
                    "label":"7"
                }
            ]
        },
        {
            "type": "select",
            "id": "col_tb",
            "label": "Items per row (Tablet)",
            "default": "2",
            "options": [
                {
                    "value": "1",
                    "label": "1"
                },
                {
                    "value": "2",
                    "label": "2"
                },
                {
                    "value": "3",
                    "label": "3"
                },
                {
                    "value": "4",
                    "label": "4"
                }
            ]
        },
        {
            "type": "select",
            "id": "col_mb",
            "label": "Items per row (Mobile)",
            "default": "2",
            "options": [
                {
                    "value": "1",
                    "label": "1"
                },
                {
                    "value": "2",
                    "label": "2"
                }
            ]
        },
        {
            "type": "select",
            "id": "space_item",
            "options": [
                {
                    "value": "0", 
                    "label": "0"
                },
                {
                    "value": "2", 
                    "label": "2px"
                },
                {
                    "value": "4", 
                    "label": "4px"
                },
                {
                    "value": "6", 
                    "label": "6px"
                },
                {
                    "value": "8", 
                    "label": "8px"
                },
                {
                    "value": "10", 
                    "label": "10px"
                },
                {
                    "value": "15", 
                    "label": "15px"
                },
                {
                    "value": "20",
                    "label": "20px"
                },
                {
                    "value": "30",
                    "label": "30px"
                },
                {
                    "value": "40",
                    "label": "40px"
                }
            ],
            "label": "Space between items",
            "default": "30"
        },
        {
            "type": "select",
            "id": "space_item_tb",
            "options": [
                {
                    "value": "0", 
                    "label": "0"
                },
                {
                    "value": "2", 
                    "label": "2px"
                },
                {
                    "value": "4", 
                    "label": "4px"
                },
                {
                    "value": "6", 
                    "label": "6px"
                },
                {
                    "value": "8", 
                    "label": "8px"
                },
                {
                    "value": "10", 
                    "label": "10px"
                },
                {
                    "value": "15", 
                    "label": "15px"
                },
                {
                    "value": "20",
                    "label": "20px"
                },
                {
                    "value": "30",
                    "label": "30px"
                },
                {
                    "value": "40",
                    "label": "40px"
                }
            ],
            "label": "Space between items (Tablet)",
            "default": "20"
        },
        {
            "type": "select",
            "id": "space_item_mb",
            "options": [
                {
                    "value": "0", 
                    "label": "0"
                },
                {
                    "value": "2", 
                    "label": "2px"
                },
                {
                    "value": "4", 
                    "label": "4px"
                },
                {
                    "value": "6", 
                    "label": "6px"
                },
                {
                    "value": "8", 
                    "label": "8px"
                },
                {
                    "value": "10", 
                    "label": "10px"
                },
                {
                    "value": "15", 
                    "label": "15px"
                },
                {
                    "value": "20",
                    "label": "20px"
                },
                {
                    "value": "30",
                    "label": "30px"
                },
                {
                    "value": "40",
                    "label": "40px"
                }
            ],
            "label": "Space between items (Mobile)",
            "default": "10"
        },
        {
            "type": "header",
            "content": "+ Options for carousel layout"
        },
        {
            "type": "checkbox",
            "id": "loop",
            "label": "Enable loop",
            "info": "At the end of cells, wrap-around to the other end for infinite scrolling",
            "default": true
        },
        {
            "type": "range",
            "id": "au_time",
            "min": 0,
            "max": 30,
            "step": 0.5,
            "label": "Autoplay speed in second.",
            "info": "Set is '0' to disable autoplay",
            "unit": "s",
            "default": 0
        },
        {
            "type": "checkbox",
            "id": "au_hover",
            "label": "Pause autoplay on hover",
            "info": "Auto-playing will pause when the user hovers over the carousel",
            "default": true
        },
        {
            "type": "paragraph",
            "content": "—————————————————"
        },
        {
            "type": "paragraph",
            "content": "Prev next button"
        },
        {
          "type": "select",
          "id": "show_btn",
           "options": [
            {
              "value": "show_all",
              "label": "Show all screen"
            },
            {
              "value": "show_desktop",
              "label": "Only show on desktop"
            },
            {
              "value": "show_mobile",
              "label": "Only show on tablet & mobile"
            },
            {
              "value": "hidden",
              "label": "Hidden"
            }
          ],
          "label": "Use prev next button",
          "default": "show_all"
        },
        {
            "type": "select",
            "id": "btn_vi",
            "label": "Visible",
            "default": "always",
            "options": [
                {
                    "value": "always",
                    "label": "Always"
                },
                {
                    "value": "hover",
                    "label": "Only hover"
                }
            ]
        },
        {
            "type": "select",
            "id": "btn_pos",
            "label": "Prev next position",
            "info": "Working on screen Desktop",
            "default": "between",
            "options": [
                {
                    "label": "Default",
                    "value": "between"
                },
                {
                    "label": "In content",
                    "value": "in"
                },
                {
                    "label": "Out content",
                    "value": "out"
                },
                {
                    "label": "On top heading",
                    "value": "ontop"
                }
            ]
        },
        {
          "type": "select",
          "id": "icon_slider",
          "label": "Prev next icon",
          "default": "1",
          "options": [
              {
                  "label": "Default",
                  "value": "0"
              },
              {
                  "label": "Solid",
                  "value": "1"
              }
          ]
        },
        {
            "type": "select",
            "id": "btn_owl",
            "label": "Button style",
            "default": "outline",
            "options": [
                {
                    "value": "default",
                    "label": "Default"
                },
                {
                    "value": "outline",
                    "label": "Outline"
                },
                {
                    "value": "simple",
                    "label": "Simple"
                }
            ]
        },
        {
            "type": "select",
            "id": "btn_shape",
            "label": "Button shape",
            "info": "Not work for 'Simple' button style",
            "default": "round",
            "options": [
                {
                    "value": "none",
                    "label": "Default"
                },
                {
                    "value": "round",
                    "label": "Round"
                },
                {
                    "value": "rotate",
                    "label": "Rotate"
                }
            ]
        },
        {
            "type": "select",
            "id": "btn_cl",
            "label": "Button color",
            "default": "dark",
            "options": [
                {
                    "value": "light",
                    "label": "Light"
                },
                {
                    "value": "dark",
                    "label": "Dark"
                },
                {
                    "value": "primary",
                    "label": "Primary"
                },
                {
                    "value": "custom1",
                    "label": "Custom color 1"
                },
                {
                    "value": "custom2",
                    "label": "Custom color 2"
                }
            ]
        },
        {
            "type": "select",
            "id": "btn_size",
            "label": "Buttons size",
            "default": "small",
            "options": [
                {
                    "value": "small",
                    "label": "Small"
                },
                {
                    "value": "medium",
                    "label": "Medium"
                },
                {
                    "value": "large",
                    "label": "Large"
                }
            ]
        },
        {
            "type": "range",
            "id": "btn_distance",
            "min": 0,
            "max": 100,
            "step": 1,
            "label": "Distance from buttons to boundary",
            "info": "Only works on desktop & in content.Not support for button position vertical",
            "unit": "px",
            "default": 90
        },
        {
            "type": "paragraph",
            "content": "—————————————————"
        },
        {
            "type": "paragraph",
            "content": "Page dots"
        },
        {
          "type": "select",
          "id": "show_dots",
          "info": "Creates and show page dots",
           "options": [
            {
              "value": "show_all",
              "label": "Show all screen"
            },
            {
              "value": "show_desktop",
              "label": "Only show on desktop"
            },
            {
              "value": "show_mobile",
              "label": "Only show on tablet & mobile"
            },
            {
              "value": "hidden",
              "label": "Hidden"
            }
          ],
          "label": "Use carousel's dots",
          "default": "hidden"
        },
        {
            "type": "select",
            "id": "dots_align",
            "label": "Dots align",
            "default": "center",
            "info": "Working on screen Desktop",
            "options": [
                {
                    "label": "Left",
                    "value": "start"
                },
                {
                    "label": "Center",
                    "value": "center"
                },
                {
                    "label": "Right",
                    "value": "end"
                }
            ]
        },
        {
            "type": "select",
            "id": "dot_owl",
            "label": "Dots style",
            "default": "br-outline",
            "options": [
                {
                    "value": "default",
                    "label": "Default"
                },
                {
                    "value": "background-active",
                    "label": "Background Active"
                },
                {
                    "value": "dots_simple",
                    "label": "Dots simple"
                },
                {
                    "value": "elessi",
                    "label": "Elessi"
                },
                {
                    "value": "br-outline",
                    "label": "Outline"
                },
                {
                    "value": "outline-active",
                    "label": "Outline active"
                }
            ]
        },
        {
            "type": "select",
            "id": "dots_cl",
            "label": "Dots color",
            "default": "dark",
            "options": [
                {
                    "value": "light",
                    "label": "Light (Best on dark background)"
                },
                {
                    "value": "dark",
                    "label": "Dark"
                },
                {
                    "value": "primary",
                    "label": "Primary"
                },
                {
                    "value": "custom1",
                    "label": "Custom color 1"
                },
                {
                    "value": "custom2",
                    "label": "Custom color 2"
                }
            ]
        },
        {
            "type": "range",
            "id": "dots_space",
            "min": 2,
            "max": 20,
            "step": 1,
            "label": "Space among dots",
            "unit": "px",
            "default": 10
        },  
        {
            "type": "checkbox",
            "id": "dots_round",
            "label": "Enable round dots",
            "default": false
        },
        {
            "type": "header",
            "content": "3. Design options"
        },
        {
            "type": "select","id": "layout","default": "bee-container-wrap","label": "Layout",
            "options": [
                { "value": "bee-se-container", "label": "Container"},
                { "value": "bee-container-wrap", "label": "Wrapped container"},
                { "value": "bee-cus-width", "label": "Custom width"},
                { "value": "bee-container-fluid", "label": "Full width"}
            ]
        },
        {
            "type": "range",
            "id": "custom_width",
            "label": "Custom width for content",
            "info": "Only working when use layout custom width",
            "default": 1000,
            "min": 500,
            "max": 1000,
            "step": 10,
            "unit": "px"
        },
        {
            "type": "color",
            "id": "cl_bg",
            "label": "Background"
        },
        {
            "type": "color_background",
            "id": "cl_bg_gradient",
            "label": "Background gradient"
        },
        {
            "type": "image_picker",
            "id": "image_bg",
            "label": "Background image"
        },
        {
            "type": "text",
            "id": "mg",
            "label": "Margin",
            "info": "Margin top, margin right, margin bottom, margin left. If you do not use it please blank.",
            "default": ",,50px,",
            "placeholder": ",,50px,"
        },
        {
            "type": "text",
            "id": "pd",
            "label": "Padding",
            "info": "Padding top, padding right, padding bottom, padding left. If you do not use it please blank.",
            "placeholder": "50px,,50px,",
            "default":",,10px,"
        },
        {
            "type": "header",
            "content": "+ Design tablet options"
        },
        {
            "type": "text",
            "id": "mg_tb",
            "label": "Margin",
            "default": ",,50px,",
            "placeholder": ",,50px,"
        },
        {
            "type": "text",
            "id": "pd_tb",
            "label": "Padding",
            "placeholder": "50px,,50px,",
            "default":",,5px,"
        },
        {
            "type": "header",
            "content": "+ Design mobile options"
        },
        {
            "type": "text",
            "id": "mg_mb",
            "label": "Margin",
            "default": ",,30px,",
            "placeholder": ",,50px,"
        },
        {
            "type": "text",
            "id": "pd_mb",
            "label": "Padding",
            "placeholder": ",,50px,",
            "default":",,5px,"
        }
    ],
    "blocks": [
        {
            "type": "logo_item",
            "name": "Logo",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Logo image"
                },
                {
                    "type": "url",
                    "id": "url",
                    "label": "Link to"
                }
            ]
        }
    ],
    "presets": [
      {
        "name": "Logo list",
        "category": "Homepage",
        "blocks": [
            {"type": "logo_item"},
            {"type": "logo_item"},
            {"type": "logo_item"},
            {"type": "logo_item"},
            {"type": "logo_item"},
            {"type": "logo_item"},
            {"type": "logo_item"}
        ]
      }
    ]
}
{% endschema %}
