<!-- Collection list -->
{{ 'bee-section.css' | asset_url | stylesheet_tag }}
{{ 'bee-collection-list.css' | asset_url | stylesheet_tag }}
{{ 'bee-button-style.css' | asset_url | stylesheet_tag }}
{{ 'bee-custom-effect.css' | asset_url | stylesheet_tag }}
{{ 'bee-button-style.css' | asset_url | stylesheet_tag }}
<link href="{{ 'bee-loading.css' | asset_url }}" rel="stylesheet" media="print" onload="this.media='all'">
{%- liquid
  assign sid = section.id
  assign se_stts = section.settings
  assign sett_equal = se_stts.use_eq_height
  assign stt_layout = se_stts.layout
  assign stt_image_bg = se_stts.image_bg
  assign layout_des = se_stts.layout_des
  assign use_pagination = se_stts.use_pagination
  if stt_layout == 'bee-se-container' 
    assign html_layout = '<div class="bee-container">__</div></div>' | split: '__'
  elsif stt_layout == 'bee-container-wrap'
    assign html_layout = '<div class="bee-container">__</div>' | split: '__'
  else
    assign html_layout = '__' | split: '__'
  endif
  if se_stts.image_ratio == "bee_ratioadapt"
    assign imgatt = ''
  else 
    assign imgatt = 'data-'  
  endif   
  assign isNTAjax = false
  if content_for_header contains '\u0026section_id='
  assign isNTAjax = true
  endif 

  assign isLoadmore = false
  if layout_des == "1"
    if use_pagination == "load-more"  or use_pagination == "infinite" 
      assign isLoadmore = true
      assign typeAjax = 'LmDefault'
    else
      assign typeAjax = 'AjaxDefault'
    endif
  else
     if use_pagination == "load-more" or use_pagination == "infinite" 
      assign isLoadmore = true
      assign typeAjax = 'LmIsotope'
    else
      assign typeAjax = 'AjaxIsotope'
    endif
  endif
  assign enable_bar_lm = se_stts.enable_bar_lm
  assign results_count = collections.size
  assign index = 0
  assign cat_design = se_stts.cat_design
 -%}
{%- paginate collections by se_stts.limit -%}
  <div data-ntajax-container data-ntajax-options='{"id": "{{ sid }}","type": "{{ typeAjax }}","isProduct": false,"updateURL": true,"updateURLPrev": true}' class="bee-section-inner bee_nt_se_{{ sid }} bee_se_{{ sid }} {{ stt_layout }}{% if stt_image_bg != blank and stt_layout != 'bee-se-container' %} bee-has-imgbg lazyloadbee{% endif %}" {%- if stt_image_bg != blank and stt_layout != 'bee-se-container' -%} data-bgset="{{ stt_image_bg | image_url: width: 1 }}" data-sizes="auto"  data-optimumx="1.5"{%- endif -%} {% render 'section_style', se_stts: se_stts %}>
    {{- html_layout[0] -}}
    {%- if stt_layout == 'bee-se-container' -%}<div class="bee-container-inner{% if stt_image_bg != blank %} bee-has-imgbg lazyloadbee{% endif %}" {%- if stt_image_bg != blank -%} data-bgset="{{ stt_image_bg | image_url: width: 1 }}" data-sizes="auto"  data-optimumx="1.5"{%- endif -%}>{%- endif -%}
    {%- if se_stts.display_type == 'all' -%}
      {%- if paginate.previous.is_link and isLoadmore -%}
          <div data-wrap-lm-prev class="bee-prs-pagination bee-pagination-wrapper bee-w-100 bee-has-btn-{{ use_pagination }} {{ se_stts.pagination_position }}" style="--pagination-distance:{{ se_stts.pagination_distance }}px;"> 
            {%- if paginate.previous.is_link -%}
              {%- assign current_cl_size = index | plus: paginate.current_offset -%} 
              {%- if enable_bar_lm -%}
                {%- if se_stts.style_bar_lm == "cricle" -%}
                  <a data-load-more data-is-prev {% if use_pagination == 'infinite' %}data-load-onscroll{% endif %} href="{{ paginate.previous.url }}" class="bee-pr bee-special-loadmore2 bee-loadmore-btn bee-btn-loading__svg bee-btn bee-btn-base bee-btn-size-{{ se_stts.btns_size }} bee-btn-icon-{{ se_stts.btn_icon }}" style="--progress-bar-primary-cl:{{ se_stts.progress_bar_primary_cl }};--progress-bar-second-cl:{{ se_stts.progress_bar_second_cl }};--progress-bar-text-cl: {{ se_stts.progress_bar_text_cl }};--progress-bar-active-cl: {{ se_stts.progress_bar_active_cl }};">
                   <div class="bee-circle-css" style="--border-w:2px;--cricle-degrees: {{ current_cl_size | times: 1.0 | divided_by: results_count | times: 360 }}deg;">
                      <div class="bee-circle--inner">
                        <span class="bee-btn-atc_text">
                          <span>{{ 'list_collections.pagination.load_prev' | t }}</span>
                          {% if se_stts.btn_icon %}
                            <svg class="bee-btn-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="16"><path d="M40 16C53.25 16 64 26.75 64 40v102.1C103.7 75.57 176.3 32.11 256.1 32.11C379.6 32.11 480 132.5 480 256s-100.4 223.9-223.9 223.9c-52.31 0-103.3-18.33-143.5-51.77c-10.19-8.5-11.56-23.62-3.062-33.81c8.5-10.22 23.66-11.56 33.81-3.062C174.9 417.5 214.9 432 256 432c97.03 0 176-78.97 176-176S353 80 256 80c-66.54 0-126.8 38.28-156.5 96H200C213.3 176 224 186.8 224 200S213.3 224 200 224h-160C26.75 224 16 213.3 16 200v-160C16 26.75 26.75 16 40 16z"></path></svg>
                          {% endif %}
                        </span>
                      </div>
                      <div class="bee-circle--bg"></div>
                    </div>
                    <div class="bee-loading__spinner bee-dn">
                      <svg  width="16" height="16" aria-hidden="true" focusable="false" role="presentation" class="bee-svg__spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="bee-path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle></svg>
                    </div> 
                  </a>
                {%- elsif se_stts.style_bar_lm == "button" -%}
                  <a data-load-more data-is-prev {% if use_pagination == 'infinite' %}data-load-onscroll{% endif %} href="{{ paginate.previous.url }}" class="bee-pr bee-special-loadmore1 bee-loadmore-btn bee-btn bee-btn-base bee-btn-loading__svg bee-btn-custom bee-btn-color-{{ se_stts.btns_cl }} bee-pe-auto bee-btn-style-outline bee-btn-size-{{ se_stts.btns_size }} bee-btn-icon-{{ se_stts.btn_icon }}" style="--progress-bar-primary-cl:{{ se_stts.progress_bar_primary_cl }};--progress-bar-second-cl:{{ se_stts.progress_bar_second_cl }};--progress-bar-text-cl: {{ se_stts.progress_bar_text_cl }};--progress-bar-active-cl: {{ se_stts.progress_bar_active_cl }};">
                    <div class="bee-lm-bar--progress bee-pr bee-oh"><span class="bee-lm-bar--current bee-pa bee-l-0 bee-r-0 bee-t-0 bee-b-0" style="width: {{ current_cl_size | times: 100.0 | divided_by: results_count }}%"></span></div>
                    <span>{{ 'list_collections.pagination.load_prev' | t }}</span>
                    {% if se_stts.btn_icon %}
                      <svg class="bee-btn-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="16"><path d="M40 16C53.25 16 64 26.75 64 40v102.1C103.7 75.57 176.3 32.11 256.1 32.11C379.6 32.11 480 132.5 480 256s-100.4 223.9-223.9 223.9c-52.31 0-103.3-18.33-143.5-51.77c-10.19-8.5-11.56-23.62-3.062-33.81c8.5-10.22 23.66-11.56 33.81-3.062C174.9 417.5 214.9 432 256 432c97.03 0 176-78.97 176-176S353 80 256 80c-66.54 0-126.8 38.28-156.5 96H200C213.3 176 224 186.8 224 200S213.3 224 200 224h-160C26.75 224 16 213.3 16 200v-160C16 26.75 26.75 16 40 16z"></path></svg>
                    {% endif %}
                    <div class="bee-loading__spinner bee-dn">
                      <svg  width="16" height="16" aria-hidden="true" focusable="false" role="presentation" class="bee-svg__spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="bee-path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle></svg>
                    </div> 
                  </a>
                  <div data-wrap-lm-bar class="bee-lm-bar bee-btn-color-{{ se_stts.btns_cl }}">
                    <span class="bee-lm-bar--txt">{{ 'list_collections.pagination.bar_with_count_html' | t: current_count: current_cl_size,total_count: results_count }}</span>
                  </div>
                {%- else -%}
                  <a data-load-more data-is-prev {% if use_pagination == 'infinite' %}data-load-onscroll{% endif %} href="{{ paginate.previous.url }}" class="bee-pr bee-loadmore-btn bee-btn bee-btn-base bee-btn-loading__svg bee-btn-custom bee-btn-color-{{ se_stts.btns_cl }} bee-pe-auto bee-btn-style-{{ se_stts.button_style }} bee-btn-size-{{ se_stts.btns_size }} {% if se_stts.button_style == 'default' or se_stts.button_style == 'outline' %}bee-btn-effect-{{ se_stts.button_effect }}{% endif %}">
                    <span>{{ 'list_collections.pagination.load_prev' | t }}</span>
                    {% if se_stts.btn_icon %}
                      <svg class="bee-btn-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="16"><path d="M40 16C53.25 16 64 26.75 64 40v102.1C103.7 75.57 176.3 32.11 256.1 32.11C379.6 32.11 480 132.5 480 256s-100.4 223.9-223.9 223.9c-52.31 0-103.3-18.33-143.5-51.77c-10.19-8.5-11.56-23.62-3.062-33.81c8.5-10.22 23.66-11.56 33.81-3.062C174.9 417.5 214.9 432 256 432c97.03 0 176-78.97 176-176S353 80 256 80c-66.54 0-126.8 38.28-156.5 96H200C213.3 176 224 186.8 224 200S213.3 224 200 224h-160C26.75 224 16 213.3 16 200v-160C16 26.75 26.75 16 40 16z"></path></svg>
                    {% endif %}
                    <div class="bee-loading__spinner bee-dn">
                      <svg  width="16" height="16" aria-hidden="true" focusable="false" role="presentation" class="bee-svg__spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="bee-path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle></svg>
                    </div> 
                  </a>
                  <div data-wrap-lm-bar class="bee-lm-bar bee-btn-color-{{ se_stts.btns_cl }}">
                    <div class="bee-lm-bar--progress bee-pr bee-oh"><span class="bee-lm-bar--current bee-pa bee-l-0 bee-r-0 bee-t-0 bee-b-0" style="width: {{ current_cl_size | times: 100.0 | divided_by: results_count }}%"></span></div>
                    <span class="bee-lm-bar--txt">{{ 'list_collections.pagination.bar_with_count_html' | t: current_count: current_cl_size,total_count: results_count }}</span>
                  </div>
                {%- endif -%}
              {%- else -%}
                <a data-load-more data-is-prev href="{{ paginate.previous.url }}" class="bee-loadpreview bee-pr bee-loadmore-btn bee-btn bee-btn-base bee-btn-loading__svg bee-btn-custom bee-btn-color-{{ se_stts.btns_cl }} bee-pe-auto bee-btn-style-{{ se_stts.button_style }} bee-btn-size-{{ se_stts.btns_size }} {% if se_stts.button_style == 'default' or se_stts.button_style == 'outline' %}bee-btn-effect-{{ se_stts.button_effect }}{% endif %}">
                  <span>{{ 'list_collections.pagination.load_prev' | t }}</span>
                  {% if se_stts.btn_icon %}
                    <svg class="bee-btn-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="16"><path d="M40 16C53.25 16 64 26.75 64 40v102.1C103.7 75.57 176.3 32.11 256.1 32.11C379.6 32.11 480 132.5 480 256s-100.4 223.9-223.9 223.9c-52.31 0-103.3-18.33-143.5-51.77c-10.19-8.5-11.56-23.62-3.062-33.81c8.5-10.22 23.66-11.56 33.81-3.062C174.9 417.5 214.9 432 256 432c97.03 0 176-78.97 176-176S353 80 256 80c-66.54 0-126.8 38.28-156.5 96H200C213.3 176 224 186.8 224 200S213.3 224 200 224h-160C26.75 224 16 213.3 16 200v-160C16 26.75 26.75 16 40 16z"></path></svg>
                  {% endif %}
                  <div class="bee-loading__spinner bee-dn">
                    <svg  width="16" height="16" aria-hidden="true" focusable="false" role="presentation" class="bee-svg__spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="bee-path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle></svg>
                  </div>
                </a>
              {%- endif -%}
            {%- endif -%}
          </div> 
      {%- endif -%}  
      {%- if layout_des == "1" -%} 
        <div data-contentlm-replace class="bee-box_cl_grid bee-row bee-justify-content-center bee-collection-border-{{ se_stts.border }} {{ se_stts.image_ratio }} {{ se_stts.image_position }} {{ se_stts.image_size }} bee-row-cols-lg-{{ se_stts.col_dk }} bee-row-cols-md-{{ se_stts.col_tb }} bee-row-cols-{{ se_stts.col_mb }} bee-gx-lg-{{ se_stts.space_h_item }} bee-gy-lg-{{ se_stts.space_v_item }}  bee-gx-md-{{ se_stts.space_h_item_tb }} bee-gy-md-{{ se_stts.space_v_item_tb }} bee-gx-{{ se_stts.space_h_item_mb }} bee-gy-{{ se_stts.space_v_item_mb }}
      " style="--item-width: {{ se_stts.content_width }}px;--item-height: {{ se_stts.content_height }}px;--item-width-tb: {{ se_stts.content_width_tb }}px;--item-height-tb: {{ se_stts.content_height_tb }}px;--item-width-mb: {{ se_stts.content_width_mb }}px;--item-height-mb: {{ se_stts.content_height_mb }}px;--title-fs: {{ se_stts.title_fs }}px;--title-fw: {{ se_stts.title_fw }};">
      {%- elsif layout_des == "2" -%} 
        <div data-contentlm-replace class="isotopebee bee-box_cl_masonry bee-row bee-collection-border-{{ se_stts.border }} {{ se_stts.image_ratio }} {{ se_stts.image_position }} {{ se_stts.image_size }} bee-row-cols-lg-{{ se_stts.col_dk }} bee-row-cols-md-{{ se_stts.col_tb }} bee-row-cols-{{ se_stts.col_mb }} bee-gx-lg-{{ se_stts.space_h_item }} bee-gy-lg-{{ se_stts.space_v_item }}  bee-gx-md-{{ se_stts.space_h_item_tb }} bee-gy-md-{{ se_stts.space_v_item_tb }} bee-gx-{{ se_stts.space_h_item_mb }} bee-gy-{{ se_stts.space_v_item_mb }}" data-isotopebee-js='{ "itemSelector": ".cat_grid_item", "layoutMode": "packery" }' style="--item-width: {{ se_stts.content_width }}px;--item-height: {{ se_stts.content_height }}px;--item-width-tb: {{ se_stts.content_width_tb }}px;--item-height-tb: {{ se_stts.content_height_tb }}px;--item-width-mb: {{ se_stts.content_width_mb }}px;--item-height-mb: {{ se_stts.content_height_mb }}px;--title-fs: {{ se_stts.title_fs }}px;--title-fw: {{ se_stts.title_fw }};">
      {%- else -%} 
        <div data-contentlm-replace class="isotopebee bee-box_cl_masonry bee-row bee-collection-border-{{ se_stts.border }} {{ se_stts.image_ratio }} {{ se_stts.image_position }} {{ se_stts.image_size }} bee-gx-lg-{{ se_stts.space_h_item }} bee-gy-lg-{{ se_stts.space_v_item }} bee-gx-md-{{ se_stts.space_h_item_tb }} bee-gy-md-{{ se_stts.space_v_item_tb }} bee-gx-{{ se_stts.space_h_item_mb }} bee-gy-{{ se_stts.space_v_item_mb }}" data-isotopebee-js='{ "itemSelector": ".cat_grid_item", "layoutMode": "packery" }' style="--item-width: {{ se_stts.content_width }}px;--item-height: {{ se_stts.content_height }}px;--item-width-tb: {{ se_stts.content_width_tb }}px;--item-height-tb: {{ se_stts.content_height_tb }}px;--item-width-mb: {{ se_stts.content_width_mb }}px;--item-height-mb: {{ se_stts.content_height_mb }}px;--title-fs: {{ se_stts.title_fs }}px;--title-fw: {{ se_stts.title_fw }};">    
      {%- endif -%} 
      
      {%- liquid          
        for collection in collections 
              assign index = index | plus: 1 
              assign image = collection.image | default: collection.products.first.featured_image
              if layout_des != "3" 
                render 'collection-list-item', se_stts: se_stts, cat_design: cat_design, image: image, collection: collection
              else 
                capture col 
                  cycle '3', '6', '3', '3', '3', '6', '3', '3', '3', '3', '3', '6', '3', '3', '3', '6', '3', '3', '3', '3'  
                endcapture
                render 'collection-list-item-packery', col: col, cat_design: cat_design, image: image, collection: collection
              endif
          endfor   
      -%}
      </div>
      {%- if paginate.pages > 1 -%}
        <div data-wrap-lm class="bee-prs-pagination bee-col-item bee-has-btn-{{ use_pagination }} {{ se_stts.pagination_position }}" style="--pagination-distance:{{ se_stts.pagination_distance }}px;"> 
          {%- if use_pagination == 'default' -%}
            {%- render 'pagination',  paginate: paginate, anchor: '' -%}

          {%- elsif paginate.next.is_link -%} 
            {%- assign current_cl_size = index | plus: paginate.current_offset -%}
             <div class="bee-pagination-wrapper bee-w-100">
              {%- if enable_bar_lm -%}
                {%- if se_stts.style_bar_lm == "cricle" -%}
                  <a data-load-more {% if use_pagination == 'infinite' %}data-load-onscroll{% endif %} href="{{ paginate.next.url }}" class="bee-pr bee-special-loadmore2 bee-loadmore-btn bee-btn-loading__svg bee-btn bee-btn-base bee-btn-size-{{ se_stts.btns_size }} bee-btn-icon-{{ se_stts.btn_icon }}" style="--progress-bar-primary-cl:{{ se_stts.progress_bar_primary_cl }};--progress-bar-second-cl:{{ se_stts.progress_bar_second_cl }};--progress-bar-text-cl: {{ se_stts.progress_bar_text_cl }};--progress-bar-active-cl: {{ se_stts.progress_bar_active_cl }};">
                   <div class="bee-circle-css" style="--border-w:2px;--cricle-degrees: {{ current_cl_size | times: 1.0 | divided_by: results_count | times: 360 }}deg;">
                      <div class="bee-circle--inner">
                        <span class="bee-btn-atc_text">
                          <span>{{ 'list_collections.pagination.load_more' | t }}</span>
                          {% if se_stts.btn_icon %}
                            <svg class="bee-btn-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="16"><path d="M40 16C53.25 16 64 26.75 64 40v102.1C103.7 75.57 176.3 32.11 256.1 32.11C379.6 32.11 480 132.5 480 256s-100.4 223.9-223.9 223.9c-52.31 0-103.3-18.33-143.5-51.77c-10.19-8.5-11.56-23.62-3.062-33.81c8.5-10.22 23.66-11.56 33.81-3.062C174.9 417.5 214.9 432 256 432c97.03 0 176-78.97 176-176S353 80 256 80c-66.54 0-126.8 38.28-156.5 96H200C213.3 176 224 186.8 224 200S213.3 224 200 224h-160C26.75 224 16 213.3 16 200v-160C16 26.75 26.75 16 40 16z"></path></svg>
                          {% endif %}
                        </span>
                      </div>
                      <div class="bee-circle--bg"></div>
                    </div>
                    <div class="bee-loading__spinner bee-dn">
                      <svg  width="16" height="16" aria-hidden="true" focusable="false" role="presentation" class="bee-svg__spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="bee-path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle></svg>
                    </div> 
                  </a>
                {%- elsif se_stts.style_bar_lm == "button" -%}
                  <a data-load-more {% if use_pagination == 'infinite' %}data-load-onscroll{% endif %} href="{{ paginate.next.url }}"  class="bee-pr bee-special-loadmore1 bee-loadmore-btn bee-btn bee-btn-base bee-btn-loading__svg bee-btn-custom bee-btn-color-{{ se_stts.btns_cl }} bee-pe-auto bee-btn-style-outline bee-btn-size-{{ se_stts.btns_size }} bee-btn-icon-{{ se_stts.btn_icon }}" style="--progress-bar-primary-cl:{{ se_stts.progress_bar_primary_cl }};--progress-bar-second-cl:{{ se_stts.progress_bar_second_cl }};--progress-bar-text-cl: {{ se_stts.progress_bar_text_cl }};--progress-bar-active-cl: {{ se_stts.progress_bar_active_cl }};">
                    <div class="bee-lm-bar--progress bee-pr bee-oh"><span class="bee-lm-bar--current bee-pa bee-l-0 bee-r-0 bee-t-0 bee-b-0" style="width: {{ current_cl_size | times: 100.0 | divided_by: results_count }}%"></span></div>
                    <span>{{ 'list_collections.pagination.load_more' | t }}</span>
                    {% if se_stts.btn_icon %}
                      <svg class="bee-btn-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="16"><path d="M40 16C53.25 16 64 26.75 64 40v102.1C103.7 75.57 176.3 32.11 256.1 32.11C379.6 32.11 480 132.5 480 256s-100.4 223.9-223.9 223.9c-52.31 0-103.3-18.33-143.5-51.77c-10.19-8.5-11.56-23.62-3.062-33.81c8.5-10.22 23.66-11.56 33.81-3.062C174.9 417.5 214.9 432 256 432c97.03 0 176-78.97 176-176S353 80 256 80c-66.54 0-126.8 38.28-156.5 96H200C213.3 176 224 186.8 224 200S213.3 224 200 224h-160C26.75 224 16 213.3 16 200v-160C16 26.75 26.75 16 40 16z"></path></svg>
                    {% endif %}
                    <div class="bee-loading__spinner bee-dn">
                      <svg  width="16" height="16" aria-hidden="true" focusable="false" role="presentation" class="bee-svg__spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="bee-path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle></svg>
                    </div> 
                  </a>
                  <div data-wrap-lm-bar class="bee-lm-bar bee-btn-color-{{ se_stts.btns_cl }}">
                    <span class="bee-lm-bar--txt">{{ 'list_collections.pagination.bar_with_count_html' | t: current_count: current_cl_size,total_count: results_count }}</span>
                  </div>
                {%- else -%}
                  <a data-load-more {% if use_pagination == 'infinite' %}data-load-onscroll{% endif %} href="{{ paginate.next.url }}" class="bee-pr bee-loadmore-btn bee-btn bee-btn-base bee-btn-loading__svg bee-btn-custom bee-btn-color-{{ se_stts.btns_cl }} bee-pe-auto bee-btn-style-{{ se_stts.button_style }} bee-btn-size-{{ se_stts.btns_size }} {% if se_stts.button_style == 'default' or se_stts.button_style == 'outline' %}bee-btn-effect-{{ se_stts.button_effect }}{% endif %}">
                    <span>{{ 'list_collections.pagination.load_more' | t }}</span>
                    {% if se_stts.btn_icon %}
                      <svg class="bee-btn-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="16"><path d="M40 16C53.25 16 64 26.75 64 40v102.1C103.7 75.57 176.3 32.11 256.1 32.11C379.6 32.11 480 132.5 480 256s-100.4 223.9-223.9 223.9c-52.31 0-103.3-18.33-143.5-51.77c-10.19-8.5-11.56-23.62-3.062-33.81c8.5-10.22 23.66-11.56 33.81-3.062C174.9 417.5 214.9 432 256 432c97.03 0 176-78.97 176-176S353 80 256 80c-66.54 0-126.8 38.28-156.5 96H200C213.3 176 224 186.8 224 200S213.3 224 200 224h-160C26.75 224 16 213.3 16 200v-160C16 26.75 26.75 16 40 16z"></path></svg>
                    {% endif %}
                    <div class="bee-loading__spinner bee-dn">
                      <svg  width="16" height="16" aria-hidden="true" focusable="false" role="presentation" class="bee-svg__spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="bee-path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle></svg>
                    </div> 
                  </a>
                  <div data-wrap-lm-bar class="bee-lm-bar bee-btn-color-{{ se_stts.btns_cl }}">
                    <div class="bee-lm-bar--progress bee-pr bee-oh"><span class="bee-lm-bar--current bee-pa bee-l-0 bee-r-0 bee-t-0 bee-b-0" style="width: {{ current_cl_size | times: 100.0 | divided_by: results_count }}%"></span></div>
                    <span class="bee-lm-bar--txt">{{ 'list_collections.pagination.bar_with_count_html' | t: current_count: current_cl_size,total_count: results_count }}</span>
                  </div>
                {%- endif -%}
              {%- else -%}
               <a data-load-more {% if use_pagination == 'infinite' %}data-load-onscroll{% endif %} href="{{ paginate.next.url }}" class="bee-pr bee-loadmore-btn bee-btn bee-btn-base bee-btn-loading__svg bee-btn-custom bee-btn-color-{{ se_stts.btns_cl }} bee-pe-auto bee-btn-style-{{ se_stts.button_style }} bee-btn-size-{{ se_stts.btns_size }} {% if se_stts.button_style == 'default' or se_stts.button_style == 'outline' %}bee-btn-effect-{{ se_stts.button_effect }}{% endif %}">
                <span>{{ 'list_collections.pagination.load_more' | t }}</span>
                {% if se_stts.btn_icon %}
                  <svg class="bee-btn-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="16"><path d="M40 16C53.25 16 64 26.75 64 40v102.1C103.7 75.57 176.3 32.11 256.1 32.11C379.6 32.11 480 132.5 480 256s-100.4 223.9-223.9 223.9c-52.31 0-103.3-18.33-143.5-51.77c-10.19-8.5-11.56-23.62-3.062-33.81c8.5-10.22 23.66-11.56 33.81-3.062C174.9 417.5 214.9 432 256 432c97.03 0 176-78.97 176-176S353 80 256 80c-66.54 0-126.8 38.28-156.5 96H200C213.3 176 224 186.8 224 200S213.3 224 200 224h-160C26.75 224 16 213.3 16 200v-160C16 26.75 26.75 16 40 16z"></path></svg>
                {% endif %}
                <div class="bee-loading__spinner bee-dn">
                  <svg  width="16" height="16" aria-hidden="true" focusable="false" role="presentation" class="bee-svg__spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="bee-path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle></svg>
                </div> 
               </a>
              {%- endif -%}
             </div>  
          {%- endif -%}
            <div class="bee-d-none"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <symbol id="bee_load"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M 16 4 C 10.886719 4 6.617188 7.160156 4.875 11.625 L 6.71875 12.375 C 8.175781 8.640625 11.710938 6 16 6 C 19.242188 6 22.132813 7.589844 23.9375 10 L 20 10 L 20 12 L 27 12 L 27 5 L 25 5 L 25 8.09375 C 22.808594 5.582031 19.570313 4 16 4 Z M 25.28125 19.625 C 23.824219 23.359375 20.289063 26 16 26 C 12.722656 26 9.84375 24.386719 8.03125 22 L 12 22 L 12 20 L 5 20 L 5 27 L 7 27 L 7 23.90625 C 9.1875 26.386719 12.394531 28 16 28 C 21.113281 28 25.382813 24.839844 27.125 20.375 Z"/></svg></symbol>
              <symbol id="bee_arrow"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M 18.71875 6.78125 L 17.28125 8.21875 L 24.0625 15 L 4 15 L 4 17 L 24.0625 17 L 17.28125 23.78125 L 18.71875 25.21875 L 27.21875 16.71875 L 27.90625 16 L 27.21875 15.28125 Z"/></svg></symbol></svg>
            </div>
        </div>
        {%- endif -%}

    {%- elsif section.blocks.size > 0 -%}
      {%- if layout_des == "1" -%} 
        <div data-contentlm-replace class="bee-box_cl_grid bee-row bee-justify-content-center bee-collection-border-{{ se_stts.border }} {{ se_stts.image_ratio }} {{ se_stts.image_position }} {{ se_stts.image_size }} bee-row-cols-lg-{{ se_stts.col_dk }} bee-row-cols-md-{{ se_stts.col_tb }} bee-row-cols-{{ se_stts.col_mb }} bee-gx-md-{{ se_stts.space_h_item }} bee-gy-md-{{ se_stts.space_v_item }} bee-gx-{{ se_stts.space_h_item_mb }} bee-gy-{{ se_stts.space_v_item_mb }}
      " style="--item-width: {{ se_stts.content_width }}px;--item-height: {{ se_stts.content_height }}px;--item-width-tb: {{ se_stts.content_width_tb }}px;--item-height-tb: {{ se_stts.content_height_tb }}px;--item-width-mb: {{ se_stts.content_width_mb }}px;--item-height-mb: {{ se_stts.content_height_mb }}px;--title-fs: {{ se_stts.title_fs }}px;--title-fw: {{ se_stts.title_fw }};">
      {%- else -%} 
        <div data-contentlm-replace class="isotopebee bee-box_cl_masonry bee-row bee-collection-border-{{ se_stts.border }} {{ se_stts.image_ratio }} {{ se_stts.image_position }} {{ se_stts.image_size }} bee-row-cols-lg-{{ se_stts.col_dk }} bee-row-cols-md-{{ se_stts.col_tb }} bee-row-cols-{{ se_stts.col_mb }} bee-gx-md-{{ se_stts.space_h_item }} bee-gy-md-{{ se_stts.space_v_item }} bee-gx-{{ se_stts.space_h_item_mb }} bee-gy-{{ se_stts.space_v_item_mb }}" data-isotopebee-js='{ "itemSelector": ".cat_grid_item", "layoutMode": "packery" }' style="--item-width: {{ se_stts.content_width }}px;--item-height: {{ se_stts.content_height }}px;--item-width-tb: {{ se_stts.content_width_tb }}px;--item-height-tb: {{ se_stts.content_height_tb }}px;--item-width-mb: {{ se_stts.content_width_mb }}px;--item-height-mb: {{ se_stts.content_height_mb }}px;--title-fs: {{ se_stts.title_fs }}px;--title-fw: {{ se_stts.title_fw }};">
      {%- endif -%} 
        {%- liquid
          for block in section.blocks 
            assign collection = collections[block.settings.collection]
            assign bk_stts = block.settings
            assign image = block.settings.image | default: collection.image | default: collection.products.first.featured_image 
            render 'collection-list-item', se_stts: se_stts, bk_stts: bk_stts, cat_design: cat_design, image: image, collection: collection
          endfor 
        -%}
      </div>

    {%- endif -%}
    {{- html_layout[1] -}}
  </div>
{%- endpaginate -%}  
<style>.bee-prs-pagination[data-wrap-lm-prev] {margin-top: 50px; margin-bottom: var(--pagination-distance);}.bee-prs-pagination[data-wrap-lm] {margin-top: var(--pagination-distance);margin-bottom: 50px; }</style>
{% schema %} 
{
  "name": "Collections list page",
  "class": "bee-section bee-section-main",
  "settings": [
      {
        "type": "header",
        "content": "+ General Settings"
      },
      {
        "type": "select",
        "id": "cat_design",
        "label": "Collection item design",
        "default": "1",
        "options": [
          {
            "value": "1",
            "label": "Design 1"
          },
          {
            "value": "2",
            "label": "Design 2"
          },
          {
            "value": "3",
            "label": "Design 3"
          },
          {
            "value": "4",
            "label": "Design 4"
          },
          {
            "value": "5",
            "label": "Design 5 (Only image)"
          },
          {
            "value": "7",
            "label": "Design 7"
          },
          {
            "value": "8",
            "label": "Design 8"
          },
          {
            "value": "9",
            "label": "Design 9"
          }
        ]
      },
      {
        "type": "color",
        "id": "title_cl",
        "label": "Title color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "title_cl_hover",
        "label": "Title hover color",
        "default": "#222222"
      },
      {
        "type": "color",
        "id": "subtitle_cl",
        "label": "Subtitle color",
        "default": "#878787"
      },
      {
        "type": "color",
        "id": "count_cl",
        "label": "Count color",
        "default": "#222222"
      },
      {
        "type": "color",
        "id": "border_cl",
        "label": "Border color",
        "default": "#e5e5e5"
      },
      {
        "type": "paragraph",
        "content": "All of your collections are listed by default. To customize your list, choose 'Selected' and add collections."
      },
      {
        "type": "radio",
        "id": "display_type",
        "label": "Select collections to show",
        "default": "all",
        "options": [
          {
            "value": "all",
            "label": "All"
          },
          {
            "value": "selected",
            "label": "Selected"
          }
        ]
      },
      {
        "type": "range",
        "id": "limit",
        "min": 1,
        "max": 50,
        "step": 1,
        "label": "Maximum collections to show",
        "default": 8
      },
      {
        "type": "select",
        "id": "layout_des",
        "options": [
          {
            "value": "1",
            "label": "Grid"
          },
          {
            "value": "2",
            "label": "Masonry"
          },
          {
            "value": "3",
            "label": "Packery"
          }
        ],
        "label": "Layout design",
        "default": "1"
      },
      {
        "type": "select",
        "id": "col_dk",
        "label": "Items per row",
        "default": "4",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          }
        ]
      },
      {
        "type": "select",
        "id": "col_tb",
        "label": "Items per row (Tablet)",
        "default": "2",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          }
        ]
      },
      {
        "type": "select",
        "id": "col_mb",
        "label": "Items per row (Mobile)",
        "default": "2",
        "options": [
          {
            "value": "1", 
            "label": "1"
          },
          {
            "value": "2",
            "label": "2" 
          }
        ]
      },
      {
        "type": "select",
        "id": "space_h_item",
        "options": [
          {
              "value": "0", 
              "label": "0"
          },
          {
              "value": "2", 
              "label": "2px"
          },
          {
              "value": "4", 
              "label": "4px"
          },
          {
              "value": "6", 
              "label": "6px"
          },
          {
              "value": "8", 
              "label": "8px"
          },
          {
              "value": "10", 
              "label": "10px"
          },
          {
              "value": "15",
              "label": "15px"
          },
          {
              "value": "20",
              "label": "20px"
          },
          {
              "value": "25",
              "label": "25px"
          },
          {
              "value": "30",
              "label": "30px"
          }
        ],
        "label": "Space horizontal items",
        "default": "30"
      },
      {
        "type": "select",
        "id": "space_v_item",
        "options": [
          {
              "value": "0", 
              "label": "0"
          },
          {
              "value": "2", 
              "label": "2px"
          },
          {
              "value": "4", 
              "label": "4px"
          },
          {
              "value": "6", 
              "label": "6px"
          },
          {
              "value": "8", 
              "label": "8px"
          },
          {
              "value": "10", 
              "label": "10px"
          },
          {
              "value": "15",
              "label": "15px"
          },
          {
              "value": "20",
              "label": "20px"
          },
          {
              "value": "25",
              "label": "25px"
          },
          {
              "value": "30",
              "label": "30px"
          }
        ],
        "label": "Space vertical items",
        "default": "30"
      },
      {
        "type": "select",
        "id": "space_h_item_tb",
        "options": [
          {
              "value": "0", 
              "label": "0"
          },
          {
              "value": "2", 
              "label": "2px"
          },
          {
              "value": "4", 
              "label": "4px"
          },
          {
              "value": "6", 
              "label": "6px"
          },
          {
              "value": "8", 
              "label": "8px"
          },
          {
              "value": "10", 
              "label": "10px"
          },
          {
              "value": "15",
              "label": "15px"
          },
          {
              "value": "20",
              "label": "20px"
          },
          {
              "value": "25",
              "label": "25px"
          },
          {
              "value": "30",
              "label": "30px"
          }
        ],
        "label": "Space horizontal items (Tablet)",
        "default": "30"
      },
      {
        "type": "select",
        "id": "space_v_item_tb",
        "options": [
          {
              "value": "0", 
              "label": "0"
          },
          {
              "value": "2", 
              "label": "2px"
          },
          {
              "value": "4", 
              "label": "4px"
          },
          {
              "value": "6", 
              "label": "6px"
          },
          {
              "value": "8", 
              "label": "8px"
          },
          {
              "value": "10", 
              "label": "10px"
          },
          {
              "value": "15",
              "label": "15px"
          },
          {
              "value": "20",
              "label": "20px"
          },
          {
              "value": "25",
              "label": "25px"
          },
          {
              "value": "30",
              "label": "30px"
          }
        ],
        "label": "Space vertical items (Tablet)",
        "default": "30"
      },
      {
        "type": "select",
        "id": "space_h_item_mb",
        "options": [
          {
              "value": "0", 
              "label": "0"
          },
          {
              "value": "2", 
              "label": "2px"
          },
          {
              "value": "4", 
              "label": "4px"
          },
          {
              "value": "6", 
              "label": "6px"
          },
          {
              "value": "8", 
              "label": "8px"
          },
          {
              "value": "10", 
              "label": "10px"
          },
          {
              "value": "15",
              "label": "15px"
          },
          {
              "value": "20",
              "label": "20px"
          },
          {
              "value": "25",
              "label": "25px"
          },
          {
              "value": "30",
              "label": "30px"
          }
        ],
        "label": "Space horizontal items (Mobile)",
        "default": "10"
      },
      {
        "type": "select",
        "id": "space_v_item_mb",
        "options": [
          {
              "value": "0", 
              "label": "0"
          },
          {
              "value": "2", 
              "label": "2px"
          },
          {
              "value": "4", 
              "label": "4px"
          },
          {
              "value": "6", 
              "label": "6px"
          },
          {
              "value": "8", 
              "label": "8px"
          },
          {
              "value": "10", 
              "label": "10px"
          },
          {
              "value": "15",
              "label": "15px"
          },
          {
              "value": "20",
              "label": "20px"
          },
          {
              "value": "25",
              "label": "25px"
          },
          {
              "value": "30",
              "label": "30px"
          }
        ],
        "label": "Space vertical items (Mobile)",
        "default": "10"
      },
      {
        "type": "header",
        "content": "+ Design Content"
      },
      {
        "type": "range",
        "id": "title_fs",
        "label": "Title font size",
        "max": 50,
        "min": 10,
        "step": 1,
        "unit": "px",
        "default": 20
      },
      {
          "type": "range",
          "id": "title_fw",
          "label": "Title font weight",
          "min": 100,
          "max": 900,
          "step": 100,
          "default": 400
      },
      {
        "type": "select",
        "id": "open_link",
        "info": "Works when the item has a link",
        "options": [
          {
            "value": "_self",
            "label": "Current window"
          },
         {
            "value": "_blank",
            "label": "New window"
          }
        ],
        "label": "Open link in",
        "default": "_self"
      },
      {
        "type": "select",
        "id": "content_pos",
        "label": "Content position",
        "info": "Only works with designs have content on images",
        "default": "1",
        "options": [
            {
              "label": "Center",
              "value": "1"
            },
            {
              "label": "Default",
              "value": "2"
            }
        ]
      },
      {
        "type": "range",
        "id": "space_bottom",
        "min": 0,
        "max": 120,
        "step": 5,
        "label": "Bottom space",
        "unit": "px",
        "default": 20,
        "info": "Space between image and content of collection. Not working with position 'center center'."
      },
      {
        "type": "range",
        "id": "space_bottom_tb",
        "min": 0,
        "max": 100,
        "step": 5,
        "label": "Bottom space (Tablet)",
        "unit": "px",
        "default": 10,
        "info": "Not working with position 'center center'."
      },
      {
        "type": "range",
        "id": "space_bottom_mb",
        "min": 0,
        "max": 60,
        "step": 1,
        "label": "Bottom space (Mobile)",
        "unit": "px",
        "default": 10,
        "info": "Not working with position 'center center'."
      },
      {
        "type": "range",
        "id": "content_width",
        "min": 100,
        "max": 300,
        "step": 2,
        "label": "Content min width (px)",
        "unit": "px",
        "default": 140,
        "info": "Only works with designs have content on images and have content in box"
      },
      {
        "type": "range",
        "id": "content_height",
        "min": 40,
        "max": 240,
        "step": 2,
        "label": "Content min height (px)",
        "unit": "px",
        "default": 60,
        "info": "Only works with designs have content on images and have content in box"
      },
      {
        "type": "range",
        "id": "content_width_tb",
        "min": 80,
        "max": 280,
        "step": 2,
        "label": "Content min width (Tablet) (px)",
        "unit": "px",
        "default": 140,
        "info": "Only works with designs have content on images and have content in box"
      },
      {
        "type": "range",
        "id": "content_height_tb",
        "min": 30,
        "max": 230,
        "step": 2,
        "label": "Content min height (Tablet) (px)",
        "unit": "px",
        "default": 40,
        "info": "Only works with designs have content on images and have content in box"
      },
      {
        "type": "range",
        "id": "content_width_mb",
        "min": 60,
        "max": 260,
        "step": 2,
        "label": "Content min width (px)",
        "unit": "px",
        "default": 140,
        "info": "Only works with designs have content on images and have content in box"
      },
      {
        "type": "range",
        "id": "content_height_mb",
        "min": 20,
        "max": 220,
        "step": 2,
        "label": "Content min height (px)",
        "unit": "px",
        "default": 40,
        "info": "Only works with designs have content on images and have content in box"
      },
      {
        "type": "header",
        "content": "+ Design Image"
      },
      {
        "type": "checkbox",
        "id": "border",
        "label": "Enable border",
        "default": false
      },
      {
        "type": "range",
        "id": "item_pd",
        "min": 0,
        "max": 50,
        "step": 1,
        "label": "Image padding",
        "unit": "px",
        "default": 0,
        "info": "Only working when collection has border"
      },
      {
        "type": "range",
        "id": "item_rd",
        "min": 0,
        "max": 50,
        "step": 1,
        "label": "Image rounded",
        "unit": "%",
        "default": 0
      },
      {
        "type": "select",
        "id": "img_effect",
        "label": "Image hover effect",
            "info": "Waring: Hovering effect will resize your images",
        "default": "none",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "zoom",
            "label": "Zoom in"
          },
          {
            "value": "rotate",
            "label": "Rotate"
          },
          {
            "value": "translateToTop",
            "label": "Move to top "
          },
          {
            "value": "translateToRight",
            "label": "Move to right"
          },
          {
            "value": "translateToBottom",
            "label": "Move to bottom"
          },
          {
            "value": "translateToLeft",
            "label": "Move to left"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_ratio",
        "label": "Image ratio",
        "default": "bee_ratioadapt",
        "info": "Aspect ratio custom will settings in general panel",
        "options": [
          {
            "group": "Natural",
            "value": "bee_ratioadapt",
            "label": "Adapt to image"
          },
          {
            "group": "Landscape",
            "value": "bee_ratio2_1",
            "label": "2:1"
          },
          {
            "group": "Landscape",
            "value": "bee_ratio16_9",
            "label": "16:9"
          },
          {
            "group": "Landscape",
            "value": "bee_ratio8_5",
            "label": "8:5"
          },
          {
            "group": "Landscape",
            "value": "bee_ratio3_2",
            "label": "3:2"
          },
          {
            "group": "Landscape",
            "value": "bee_ratio4_3",
            "label": "4:3"
          },
          {
            "group": "Landscape",
            "value": "bee_rationt",
            "label": "Ratio ASOS"
          },
          {
            "group": "Squared",
            "value": "bee_ratio1_1",
            "label": "1:1"
          },
          {
            "group": "Portrait",
            "value": "bee_ratio2_3",
            "label": "2:3"
          },
          {
            "group": "Portrait",
            "value": "bee_ratio1_2",
            "label": "1:2"
          },
          {
            "group": "Custom",
            "value": "bee_ratiocus1",
            "label": "Ratio custom 1"
          },
          {
            "group": "Custom",
            "value": "bee_ratiocus2",
            "label": "Ratio custom 2"
          },
          {
            "group": "Custom",
            "value": "bee_ratiocus3",
            "label": "Ratio custom 3"
          },
          {
            "group": "Custom",
            "value": "bee_ratiocus4",
            "label": "Ratio custom 4"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_size",
        "label": "Image size",
        "default": "bee_cover",
        "info": "This settings apply only if the image ratio is not set to 'Adapt to image'",
        "options": [
          {
            "value": "bee_cover",
            "label": "Full"
          },
          {
            "value": "bee_contain",
            "label": "Auto"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_position",
        "info": "The first value is the horizontal position and the second value is the vertical. This settings apply only if the image ratio is not set to 'Adapt to image'",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "bee_position_1",
            "label": "Left top"
          },
          {
            "value": "bee_position_2",
            "label": "Left center"
          },
          {
            "value": "bee_position_3",
            "label": "Left bottom"
          },
          {
            "value": "bee_position_4",
            "label": "Right top"
          },
          {
            "value": "bee_position_5",
            "label": "Right center"
          },
          {
            "value": "bee_position_6",
            "label": "Right bottom"
          },
          {
            "value": "bee_position_7",
            "label": "Center top"
          },
          {
            "value": "bee_position_8",
            "label": "Center center"
          },
          {
            "value": "bee_position_9",
            "label": "Center bottom"
          }
        ],
        "label": "Image position",
        "default": "bee_position_8"
      },
      {
        "type": "header",
        "content": "+ Pagination options"
      },
      {
        "type": "select",
        "id": "use_pagination",
        "label": "Pagination",
        "default": "default",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "load-more",
            "label": "'Load more' button"
          },
          {
            "value": "infinite",
            "label": "Infinite scrolling"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "enable_bar_lm",
        "label": "Enable progress bar?",
        "info": "Only active when you use 'Load more' or 'Infinite scrolling'",
        "default": true
      },
      {
        "type": "paragraph",
        "content": "Page-loading speed is everything for good user experience. Multiple researches have shown that slow load times result in people leaving your site or delete your app which result in low conversion rates. And that’s bad news for those who use an infinite-scrolling. The more users scroll down a page, more content has to load on the same page. As a result, the page performance will increasingly slow down."
      },
      {
        "type": "paragraph",
        "content": "Another problem is limited resources of the user’s device. On many infinite scrolling sites, especially those with many images, devices with limited resources (such as mobile devices or tablets with dated hardware) can start slowing down because of the sheer number of assets it has loaded."
      },
      {
        "type": "checkbox",
        "id": "btn_icon",
        "label": "Enable button icon",
        "default": false
      },
      {
        "type": "select",
        "id": "style_bar_lm",
        "label": "Style progress bar",
        "default": "default",
        "options": [
          {
              "value": "default",
              "label": "Default"
          },
          {
              "value": "button",
              "label": "Button"
          },
          {
              "value": "cricle",
              "label": "Cricle"
          }
        ]
      },
      {
        "type": "color",
        "id": "border_cl_active",
        "label": "Progress bar secondary color",
        "default": "#000000"
      },

      {
        "type": "range",
        "id": "pagination_distance",
        "min": 0,
        "max": 100,
        "step": 1,
        "label": "Distance from pagination to boundary",
        "unit": "px",
        "default": 20
      },
      {
        "type": "select",
        "id": "pagination_position",
        "label": "Pagination position",
        "default": "bee-text-center",
        "options": [
          {
            "value": "bee-text-start",
            "label": "Left"
          },
          {
            "value": "bee-text-center",
            "label": "Center"
          },
          {
            "value": "bee-text-end",
            "label": "Right"
          }
        ]
      },
      {
          "type": "select",
          "id": "button_style",
          "label": "Button style",
          "options": [
              {
                  "label": "Default",
                  "value": "default"
              },
              {
                  "label": "Outline",
                  "value": "outline"
              },
              {
                  "label": "Bordered top",
                  "value": "bordered_top"
              },
              {
                  "label": "Border bottom", 
                  "value": "bordered"
              },
              {
                  "label": "Link",
                  "value": "link"
              }
          ]
       },
             
      {
        "type": "select",
        "id": "btns_size",
        "label": "Button size",
        "default": "1",
        "options": [
            {
                "label": "Default",
                "value": "default"
            },
            {
                "label": "Custom size #1",
                "value": "1"
            },
            {
                "label": "Custom size #2",
                "value": "2"
            },
            {
                "label": "Custom size #3",
                "value": "3"
            }
        ]
      },
      {
        "type": "select",
        "id": "btns_cl",
        "label": "Button color",
        "default": "primary",
        "options": [
          {
              "value": "light",
              "label": "Light"
          },
          {
              "value": "dark",
              "label": "Dark"
          },
          {
              "value": "primary",
              "label": "Primary"
          },
          {
              "value": "custom1",
              "label": "Custom color 1"
          },
          {
              "value": "custom2",
              "label": "Custom color 2"
          },
          {
              "value": "custom3",
              "label": "Custom color 3"
          }
        ]
      },
      {
        "type": "select",
        "id": "button_effect",
        "label": "Hover button effect",
        "default": "fade",
        "info": "Only working button style default, outline",
        "options": [
            {
                "label": "Fade",
                "value": "fade"
            },
            {
              "label": "Rectangle out",
              "value": "rectangle-out"
            },
            {
                "label": "Sweep to right",
                "value": "sweep-to-right"
            },
            {
                "label": "Sweep to left",
                "value": "sweep-to-left"
            },
            {
                "label": "Sweep to bottom",
                "value": "sweep-to-bottom"
            },
            {
                "label": "Sweep to top",
                "value": "sweep-to-top"
            },
            {
                "label": "Shutter out horizontal",
                "value": "shutter-out-horizontal"
            },
            {
                "label": "Outline",
                "value": "outline"
            },
            {
                "label": "Shadow",
                "value": "shadow"
            }
        ]
      },
      {
        "type": "header",
        "content": "+ Design options"
      },
    
      {
        "type": "select",
        "id": "layout",
        "default": "bee-container-wrap",
        "label": "Page Layout",
        "options": [
            { "value": "bee-se-container", "label": "Container"},
            { "value": "bee-container-wrap", "label": "Wrapped container"},
            { "value": "bee-container-fluid", "label": "Full width"}
        ]
      },
      {
        "type": "color",
        "id": "cl_bg",
        "label": "Background"
      },
      {
        "type": "color_background",
        "id": "cl_bg_gradient",
        "label": "Background gradient"
      },
      {
        "type": "image_picker",
        "id": "image_bg",
        "label": "Background image"
      },
      {
          "type": "text",
          "id": "mg",
          "label": "Margin",
          "info": "Margin top, margin right, margin bottom, margin left. If you do not use it please blank.",
          "default": ",,50px,",
          "placeholder": ",,50px,"
      },
      {
          "type": "text",
          "id": "pd",
          "label": "Padding",
          "info": "Padding top, padding right, padding bottom, padding left. If you do not use it please blank.",
          "placeholder": "50px,,50px,"
      },
      {
        "type": "header",
        "content": "+ Design mobile options" 
      },
      {
          "type": "text",
          "id": "mg_mb",
          "label": "Margin",
          "default": ",,30px,",
          "placeholder": ",,50px,"
      },
      {
          "type": "text",
          "id": "pd_mb",
          "label": "Padding",
          "placeholder": ",,50px,"
      }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "label": "Collection",
          "id": "collection", 
          "type": "collection"
        }, 
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Collection label",
          "info" :"Leave empty to use 'Collection label'.",
          "default": "Collection "
        }
      ]
    }
  ]
}
{% endschema %}
