{%- liquid
assign admin_sp = request.design_mode
if admin_sp
  assign arrTemp = '<template> | </template>' | split: ' | '
  assign product = section.settings.demo_pr
  if product.id == blank 
    assign cat_all = collections['all']
    assign avai_cat_all = cat_all.products | where: "available",true 
    assign product = avai_cat_all.first | default: cat_all.first
  endif
endif 

assign isProductAvailable = product.available
if isProductAvailable and settings.variant_remove == '2'
   assign remove_soldout = true 
else 
   assign remove_soldout = false  
endif 
assign sid            = section.id
assign pr_sid         = product.id | append: sid
assign pr_variants      = product.variants 
assign variants_size    = pr_variants.size 
assign selected_variant = product.selected_variant
assign pr_curent        = settings.pr_curent
if pr_curent == '1' and variants_size > 1
  assign current_variant = selected_variant
elsif pr_curent == '2' 
  assign current_variant = selected_variant | default: pr_variants.first 
  if remove_soldout and current_variant.available == false and isProductAvailable 
    assign current_variant = product.first_available_variant 
  endif
else 
  assign current_variant = product.selected_or_first_available_variant 
endif
assign PR_no_pick = false
if pr_curent == '1' and variants_size > 1 and selected_variant == blank
  assign PR_no_pick = true
endif
assign isProductDefault = product.has_only_default_variant

assign ntsoldout  = false
assign unvariants = false
assign ck_so_un   = false
if isProductDefault == false and variants_size > 1
  assign unavailable_prs = pr_variants | where: "available", false 
  assign vls0 = product.options_with_values[0].values.size | default: 1
  assign vls1 = product.options_with_values[1].values.size | default: 1
  assign vls2 = product.options_with_values[2].values.size | default: 1
  assign ntvariants_size = vls0 | times: vls1 | times: vls2 | minus: pr_variants.size
  if unavailable_prs.size > 0 or product.available == false
    assign ntsoldout = true
  endif
  if ntvariants_size > 0
    assign unvariants = true
  endif
  if ntsoldout or unvariants
    assign ck_so_un = true
  endif
endif

assign meta_theme = product.metafields.theme
assign cus_qty    = meta_theme.cus_qty | default:1 

assign custom_badge = meta_theme.custom_badge
if custom_badge != blank
   assign arr_badge = custom_badge | replace: '  ', '' | replace: ' ;', ';' | replace: '; ', ';' | split: ';' | join: 'nt-bee' | escape | split: 'nt-bee'
endif
assign placeholder_img = settings.placeholder_img
assign media_size = product.media.size
assign price_varies_style = settings.price_varies_style

assign seBlocks = section.blocks

assign Block_price = seBlocks | where: 'type', 'price' | first
assign block_price_stts = Block_price.settings

assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src'
    
assign inventory_quantity = current_variant.inventory_quantity
assign inventory_management = current_variant.inventory_management
if inventory_quantity <= 0  and inventory_management == 'shopify' and current_variant.available
  assign isPreoder = true
else 
  assign isPreoder = false
endif
 -%}

{%- if Block_price != blank and product.price_varies and block_price_stts.price != '0' -%}
  {%- capture style_price -%}
  style="--price-size: {{ block_price_stts.size_price_pr }}px;--price-weight: {{ block_price_stts.fw_price_pr }};--price-color: {{ block_price_stts.price_color }};--price-sale-color: {{ block_price_stts.price_sale_color }};"
  {%- endcapture -%}
  {%- capture html_price -%}
    {%- render 'product-price-single', variant: current_variant, product: product, PR_no_pick: false, type_sale: block_price_stts.type_sale, price_varies_style: '0', style_inline: style_price -%}
  {%- endcapture -%}
{%- endif -%}

{{- arrTemp[0] -}}
 
{{ 'bee-main-product.css' | asset_url | stylesheet_tag }}
{{ 'bee-qs-product.css' | asset_url | stylesheet_tag }}

<div class="bee-product-quick-shop" data-product-featured='{"id": "{{ product.id }}", "isQuickShopForm": true, "disableSwatch": {{ isProductDefault }}, "media": {% if media_size > 1 %}true{% else %}false{% endif %},"enableHistoryState": false, "formID": "#product-form-{{ pr_sid }}", "removeSoldout": {{ remove_soldout }}, "changeVariantByImg": {{ settings.use_change_variant_by_img }}, "isNoPick": {{ PR_no_pick }},"hasSoldoutUnavailable": {{ ck_so_un }},"enable_zoom_click_mb": false,"main_click": "none","canMediaGroup": false,"isGrouped": false,"hasIsotope": false,"available": {{ product.available }}, "customBadge": null, "customBadgeHandle": null,"dateStart": {{ product.created_at | date: "%s" }}, "compare_at_price": {{ current_variant.compare_at_price | json }},"price": {{ current_variant.price | json }}, "isPreoder": {{ isPreoder }} }'>
    <div class="bee-product-qs-inner bee_cover bee_position_8 bee_ratioadapt">

      {%- for block in seBlocks %}{% assign bk_stts = block.settings -%}
        {%- case block.type -%}
        
          {%- when 'properties' %}{% continue -%}
          {%- when 'item_loop' -%}
            {%- render 'pr-loop-item', block: block, product: product, placeholder_img: placeholder_img, price_varies_style: price_varies_style -%} 
          {%- when 'form' -%}
                {%- liquid
                    assign is_fit_ratio_img = false
                    if variant_images.size > 0 and bk_stts.enable_fit_ratio_img and bk_stts.color_mode contains 'variant_image'
                        assign is_fit_ratio_img = true
                        assign first_ratio_img = variant_images[0].aspect_ratio
                    endif
                    assign arr_properties = seBlocks | where: 'type', 'properties'
                    render 'product-form', type:'main', product: product, bk_stts: bk_stts, pr_sid: pr_sid, isExternal:false, external_title:external_title, external_link:external_link, isProductAvailable:isProductAvailable, isProductDefault:isProductDefault, current_variant:current_variant, remove_soldout: remove_soldout, PR_no_pick:PR_no_pick, isPreoder:isPreoder, is_fit_ratio_img:is_fit_ratio_img, first_ratio_img:first_ratio_img, name_sizeg:name_sizeg, html_sizeg:html_sizeg,pos_sizeg:pos_sizeg, html_price:html_price ,shopify_attributes:block.shopify_attributes, arr_properties: arr_properties, cus_qty: cus_qty
                -%}
          {%- when 'view_details' -%}
            <div class="bee-view-products bee-text-center">
              <a href="{{ product.url }}">
                {{ 'products.product.view_details' | t }} 
                {% if bk_stts.btn_icon %} <svg version="1.1" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 18 18" style="enable-background:new 0 0 18 18;" xml:space="preserve">
                <path d="M13.65,5.24c-0.42-0.36-1.05-0.31-1.41,0.11c-0.36,0.42-0.31,1.05,0.11,1.41L13.8,8H1C0.45,8,0,8.45,0,9s0.45,1,1,1h12.8 l-1.45,1.24c-0.42,0.36-0.47,0.99-0.11,1.41C12.44,12.88,12.72,13,13,13c0.23,0,0.46-0.08,0.65-0.24L18.04,9L13.65,5.24z"></path>
                </svg>{% endif %} 
              </a>
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
</div>

{{- arrTemp[1] -}}
{% schema %}
  {
    "name": "Product Quickshop",
    "tag": "section",
    "class": "bee-section bee-section-main bee-section-main-product bee-section-admn2-fixed",
    "settings": [
      {
        "type": "product",
        "id": "demo_pr",
        "label": "Choose a product demo",
        "info": "Product only shown on admin editor"
      }
    ],
    "blocks": [
      {
          "type": "item_loop",
          "name": "Product loop item",
          "limit": 1,
          "settings": [
            
          ]
        },
   
        {
          "type": "form",
          "name": "Product form",
          "limit": 1,
          "settings": [
            {
                "type": "header",
                "content": "+ Product Swatch"
            },
            {
                "type": "select",
                "id": "selector_mode",
                "label": "Selector type",
                "options": [
                    {
                        "value": "circle",
                        "label": "Circle"
                    },
                    {
                        "value": "radio",
                        "label": "Radio"
                    },
                    {
                        "value": "radio is-sw__full",
                        "label": "Radio full"
                    },
                    {
                        "value": "block",
                        "label": "Block"
                    },
                    {
                        "value": "block-round1",
                        "label": "Block round"
                    },
                    {
                        "value": "block-round2",
                        "label": "Block round 2"
                    },
                    {
                        "value": "dropdown",
                        "label": "Dropdown"
                    }
                ],
                "default": "block"
            },
            {
                "type": "select",
                "id": "color_mode",
                "label": "Color selector type",
                "options": [
                    {
                        "value": "circle",
                        "label": "Circle"
                    },
                    {
                        "value": "radio",
                        "label": "Radio"
                    },
                    {
                        "value": "radio is-sw-cl__full",
                        "label": "Radio full"
                    },
                    {
                        "value": "block",
                        "label": "Block"
                    },
                    {
                        "value": "block2",
                        "label": "Block round"
                    },
                    {
                        "value": "dropdown",
                        "label": "Dropdown"
                    },
                    {
                        "value": "color",
                        "label": "Color swatch"
                    },
                    {
                        "value": "color is-sw-cl__round",
                        "label": "Color swatch round"
                    },
                    {
                        "value": "color is-sw-cl__round is-sw-cl__label",
                        "label": "Color swatch round with label"
                    },
                    {
                        "value": "variant_image",
                        "label": "Variant image"
                    },
                    {
                        "value": "variant_image is-sw-cl__round",
                        "label": "Variant image round"
                    }
                ],
                "default": "color"
            },
            {
                "type": "checkbox",
                "id": "enable_fit_ratio_img",
                "label": "Enable adapt to first swatch image variant",
                "default": false
            },
            {
                "type": "select",
                "id": "color_size",
                "options": [
                    {
                        "value": "small",
                        "label": "Small"
                    },
                    {
                        "value": "medium",
                        "label": "Medium"
                    },
                    {
                        "value": "large",
                        "label": "Large"
                    },
                    {
                        "value": "exlarge",
                        "label": "Extra Large"
                    }
                ],
                "label": "Color selector size",
                "info": "Only working with color swatch, variant image",
                "default": "medium"
            },
            {
                "type": "checkbox",
                "id": "show_qty",
                "label": "Show quantity selector",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "btn_atc_full",
                "label": "Enable button full width",
                "default": false
            },
            {
                "type": "range",
                "id": "pr_btn_round",
                "min": 0,
                "max": 40,
                "step": 1,
                "label": "Button round corners",
                "unit": "px",
                "default": 0
            }, 
            {
                "type": "header",
                "content": "+ Add to cart button"
            },
            {
                "type": "select",
                "id": "ani",
                "options": [
                {
                    "value": "none",
                    "label": "None"
                },
                {
                    "value": "bee-ani-bounce",
                    "label": "Bounce"
                },
                {
                    "value": "bee-ani-tada",
                    "label": "Tada"
                },
                {
                    "value": "bee-ani-swing",
                    "label": "Swing"
                },
                {
                    "value": "bee-ani-flash",
                    "label": "Flash"
                },
                {
                    "value": "bee-ani-fadeIn",
                    "label": "FadeIn"
                },
                {
                    "value": "bee-ani-heartBeat",
                    "label": "HeartBeat"
                },
                {
                    "value": "bee-ani-shake",
                    "label": "Shake"
                }
                ],
                "label": "Add to cart animation"
            },
            {
                "type": "range",
                "id": "time",
                "min": 2,
                "max": 40,
                "step": 1,
                "label": "Loop time (seconds)",
                "info": "Loop time add to cart animation",
                "unit": "s",
                "default": 6
            },
            {
                "type": "select",
                "id": "btn_txt",
                "default": "0",
                "options": [
                    {
                        "value": "0",
                        "label": "None"
                    },
                    {
                        "value": "1",
                        "label": "Lowercase"
                    },
                    {
                        "value": "2",
                        "label": "Capitalize"
                    },
                    {
                        "value": "3",
                        "label": "Uppercase"
                    }
                ],
                "label": "Button transform text"
            },
            {
                "type": "checkbox",
                "id": "btn_icon",
                "label": "Enable button icon",
                "default": true
            },
            {
                "type": "select",
                "id": "button_style",
                "label": "Button style",
                "options": [
                    {
                        "label": "Default",
                        "value": "default"
                    },
                    {
                        "label": "Outline",
                        "value": "outline"
                    },
                    {
                        "label": "Border bottom",
                        "value": "bordered"
                    },
                    {
                        "label": "Link",
                        "value": "link"
                    }
                ]
            },
            {
                "type": "select",
                "id": "button_color",
                "label": "Button color",
                "default": "dark",
                "options": [
                    {
                        "value": "light",
                        "label": "Light"
                    },
                    {
                        "value": "dark",
                        "label": "Dark"
                    },
                    {
                        "value": "primary",
                        "label": "Primary"
                    },
                    {
                        "value": "custom1",
                        "label": "Custom color 1"
                    },
                    {
                        "value": "custom2",
                        "label": "Custom color 2"
                    },
                    {
                        "value": "custom3",
                        "label": "Custom color 3"
                    }
                ]
            },
            {
                "type": "select",
                "id": "button_effect",
                "label": "Hover button effect",
                "default": "fade",
                "info": "Only working button style default, outline",
                "options": [
                    {
                        "label": "Default",
                        "value": "default"
                    },
                    {
                        "label": "Fade",
                        "value": "fade"
                    },
                    {
                        "label": "Rectangle out",
                        "value": "rectangle-out"
                    },
                    {
                        "label": "Sweep to right",
                        "value": "sweep-to-right"
                    },
                    {
                        "label": "Sweep to left",
                        "value": "sweep-to-left"
                    },
                    {
                        "label": "Sweep to bottom",
                        "value": "sweep-to-bottom"
                    },
                    {
                        "label": "Sweep to top",
                        "value": "sweep-to-top"
                    },
                    {
                        "label": "Shutter out horizontal",
                        "value": "shutter-out-horizontal"
                    },
                    {
                        "label": "Outline",
                        "value": "outline"
                    },
                    {
                        "label": "Shadow",
                        "value": "shadow"
                    }
                ]
            },
            {
                "type": "header",
                "content": "+ Dynamic checkout buttons"
            },
            {
                "type": "checkbox",
                "id": "show_dynamic_checkout",
                "label": "Show dynamic checkout buttons",
                "info": "Using the payment methods available on your store, customers see their preferred option, like PayPal or Apple Pay. [Learn more](https:\/\/help.shopify.com\/manual\/using-themes\/change-the-layout\/dynamic-checkout)",
                "default": false
            },
            {
                "type": "select",
                "id": "btn_txt2",
                "default": "3",
                "options": [
                {
                    "value": "0",
                    "label": "None"
                },
                {
                    "value": "1",
                    "label": "Lowercase"
                },
                {
                    "value": "2",
                    "label": "Capitalize"
                },
                {
                    "value": "3",
                    "label": "Uppercase"
                }
                ],
                "label": "Button transform text"
            },
            {
                "type": "select",
                "id": "button_dynamic_style",
                "label": "Button style",
                "options": [
                    {
                        "label": "Default",
                        "value": "default"
                    },
                    {
                        "label": "Outline",
                        "value": "outline"
                    }
                ],
                "default":"outline"
            },
            {
                "type": "select",
                "id": "button_color_payment",
                "label": "Button color",
                "default": "dark",
                "options": [
                    {
                        "value": "light",
                        "label": "Light"
                    },
                    {
                        "value": "dark",
                        "label": "Dark"
                    },
                    {
                        "value": "primary",
                        "label": "Primary"
                    }
                ]
            }
          ]
        },
      {
        "type": "view_details",
        "name": "View details button",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "btn_icon",
            "label": "Enable button icon",
            "default": true
          }
        ]
      },
      {
        "type": "properties",
        "name": "⚡ Customizable Products",
        "settings": [
          {
            "type": "paragraph",
            "content": "Block properties are used to collect customization information for an item added to the cart. This information can be collected from the buyer on the product page. Only show on block product form. Not show on product grouped, soldout, external/affiliate"
          },
          {
            "type": "header",
            "content": "+ Set your form field"
          },
          {
           "type": "radio",
           "id": "type",
           "default": "short",
           "options": [
             {
               "value": "short",
               "label": "Text - Short"
             },
             {
               "value": "long",
               "label": "Text - Long"
             },
             {
               "value": "checkbox",
               "label": "Checkbox"
             },
             {
               "value": "radio",
               "label": "Radio Buttons"
             },
             {
               "value": "select",
               "label": "Drop-down select"
             },
             {
               "value": "checkbox_group",
               "label": "Checkbox group"
             },
             {
               "value": "file",
               "label": "File upload (beta)"
             }
           ],
           "label": "Type of form field"
          },
          {
            "type": "paragraph",
            "content": "IMPORTANT: Upload file not support dynamic checkout buttons on product page, quick view, quick shop."
          },
          {
           "type": "text",
           "id": "heading",
           "default": "Your name",
           "label": "Your form field label"
          },
          {
           "type": "textarea",
           "id": "options",
           "label": "Options if using radio buttons, a drop-down select, or checkbox group",
           "default": "option1, option2",
           "info": "Separate your options with a comma."
          },
          {
           "type": "checkbox",
           "id": "required",
           "default": false,
           "label": "Required",
           "info": "If you use “Required” with a checkbox, then the checkbox will need to be checked for the customer to add the item to the cart."
          },
          {
           "type": "checkbox",
           "id": "show_at_checkout",
           "default": true,
           "label": "Show at checkout, cart",
           "info": "Uncheck this if you don't want the captured information to be shown in the order summary on the cart, checkout page."
          },
          {
            "type": "header",
            "content": "+ Set your visibility"
          },
          {
           "type": "radio",
           "id": "visibility",
           "default": "all",
           "options": [
             {
               "value": "all",
               "label": "All"
             },
             {
               "value": "collection",
               "label": "Collection based"
             },
             {
               "value": "type",
               "label": "Type based"
             },
             {
               "value": "tag",
               "label": "Tag based"
             },
             {
               "value": "product",
               "label": "Product based"
             },
             {
               "value": "metafield",
               "label": "Metafield based"
             }
           ],
           "label": "Visibility",
           "info": "Metafield based: theme.visibility_customizable"
          },
          {
           "type": "collection_list",
           "id": "collection_based",
           "label": "Collection list",
           "info": "Maximum choose: 50 collections"
          },
          {
           "type": "textarea",
           "id": "type_based",
           "label": "Product types",
           "placeholder": "type1, type2",
           "info": "Separate your types with a comma."
          },
          {
           "type": "textarea",
           "id": "tag_based",
           "label": "Product tags",
           "placeholder": "tag1, tag2",
           "info": "Separate your types with a comma."
          },
          {
           "type": "product_list",
           "id": "product_based",
           "label": "Product list",
           "info": "Maximum choose: 50 products"
          }
        ]
      }
   ],
    "default": {
      "blocks": [
        { "type": "item_loop" },{ "type": "form" },{ "type": "view_details" }
      ]
    }
  }
{% endschema %}