{%- liquid 
assign isShowHTMl = false
if template.suffix == 'config' and request.design_mode
assign isShowHTMl = true
endif 
assign sid = section.id
assign se_stts = section.settings
assign se_blocks = section.blocks
assign enable_rating = settings.enable_rating
assign imgatt = 'data-'
assign collection = collections['all'] 
  assign pr_overlay  = se_stts.pr_overlay | divided_by: 100.0
  assign countdown_overlay  = se_stts.countdown_overlay | divided_by: 100.0

  assign show_img = settings.show_img
  assign isGrowaveWishlist = false
  if settings.wishlist_mode == "3" and shop.customer_accounts_enabled
    assign isGrowaveWishlist = true
  endif
  
  assign placeholder_img = settings.placeholder_img
  assign enable_pr_size = settings.enable_pr_size
  assign pr_size_pos = settings.pr_size_pos
  assign show_size_type = settings.show_size_type
  assign size_ck = settings.size_ck | append: ',size,sizes,Größe' 
  assign get_size = size_ck | downcase | replace: ' ,', ',' | replace: ', ', ',' | split: ',' | uniq

  assign enable_pr_color = settings.enable_pr_color
  assign show_cl_type = settings.show_color_type
  assign color_ck = settings.color_ck | append: ',color,colors,couleur,colour'
  assign get_color = color_ck | downcase | replace: ' ,', ',' | replace: ', ', ',' | split: ',' | uniq

  assign price_varies_style = settings.price_varies_style
  assign app_review = settings.app_review
  
 -%}

{%- if isShowHTMl -%}
{{ 'bee-collection-products.css' | asset_url | stylesheet_tag }}
{{ 'bee-collection-products-list.css' | asset_url | stylesheet_tag }}
<div class="bee-section-inner bee_se_{{ sid }}">
	<div class="bee-container">
		{%- paginate collection.products by 4 -%}
			{% for block in se_blocks %}
				{%- assign bk_stts = block.settings -%}
				<div class="bee-top-heading bee_des_title_1 bee-text-center" style="margin-bottom: 30px;margin-top: 50px;">
					<h3 class="bee-section-title bee-title"><span>{{ bk_stts.heading }}</span></h3>
				</div> 
				<div class="bee_box_pr_grid bee-products {% if block.type == "list" %} is--listview {% endif %} bee_ratio1_1 bee_rationt bee_position_8 bee_cover bee-row bee-row-cols-lg-4 bee-row-cols-md-2 bee-row-cols-2 bee-gx-md-30 bee-gy-md-0 bee-gx-10 bee-gy-30 bee_mb_100" style="margin-bottom: 50px;">
				{%- liquid 	
				    case block.type
				        when '1'
				          render 'pr-grid-item1' for collections.all.products as product, product: product, isGrowaveWishlist: isGrowaveWishlist, show_img: show_img, placeholder_img: placeholder_img, show_vendor: false, enable_pr_color: enable_pr_color, show_cl_type: show_cl_type, get_color: get_color, enable_pr_size: enable_pr_size, pr_size_pos: pr_size_pos, get_size: get_size, show_size_type: show_size_type, price_varies_style: price_varies_style, app_review: app_review, enable_rating: enable_rating, imgatt: imgatt, show_list_btns: false
				        when '2'
				          render 'pr-grid-item2' for collections.all.products as product, product: product, isGrowaveWishlist: isGrowaveWishlist, show_img: show_img, placeholder_img: placeholder_img, show_vendor: false, enable_pr_color: enable_pr_color, show_cl_type: show_cl_type, get_color: get_color, enable_pr_size: enable_pr_size, pr_size_pos: pr_size_pos, get_size: get_size, show_size_type: show_size_type, price_varies_style: price_varies_style, app_review: app_review, enable_rating: enable_rating, imgatt: imgatt, show_list_btns: false
				        when '3'
				          render 'pr-grid-item3' for collections.all.products as product, product: product, isGrowaveWishlist: isGrowaveWishlist, show_img: show_img, placeholder_img: placeholder_img, show_vendor: false, enable_pr_color: enable_pr_color, show_cl_type: show_cl_type, get_color: get_color, enable_pr_size: enable_pr_size, pr_size_pos: pr_size_pos, get_size: get_size, show_size_type: show_size_type, price_varies_style: price_varies_style, app_review: app_review, enable_rating: enable_rating, imgatt: imgatt, show_list_btns: false
				        when '4'
				          render 'pr-grid-item4' for collections.all.products as product, product: product, isGrowaveWishlist: isGrowaveWishlist, show_img: show_img, placeholder_img: placeholder_img, show_vendor: false, enable_pr_color: enable_pr_color, show_cl_type: show_cl_type, get_color: get_color, enable_pr_size: enable_pr_size, pr_size_pos: pr_size_pos, get_size: get_size, show_size_type: show_size_type, price_varies_style: price_varies_style, app_review: app_review, enable_rating: enable_rating, imgatt: imgatt, show_list_btns: false
				        when '5'
				          render 'pr-grid-item5' for collections.all.products as product, product: product, isGrowaveWishlist: isGrowaveWishlist, show_img: show_img, placeholder_img: placeholder_img, show_vendor: false, enable_pr_color: enable_pr_color, show_cl_type: show_cl_type, get_color: get_color, enable_pr_size: enable_pr_size, pr_size_pos: pr_size_pos, get_size: get_size, show_size_type: show_size_type, price_varies_style: price_varies_style, app_review: app_review, enable_rating: enable_rating, imgatt: imgatt, show_list_btns: false
				        when 'list'
				          render 'pr-grid-item1' for collections.all.products as product, product: product, isGrowaveWishlist: isGrowaveWishlist, show_img: show_img, show_vendor: false, placeholder_img: placeholder_img, enable_pr_color: enable_pr_color, show_cl_type: show_cl_type, get_color: get_color, enable_pr_size: enable_pr_size, pr_size_pos: pr_size_pos, get_size: get_size, show_size_type: show_size_type, price_varies_style: price_varies_style, app_review: app_review, enable_rating: enable_rating, imgatt: imgatt, show_list_btns: true
				        when 'packery'
				          render 'pr-packery-item' for collections.all.products as product, product: product, isGrowaveWishlist: isGrowaveWishlist, show_img: show_img, show_vendor: false, placeholder_img: placeholder_img, enable_pr_color: enable_pr_color, show_cl_type: show_cl_type, get_color: get_color, enable_pr_size: enable_pr_size, pr_size_pos: pr_size_pos, get_size: get_size, show_size_type: show_size_type, price_varies_style: price_varies_style, app_review: app_review, enable_rating: enable_rating, imgatt: imgatt, show_list_btns: false
				     endcase -%}
				</div> 
			{% endfor %} 
		{%- endpaginate -%}
	</div>
</div>
{%- endif -%}

{%- style -%}
{%- liquid 
	if se_stts.lh_pr == 0
		assign lh_pr = 1
	else
		assign lh_pr = se_stts.lh_pr | append: 'px'
	endif -%}
	.bee-section-config-product .bee_box_pr_grid {
		margin-bottom: 100px;
	}
	.bee-section-config-product .bee-top-heading {
		margin-bottom: 30px;
	}
	.bee-product ,
	.bee-product-quick-view .bee-product__media-wrapper {
		--pr-btn-radius-size       : {{ se_stts.pr_btn_round }}px;
		--pr-group-btn-radius-size : {{ se_stts.pr_group_btn_round }}px;
	}
	
	{%- assign countdown_color_lightness       = se_stts.countdown_color | color_extract: 'lightness' -%}
	.bee-widget__pr {
		--pr-wishlist-color-active              : {{ se_stts.wishlist_color_active }};
	}
	.bee-product {

		--swatch-color-size 	   : {{ se_stts.swatch_color_size }}px;
		--swatch-color-size-mb 	   : {{ se_stts.swatch_color_size_mb }}px;
		--pr-background-overlay    : {{ se_stts.pr_bg_overlay | color_modify: 'alpha', pr_overlay }};
		--product-title-family     : var(--font-family-{{ se_stts.fnt_df_pr }});
		--product-title-style      : {{ se_stts.txt_tr_pr }};
		--product-title-size       : {{ se_stts.size_pr }}px;
		--product-title-weight     : {{ se_stts.fw_pr }};
		--product-title-line-height: {{ lh_pr }};
		--product-title-spacing    : {{ se_stts.ls_pr }}px;
		--product-price-size       : {{ se_stts.size_price_pr }}px;
		--product-price-weight     : {{ se_stts.fw_price_pr }};
		--product-space-img-txt    : {{ se_stts.space_img_content }}px;
		--product-space-elements   : {{ se_stts.space_elements }}px;

		--pr-countdown-color       : {% if countdown_color_lightness < 85 %}#fff{% else %}#000{% endif %};
		--pr-countdown-bg-color    : {{ se_stts.countdown_color | color_modify: 'alpha', countdown_overlay }};

	}
	.bee-product-quick-view,
	.bee-product-quick-shop {
		--swatch-color-size 	   : {{ se_stts.swatch_color_size }}px;
		--swatch-color-size-mb 	   : {{ se_stts.swatch_color_size_mb }}px;
	}
	.bee-product,
	.bee-container .bee-row-cols-lg-5 > .bee-product,
	.bee-container .bee-row-cols-lg-6 > .bee-product {
		--product-title-color      : {{ se_stts.pr_title_color }};
		--product-title-color-hover: {{ se_stts.pr_title_color_hover }};
		--product-price-color      : {{ se_stts.price_color }};
		--product-secondary-price-color  : {{ se_stts.price_secondary }};
		--product-price-sale-color : {{ se_stts.price_sale_color }};
		--product-vendors-color : {{ se_stts.vendors_color }};
		--product-vendors-color-hover : {{ se_stts.vendors_color_hover }};
	}
{%- endstyle -%}
{%- for block in se_blocks -%}
	{%- assign bk_stts = block.settings -%}
   	{%- case block.type -%}
      	{%- when '1' -%}
          {%- style -%}
	        @media (max-width: 1024px){
	          	{%- liquid 
	          		assign hidden_atc_mb = bk_stts.hidden_atc_mb
	          		assign hidden_qv_mb = bk_stts.hidden_qv_mb
	          		assign hidden_wishlist_mb = bk_stts.hidden_wishlist_mb
	          		assign hidden_compare_mb = bk_stts.hidden_compare_mb
	          		assign hidden_pr_colors = bk_stts.hidden_pr_colors
	          		assign hidden_pr_sizes = bk_stts.hidden_pr_sizes
	          		assign hidden_pr_countdown = bk_stts.hidden_pr_countdown -%}
	          	{%- if hidden_atc_mb -%}
	          		.bee-pr-style1 .bee-pr-addtocart,
	    			.bee-pr-style1 .bee-product-atc-qty,
	    			.bee-pr-style1 .bee-product-btns,
	          	{%- endif -%}
	          	{%- if hidden_qv_mb -%}
	          		.bee-pr-style1 .bee-pr-quickview,
	          	{%- endif -%}
	          	{%- if hidden_wishlist_mb -%}
	          		.bee-pr-style1 .bee-pr-wishlist,
	          	{%- endif -%}
	          	{%- if hidden_compare_mb -%}
	          		.bee-pr-style1 .bee-pr-compare,
	          	{%- endif -%}
	          	{%- if hidden_pr_colors -%}
	          		.bee-pr-style1 .bee-product-colors,
	          	{%- endif -%}
	          	{%- if hidden_pr_sizes -%}
	          		.bee-pr-style1 .bee-product-sizes,
	          	{%- endif -%}
	          	{%- if hidden_pr_countdown -%}
	          		.bee-pr-style1 .bee-product-countdown,
	          	{%- endif -%}
	          	{%- if hidden_pr_sizes and hidden_pr_countdown -%}
	          		.bee-pr-style1 .bee-pr-group-sizes,
	          	{%- endif -%}
	          	{%- if hidden_wishlist_mb and hidden_qv_mb and hidden_compare_mb -%}
	          		.bee-pr-style1 .bee-product-btns2,
	          	{%- endif -%}
	    			.bee-abc-xyz {
	    				display: none !important;
	    			}
	    		{%- if hidden_wishlist_mb and hidden_qv_mb and hidden_compare_mb -%}
	          		.bee-pr_respon_mb_minimal .bee-pr-style1 .bee-pr-group-sizes {
		          		bottom: 5px !important;
		          	}
	          	{%- endif -%}
	        }
            .bee-pr-style1 {

		        --pr-single-btn-color            : {{ bk_stts.single_btn_color }};
		        --pr-single-btn-bg-color         : {{ bk_stts.single_btn_bg_color }};
		        --pr-single-btn-hover-color      : {{ bk_stts.single_btn_hover_color }};
		        --pr-single-btn-hover-bg-color   : {{ bk_stts.single_btn_hover_bg_color }};

		        --pr-group-btn-color            : {{ bk_stts.group_btn_color }};
		        --pr-group-btn-bg-color         : {{ bk_stts.group_btn_bg_color }};
		        --pr-group-btn-hover-color      : {{ bk_stts.group_btn_hover_color }};
		        --pr-group-btn-hover-bg-color   : {{ bk_stts.group_btn_hover_bg_color }};

		        {%- assign size_list_color_lightness  = bk_stts.size_list_color | color_extract: 'lightness' %}
		        --size-list-color             : {{ bk_stts.size_list_color }};
		        --size-list-color2       : {% if size_list_color_lightness < 85 %}#fff{% else %}#000{% endif %};
            }
          {%- endstyle -%} 
      	{%- when '2' -%}
          	{%- assign pr_overlay  = bk_stts.pr_overlay | divided_by: 100.0 -%}
          	{%- style -%}
	        @media (max-width: 1024px){
	          	{%- liquid 
	          		assign hidden_atc_mb = bk_stts.hidden_atc_mb
	          		assign hidden_qv_mb = bk_stts.hidden_qv_mb
	          		assign hidden_wishlist_mb = bk_stts.hidden_wishlist_mb
	          		assign hidden_compare_mb = bk_stts.hidden_compare_mb
	          		assign hidden_pr_colors = bk_stts.hidden_pr_colors
	          		assign hidden_pr_sizes = bk_stts.hidden_pr_sizes
	          		assign hidden_pr_countdown = bk_stts.hidden_pr_countdown -%}
	          	{%- if hidden_atc_mb -%}
	          		.bee-pr-style2 .bee-pr-addtocart,
	    			.bee-pr-style2 .bee-product-atc-qty,
	          	{%- endif -%}
	          	{%- if hidden_qv_mb -%}
	          		.bee-pr-style2 .bee-pr-quickview,
	          	{%- endif -%}
	          	{%- if hidden_wishlist_mb -%}
	          		.bee-pr-style2 .bee-pr-wishlist,
	          		.bee-pr-style2 .bee-product-btns2,	
	          	{%- endif -%}
	          	{%- if hidden_compare_mb -%}
	          		.bee-pr-style2 .bee-pr-compare,
	          	{%- endif -%}
	          	{%- if hidden_pr_colors -%}
	          		.bee-pr-style2 .bee-product-colors,
	          	{%- endif -%}
	          	{%- if hidden_pr_sizes -%}
	          		.bee-pr-style2 .bee-product-sizes,
	          	{%- endif -%}
	          	{%- if hidden_pr_countdown -%}
	          		.bee-pr-style2 .bee-product-countdown,
	          	{%- endif -%}
	          	{%- if hidden_pr_sizes and hidden_pr_countdown -%}
	          		.bee-pr-style2 .bee-pr-group-sizes,
	          	{%- endif -%}
	    			.bee-abc-xyz {
	    				display: none !important;
	    			}
	          	
	          	{%- if hidden_atc_mb and hidden_qv_mb and hidden_compare_mb -%}
	          		.bee-pr-style2 .bee-product-btns {
	          			display: none !important;
	          		}
	          		.bee-pr-style2 .bee-pr-group-sizes,
	          		.bee-pr_respon_mb_minimal .bee-pr-style2 .bee-pr-group-sizes {
		          		bottom: 5px !important;
		          	}
	          	{%- endif -%}
			}
            .bee-pr-style2 {
		        --pr-single-btn-color            : {{ bk_stts.single_btn_color }};
		        --pr-single-btn-bg-color         : {{ bk_stts.single_btn_bg_color }};
		        --pr-single-btn-hover-color      : {{ bk_stts.single_btn_hover_color }};
		        --pr-single-btn-hover-bg-color   : {{ bk_stts.single_btn_hover_bg_color }};

		        --pr-group-btn-color            : {{ bk_stts.group_btn_color }};
		        --pr-group-btn-bg-color         : {{ bk_stts.group_btn_bg_color }};
		        --pr-group-btn-hover-color      : {{ bk_stts.group_btn_hover_color }};
		        --pr-group-btn-hover-bg-color   : {{ bk_stts.group_btn_hover_bg_color }};

		        {%- assign size_list_color_lightness  = bk_stts.size_list_color | color_extract: 'lightness' %}
		        --size-list-color             : {{ bk_stts.size_list_color }};
		        --size-list-color2       : {% if size_list_color_lightness < 85 %}#fff{% else %}#000{% endif %};
            }
          {%- endstyle -%}
      	{%- when '3' -%}
          {%- assign pr_overlay  = bk_stts.pr_overlay | divided_by: 100.0 -%}
          {%- style -%}
          	@media (max-width: 1024px){
	          	{%- liquid 
	          		assign hidden_atc_mb = bk_stts.hidden_atc_mb
	          		assign hidden_qv_mb = bk_stts.hidden_qv_mb
	          		assign hidden_wishlist_mb = bk_stts.hidden_wishlist_mb
	          		assign hidden_compare_mb = bk_stts.hidden_compare_mb
	          		assign hidden_pr_colors = bk_stts.hidden_pr_colors
	          		assign hidden_pr_sizes = bk_stts.hidden_pr_sizes
	          		assign hidden_pr_countdown = bk_stts.hidden_pr_countdown -%}
	          	{%- if hidden_atc_mb -%}
	          		.bee-pr-style3 .bee-pr-addtocart,
	    			.bee-pr-style3 .bee-product-atc-qty,
	          	{%- endif -%}
	          	{%- if hidden_qv_mb -%}
	          		.bee-pr-style3 .bee-pr-quickview,
	          	{%- endif -%}
	          	{%- if hidden_wishlist_mb -%}
	          		.bee-pr-style3 .bee-pr-wishlist,
	          		.bee-pr-style3 .bee-product-btns2,	
	          	{%- endif -%}
	          	{%- if hidden_compare_mb -%}
	          		.bee-pr-style3 .bee-pr-compare,
	          	{%- endif -%}
	          	{%- if hidden_pr_colors -%}
	          		.bee-pr-style3 .bee-product-colors,
	          	{%- endif -%}
	          	{%- if hidden_pr_sizes -%}
	          		.bee-pr-style3 .bee-product-sizes,
	          	{%- endif -%}
	          	{%- if hidden_pr_countdown -%}
	          		.bee-pr-style3 .bee-product-countdown,
	          	{%- endif -%}
	          	{%- if hidden_pr_sizes and hidden_pr_countdown -%}
	          		.bee-pr-style3 .bee-pr-group-sizes,
	          	{%- endif -%}
	    			.bee-abc-xyz {
	    				display: none !important;
	    			}
	          	
	          	{%- if hidden_wishlist_mb and hidden_qv_mb and hidden_compare_mb -%}
	          		.bee-pr-style3 .bee-product-btns2 {
	          			display: none !important;
	          		}
	          		.bee-pr-style3 .bee-pr-group-sizes,
	          		.bee-pr_respon_mb_minimal .bee-pr-style3 .bee-pr-group-sizes{
		          		bottom: 5px !important;
		          	}
	          	{%- endif -%}
			}
            .bee-pr-style3 {
		       	--pr-single-btn-color            : {{ bk_stts.single_btn_color }};
		        --pr-single-btn-bg-color         : {{ bk_stts.single_btn_bg_color }};
		        --pr-single-btn-hover-color      : {{ bk_stts.single_btn_hover_color }};
		        --pr-single-btn-hover-bg-color   : {{ bk_stts.single_btn_hover_bg_color }};

		        --pr-group-btn-color            : {{ bk_stts.group_btn_color }};
		        --pr-group-btn-bg-color         : {{ bk_stts.group_btn_bg_color }};
		        --pr-group-btn-hover-color      : {{ bk_stts.group_btn_hover_color }};
		        --pr-group-btn-hover-bg-color   : {{ bk_stts.group_btn_hover_bg_color }};

		        {%- assign size_list_color_lightness  = bk_stts.size_list_color | color_extract: 'lightness' %}
		        --size-list-color             : {{ bk_stts.size_list_color }};
		        --size-list-color2       : {% if size_list_color_lightness < 85 %}#fff{% else %}#000{% endif %};
            }
          {%- endstyle -%}
      	{%- when '4' -%}
          	{%- assign pr_overlay  = bk_stts.pr_overlay | divided_by: 100.0 -%}
          	{%- style -%}
          		@media (max-width: 1024px){
	          		{%- liquid 
		          		assign hidden_atc_mb = bk_stts.hidden_atc_mb
		          		assign hidden_qv_mb = bk_stts.hidden_qv_mb
		          		assign hidden_wishlist_mb = bk_stts.hidden_wishlist_mb
		          		assign hidden_compare_mb = bk_stts.hidden_compare_mb
		          		assign hidden_pr_colors = bk_stts.hidden_pr_colors
		          		assign hidden_pr_sizes = bk_stts.hidden_pr_sizes
		          		assign hidden_pr_countdown = bk_stts.hidden_pr_countdown -%}
		          	{%- if hidden_atc_mb -%}
		          		.bee-pr-style4 .bee-pr-addtocart,
		    			.bee-pr-style4 .bee-product-atc-qty,
		    			.bee-pr-style4 .bee-product-btns,
		          	{%- endif -%}
		          	{%- if hidden_qv_mb -%}
		          		.bee-pr-style4 .bee-pr-quickview,
		          	{%- endif -%}
		          	{%- if hidden_wishlist_mb -%}
		          		.bee-pr-style4 .bee-pr-wishlist,
		          		.bee-pr-style4 .bee-product-btns2,
		          	{%- endif -%}
		          	{%- if hidden_compare_mb -%}
		          		.bee-pr-style4 .bee-pr-compare,
		          	{%- endif -%}
		          	{%- if hidden_pr_colors -%}
		          		.bee-pr-style4 .bee-product-colors,
		          	{%- endif -%}
		          	{%- if hidden_pr_sizes -%}
		          		.bee-pr-style4 .bee-product-sizes,
		          	{%- endif -%}
		          	{%- if hidden_pr_countdown -%}
		          		.bee-pr-style4 .bee-product-countdown,
		          	{%- endif -%}
		    			.bee-abc-xyz {
		    				display: none !important;
		    			}
		    		{%- if hidden_atc_mb and hidden_qv_mb and hidden_compare_mb -%}
		          		.bee-pr-style4 .bee-product-btns {
		          			display: none !important;
		          		}
		          		.bee-pr-style4 .bee-product-countdown,	
		          		.bee-pr_respon_mb_minimal .bee-pr-style4 .bee-product-countdown {
					        bottom: 5px !important;
					    }
		          	{%- endif -%}
		        }
	            .bee-pr-style4 {
			       	--pr-single-btn-color            : {{ bk_stts.single_btn_color }};
			        --pr-single-btn-bg-color         : {{ bk_stts.single_btn_bg_color }};
			        --pr-single-btn-hover-color      : {{ bk_stts.single_btn_hover_color }};
			        --pr-single-btn-hover-bg-color   : {{ bk_stts.single_btn_hover_bg_color }};

			        --pr-group-btn-color            : {{ bk_stts.group_btn_color }};
			        --pr-group-btn-bg-color         : {{ bk_stts.group_btn_bg_color }};
			        --pr-group-btn-hover-color      : {{ bk_stts.group_btn_hover_color }};
			        --pr-group-btn-hover-bg-color   : {{ bk_stts.group_btn_hover_bg_color }};

			        {%- assign size_list_color_lightness  = bk_stts.size_list_color | color_extract: 'lightness' %}
			        --size-list-color             : {{ bk_stts.size_list_color }};
			        --size-list-color2       : {% if size_list_color_lightness < 85 %}#fff{% else %}#000{% endif %};
	            } 
        	{%- endstyle -%}
        {%- when '5' -%}
          	{%- assign pr_overlay  = bk_stts.pr_overlay | divided_by: 100.0 -%}
          	{%- style -%}
          		@media (max-width: 1024px){
	          		{%- liquid 
		          		assign hidden_atc_mb = bk_stts.hidden_atc_mb
		          		assign hidden_qv_mb = bk_stts.hidden_qv_mb
		          		assign hidden_wishlist_mb = bk_stts.hidden_wishlist_mb
		          		assign hidden_compare_mb = bk_stts.hidden_compare_mb
		          		assign hidden_pr_colors = bk_stts.hidden_pr_colors
		          		assign hidden_pr_sizes = bk_stts.hidden_pr_sizes
		          		assign hidden_pr_countdown = bk_stts.hidden_pr_countdown -%}
		          	{%- if hidden_atc_mb -%}
		          		.bee-pr-style5 .bee-pr-addtocart,
				    			.bee-pr-style5 .bee-product-atc-qty,
				    			.bee-pr-style5 .bee-product-btns,
				          	{%- endif -%}
				          	{%- if hidden_qv_mb -%}
				          		.bee-pr-style5 .bee-pr-quickview,
				          	{%- endif -%}
				          	{%- if hidden_wishlist_mb -%}
				          		.bee-pr-style5 .bee-pr-wishlist,
				          		.bee-pr-style5 .bee-product-btns2,
				          	{%- endif -%}
				          	{%- if hidden_compare_mb -%}
				          		.bee-pr-style5 .bee-pr-compare,
				          	{%- endif -%}
				          	{%- if hidden_pr_colors -%}
				          		.bee-pr-style5 .bee-product-colors,
				          	{%- endif -%}
				          	{%- if hidden_pr_sizes -%}
				          		.bee-pr-style5 .bee-product-sizes,
				          	{%- endif -%}
				          	{%- if hidden_pr_countdown -%}
				          		.bee-pr-style5 .bee-product-countdown,
				          	{%- endif -%}
				    			.bee-abc-xyz {
				    				display: none !important;
				    			}
			    				{%- if hidden_atc_mb and hidden_qv_mb and hidden_compare_mb -%}
			          		.bee-pr-style5 .bee-product-btns {
			          			display: none !important;
			          		}
			          		.bee-pr-style5 .bee-product-countdown,
			          		.bee-pr_respon_mb_minimal .bee-pr-style5 .bee-product-countdown {
						        bottom: 5px !important;
						    	}
		          	{%- endif -%}
		        	}
	            .bee-pr-style5 {
			       
				       {%- assign pr_title_color_lightness         = bk_stts.pr_title_color | color_extract: 'lightness' -%}
				       {%- assign pr_title_color_hover_lightness   = bk_stts.pr_title_color_hover | color_extract: 'lightness' %}
				       {%- assign price_color_lightness         = bk_stts.price_color | color_extract: 'lightness' -%}
				       {%- assign price_sale_color_lightness   = bk_stts.price_sale_color | color_extract: 'lightness' %}
				       {%- assign vendors_color_lightness  = bk_stts.vendors_color | color_extract: 'lightness' %}

				        --pr-single-btn-color            : {{ bk_stts.single_btn_color }};
				        --pr-single-btn-bg-color         : {{ bk_stts.single_btn_bg_color }};
				        --pr-single-btn-hover-color      : {{ bk_stts.single_btn_hover_color }};
				        --pr-single-btn-hover-bg-color   : {{ bk_stts.single_btn_hover_bg_color }};

				        --pr-group-btn-color            : {{ bk_stts.group_btn_color }};
				        --pr-group-btn-bg-color         : {{ bk_stts.group_btn_bg_color }};
				        --pr-group-btn-hover-color      : {{ bk_stts.group_btn_hover_color }};
				        --pr-group-btn-hover-bg-color   : {{ bk_stts.group_btn_hover_bg_color }};

								--product-list-title-color      : {{ se_stts.pr_title_color }};
								--product-list-title-color-hover: {{ se_stts.pr_title_color_hover }};
								--product-list-price-color      : {{ se_stts.price_color }};
								--product-list-vendors-color : {{ se_stts.vendors_color }};
								--product-list-vendors-color-hover : {{ se_stts.vendors_color_hover }};
								--product-list-price-sale-color : {{ se_stts.price_sale_color }};

	            } 
	            .bee-products:not(.is--listview ) .bee-pr-style5,
	            div:not(.is--listview ) .bee-pr-style5 {

	            	--product-title-color            : {{ bk_stts.pr_title_color }};
				        --product-title-color2           : {% if pr_title_color_lightness < 85 %}#fff{% else %}#000{% endif %};
				        --product-title-color-hover      : {{ bk_stts.pr_title_color_hover }};
				        --product-title-color2-hover     : {% if pr_title_color_hover_lightness < 85 %}#fff{% else %}#000{% endif %};

				        --product-price-color            : {{ bk_stts.price_color }};
				        --product-price-color2           : {% if price_color_lightness < 85 %}#fff{% else %}#000{% endif %};
				        --product-secondary-price-color  : {{ bk_stts.price_secondary }};
				        --product-price-sale-color      : {{ bk_stts.price_sale_color }};
				        --product-price-sale-color2     : {% if price_sale_color_lightness < 85 %}#fff{% else %}#000{% endif %};
				        
								--product-vendors-color : {{ bk_stts.vendors_color }};
								--product-vendors-color2 : {% if vendors_color_lightness < 85 %}#fff{% else %}#000{% endif %};
								--product-vendors-color-hover : {{ bk_stts.vendors_color_hover }};

								{%- assign size_list_color_lightness  = bk_stts.size_list_color | color_extract: 'lightness' %}
					        --size-list-color             : {{ bk_stts.size_list_color }};
					        --size-list-color2       : {% if size_list_color_lightness < 85 %}#fff{% else %}#000{% endif %};
	        		}
	        		@media(min-width: 1025px) {
		        		.bee-products:not(.is--listview ) .bee-pr-style5:hover,
		        		div:not(.is--listview ) > .bee-pr-style5:hover {
		        			--product-title-color: {{ bk_stts.pr_title_color_hover }};
		        			--product-price-color: var(--bee-light-color);
		        			--product-secondary-price-color: var(--bee-light-color);
		        			--product-price-sale-color: var(--bee-light-color);
		        			--product-vendors-color: var(--bee-light-color);
		        			--size-list-color : var(--bee-light-color);
		        		}
		        	}
        	{%- endstyle -%}
      	{%- when '6' -%}
          	{%- style -%}
          		@media (max-width: 1024px){
	          		{%- liquid 
		          		assign hidden_atc_mb = bk_stts.hidden_atc_mb
		          		assign hidden_qv_mb = bk_stts.hidden_qv_mb
		          		assign hidden_wishlist_mb = bk_stts.hidden_wishlist_mb
		          		assign hidden_compare_mb = bk_stts.hidden_compare_mb
		          		assign hidden_pr_colors = bk_stts.hidden_pr_colors
		          		assign hidden_pr_sizes = bk_stts.hidden_pr_sizes
		          		assign hidden_pr_countdown = bk_stts.hidden_pr_countdown -%}
		          	{%- if hidden_atc_mb -%}
		          		.bee-pr-style6 .bee-pr-addtocart,
		    			.bee-pr-style6 .bee-product-atc-qty,
		    			.bee-pr-style6 .bee-product-btns,
		          	{%- endif -%}
		          	{%- if hidden_qv_mb -%}
		          		.bee-pr-style6 .bee-pr-quickview,
		          	{%- endif -%}
		          	{%- if hidden_wishlist_mb -%}
		          		.bee-pr-style6 .bee-pr-wishlist,
		          	{%- endif -%}
		          	{%- if hidden_compare_mb -%}
		          		.bee-pr-style6 .bee-pr-compare,
		          	{%- endif -%}
		          	{%- if hidden_pr_colors -%}
		          		.bee-pr-style6 .bee-product-colors,
		          	{%- endif -%}
		          	{%- if hidden_pr_sizes -%}
		          		.bee-pr-style6 .bee-product-sizes,
		          	{%- endif -%}
		          	{%- if hidden_pr_countdown -%}
		          		.bee-pr-style6 .bee-product-countdown,
		          	{%- endif -%}
		          	{%- if hidden_pr_sizes and hidden_pr_countdown -%}
		          		.bee-pr-style6 .bee-pr-group-sizes,
		          	{%- endif -%}
		          	{%- if hidden_wishlist_mb and hidden_qv_mb and hidden_compare_mb -%}
		          		.bee-pr-style6 .bee-product-btns2,
		          	{%- endif -%}
		    			.bee-abc-xyz {
		    				display: none !important;
		    			}
		          	{%- if hidden_atc_mb -%}
		          		.bee-pr-style6 .bee-pr-group-sizes {
			          		bottom: 5px !important;
			          	}
			          	.bee-pr_respon_mb_minimal .bee-pr-style6 .bee-pr-group-sizes {
			          		bottom: 45px !important;
				        }
		          	{%- endif -%}
		          	{%- if hidden_wishlist_mb and hidden_qv_mb and hidden_compare_mb -%}
		          		.bee-pr_respon_mb_minimal .bee-pr-style6 .bee-pr-group-sizes {
			          		bottom: 45px !important;
				        }
		          	{%- endif -%}
		          	{%- if hidden_atc_mb and hidden_wishlist_mb and hidden_qv_mb and hidden_compare_mb -%}
		          		.bee-pr_respon_mb_minimal .bee-pr-style6 .bee-pr-group-sizes {
			          		bottom: 5px !important;
				        }
		          	{%- endif -%}
	          	}
	          	@media (max-width: 767px){
	          		{%- if hidden_atc_mb -%}
			          	.bee-pr_respon_mb_minimal .bee-pr-style6 .bee-pr-group-sizes {
			          		bottom: 37px !important;
				        }
		          	{%- endif -%}
		          	{%- if hidden_wishlist_mb and hidden_qv_mb and hidden_compare_mb -%}
		          		.bee-pr_respon_mb_minimal .bee-pr-style6 .bee-pr-group-sizes {
			          		bottom: 37px !important;
				        }
		          	{%- endif -%}
	          	}
	            .bee-pr-style6 {
			       	--pr-single-btn-color            : {{ bk_stts.single_btn_color }};
			        --pr-single-btn-bg-color         : {{ bk_stts.single_btn_bg_color }};
			        --pr-single-btn-hover-color      : {{ bk_stts.single_btn_hover_color }};
			        --pr-single-btn-hover-bg-color   : {{ bk_stts.single_btn_hover_bg_color }};

			        --pr-group-btn-color            : {{ bk_stts.group_btn_color }};
			        --pr-group-btn-bg-color         : {{ bk_stts.group_btn_bg_color }};
			        --pr-group-btn-hover-color      : {{ bk_stts.group_btn_hover_color }};
			        --pr-group-btn-hover-bg-color   : {{ bk_stts.group_btn_hover_bg_color }};

			        {%- assign size_list_color_lightness  = bk_stts.size_list_color | color_extract: 'lightness' %}
			        --size-list-color             : {{ bk_stts.size_list_color }};
			        --size-list-color2       : {% if size_list_color_lightness < 85 %}#fff{% else %}#000{% endif %};
	            } 
        	{%- endstyle -%}
        {%- when '7' -%}
          	{%- assign pr_overlay  = bk_stts.pr_overlay | divided_by: 100.0 -%}
          	{%- style -%}
          		@media (max-width: 1024px){
	          		{%- liquid 
		          		assign hidden_atc_mb = bk_stts.hidden_atc_mb
		          		assign hidden_qv_mb = bk_stts.hidden_qv_mb
		          		assign hidden_wishlist_mb = bk_stts.hidden_wishlist_mb
		          		assign hidden_compare_mb = bk_stts.hidden_compare_mb
		          		assign hidden_pr_colors = bk_stts.hidden_pr_colors
		          		assign hidden_pr_sizes = bk_stts.hidden_pr_sizes
		          		assign hidden_pr_countdown = bk_stts.hidden_pr_countdown -%}
		          	{%- if hidden_atc_mb -%}
		          		.bee-pr-style7 .bee-pr-addtocart,
		    			.bee-pr-style7 .bee-product-atc-qty,
		    			.bee-pr-style7 .bee-product-btns,
		          	{%- endif -%}
		          	{%- if hidden_qv_mb -%}
		          		.bee-pr-style7 .bee-pr-quickview,
		          	{%- endif -%}
		          	{%- if hidden_wishlist_mb -%}
		          		.bee-pr-style7 .bee-pr-wishlist,
		          	{%- endif -%}
		          	{%- if hidden_compare_mb -%}
		          		.bee-pr-style7 .bee-pr-compare,
		          	{%- endif -%}
		          	{%- if hidden_pr_colors -%}
		          		.bee-pr-style7 .bee-product-colors,
		          	{%- endif -%}
		          	{%- if hidden_pr_sizes -%}
		          		.bee-pr-style7 .bee-product-sizes,
		          	{%- endif -%}
		          	{%- if hidden_pr_countdown -%}
		          		.bee-pr-style7 .bee-product-countdown,
		          	{%- endif -%}
		          	{%- if hidden_pr_sizes and hidden_pr_countdown -%}
		          		.bee-pr-style7 .bee-pr-group-sizes,
		          	{%- endif -%}
		          	{%- if hidden_wishlist_mb and hidden_compare_mb -%}
		          		.bee-pr-style7 .bee-product-btns2,
		          	{%- endif -%}
		    			.bee-abc-xyz {
		    				display: none !important;
		    			}
		          	{%- if hidden_atc_mb and hidden_qv_mb -%}
		          		.bee-pr-style7 .bee-pr-group-sizes {
		          			bottom: 5px !important;
		          		}
		          		.bee-pr_respon_mb_minimal .bee-pr-style7 .bee-pr-group-sizes {
		          			bottom: 45px !important;
		          		}
		          	{%- endif -%}
		          	{%- if hidden_wishlist_mb and hidden_compare_mb -%}
		          		.bee-pr_respon_mb_minimal .bee-pr-style7 .bee-pr-group-sizes {
		          			bottom: 45px !important;
		          		}
		          	{%- endif -%}
		          	{%- if hidden_atc_mb and hidden_qv_mb and hidden_wishlist_mb and hidden_compare_mb -%}
		          		.bee-pr_respon_mb_minimal .bee-pr-style7 .bee-pr-group-sizes {
		          			bottom: 5px !important;
		          		}
		          	{%- endif -%}
	          	}
	          	@media (max-width: 767px){
	          		{%- if hidden_atc_mb and hidden_qv_mb -%}
		          		.bee-pr_respon_mb_minimal .bee-pr-style7 .bee-pr-group-sizes {
		          			bottom: 37px !important;
		          		}
		          	{%- endif -%}
		          	{%- if hidden_wishlist_mb and hidden_compare_mb -%}
		          		.bee-pr_respon_mb_minimal .bee-pr-style7 .bee-pr-group-sizes {
		          			bottom: 37px !important;
		          		}
		          	{%- endif -%}
	          	}
	            .bee-pr-style7 {
			       	--pr-single-btn-color            : {{ bk_stts.single_btn_color }};
			        --pr-single-btn-bg-color         : {{ bk_stts.single_btn_bg_color }};
			        --pr-single-btn-hover-color      : {{ bk_stts.single_btn_hover_color }};
			        --pr-single-btn-hover-bg-color   : {{ bk_stts.single_btn_hover_bg_color }};

			        --pr-group-btn-color            : {{ bk_stts.group_btn_color }};
			        --pr-group-btn-bg-color         : {{ bk_stts.group_btn_bg_color }};
			        --pr-group-btn-hover-color      : {{ bk_stts.group_btn_hover_color }};
			        --pr-group-btn-hover-bg-color   : {{ bk_stts.group_btn_hover_bg_color }};

			        {%- assign size_list_color_lightness  = bk_stts.size_list_color | color_extract: 'lightness' %}
			        --size-list-color             : {{ bk_stts.size_list_color }};
			        --size-list-color2       : {% if size_list_color_lightness < 85 %}#fff{% else %}#000{% endif %};
	            } 
        	{%- endstyle -%}
      	{%- when 'list' -%}
          	{%- assign pr_overlay  = bk_stts.pr_overlay | divided_by: 100.0 -%}
          	{%- style -%}
          	{%- liquid
		      		if bk_stts.lh_pr == 0
								assign lh_pr = 1
							else
								assign lh_pr = bk_stts.lh_pr | append: 'px'
							endif 
							if bk_stts.lh_pr_tb == 0
								assign lh_pr_tb = 1
							else
								assign lh_pr_tb = bk_stts.lh_pr_tb | append: 'px'
							endif 
							if bk_stts.lh_pr_mb == 0
								assign lh_pr_mb = 1
							else
								assign lh_pr_mb = bk_stts.lh_pr_mb | append: 'px'
							endif 
						-%}
          		@media (max-width: 1024px){
		          	{%- liquid 
		          		assign hidden_atc_mb = bk_stts.hidden_atc_mb
		          		assign hidden_qv_mb = bk_stts.hidden_qv_mb
		          		assign hidden_wishlist_mb = bk_stts.hidden_wishlist_mb
		          		assign hidden_compare_mb = bk_stts.hidden_compare_mb
		          		assign hidden_pr_colors = bk_stts.hidden_pr_colors
		          		assign hidden_pr_sizes = bk_stts.hidden_pr_sizes
		          		assign hidden_pr_countdown = bk_stts.hidden_pr_countdown -%}
		          	{%- if hidden_atc_mb -%}
		          		.is--listview .bee-product .bee-pr-addtocart,
			    			.is--listview .bee-product .bee-product-atc-qty,
			          	{%- endif -%}
			          	{%- if hidden_qv_mb -%}
			          		.is--listview .bee-product .bee-pr-quickview,
			          	{%- endif -%}
			          	{%- if hidden_wishlist_mb -%}
			          		.is--listview .bee-product .bee-pr-wishlist,
			          	{%- endif -%}
			          	{%- if hidden_compare_mb -%}
			          		.is--listview .bee-product .bee-pr-compare,
			          	{%- endif -%}
			          	{%- if hidden_pr_colors -%}
			          		.is--listview .bee-product .bee-product-colors,
			          	{%- endif -%}
			          	{%- if hidden_pr_sizes -%}
			          		.is--listview .bee-product .bee-product-sizes,
			          	{%- endif -%}
			          	{%- if hidden_pr_countdown -%}
			          		.is--listview .bee-product .bee-product-countdown,
			          	{%- endif -%}
			    			.bee-abc-xyz {
			    				display: none !important;
			    			}
		          	
		          	{%- if hidden_atc_mb and hidden_qv_mb -%}
		          		.is--listview .bee-product .bee-product-info .bee-product-btns {
		          			display: none !important;
		          		}
		          	{%- endif -%}
		          	{%- if hidden_wishlist_mb and hidden_compare_mb -%}
		          		.is--listview .bee-product .bee-product-btns2 {
		          			display: none !important;
		          		}
		          	{%- endif -%}
		        }
	            .bee-product.bee-pr-list,
	            .is--listview .bee-product,
	            .is--listview .bee-product:hover {
	            	--product-title-size       : {{ bk_stts.size_pr }}px;
								--product-title-weight     : {{ bk_stts.fw_pr }};
								--product-title-line-height: {{ lh_pr }};
								--product-title-spacing    : {{ bk_stts.ls_pr }}px;
								--product-price-size       : {{ bk_stts.size_price_pr }}px;
								--product-price-weight     : {{ bk_stts.fw_price_pr }};

				       	--atc-cl           	: {{ bk_stts.addtocart_color }};
				        --atc-hover-cl      : {{ bk_stts.addtocart_color_hover }};
				        --atc-hover-bg-cl   : {{ bk_stts.addtocart_bg_color_hover }};

				       	--wishlist-cl          	 : {{ bk_stts.wishlist_color }};
				        --wishlist-bg-cl         : {{ bk_stts.wishlist_bg_color }};
				        --wishlist-hover-cl      : {{ bk_stts.wishlist_hover_color }};
				        --wishlist-hover-bg-cl   : {{ bk_stts.wishlist_hover_bg_color }};
				        --wishlist-active-cl     : {{ bk_stts.wishlist_active_color }};
				        --wishlist-active-bg-cl  : {{ bk_stts.wishlist_active_bg_color }};

				        --pr-group-btn-color            : {{ bk_stts.group_btn_color }};
				        --pr-group-btn-bg-color         : {{ bk_stts.group_btn_bg_color }};
				        --pr-group-btn-hover-color      : {{ bk_stts.group_btn_hover_color }};
				        --pr-group-btn-hover-bg-color   : {{ bk_stts.group_btn_hover_bg_color }};
				        --content-cl   					: {{ bk_stts.content_color }};

			        {%- assign size_list_color_lightness  = bk_stts.size_list_color | color_extract: 'lightness' %}
			        --size-list-color             : {{ bk_stts.size_list_color }};
			        --size-list-color2       : {% if size_list_color_lightness < 85 %}#fff{% else %}#000{% endif %};
	            }
          	{%- endstyle -%}
      	{%- when 'packery' -%}
      		{%- liquid
      		if bk_stts.lh_pr == 0
						assign lh_pr = 1
					else
						assign lh_pr = bk_stts.lh_pr | append: 'px'
					endif 
					if bk_stts.lh_pr_tb == 0
						assign lh_pr_tb = 1
					else
						assign lh_pr_tb = bk_stts.lh_pr_tb | append: 'px'
					endif 
					if bk_stts.lh_pr_mb == 0
						assign lh_pr_mb = 1
					else
						assign lh_pr_mb = bk_stts.lh_pr_mb | append: 'px'
					endif 
					-%}
					{%-  assign pr-overlay_lightness  = se_stts.pr_bg_overlay | color_extract: 'lightness' -%}
			
          	{%- style -%}
          		@media (max-width: 1024px){
	          		{%- liquid 
		          		assign hidden_atc_mb = bk_stts.hidden_atc_mb
		          		assign hidden_qv_mb = bk_stts.hidden_qv_mb
		          		assign hidden_wishlist_mb = bk_stts.hidden_wishlist_mb
		          		assign hidden_compare_mb = bk_stts.hidden_compare_mb
		          		assign hidden_pr_colors = bk_stts.hidden_pr_colors
		          		assign hidden_pr_sizes = bk_stts.hidden_pr_sizes
		          		assign hidden_pr_countdown = bk_stts.hidden_pr_countdown -%}
		          	{%- if hidden_atc_mb -%}
		          		.bee-pr-packery .bee-pr-addtocart,
		    			.bee-pr-packery .bee-product-atc-qty,
		          	{%- endif -%}
		          	{%- if hidden_qv_mb -%}
		          		.bee-pr-packery .bee-pr-quickview,
		          	{%- endif -%}
		          	{%- if hidden_wishlist_mb -%}
		          		.bee-pr-packery .bee-pr-wishlist,
		          	{%- endif -%}
		          	{%- if hidden_compare_mb -%}
		          		.bee-pr-packery .bee-pr-compare,
		          	{%- endif -%}
		          	{%- if hidden_pr_colors -%}
		          		.bee-pr-packery .bee-product-colors,
		          	{%- endif -%}
		          	{%- if hidden_pr_sizes -%}
		          		.bee-pr-packery .bee-product-sizes,
		          	{%- endif -%}
		          	{%- if hidden_pr_countdown -%}
		          		.bee-pr-packery .bee-product-countdown,
		          	{%- endif -%}
		    			.bee-abc-xyz {
		    				display: none !important;
		    			}
		          	
		          	{%- if hidden_atc_mb and hidden_qv_mb and hidden_compare_mb and hidden_wishlist_mb -%}
		          		.bee-pr-packery .bee-product-btns {
		          			display: none !important;
		          		}
		          		.bee-pr-packery .bee-product-countdown {
		          			 bottom: 5px !important;
		          		}
		          	{%- endif -%}
		          }
	            .bee-pr-packery {

								--pr-packery-text-cl       : {% if pr-overlay_lightness < 85 %}#fff{% else %}#000{% endif %};
								--product-title-color-hover : var(--pr-packery-text-cl);
				            	--product-title-size       : {{ bk_stts.size_pr }}px;
								--product-title-weight     : {{ bk_stts.fw_pr }};
								--product-title-line-height: {{ lh_pr }};
								--product-title-spacing    : {{ bk_stts.ls_pr }}px;
								--product-price-size       : {{ bk_stts.size_price_pr }}px;
								--product-price-size-mb       : {{ bk_stts.size_price_pr_mb }}px;
								--product-price-weight     : {{ bk_stts.fw_price_pr }};
								--other-size       : {{ bk_stts.other_size }}px;

								--product-title-size-tb       : {{ bk_stts.size_pr_tb }}px;
								--product-title-line-height-tb: {{ lh_pr_tb }};

								--product-title-size-mb       : {{ bk_stts.size_pr_mb }}px;
								--product-title-line-height-mb: {{ lh_pr_mb }};

				       	--pr-single-btn-color            : {{ bk_stts.single_btn_color }};
				        --pr-single-btn-bg-color         : {{ bk_stts.single_btn_bg_color }};
				        --pr-single-btn-hover-color      : {{ bk_stts.single_btn_hover_color }};
				        --pr-single-btn-hover-bg-color   : {{ bk_stts.single_btn_hover_bg_color }};

				        --pr-group-btn-color            : {{ bk_stts.group_btn_color }};
				        --pr-group-btn-bg-color         : {{ bk_stts.group_btn_bg_color }};
				        --pr-group-btn-hover-color      : {{ bk_stts.group_btn_hover_color }};
				        --pr-group-btn-hover-bg-color   : {{ bk_stts.group_btn_hover_bg_color }};

				        {%- assign size_list_color_lightness  = bk_stts.size_list_color | color_extract: 'lightness' %}
				        --size-list-color             : {{ bk_stts.size_list_color }};
				        --size-list-color2       : {% if size_list_color_lightness < 85 %}#fff{% else %}#000{% endif %};
		            } 
            {%- endstyle -%} 
   			{%- when 'main-pr-packery' -%}
   					{%- style -%}
          		@media (max-width: 1024px){
	          		{%- liquid 
		          		assign hidden_atc_mb = bk_stts.hidden_atc_mb
		          		assign hidden_qv_mb = bk_stts.hidden_qv_mb
		          		assign hidden_wishlist_mb = bk_stts.hidden_wishlist_mb
		          		assign hidden_compare_mb = bk_stts.hidden_compare_mb
		          		assign hidden_pr_colors = bk_stts.hidden_pr_colors
		          		assign hidden_pr_sizes = bk_stts.hidden_pr_sizes
		          		assign hidden_pr_countdown = bk_stts.hidden_pr_countdown -%}
		          	{%- if hidden_atc_mb -%}
		          		.main-pr-packery-item .bee-pr-addtocart,
		    			.main-pr-packery-item .bee-product-atc-qty,
		    			.main-pr-packery-item .bee-product-btns,
		          	{%- endif -%}
		          	{%- if hidden_qv_mb -%}
		          		.main-pr-packery-item .bee-pr-quickview,
		          	{%- endif -%}
		          	{%- if hidden_wishlist_mb -%}
		          		.main-pr-packery-item .bee-pr-wishlist,
		          	{%- endif -%}
		          	{%- if hidden_compare_mb -%}
		          		.main-pr-packery-item .bee-pr-compare,
		          	{%- endif -%}
		          	{%- if hidden_pr_colors -%}
		          		.main-pr-packery-item .bee-product-colors,
		          	{%- endif -%}
		          	{%- if hidden_pr_sizes -%}
		          		.main-pr-packery-item .bee-product-sizes,
		          	{%- endif -%}
		          	{%- if hidden_pr_countdown -%}
		          		.main-pr-packery-item .bee-product-countdown,
		          	{%- endif -%}
		          	{%- if hidden_pr_sizes and hidden_pr_countdown -%}
		          		.main-pr-packery-item .bee-pr-group-sizes,
		          	{%- endif -%}
		          	{%- if hidden_wishlist_mb and hidden_qv_mb and hidden_compare_mb -%}
		          		.main-pr-packery-item .bee-product-btns2,
		          	{%- endif -%}
		    			.bee-abc-xyz {
		    				display: none !important;
		    			}
		          	{%- if hidden_atc_mb -%}
		          		.main-pr-packery-item .bee-pr-group-sizes {
			          		bottom: 5px !important;
			          	}
			          	.bee-pr_respon_mb_minimal .main-pr-packery-item .bee-pr-group-sizes {
			          		bottom: 45px !important;
				        }
		          	{%- endif -%}
		          	{%- if hidden_wishlist_mb and hidden_qv_mb and hidden_compare_mb -%}
		          		.bee-pr_respon_mb_minimal .main-pr-packery-item .bee-pr-group-sizes {
			          		bottom: 45px !important;
				        }
		          	{%- endif -%}
		          	{%- if hidden_atc_mb and hidden_wishlist_mb and hidden_qv_mb and hidden_compare_mb -%}
		          		.bee-pr_respon_mb_minimal .main-pr-packery-item .bee-pr-group-sizes {
			          		bottom: 5px !important;
				        }
		          	{%- endif -%}
	          	}
	          	@media (max-width: 767px){
	          		{%- if hidden_atc_mb -%}
			          	.bee-pr_respon_mb_minimal .main-pr-packery-item .bee-pr-group-sizes {
			          		bottom: 37px !important;
				        }
		          	{%- endif -%}
		          	{%- if hidden_wishlist_mb and hidden_qv_mb and hidden_compare_mb -%}
		          		.bee-pr_respon_mb_minimal .main-pr-packery-item .bee-pr-group-sizes {
			          		bottom: 37px !important;
				        }
		          	{%- endif -%}
	          	}
	            .main-pr-packery-item {
			       	--pr-single-btn-color            : {{ bk_stts.single_btn_color }};
			        --pr-single-btn-bg-color         : {{ bk_stts.single_btn_bg_color }};
			        --pr-single-btn-hover-color      : {{ bk_stts.single_btn_hover_color }};
			        --pr-single-btn-hover-bg-color   : {{ bk_stts.single_btn_hover_bg_color }};

			        --pr-group-btn-color            : {{ bk_stts.group_btn_color }};
			        --pr-group-btn-bg-color         : {{ bk_stts.group_btn_bg_color }};
			        --pr-group-btn-hover-color      : {{ bk_stts.group_btn_hover_color }};
			        --pr-group-btn-hover-bg-color   : {{ bk_stts.group_btn_hover_bg_color }};

			        {%- assign size_list_color_lightness  = bk_stts.size_list_color | color_extract: 'lightness' %}
			        --size-list-color             : {{ bk_stts.size_list_color }};
			        --size-list-color2       : {% if size_list_color_lightness < 85 %}#fff{% else %}#000{% endif %};
	            } 
        	{%- endstyle -%}
   	{%- endcase -%}
{%- endfor -%}

{% schema %}
  {
  "name": "Product Items",
  "tag": "div",
  "class": "bee-section bee-section-config bee-section-admn-fixed",
  "settings": [
	{
	    "type": "header",
	    "content": "+ Product title"
	},
	{
	    "type": "select",
	    "id": "txt_tr_pr",
	    "default": "none",
	    "options": [
	      {
	        "value": "none",
	        "label": "None"
	      },
	      {
	        "value": "lowercase",
	        "label": "Lowercase"
	      },
	      {
	        "value": "capitalize",
	        "label": "Capitalize"
	      },
	      {
	        "value": "uppercase",
	        "label": "Uppercase"
	      }
	    ],
	    "label": "Style"
	},
	{
	    "type": "select",
	    "id": "fnt_df_pr",
	    "label": "Font family",
	    "default": "1",
	    "options": [
	      {
	        "value": "1",
	        "label": "Font family #1"
	      },
	      {
	        "value": "2",
	        "label": "Font family #2"
	      },
	      {
	        "value": "3",
	        "label": "Font family #3"
	      }
	    ]
	},
	{
	    "type": "range",
	    "id": "size_pr",
	    "min": 10,
	    "max": 50,
	    "step": 0.5,
	    "label": "Font size",
	    "unit": "px",
	    "default": 15
	},
    {
        "type": "range",
        "id": "lh_pr",
        "label": "Line height",
        "max": 50,
        "min": 0,
        "step": 0.5,
        "default": 0,
        "unit": "px",
        "info": "Set '0' to use default"            
    },
	{
	    "type": "range",
	    "id": "fw_pr",
	    "min": 300,
	    "max": 800,
	    "step": 100,
	    "label": "Font weight",
	    "default": 400
	},
	{
	    "type": "range",
	    "id": "ls_pr",
	    "min": -5,
	    "max": 5,
	    "step": 0.1,
	    "label": "Letter spacing",
	    "info": "set is '0' use to default",
	    "unit": "px",
	    "default": 0
	},
	{
	    "type": "header",
	    "content": "+ Product price"
	},
	{
	    "type": "range",
	    "id": "size_price_pr",
	    "min": 10,
	    "max": 40,
	    "step": 0.5,
	    "label": "Price size",
	    "unit": "px",
	    "default": 15
	},
	{
	    "type": "range",
	    "id": "fw_price_pr",
	    "min": 300,
	    "max": 800,
	    "step": 100,
	    "label": "Font weight",
	    "default": 500
	},
	{
	    "type": "header",
	    "content": "+ Other"
	},
	{
	    "type": "range",
	    "id": "space_img_content",
	    "min": 0,
	    "max": 50,
	    "step": 0.5,
	    "label": "Space between images and content",
	    "unit": "px",
	    "default": 10
	},
	{
	    "type": "range",
	    "id": "space_elements",
	    "min": 0,
	    "max": 20,
	    "step": 0.5,
	    "label": "Space between elements of content",
	    "unit": "px",
	    "default": 5
	},
	{
	    "type": "range",
	    "id": "swatch_color_size",
	    "label": "Swatch size",
	    "default": 24,
	    "min": 14,
	    "max": 50,
	    "step": 1,
	    "unit": "px"
	},
	{
	    "type": "range",
	    "id": "swatch_color_size_mb",
	    "label": "Swatch size (Mobile)",
	    "default": 20,
	    "min": 12,
	    "max": 50,
	    "step": 1,
	    "unit": "px"
	},
	{
	    "type": "header",
	    "content": "+ Product button"
	},
	{
	    "type": "range",
	    "id": "pr_btn_round",
	    "min": 0,
	    "max": 40,
	    "step": 1,
	    "label": "Button round (Single button)",
	    "unit": "px",
	    "default": 4
	},
	{
	    "type": "range",
	    "id": "pr_group_btn_round",
	    "min": 0,
	    "max": 40,
	    "step": 1,
	    "label": "Groups button round",
	    "info": "For groups extra buttons",
	    "unit": "px",
	    "default": 40
	},
	{
        "type": "header",
        "content": "+ Color options",
        "info": "Not working with product packery"
    },
	{
        "type": "color",
        "id": "pr_title_color",
        "label": "Product title",
        "default": "#27262C"
    },
    {
        "type": "color",
        "id": "pr_title_color_hover",
        "label": "Product title hover",
        "default": "#544179"
      },
      {
        "type": "color",
        "id": "price_color",
        "label": "Primary price color",
        "default": "#4C4B51"
      },
      {
        "type": "color",
        "id": "price_secondary",
        "label": "Secondary price color",
        "default": "#BFBEC8"
      },
      {
        "type": "color",
        "id": "price_sale_color",
        "label": "Sale price  color",
        "default": "#F52C2C"
      },
      {
        "type": "color",
        "id": "vendors_color",
        "label": "Vendors",
        "default": "#878787"
      },
      {
        "type": "color",
        "id": "vendors_color_hover",
        "label": "Vendors hover",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "countdown_color",
        "label": "Countdown primary color",
        "default": "#ffffff"
      },
      {
        "type": "range",
        "id": "countdown_overlay",
        "label": "Background color countdown opacity",
        "default": 80,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%"
      },
      {
        "type": "color",
        "id": "pr_bg_overlay",
        "label": "Color overlay",
        "default": "#000"
      },
      {
        "type": "range",
        "id": "pr_overlay",
        "label": "Color overlay opacity",
        "default": 10,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%"
      }
  ],
   "blocks": [
        {
            "type": "1",
            "name": "Product design 1",
            "limit": 1,
            "settings": [
				{
			        "type": "text",
			        "id": "heading",
			        "label": "Heading",
			        "default": "Product design 01"
			    },
			    {
			        "type": "header",
			        "content": "+ Product buttons"
			    },
			    {
		          "type": "paragraph",
		          "content": "+ Single button"
		      	},  
			    {
			        "type": "color",
			        "id": "single_btn_color",
			        "label": "Single button color",
			        "default": "#4C4B51"
			    },
			    {
			        "type": "color",
			        "id": "single_btn_hover_color",
			        "label": "Single button hover color",
			        "default": "#544179"
			    },
			    {
		          "type": "paragraph",
		          "content": "+ Group buttons"
		      	}, 
			    {
			        "type": "color",
			        "id": "group_btn_color",
			        "label": "Group buttons color",
			        "default": "#4C4B51"
			    },
			    {
			        "type": "color",
			        "id": "group_btn_bg_color",
			        "label": "Group buttons background color",
			        "default": "#ffffff"
			    },
			    {
			        "type": "color",
			        "id": "group_btn_hover_color",
			        "label": "Group buttons hover color",
			        "default": "#4C4B51"
			    },
			    {
			        "type": "color",
			        "id": "group_btn_hover_bg_color",
			        "label": "Group buttons background hover color",
			        "default": "#e5e5e5"
			    },
			    {
			        "type": "header",
			        "content": "+ Product size list"
			    },
			    {
			        "type": "color",
			        "id": "size_list_color",
			        "label": "Size list color",
			        "default": "#ffffff"
			      },
			      {
			        "type": "header",
			        "content": "+ Options products infomation on Tablet & Mobile"
			      },
			      {
			        "type": "checkbox",
			        "id": "hidden_atc_mb",
			        "label": "Hidden 'Add to cart' button",
			        "default": false
			      },
			      {
			        "type": "checkbox",
			        "id": "hidden_qv_mb",
			        "label": "Hidden 'Quick view' button",
			        "default": false
			      },
			      {
			        "type": "checkbox",
			        "id": "hidden_wishlist_mb",
			        "label": "Hidden 'Add to wishlist' button",
			        "default": false
			      },
			      {
			        "type": "checkbox",
			        "id": "hidden_compare_mb",
			        "label": "Hidden 'Compare' button",
			        "default": false
			      },
			      {
			        "type": "checkbox",
			        "id": "hidden_pr_colors",
			        "label": "Hidden product colors swatches",
			        "default": false
			      },
			      {
			        "type": "checkbox",
			        "id": "hidden_pr_sizes",
			        "label": "Hidden product sizes list",
			        "default": false
			      },
			      {
			        "type": "checkbox",
			        "id": "hidden_pr_countdown",
			        "label": "Hidden product countdown",
			        "default": false
			      }
            ]
        },
        {
            "type": "2",
            "name": "Product design 2",
            "limit": 1,
            "settings": [
				{
			        "type": "text",
			        "id": "heading",
			        "label": "Heading",
			        "default": "Product design 02"
			    },
			    {
			        "type": "header",
			        "content": "+ Product buttons"
			    },
			    {
		          "type": "paragraph",
		          "content": "+ Single button"
		      	},  
			    {
			        "type": "color",
			        "id": "single_btn_color",
			        "label": "Single button color",
			        "default": "#4C4B51"
			    },
			    {
			        "type": "color",
			        "id": "single_btn_bg_color",
			        "label": "Single button background color",
			        "default": "#ffffff"
			    },
			    {
			        "type": "color",
			        "id": "single_btn_hover_color",
			        "label": "Single button hover color",
			        "default": "#4C4B51"
			    },
			    {
			        "type": "color",
			        "id": "single_btn_hover_bg_color",
			        "label": "Single button background hover color",
			        "default": "#e5e5e5"
			    },
			    {
		          "type": "paragraph",
		          "content": "+ Group buttons"
		      	}, 
			    {
			        "type": "color",
			        "id": "group_btn_color",
			        "label": "Group buttons color",
			        "default": "#4C4B51"
			    },
			    {
			        "type": "color",
			        "id": "group_btn_bg_color",
			        "label": "Group buttons background color",
			        "default": "#ffffff"
			    },
			    {
			        "type": "color",
			        "id": "group_btn_hover_color",
			        "label": "Group buttons hover color",
			        "default": "#4C4B51"
			    },
			    {
			        "type": "color",
			        "id": "group_btn_hover_bg_color",
			        "label": "Group buttons background hover color",
			        "default": "#e5e5e5"
			    },
			    {
			        "type": "header",
			        "content": "+ Product size list"
			    },
			    {
			        "type": "color",
			        "id": "size_list_color",
			        "label": "Size list color",
			        "default": "#ffffff"
			    },
			    {
			        "type": "header",
			        "content": "+ Options products infomation on Tablet & Mobile"
			    },
			    {
			        "type": "checkbox",
			        "id": "hidden_atc_mb",
			        "label": "Hidden 'Add to cart' button",
			        "default": false
			    },
			    {
			        "type": "checkbox",
			        "id": "hidden_qv_mb",
			        "label": "Hidden 'Quick view' button",
			        "default": false
			    },
			    {
			        "type": "checkbox",
			        "id": "hidden_wishlist_mb",
			        "label": "Hidden 'Add to wishlist' button",
			        "default": false
			    },
			    {
			        "type": "checkbox",
			        "id": "hidden_compare_mb",
			        "label": "Hidden 'Compare' button",
			        "default": false
			    },
			    {
			        "type": "checkbox",
			        "id": "hidden_pr_colors",
			        "label": "Hidden product colors swatches",
			        "default": false
			    },
			    {
			        "type": "checkbox",
			        "id": "hidden_pr_sizes",
			        "label": "Hidden product sizes list",
			        "default": false
			    },
			    {
			        "type": "checkbox",
			        "id": "hidden_pr_countdown",
			        "label": "Hidden product countdown",
			        "default": false
			    } 
            ]
        },
        {
            "type": "3",
            "name": "Product design 3",
            "limit": 1,
            "settings": [
				{
			        "type": "text",
			        "id": "heading",
			        "label": "Heading",
			        "default": "Product design 03"
			    },
			    {
			        "type": "header",
			        "content": "+ Product buttons"
			    },
			    {
		          "type": "paragraph",
		          "content": "+ Single button"
		      	},  
			    {
			        "type": "color",
			        "id": "single_btn_color",
			        "label": "Single button color",
			        "default": "#4C4B51"
			    },
			    {
			        "type": "color",
			        "id": "single_btn_bg_color",
			        "label": "Single button background color",
			        "default": "#ffffff"
			    },
			    {
			        "type": "color",
			        "id": "single_btn_hover_color",
			        "label": "Single button hover color",
			        "default": "#4C4B51"
			    },
			    {
			        "type": "color",
			        "id": "single_btn_hover_bg_color",
			        "label": "Single button background hover color",
			        "default": "#e5e5e5"
			    },
			    {
		          "type": "paragraph",
		          "content": "+ Group buttons"
		      	}, 
			    {
			        "type": "color",
			        "id": "group_btn_color",
			        "label": "Group buttons color",
			        "default": "#4C4B51"
			    },
			    {
			        "type": "color",
			        "id": "group_btn_bg_color",
			        "label": "Group buttons background color",
			        "default": "#ffffff"
			    },
			    {
			        "type": "color",
			        "id": "group_btn_hover_color",
			        "label": "Group buttons hover color",
			        "default": "#4C4B51"
			    },
			    {
			        "type": "color",
			        "id": "group_btn_hover_bg_color",
			        "label": "Group buttons background hover color",
			        "default": "#e5e5e5"
			    },
			    {
			        "type": "header",
			        "content": "+ Product size list"
			    },
			    {
			        "type": "color",
			        "id": "size_list_color",
			        "label": "Size list color",
			        "default": "#ffffff"
			    },
			    {
			        "type": "header",
			        "content": "+ Options products infomation on Tablet & Mobile"
			    },
			    {
			        "type": "checkbox",
			        "id": "hidden_atc_mb",
			        "label": "Hidden 'Add to cart' button",
			        "default": false
			    },
			    {
			        "type": "checkbox",
			        "id": "hidden_qv_mb",
			        "label": "Hidden 'Quick view' button",
			        "default": false
			    },
			    {
			        "type": "checkbox",
			        "id": "hidden_wishlist_mb",
			        "label": "Hidden 'Add to wishlist' button",
			        "default": false
			    },
			    {
			        "type": "checkbox",
			        "id": "hidden_compare_mb",
			        "label": "Hidden 'Compare' button",
			        "default": false
			    },
			    {
			        "type": "checkbox",
			        "id": "hidden_pr_colors",
			        "label": "Hidden product colors swatches",
			        "default": false
			    },
			    {
			        "type": "checkbox",
			        "id": "hidden_pr_sizes",
			        "label": "Hidden product sizes list",
			        "default": false
			    },
			    {
			        "type": "checkbox",
			        "id": "hidden_pr_countdown",
			        "label": "Hidden product countdown",
			        "default": false
			    } 
            ]
        },
        {
            "type": "4",
            "name": "Product design 4",
            "limit": 1,
            "settings": [
				{
			        "type": "text",
			        "id": "heading",
			        "label": "Heading",
			        "default": "Product design 04"
			    },
			    {
			        "type": "header",
			        "content": "+ Product buttons"
			    },
			    {
		          "type": "paragraph",
		          "content": "+ Single button"
		      	},  
			    {
			        "type": "color",
			        "id": "single_btn_color",
			        "label": "Single button color",
			        "default": "#4C4B51"
			    },
			    {
			        "type": "color",
			        "id": "single_btn_bg_color",
			        "label": "Single button background color",
			        "default": "#ffffff"
			    },
			    {
			        "type": "color",
			        "id": "single_btn_hover_color",
			        "label": "Single button hover color",
			        "default": "#4C4B51"
			    },
			    {
			        "type": "color",
			        "id": "single_btn_hover_bg_color",
			        "label": "Single button background hover color",
			        "default": "#e5e5e5"
			    },
			    {
		          "type": "paragraph",
		          "content": "+ Group buttons"
		      	}, 
			    {
			        "type": "color",
			        "id": "group_btn_color",
			        "label": "Group buttons color",
			        "default": "#4C4B51"
			    },
			    {
			        "type": "color",
			        "id": "group_btn_bg_color",
			        "label": "Group buttons background color",
			        "default": "#ffffff"
			    },
			    {
			        "type": "color",
			        "id": "group_btn_hover_color",
			        "label": "Group buttons hover color",
			        "default": "#4C4B51"
			    },
			    {
			        "type": "color",
			        "id": "group_btn_hover_bg_color",
			        "label": "Group buttons background hover color",
			        "default": "#e5e5e5"
			    },
			    {
			        "type": "header",
			        "content": "+ Product size list"
			    },
			    {
			        "type": "color",
			        "id": "size_list_color",
			        "label": "Size list color",
			        "default": "#4C4B51"
			    },
			    {
			        "type": "header",
			        "content": "+ Options products infomation on Tablet & Mobile"
			    },
			    {
			        "type": "checkbox",
			        "id": "hidden_atc_mb",
			        "label": "Hidden 'Add to cart' button",
			        "default": false
			    },
			    {
			        "type": "checkbox",
			        "id": "hidden_qv_mb",
			        "label": "Hidden 'Quick view' button",
			        "default": false
			    },
			    {
			        "type": "checkbox",
			        "id": "hidden_wishlist_mb",
			        "label": "Hidden 'Add to wishlist' button",
			        "default": false
			    },
			    {
			        "type": "checkbox",
			        "id": "hidden_compare_mb",
			        "label": "Hidden 'Compare' button",
			        "default": false
			    },
			    {
			        "type": "checkbox",
			        "id": "hidden_pr_colors",
			        "label": "Hidden product colors swatches",
			        "default": false
			    },
			    {
			        "type": "checkbox",
			        "id": "hidden_pr_sizes",
			        "label": "Hidden product sizes list",
			        "default": false
			    },
			    {
			        "type": "checkbox",
			        "id": "hidden_pr_countdown",
			        "label": "Hidden product countdown",
			        "default": false
			    } 
            ]
        },
        {
            "type": "5",
            "name": "Product design 5",
            "limit": 1,
            "settings": [
				{
			        "type": "text",
			        "id": "heading",
			        "label": "Heading",
			        "default": "Product design 05"
			    },
			    {
			        "type": "header",
			        "content": "+ Product title"
			    },
					{
			        "type": "color",
			        "id": "pr_title_color",
			        "label": "Product title",
			        "default": "#4C4B51"
			      },
			      {
			        "type": "color",
			        "id": "pr_title_color_hover",
			        "label": "Product title hover",
			        "default": "#000000"
			      },
			       {
			        "type": "header",
			        "content": "+ Product price"
			      },
			       {
			        "type": "color",
			        "id": "price_color",
			        "label": "Primary price color",
			        "default": "#4C4B51"
			      },
			      {
			        "type": "color",
			        "id": "price_secondary",
			        "label": "Secondary price color",
			        "default": "#BFBEC8"
			      },
			      {
			        "type": "color",
			        "id": "price_sale_color",
			        "label": "Sale price  color",
			        "default": "#F52C2C"
			      },
			       {
			        "type": "header",
			        "content": "+ Product vendors"
		        	},
			      {
			        "type": "color",
			        "id": "vendors_color",
			        "label": "Vendors",
			        "default": "#868686"
			      },
			      {
			        "type": "color",
			        "id": "vendors_color_hover",
			        "label": "Vendors hover",
			        "default": "#000000"
			      },
			       {
			        "type": "header",
			        "content": "+ Product buttons"
			      },
			    {
		          "type": "paragraph",
		          "content": "+ Single button"
		      	},  
			    {
			        "type": "color",
			        "id": "single_btn_color",
			        "label": "Single button color",
			        "default": "#4C4B51"
			    },
			    {
			        "type": "color",
			        "id": "single_btn_bg_color",
			        "label": "Single button background color",
			        "default": "#ffffff"
			    },
			    {
			        "type": "color",
			        "id": "single_btn_hover_color",
			        "label": "Single button hover color",
			        "default": "#4C4B51"
			    },
			    {
			        "type": "color",
			        "id": "single_btn_hover_bg_color",
			        "label": "Single button hover background color",
			        "default": "#e5e5e5"
			    },
			    {
		          "type": "paragraph",
		          "content": "+ Group buttons"
		      	}, 
			    {
			        "type": "color",
			        "id": "group_btn_color",
			        "label": "Group buttons color",
			        "default": "#4C4B51"
			    },
			    {
			        "type": "color",
			        "id": "group_btn_bg_color",
			        "label": "Group buttons background color",
			        "default": "#ffffff"
			    },
			    {
			        "type": "color",
			        "id": "group_btn_hover_color",
			        "label": "Group buttons hover color",
			        "default": "#4C4B51"
			    },
			    {
			        "type": "color",
			        "id": "group_btn_hover_bg_color",
			        "label": "Group buttons background hover color",
			        "default": "#e5e5e5"
			    },
		        {
			        "type": "header",
			        "content": "+ Product size list"
		        },
			      {
			        "type": "color",
			        "id": "size_list_color",
			        "label": "Size list color",
			        "default": "#4C4B51"
			      },
			      {
			        "type": "header",
			        "content": "+ Options products infomation on Tablet & Mobile"
			      },
			      {
			        "type": "checkbox",
			        "id": "hidden_atc_mb",
			        "label": "Hidden 'Add to cart' button",
			        "default": false
			      },
			      {
			        "type": "checkbox",
			        "id": "hidden_qv_mb",
			        "label": "Hidden 'Quick view' button",
			        "default": false
			      },
			      {
			        "type": "checkbox",
			        "id": "hidden_wishlist_mb",
			        "label": "Hidden 'Add to wishlist' button",
			        "default": false
			      },
			      {
			        "type": "checkbox",
			        "id": "hidden_compare_mb",
			        "label": "Hidden 'Compare' button",
			        "default": false
			      },
			      {
			        "type": "checkbox",
			        "id": "hidden_pr_colors",
			        "label": "Hidden product colors swatches",
			        "default": false
			      },
			      {
			        "type": "checkbox",
			        "id": "hidden_pr_sizes",
			        "label": "Hidden product sizes list",
			        "default": false
			      },
			      {
			        "type": "checkbox",
			        "id": "hidden_pr_countdown",
			        "label": "Hidden product countdown",
			        "default": false
			      }
            ]
        },
     		{
          "type": "6",
          "name": "Product design 6",
          "limit": 1,
          "settings": [
						{
				        "type": "text",
				        "id": "heading",
				        "label": "Heading",
				        "default": "Product design 06"
				    },
				    {
				        "type": "header",
				        "content": "+ Product buttons"
				    },
				    {
			          "type": "paragraph",
			          "content": "+ Single button"
			      	},  
				    {
				        "type": "color",
				        "id": "single_btn_color",
				        "label": "Single button color",
				        "default": "#4C4B51"
				    },
				    {
				        "type": "color",
				        "id": "single_btn_bg_color",
				        "label": "Single button background color",
				        "default": "#ffffff"
				    },
				    {
				        "type": "color",
				        "id": "single_btn_hover_color",
				        "label": "Single button hover color",
				        "default": "#4C4B51"
				    },
				    {
				        "type": "color",
				        "id": "single_btn_hover_bg_color",
				        "label": "Single button background hover color",
				        "default": "#e5e5e5"
				    },
				    {
			          "type": "paragraph",
			          "content": "+ Group buttons"
			      	}, 
				    {
				        "type": "color",
				        "id": "group_btn_color",
				        "label": "Group buttons color",
				        "default": "#4C4B51"
				    },
				    {
				        "type": "color",
				        "id": "group_btn_bg_color",
				        "label": "Group buttons background color",
				        "default": "#ffffff"
				    },
				    {
				        "type": "color",
				        "id": "group_btn_hover_color",
				        "label": "Group buttons hover color",
				        "default": "#4C4B51"
				    },
				    {
				        "type": "color",
				        "id": "group_btn_hover_bg_color",
				        "label": "Group buttons background hover color",
				        "default": "#e5e5e5"
				    },
		        {
			        "type": "header",
			        "content": "+ Product size list"
		        },
			      {
			        "type": "color",
			        "id": "size_list_color",
			        "label": "Size list color",
			        "default": "#4C4B51"
			      },
			      {
			        "type": "header",
			        "content": "+ Options products infomation on Tablet & Mobile"
			      },
			      {
			        "type": "checkbox",
			        "id": "hidden_atc_mb",
			        "label": "Hidden 'Add to cart' button",
			        "default": false
			      },
			      {
			        "type": "checkbox",
			        "id": "hidden_qv_mb",
			        "label": "Hidden 'Quick view' button",
			        "default": false
			      },
			      {
			        "type": "checkbox",
			        "id": "hidden_wishlist_mb",
			        "label": "Hidden 'Add to wishlist' button",
			        "default": false
			      },
			      {
			        "type": "checkbox",
			        "id": "hidden_compare_mb",
			        "label": "Hidden 'Compare' button",
			        "default": false
			      },
			      {
			        "type": "checkbox",
			        "id": "hidden_pr_colors",
			        "label": "Hidden product colors swatches",
			        "default": false
			      },
			      {
			        "type": "checkbox",
			        "id": "hidden_pr_sizes",
			        "label": "Hidden product sizes list",
			        "default": false
			      },
			      {
			        "type": "checkbox",
			        "id": "hidden_pr_countdown",
			        "label": "Hidden product countdown",
			        "default": false
			      }
          ]
        },
        {
            "type": "7",
            "name": "Product design 7",
            "limit": 1,
            "settings": [
				{
			        "type": "text",
			        "id": "heading",
			        "label": "Heading",
			        "default": "Product design 07"
			    },
			       {
			        "type": "header",
			        "content": "+ Product buttons"
			      },
			    {
		          "type": "paragraph",
		          "content": "+ Single button"
		      	},  
			    {
			        "type": "color",
			        "id": "single_btn_color",
			        "label": "Primary button color",
			        "default": "#4C4B51"
			    },
			    {
			        "type": "color",
			        "id": "single_btn_bg_color",
			        "label": "Primary button background color",
			        "default": "#ffffff"
			    },
			    {
			        "type": "color",
			        "id": "single_btn_hover_color",
			        "label": "Primary button hover color",
			        "default": "#4C4B51"
			    },
			    {
			        "type": "color",
			        "id": "single_btn_hover_bg_color",
			        "label": "Primary button background hover color",
			        "default": "#e5e5e5"
			    },
			    {
		          "type": "paragraph",
		          "content": "+ Group buttons"
		      	}, 
			    {
			        "type": "color",
			        "id": "group_btn_color",
			        "label": "Group sub buttons color",
			        "default": "#4C4B51"
			    },
			    {
			        "type": "color",
			        "id": "group_btn_bg_color",
			        "label": "Group sub buttons background color",
			        "default": "#ffffff"
			    },
			    {
			        "type": "color",
			        "id": "group_btn_hover_color",
			        "label": "Group sub buttons hover color",
			        "default": "#4C4B51"
			    },
			    {
			        "type": "color",
			        "id": "group_btn_hover_bg_color",
			        "label": "Group sub buttons background hover color",
			        "default": "#e5e5e5"
			    },
			       {
			        "type": "header",
			        "content": "+ Product size list"
			      },
			      {
			        "type": "color",
			        "id": "size_list_color",
			        "label": "Size list color",
			        "default": "#fff"
			      },
			      {
			        "type": "header",
			        "content": "+ Options products infomation on Tablet & Mobile"
			      },
			      {
			        "type": "checkbox",
			        "id": "hidden_atc_mb",
			        "label": "Hidden 'Add to cart' button",
			        "default": false
			      },
			      {
			        "type": "checkbox",
			        "id": "hidden_qv_mb",
			        "label": "Hidden 'Quick view' button",
			        "default": false
			      },
			      {
			        "type": "checkbox",
			        "id": "hidden_wishlist_mb",
			        "label": "Hidden 'Add to wishlist' button",
			        "default": false
			      },
			      {
			        "type": "checkbox",
			        "id": "hidden_compare_mb",
			        "label": "Hidden 'Compare' button",
			        "default": false
			      },
			      {
			        "type": "checkbox",
			        "id": "hidden_pr_colors",
			        "label": "Hidden product colors swatches",
			        "default": false
			      },
			      {
			        "type": "checkbox",
			        "id": "hidden_pr_sizes",
			        "label": "Hidden product sizes list",
			        "default": false
			      },
			      {
			        "type": "checkbox",
			        "id": "hidden_pr_countdown",
			        "label": "Hidden product countdown",
			        "default": false
			      }
            ]
        },
       	{
            "type": "list",
            "name": "Product list",
            "limit": 1,
            "settings": [
				{
			        "type": "text",
			        "id": "heading",
			        "label": "Heading",
			        "default": "Product list"
			    },
			    {
				    "type": "header",
				    "content": "+ Product title"
				},
			    {
				    "type": "range",
				    "id": "size_pr",
				    "min": 10,
				    "max": 60,
				    "step": 1,
				    "label": "Font size",
				    "unit": "px",
				    "default": 16
				},
			    {
			        "type": "range",
			        "id": "lh_pr",
			        "label": "Line height",
			        "max": 50,
			        "min": 0,
			        "step": 1,
			        "default": 0,
			        "unit": "px",
			        "info": "Set '0' to use default"            
			    },
				{
				    "type": "range",
				    "id": "fw_pr",
				    "min": 300,
				    "max": 800,
				    "step": 100,
				    "label": "Font weight",
				    "default": 400
				},
				{
				    "type": "range",
				    "id": "ls_pr",
				    "min": -5,
				    "max": 5,
				    "step": 0.1,
				    "label": "Letter spacing",
				    "info": "set is '0' use to default",
				    "unit": "px",
				    "default": 0
				},
				{
				    "type": "header",
				    "content": "+ Product price"
				},
				{
				    "type": "range",
				    "id": "size_price_pr",
				    "min": 10,
				    "max": 40,
				    "step": 0.5,
				    "label": "Price size",
				    "unit": "px",
				    "default": 15
				},
				{
				    "type": "range",
				    "id": "fw_price_pr",
				    "min": 300,
				    "max": 800,
				    "step": 100,
				    "label": "Font weight",
				    "default": 500
				},
		      {
		        "type": "header",
		        "content": "+ Product content"
		      },
		      {
		        "type": "color",
		        "id": "content_color",
		        "label": "Content",
		        "default": "#878787"
		      },
			    {
			        "type": "header",
			        "content": "+ Product buttons"
			    },
			    {
		          "type": "paragraph",
		          "content": "+ Group buttons on image"
		      }, 
			    {
			        "type": "color",
			        "id": "group_btn_color",
			        "label": "Group buttons color",
			        "default": "#4C4B51"
			    },
			    {
			        "type": "color",
			        "id": "group_btn_bg_color",
			        "label": "Group buttons background color",
			        "default": "#ffffff"
			    },
			    {
			        "type": "color",
			        "id": "group_btn_hover_color",
			        "label": "Group buttons hover color",
			        "default": "#4C4B51"
			    },
			    {
			        "type": "color",
			        "id": "group_btn_hover_bg_color",
			        "label": "Group buttons background hover color",
			        "default": "#e5e5e5"
			    },
			    {
		          "type": "paragraph",
		          "content": "+ Group buttons in product info"
		      	},  
			    {
			        "type": "color",
			        "id": "addtocart_color",
			        "label": "Add to cart color",
			        "default": "#000"
			    },
			    {
			        "type": "color",
			        "id": "addtocart_color_hover",
			        "label": "Add to cart hover color",
			        "default": "#fff"
			    },
			    {
			        "type": "color",
			        "id": "addtocart_bg_color_hover",
			        "label": "Add to cart hover background color",
			        "default": "#000"
			    },
			    {
			        "type": "color",
			        "id": "wishlist_color",
			        "label": "Wishlist color",
			        "default": "#858585"
			    },
			    {
			        "type": "color",
			        "id": "wishlist_bg_color",
			        "label": "Wishlist background color",
			        "default": "#f5f5f5"
			    },
			    {
			        "type": "color",
			        "id": "wishlist_hover_color",
			        "label": "Wishlist hover color",
			        "default": "#4C4B51"
			    },
			    {
			        "type": "color",
			        "id": "wishlist_hover_bg_color",
			        "label": "Wishlist hover background color",
			        "default": "#f5f5f5"
			    },
			    {
			        "type": "color",
			        "id": "wishlist_active_color",
			        "label": "Wishlist active color",
			        "default": "#4C4B51"
			    },
			    {
			        "type": "color",
			        "id": "wishlist_active_bg_color",
			        "label": "Wishlist active background color",
			        "default": "#f5f5f5"
			    },
			    {
			        "type": "header",
			        "content": "+ Product size list"
			    },
			    {
			        "type": "color",
			        "id": "size_list_color",
			        "label": "Size list color",
			        "default": "#4C4B51"
			    },
		      {
		        "type": "header",
		        "content": "+ Options products infomation on Tablet & Mobile"
		      },
		      {
		        "type": "checkbox",
		        "id": "hidden_atc_mb",
		        "label": "Hidden 'Add to cart' button",
		        "default": false
		      },
		      {
		        "type": "checkbox",
		        "id": "hidden_qv_mb",
		        "label": "Hidden 'Quick view' button",
		        "default": false
		      },
		      {
		        "type": "checkbox",
		        "id": "hidden_wishlist_mb",
		        "label": "Hidden 'Add to wishlist' button",
		        "default": false
		      },
		      {
		        "type": "checkbox",
		        "id": "hidden_compare_mb",
		        "label": "Hidden 'Compare' button",
		        "default": false
		      },
		      {
		        "type": "checkbox",
		        "id": "hidden_pr_colors",
		        "label": "Hidden product colors swatches",
		        "default": false
		      },
		      {
		        "type": "checkbox",
		        "id": "hidden_pr_sizes",
		        "label": "Hidden product sizes list",
		        "default": false
		      },  
		      {
		        "type": "checkbox",
		        "id": "hidden_pr_countdown",
		        "label": "Hidden product countdown",
		        "default": false
		      }
          ]
        },
        {
            "type": "packery",
            "name": "Product packery",
            "limit": 1,
            "settings": [
							{
						        "type": "text",
						        "id": "heading",
						        "label": "Heading",
						        "default": "Product packery"
					    },
					    {
					        "type": "header",
					        "content": "+ Product buttons"
					    },
					    {
				          "type": "paragraph",
				          "content": "+ Single button"
				      },  
					    {
					        "type": "color",
					        "id": "single_btn_color",
					        "label": "Single button color",
					        "default": "#4C4B51"
					    },
					    {
					        "type": "color",
					        "id": "single_btn_bg_color",
					        "label": "Single button background color",
					        "default": "#ffffff"
					    },
					    {
					        "type": "color",
					        "id": "single_btn_hover_color",
					        "label": "Single button hover color",
					        "default": "#4C4B51"
					    },
					    {
					        "type": "color",
					        "id": "single_btn_hover_bg_color",
					        "label": "Single button background hover color",
					        "default": "#e5e5e5"
					    },
					    {
				          "type": "paragraph",
				          "content": "+ Group buttons"
				      }, 
					    {
					        "type": "color",
					        "id": "group_btn_color",
					        "label": "Group buttons color",
					        "default": "#4C4B51"
					    },
					    {
					        "type": "color",
					        "id": "group_btn_bg_color",
					        "label": "Group buttons background color",
					        "default": "#ffffff"
					    },
					    {
					        "type": "color",
					        "id": "group_btn_hover_color",
					        "label": "Group buttons hover color",
					        "default": "#4C4B51"
					    },
					    {
					        "type": "color",
					        "id": "group_btn_hover_bg_color",
					        "label": "Group buttons background hover color",
					        "default": "#e5e5e5"
					    },
					    {
					        "type": "header",
					        "content": "+ Product size list"
					    },
					    {
					        "type": "color",
					        "id": "size_list_color",
					        "label": "Size list color",
					        "default": "#878787"
					    },
					    {
					        "type": "header",
					        "content": "+ Product packery title"
					    },
					    {
						    "type": "range",
						    "id": "size_pr",
						    "min": 10,
						    "max": 50,
						    "step": 0.5,
						    "label": "Font size",
						    "unit": "px",
						    "default": 15
							},
					    {
					        "type": "range",
					        "id": "lh_pr",
					        "label": "Line height",
					        "max": 50,
					        "min": 0,
					        "step": 1,
					        "default": 0,
					        "unit": "px",
					        "info": "Set '0' to use default"            
					    },
							{
							    "type": "range",
							    "id": "fw_pr",
							    "min": 300,
							    "max": 800,
							    "step": 100,
							    "label": "Font weight",
							    "default": 400
							},
							{
							    "type": "range",
							    "id": "ls_pr",
							    "min": -5,
				    			"max": 5,
							    "step": 0.1,
							    "label": "Letter spacing",
							    "info": "set is '0' use to default",
							    "unit": "px",
							    "default": 0
							},
							{
							    "type": "range",
							    "id": "size_pr_tb",
							    "min": 10,
							    "max": 50,
							    "step": 0.5,
							    "label": "Font size (Tablet)",
							    "unit": "px",
							    "default": 15
							},
					    {
					        "type": "range",
					        "id": "lh_pr_tb",
					        "label": "Line height (Tablet)",
					        "max": 50,
					        "min": 0,
					        "step": 0.5,
					        "default": 0,
					        "unit": "px",
					        "info": "Set '0' to use default"            
					    },
					    {
						    "type": "range",
						    "id": "size_pr_mb",
						    "min": 10,
						    "max": 50,
						    "step": 0.5,
						    "label": "Font size (Mobile)",
						    "unit": "px",
						    "default": 15
							},
					    {
					        "type": "range",
					        "id": "lh_pr_mb",
					        "label": "Line height (Mobile)",
					        "max": 50,
					        "min": 0,
					        "step": 0.5,
					        "default": 0,
					        "unit": "px",
					        "info": "Set '0' to use default"            
					    },
							{
							    "type": "header",
							    "content": "+ Product price"
							},
							{
							    "type": "range",
							    "id": "size_price_pr",
							    "min": 10,
							    "max": 40,
							    "step": 0.5,
							    "label": "Price size",
							    "unit": "px",
							    "default": 15
							},
							{
							    "type": "range",
							    "id": "size_price_pr_mb",
							    "min": 10,
							    "max": 40,
							    "step": 0.5,
							    "label": "Price size (Mobile)",
							    "unit": "px",
							    "default": 15
							},
							{
							    "type": "range",
							    "id": "fw_price_pr",
							    "min": 300,
							    "max": 800,
							    "step": 100,
							    "label": "Font weight",
							    "default": 500
							},
							{
							    "type": "header",
							    "content": "+ Other"
							},
							{
							    "type": "range",
							    "id": "other_size",
							    "min": 10,
							    "max": 40,
							    "step": 1,
							    "label": "Vendor / Description size",
							    "unit": "px",
							    "default": 16
							},
					    {
					        "type": "header",
					        "content": "+ Options products infomation on Tablet & Mobile"
					    },
					    {
					        "type": "checkbox",
					        "id": "hidden_atc_mb",
					        "label": "Hidden 'Add to cart' button",
					        "default": false
					    },
					    {
					        "type": "checkbox",
					        "id": "hidden_qv_mb",
					        "label": "Hidden 'Quick view' button",
					        "default": false
					    },
					    {
					        "type": "checkbox",
					        "id": "hidden_wishlist_mb",
					        "label": "Hidden 'Add to wishlist' button",
					        "default": false
					    },
					    {
					        "type": "checkbox",
					        "id": "hidden_compare_mb",
					        "label": "Hidden 'Compare' button",
					        "default": false
					    },
					    {
					        "type": "checkbox",
					        "id": "hidden_pr_colors",
					        "label": "Hidden product colors swatches",
					        "default": false
					    },
					    {
					        "type": "checkbox",
					        "id": "hidden_pr_sizes",
					        "label": "Hidden product sizes list",
					        "default": false
					    },
					    {
					        "type": "checkbox",
					        "id": "hidden_pr_countdown",
					        "label": "Hidden product countdown",
					        "default": false
					    } 
			      ]
    		},
    		{
          "type": "main-pr-packery",
          "name": "Main product packery",
          "limit": 1,
          "settings": [
						{
				        "type": "text",
				        "id": "heading",
				        "label": "Heading",
				        "default": "Main product packery"
				    },
				    {
				        "type": "header",
				        "content": "+ Product buttons"
				    },
				    {
			          "type": "paragraph",
			          "content": "+ Single button"
			      	},  
				    {
				        "type": "color",
				        "id": "single_btn_color",
				        "label": "Single button color",
				        "default": "#4C4B51"
				    },
				    {
				        "type": "color",
				        "id": "single_btn_bg_color",
				        "label": "Single button background color",
				        "default": "#ffffff"
				    },
				    {
				        "type": "color",
				        "id": "single_btn_hover_color",
				        "label": "Single button hover color",
				        "default": "#4C4B51"
				    },
				    {
				        "type": "color",
				        "id": "single_btn_hover_bg_color",
				        "label": "Single button background hover color",
				        "default": "#e5e5e5"
				    },
				    {
			          "type": "paragraph",
			          "content": "+ Group buttons"
			      	}, 
				    {
				        "type": "color",
				        "id": "group_btn_color",
				        "label": "Group buttons color",
				        "default": "#4C4B51"
				    },
				    {
				        "type": "color",
				        "id": "group_btn_bg_color",
				        "label": "Group buttons background color",
				        "default": "#ffffff"
				    },
				    {
				        "type": "color",
				        "id": "group_btn_hover_color",
				        "label": "Group buttons hover color",
				        "default": "#4C4B51"
				    },
				    {
				        "type": "color",
				        "id": "group_btn_hover_bg_color",
				        "label": "Group buttons background hover color",
				        "default": "#e5e5e5"
				    },
		        {
			        "type": "header",
			        "content": "+ Product size list"
		        },
			      {
			        "type": "color",
			        "id": "size_list_color",
			        "label": "Size list color",
			        "default": "#4C4B51"
			      },
			      {
			        "type": "header",
			        "content": "+ Options products infomation on Tablet & Mobile"
			      },
			      {
			        "type": "checkbox",
			        "id": "hidden_atc_mb",
			        "label": "Hidden 'Add to cart' button",
			        "default": false
			      },
			      {
			        "type": "checkbox",
			        "id": "hidden_qv_mb",
			        "label": "Hidden 'Quick view' button",
			        "default": false
			      },
			      {
			        "type": "checkbox",
			        "id": "hidden_wishlist_mb",
			        "label": "Hidden 'Add to wishlist' button",
			        "default": false
			      },
			      {
			        "type": "checkbox",
			        "id": "hidden_compare_mb",
			        "label": "Hidden 'Compare' button",
			        "default": false
			      },
			      {
			        "type": "checkbox",
			        "id": "hidden_pr_colors",
			        "label": "Hidden product colors swatches",
			        "default": false
			      },
			      {
			        "type": "checkbox",
			        "id": "hidden_pr_sizes",
			        "label": "Hidden product sizes list",
			        "default": false
			      },
			      {
			        "type": "checkbox",
			        "id": "hidden_pr_countdown",
			        "label": "Hidden product countdown",
			        "default": false
			      }
          ]
        }
   ],
    "default": {
      "blocks": [
        {
          "type": "1"
        },
        {
          "type": "2"
        },
        {
          "type": "3"
        },
        {
          "type": "4"
        },
        {
          "type": "5"
        },
        {
          "type": "6"
        },
        {
          "type": "7"
        },
        {
          "type": "list"
        },
        {
          "type": "packery"
        }
      ]
    }
}
{% endschema %}