{%- liquid
    assign se_stts = section.settings
    assign show_txt = se_stts.show_txt
    assign img_size = 40
    assign search_url = routes.search_url 
 -%}
{%- if se_stts.enable_toolbar and section.blocks.size > 0 -%}
{{ 'toolbar_mobile.css' | asset_url | stylesheet_tag }}
<div class="bee-toolbar bee-toolbar-label-{{ show_txt }} bee-pf bee-r-0 bee-l-0 bee-b-0 bee-d-flex bee-align-items-center bee-justify-content-between">
    {%- for block in section.blocks -%}
        {%- assign bk_stts = block.settings -%}
        {%- assign block_type = block.type -%}
        {%- case block_type -%}
            {%- when 'shop' -%}
            <div class="bee-toolbart-{{ block_type }} bee-toolbar-item">
                <a href="{{ collections[bk_stts.link].url | default: routes.all_products_collection_url }}">
                    <span class="bee-toolbar-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg>                    
                    </span>
                    {%- if show_txt -%}<span class="bee-toolbar-label">{{ bk_stts.title }}</span>{%- endif -%}
                </a>
            </div>
            {%- when 'wish' %}{% if settings.wishlist_mode == '0' %}{% continue %}{% endif -%} 
            <div class="bee-toolbart-{{ block_type }} bee-toolbar-item">
                <a data-link-wishlist href="{% if settings.wishlist_mode != '3' %}{{ search_url }}/?view=wishlist{%- else -%}/pages/wishlist{%- endif -%}">
                    <span class="bee-toolbar-icon bee-pr">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"/></svg>
                        <span data-count-wishlist class="bee-pa bee-op-0 bee-ts-op bee-count-box">0</span>
                    </span>           
                    {%- if show_txt -%}<span class="bee-toolbar-label">{{ bk_stts.title }}</span>{%- endif -%}
                </a>
            </div>
            {%- when 'compe' -%}
            {%- unless settings.enable_compe -%}{%- continue -%}{%- endunless -%} 
                <div class="bee-toolbart-{{ block_type }} bee-toolbar-item">
                <a data-link-compare href="{{ search_url }}/?view=compare">
                    <span class="bee-toolbar-icon bee-pr">
                        <svg height="24" viewBox="0 0 551.127 551.127" width="24"><path d="m482.21 378.9h-62.607c-21.882 0-42.754-8.208-58.749-23.143l-85.906-80.179 85.939-80.208c15.978-14.935 36.851-23.143 58.749-23.143h62.601v34.446l68.889-51.668-68.889-51.668v34.446h-62.601c-30.661 0-59.876 11.504-82.262 32.427l-198.752 185.513c-16.029 14.935-36.868 23.177-58.716 23.177-.034 0-79.874 0-79.874 0v34.378l79.74.034h.151c30.577 0 59.758-11.504 82.195-32.427l87.592-81.752 87.63 81.785c22.403 20.923 51.618 32.427 82.262 32.427h62.607v34.446l68.889-51.666-68.889-51.671c.001.001.001 34.446.001 34.446z"/><path d="m79.908 172.26c21.831 0 42.67 8.208 58.665 23.143l60.652 56.609 25.237-23.553-62.376-58.217c-22.403-20.923-51.584-32.427-82.161-32.427-.05 0-.101 0-.151 0l-79.774.033v34.378h79.79c.051.001.084.034.118.034z"/></svg>
                        <span data-count-compare class="bee-pa bee-op-0 bee-ts-op bee-count-box">0</span>
                    </span>  
                    {%- if show_txt -%}<span class="bee-toolbar-label">{{ bk_stts.title }}</span>{%- endif -%}
                </a>
              </div>
            {%- when 'cart' -%}
                <div class="bee-toolbart-{{ block_type }} bee-toolbar-item">
                    <a href="{{ routes.cart_url }}"{% if request.page_type != 'cart' and settings.cart_type != 'disable' %} data-drawer-delay- data-drawer-options='{ "id": "#bee-mini_cart" }'{% endif %}>
                        <span class="bee-toolbar-icon bee-pr">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag"><path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path><line x1="3" y1="6" x2="21" y2="6"></line><path d="M16 10a4 4 0 0 1-8 0"></path></svg>
                            <span data-cart-count class="bee-pa bee-op-0 bee-ts-op bee-count-box">{{ cart.item_count }}</span>
                        </span>
                        {%- if show_txt -%}<span class="bee-toolbar-label">{{ bk_stts.title }}</span>{%- endif -%}
                    </a>
                </div>
            {%- when 'account' -%}{%- unless shop.customer_accounts_enabled %}{% continue %}{% endunless -%} 
                <div class="bee-toolbart-{{ block_type }} bee-toolbar-item">
                    <a href="{{ routes.account_url }}" {% unless customer or settings.login_side == false or request.page_type contains 'customers' %}data-drawer-options='{ "id": "#bee-login-sidebar" }'{% endunless %}>
                        <span class="bee-toolbar-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>
                        </span>
                        {%- if show_txt -%}<span class="bee-toolbar-label">{{ bk_stts.title }}</span>{%- endif -%}
                    </a>
                </div>
            {%- when 'search' -%}
                <div class="bee-toolbart-{{ block_type }} bee-toolbar-item">
                    <a href="{{ routes.search_url }}" data-drawer-delay- data-drawer-options='{ "id": "#bee-search-hidden" }'>
                        <span class="bee-toolbar-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"/><line x1="21" y1="21" x2="16.65" y2="16.65"/></svg>
                        </span>
                        {%- if show_txt -%}<span class="bee-toolbar-label">{{ bk_stts.title }}</span>{%- endif -%}
                    </a>
                </div>
            {%- when 'blog' %}
                {% assign blog = blogs[bk_stts.blog] -%}
                <div class="bee-toolbart-{{ block_type }} bee-toolbar-item">
                    <a href="{{ blog.url | default: request.path }}">
                        <span class="bee-toolbar-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-feather"><path d="M20.24 12.24a6 6 0 0 0-8.49-8.49L5 10.5V19h8.5z"/><line x1="16" y1="8" x2="2" y2="22"/><line x1="17.5" y1="15" x2="9" y2="15"/></svg>
                        </span>
                        {%- if show_txt -%}<span class="bee-toolbar-label">{{ bk_stts.title }}</span>{%- endif -%}
                    </a>
                </div>
            {%- when 'home' -%}
            <div class="bee-toolbart-{{ block_type }} bee-toolbar-item">
                <a href="{{ routes.root_url }}">
                    <span class="bee-toolbar-icon">
                        <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M.0003 185.8C.0003 179.4 1.606 173.1 4.67 167.4L82.36 25.02C90.77 9.595 106.9 0 124.5 0H515.5C533.1 0 549.2 9.595 557.6 25.02L635.3 167.4C638.4 173.1 640 179.4 640 185.8C640 206.9 622.9 224 601.8 224H576V488C576 501.3 565.3 512 552 512C538.7 512 528 501.3 528 488V224H384V472C384 494.1 366.1 512 344 512H103.1C81.91 512 63.1 494.1 63.1 472V224H38.25C17.12 224 0 206.9 0 185.8H.0003zM111.1 224V320H336V224H111.1zM124.5 48L54.68 176H585.3L515.5 48H124.5zM336 464V368H111.1V464H336z"></path></svg>
                    </span>
                    {%- if show_txt -%}<span class="bee-toolbar-label">{{ bk_stts.title }}</span>{%- endif -%}
                  </a>
            </div>
            {%- when 'nav' -%}
                <div class="bee-toolbart-{{ block_type }} bee-toolbar-item">
                    <a href="{{ routes.root_url }}" data-menu-drawer data-drawer-options='{ "id": "#bee-menu-drawer" }' class="bee-push-menu-btn">
                        <span class="bee-toolbar-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="16" viewBox="0 0 30 16" fill="currentColor"><rect width="25" height="2"></rect><rect y="7" width="25" height="2"></rect><rect y="14" width="25" height="2"></rect></svg>                        
                        </span>
                        {%- if show_txt -%}<span class="bee-toolbar-label">{{ bk_stts.title }}</span>{%- endif -%}
                    </a>
                </div>
            {%- when 'filter' -%}
            <div class="bee-toolbart-{{ block_type }} bee-toolbar-item bee-dn">
                <a href="{{ request.path }}" data-drawer-options='{ "id": "#bee-filter-hidden" }'>
                    <span class="bee-toolbar-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="16" height="16" fill="currentColor"><path d="M324.4 64C339.6 64 352 76.37 352 91.63C352 98.32 349.6 104.8 345.2 109.8L240 230V423.6C240 437.1 229.1 448 215.6 448C210.3 448 205.2 446.3 200.9 443.1L124.7 385.6C116.7 379.5 112 370.1 112 360V230L6.836 109.8C2.429 104.8 0 98.32 0 91.63C0 76.37 12.37 64 27.63 64H324.4zM144 224V360L208 408.3V223.1C208 220.1 209.4 216.4 211.1 213.5L314.7 95.1H37.26L140 213.5C142.6 216.4 143.1 220.1 143.1 223.1L144 224zM496 400C504.8 400 512 407.2 512 416C512 424.8 504.8 432 496 432H336C327.2 432 320 424.8 320 416C320 407.2 327.2 400 336 400H496zM320 256C320 247.2 327.2 240 336 240H496C504.8 240 512 247.2 512 256C512 264.8 504.8 272 496 272H336C327.2 272 320 264.8 320 256zM496 80C504.8 80 512 87.16 512 96C512 104.8 504.8 112 496 112H400C391.2 112 384 104.8 384 96C384 87.16 391.2 80 400 80H496z"></path></svg>
                    </span>
                    {%- if show_txt -%}<span class="bee-toolbar-label">{{ bk_stts.title }}</span>{%- endif -%}
                </a>
            </div>
            {%- when 'sidebar' -%}
                <div class="bee-toolbart-{{ block_type }} bee-toolbar-item bee-dn">
                    <a href="{{ request.path }}" data-sidebar-trigger>
                        <span class="bee-toolbar-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sidebar"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"/><line x1="9" y1="3" x2="9" y2="21"/></svg>
                        </span>
                        {%- if show_txt -%}<span class="bee-toolbar-label">{{ bk_stts.title }}</span>{%- endif -%}
                    </a>
                </div>
            {%- else -%}
            <div class="bee-toolbart-{{ block_type }} bee-toolbar-item">
                {%- assign image = bk_stts.image -%}
                <a href="{{ bk_stts.link | default: routes.account_url }}">
                    <span class="bee-toolbar-icon bee-pr">
                        {%- if image != blank %}
                            <img class="lazyloadbee bee-lz--fadeIn" data-src="{{ image | image_url: height: img_size }}" data-widths="[100,200,400,600,700,800,900,1000,1200,1400,1600]" data-optimumx="2" data-sizes="auto" src=" {%- render 'img_svg', w: image.img_size, h: image.img_size -%} " width="{{ image.img_size }}" height="{{ image.img_size }}" alt="{{ image.alt | escape }}">
                            <span class="lazyloadbee-loader"></span>
                        {%- endif -%}
                    </span>
                    {%- if show_txt -%}<span class="bee-toolbar-label">{{ bk_stts.title }}</span>{%- endif -%}
                </a>
            </div>
        {%- endcase -%}
    {%- endfor -%}
</div>
{%- endif -%}
{% schema %}
{
    "name": "Sticky toolbar mobile",
    "class": "bee-section bee-toolbar-mobile bee-section-admn-fixed-",
    "settings": [
        {
            "type": "checkbox",
            "id": "enable_toolbar",
            "label": "Enable sticky toolbar mobile",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_txt",
            "label": "Show text under icon",
            "default": true
        }
    ],
    "blocks": [
    {
        "type": "shop",
        "name": "Shop",
        "limit": 1,
        "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Shop"
                },
                {
                    "type": "collection",
                    "id": "link",
                    "label": "Link (optional)"
                }
            ]
        },
        {
            "type": "wish",
            "name": "Wishlist",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Wishlist"
                }
            ]
        },
        {
            "type": "compe",
            "name": "Compare",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Compare"
                }
            ]
        },
        {
            "type": "cart",
            "name": "Cart",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Cart"
                }
            ]
        },
        {
            "type": "account",
            "name": "Account",
            "limit": 1,
            "settings": [
                {
                    "type": "paragraph",
                    "content": "Only working when customers account enabled. [Learn more](https://help.shopify.com/en/manual/checkout-settings/customer-accounts)"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Account"
                }
            ]
        },
        {
            "type": "search",
            "name": "Search",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Search"
                }
            ]
        },
        {
            "type": "blog",
            "name": "Blog",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Blog"
                },
                {
                    "id": "blog",
                    "type": "blog",
                    "label": "Blog"
                }
            ]
        },
        {
            "type": "filter",
            "name": "Filter",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Filter"
                },
                {
                    "type": "paragraph",
                    "content": "Only show when page has 'Filter'"
            }
            ]
        },
        {
            "type": "sidebar",
            "name": "Sidebar",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Sidebar"
                },
                {
                    "type": "paragraph",
                    "content": "Only show when page has 'Sidebar'"
                }
            ]
        },
        {
            "type": "nav",
            "name": "Menu",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Menu"
                }
            ]
        },
        {
            "type": "home",
            "name": "Home",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Home"
                }
            ]
        },
        {
            "type": "link",
            "name": "Link Custom",
            "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "Custom"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Icon image"
            },
            {
                "type": "url",
                "id": "link",
                "label": "Link",
                "default": "/"
            }
            ]
        }
    ],
    "default": {
        "blocks": [
          {"type": "shop"},{"type": "wish"},{"type": "cart"},{"type": "account"},{"type": "search"}
        ]
    }
}
{% endschema %}